{{!-- Ancla --}}

<div id="top"></div>

{{>../widgets-galeria/widget-galeria-foto__covenas-almacenamiento}}

{{>../widgets-galeria/widget-galeria-foto__covenas-bombeo}}

{{>../partials/header title="Sucre - Estación Coveñas" classPage="oc-estaciones oc-suc-covenas oc-est-sucre"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>../partials/menu-lateral}}
</div>

{{>../partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="main-suc-cove">
    {{>../partials/perfil-recorrido-casanare}}
    <!-- Section 01 -->
    <section class="oc-widgets-section mt-5 pt-5">
        <div class="container">
            <div class="row">
                <!-- Widget principal -->
                <div class="col-12 col-lg-4">
                    <div class="oc-card-widget mb-4 mb-md-0 oc-widget-principal">
                        <div class="oc-card-widget__body p-3">
                            <h2 class="oc-widget-principal__title mt-4">
                                <span class="oc-widget-principal__title__01">Terminal Marítimo</span><br>
                                <span class="oc-widget-principal__title__02">COVEÑAS</span>
                            </h2>
                            <a href="/sucre/sucre.html" class="oc-btn oc-btn__green oc-btn__large mt-3">
                                <span class="flecha-ocensa flecha-izquierda flecha-blanca mr-2"></span>
                                <span> Regresar a Sucre </span>
                            </a>
                            <div class="oc-widget-principal__leyend mt-4 text-center">
                                <h5 class="oc-widget-principal__leyend__text m-0"><span
                                        class="oc-widget-principal__leyend__text__01">Sector IV /</span> <span
                                        class="oc-widget-principal__leyend__text__02">Segmento 3</span></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Widget slider -->
                <div class="col-12 col-lg-8">
                    <div class="oc-card-widget oc-widget-slider">
                        <div class="oc-card-widget__body">
                            <div class="oc-slick-widget__slider oc-slick-theme">
                                <div class="item">
                                    <img src="/img/slide_1-co.png" alt="" class="img-fluid">
                                </div>

                                <div class="item">
                                    <img src="/img/slide_2-co.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 02 -->
    <section class="oc-widgets-section mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="oc-card-widget oc-widget-template wdg-la-estacion wdg-la-estacion-miraflores"
                        id="cus-wdg-la-estacion-miraflores">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-la_estacion.svg" alt="">
                                <span>La terminal</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-4 oc-la-estacion">
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/icon_territorio_paez_estacion_rebombeo.svg" alt="">
                                <div class="d-block">
                                    <p><b>Recibe todos los volúmenes</b> que transporte el oleoducto.
                                    </p>
                                </div>

                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/la_terminal_tanqueros TLU.svg" alt="">
                                <div class="d-block">
                                    <p>Despacha los crudos de exportación hacia las unidades de carga de <b>tanqueros
                                            TLU</b>
                                        (Tanker loading unit), localizada costa afuera.</p>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/barriles.svg" alt="">
                                <div class="d-block">
                                    <p>Capacidad de almacenamiento aproximado para diferentes calidades de:</p>
                                    <div class="d-flex align-items-center">
                                        <span class="oc-number-medium mr-3 ml-3 c-green">2.800.000</span>
                                        <p class="text-co"><b>Barriles</b><br> de crudo</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/la_terminal_presion_disminuye.svg" alt="">
                                <div class="d-block">
                                    <p>Posee una capacidad máxima de bombeo de:</p>
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex flex-column justify-content-center align-items-center mr-2 ml-3">
                                            <span class="c-green num-ter-co">60</span>
                                            <span class="tex-ter-co"><b>Barriles</b><br>por hora</span>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <span class="tex-ter-co">hacia</span>
                                            <img src="/img/line-large-co.svg" alt="" class="img-ter-co">
                                        </div>
                                        <span class="c-green num-ter-co-2">TLU2</span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/la_terminal_trampas_limpieza.svg" alt="">
                                <div class="d-block">
                                    <p>El sistema de este terminal <b>permite la interacción con otras filiales</b>
                                        para, de ser necesario, aumentar el almacenamiento.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-8">
                    <div class="oc-card-widget oc-widget-template wdg-ubicacion wdg-ubicacion-miraflores"
                        id="cus-wdg-ubicacion-miraflores">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/3-icon-menu-ubicacion.svg" alt="">
                                <span>Ubicación</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body wdg-banner">
                            <div class="row">
                                <div class="col-12 col-md-9 wdg-banner__bg dragscroll">
                                    <!-- Imagen de fondo -->
                                    <img src="/img/ubicacion-coveñas.jpg" alt="" class="img-drag">
                                </div>
                                <div class="col-12 col-md-3 h-100 oc-bg-green py-3 wdg-banner__info">
                                    <p class="mt-5">El terminal se encuentra en el municipio de Coveñas y para llegar,
                                        debe tomar la
                                        Troncal del Caribe hacia el occidente del municipio.</p>

                                    <div
                                        class="wdg-banner__info__km d-flex flex-column flex-md-row align-items-center justify-content-center flex-wrap first-child mt-5">
                                        <div class="d-flex align-items-center">
                                            <img src="/img/altitud.svg" alt="">
                                            <div class="d-block text-center">
                                                <span class="number">
                                                    2
                                                </span>
                                                <span class="km">
                                                    m.s.n.m
                                                </span>
                                            </div>
                                        </div>
                                        <p class="leyend text-center">
                                            Altitud
                                        </p>
                                    </div>

                                    <div
                                        class="wdg-banner__info__km d-flex flex-column flex-md-row align-items-center justify-content-center flex-wrap second-child mb-4">
                                        <div class="d-flex  align-items-center">
                                            <img src="/img/temperatura.svg" alt="">
                                            <span class="number">
                                                27°
                                            </span>
                                            <span class="km">
                                                C
                                            </span>
                                        </div>
                                        <p class="leyend text-center">
                                            Temperatura promedio<br> clima cálido
                                        </p>
                                    </div>

                                    <a href="https://www.google.com/maps/@9.4043534,-75.698212,3250m/data=!3m1!1e3"
                                        target="_blank" class="oc-btn oc-btn__white mt-5">
                                        <span> Ir al mapa </span>
                                        <span class="flecha-ocensa flecha-derecha flecha-verde ml-2"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 03 -->
        <section class="oc-widgets-section mt-4" id="wdg-section-03-miraflores">
        <div class="container">
            <div class="row">
                <div class="col-12 d-none d-lg-block">
                    {{>../partials/widget-almacenamiento-covenas}}
                </div>

                <!-- Item mobile -->
                <div class="col-12 d-lg-none">
                    <div class="oc-card-widget oc-widget-template wdg-almacenamiento wdg-almacenamiento-caucasia"
                        id="wdg-almacenamiento-caucasia">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-almacenamiento.svg" alt="">
                                <span>Almacenamiento</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="cont-alm-co">
                            <div class="oc-slick-widget__alm-covenas oc-slick-theme_2">
                                <div class="item-01 line-right-co">
                                    <div
                                        class="cont-alm-vas d-flex align-items-center justify-content-center position-relative">
                                        <div class="position-absolute cont-wid-al-co">
                                            <img src="/img/encabezado-widget.png" alt="">
                                        </div>
                                        <div>
                                            <div
                                                class="item-02 d-flex flex-column align-items-center justify-content-center">
                                                <img src="/img/tanques_grandes.svg" alt="" class="item-02__img">
                                                <p class="roboto-bold">Capacidad</p>
                                                <span class="roboto-medium c-blue-light">420.000</span>
                                                <p class="roboto-bold">BARRILES</p>
                                                <img src="/img/wdg-arrow-down.svg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div
                                                class="item-02 d-flex flex-column align-items-center justify-content-center">
                                                <img src="/img/tanque_mediano.svg" alt="" class="item-02__img">
                                                <p class="roboto-bold">Capacidad</p>
                                                <span class="roboto-medium c-blue-light">350.000</span>
                                                <p class="roboto-bold">BARRILES</p>
                                                <img src="/img/wdg-arrow-down.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="badge d-block m-auto">Crudo Mezcla</span>
                                    </div>
                                </div>
                                <div class="item-02-cont line-right-co">
                                    <div
                                        class="cont-alm-vas d-flex align-items-center justify-content-center position-relative">
                                        <div class="position-absolute cont-wid-al-co">
                                            <img src="/img/encabezado-widget-2.png" alt="">
                                        </div>
                                        <div>
                                            <div
                                                class="item-02 d-flex flex-column align-items-center justify-content-center">
                                                <img src="/img/tanques_grandes.svg" alt="" class="item-02__img">
                                                <p class="roboto-bold">Capacidad</p>
                                                <span class="roboto-medium c-blue-light">550.000</span>
                                                <p class="roboto-bold">BARRILES</p>
                                                <img src="/img/wdg-arrow-down.svg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div
                                                class="item-02 d-flex flex-column align-items-center justify-content-center">
                                                <img src="/img/tanque_mediano.svg" alt="" class="item-02__img">
                                                <p class="roboto-bold">Capacidad</p>
                                                <span class="roboto-medium c-blue-light">420.000</span>
                                                <p class="roboto-bold">BARRILES</p>
                                                <img src="/img/wdg-arrow-down.svg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div
                                                class="item-02 d-flex flex-column align-items-center justify-content-center">
                                                <img src="/img/tanque_mediano.svg" alt="" class="item-02__img">
                                                <p class="roboto-bold">Capacidad</p>
                                                <span class="roboto-medium c-blue-light">350.000</span>
                                                <p class="roboto-bold">BARRILES</p>
                                                <img src="/img/wdg-arrow-down.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="badge d-block m-auto">Crudo Pesado</span>
                                    </div>
                                </div>
                                <div class="item-03">
                                    <div
                                        class="cont-alm-vas d-flex align-items-center justify-content-center position-relative">
                                        <div class="position-absolute cont-wid-al-co">
                                            <img src="/img/encabezado-widget-3.png" alt="" class="img-enca">
                                        </div>
                                        <div>
                                            <div
                                                class="item-02 d-flex flex-column align-items-center justify-content-center">
                                                <img src="/img/tanque_pequeno.svg" alt="" class="item-02__img">
                                                <p class="roboto-bold">Capacidad</p>
                                                <span class="roboto-medium c-blue-light">35.000</span>
                                                <p class="roboto-bold">BARRILES</p>
                                                <img src="/img/wdg-arrow-down.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="badge d-block m-auto">Relevos de crudos</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center mt-2">
                            <div class="d-flex align-items-center justify-content-center buttons-end mt-3 mb-4">
                                <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                    data-widget="#widget-galeria-foto__covenas-almacenamiento">
                                    <span>Ver fotos</span>
                                    <img src="/img/camara.svg" alt="" class="ml-2"></button>
                                <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                    data-widget="#widget-galeria-foto__porvenir-almacenamiento">
                                    <span>Ver video</span>
                                    <img src="/img/video.svg" alt="" class="ml-2"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 04 -->
    <div class="oc-widgets-section mt-4" id="wdg-section-04">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="oc-card-widget oc-widget-template wdg-distancia wdg-distancia-miraflores"
                        id="wdg-distancia">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-distancia_linea.svg" alt="">
                                <span>Distancia de línea</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2 text-center">
                            <div class="item-01 text-center d-flex align-items-center cont-items">
                                <div class="col p-0 item-01 item-01__left">
                                    <img src="/img/distancia_la-granjita.svg" alt="" class="img-fluid">
                                    <div class="d-block">
                                        <p class="roboto-bold m-0 est-name">
                                            La Granjita
                                        </p>
                                        <span class="site-co">(Cordoba)</span>
                                    </div>
                                    <span class="oc-number-medium c-green">
                                        108
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                                <div class="col p-0 item-01__center">
                                    <span class="roboto-regular">146 Km</span>
                                    <img src="/img/line-divider.svg" alt="" class="wdg-distancia-divider">
                                </div>
                                <div class="col p-0 item-01__right">
                                    <img src="/img/distancia_de_linea_terminal_coveñas.svg" alt="" class="img-fluid">
                                    <p class="roboto-bold est-name m-0">
                                        Terminal<br>Coveñas
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        2
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                                <div class="col p-0 item-01__center">
                                    <span class="roboto-regular">12 Km</span>
                                    <img src="/img/line-divider.svg" alt="" class="wdg-distancia-divider">
                                </div>
                                <div class="col p-0 item-01__right last-item">
                                    <img src="/img/distancia_de_linea_TLU2.svg" alt="" class="img-fluid">
                                    <div class="d-block">
                                        <p class="roboto-bold m-0 est-name">
                                            TLU2
                                        </p>
                                        <span class="site-co">(Mar Caribe)</span>
                                    </div>
                                </div>
                            </div>

                            <div class="item-02 mt-2" id="distancia-linea2">
                                <div class="row px-3 cont-dist-co">
                                    <div class="col-12 col-md-6 p-1">
                                        <div class="oc-box-dato cont-sec-3 d-flex align-items-center p-2">
                                            <img src="/img/miraflores-icon-07.svg" alt="" class="oc-box-dato__img">
                                            <div class="oc-box-dato__text">
                                                <h5 class="oc-box-dato__text__title roboto-bold">Diámetro del tubo</h5>
                                                <div
                                                    class="text-center d-flex flex-column align-items-flex-start justify-content-center">
                                                    <div class="oc-cont-distancia-item d-flex">
                                                        <span class="number-lg">30</span>
                                                        <div class="text-left cont-text-co">
                                                            <span
                                                                class="tex-gri-co text-uppercase d-block">Pulgadas</span>
                                                            <span class="tex-gri-co text-uppercase d-block">La Granjita
                                                                (Córdoba)</span>
                                                            <span class="tex-gri-co text-uppercase d-block">-Terminal
                                                                Coveñas</span>
                                                        </div>
                                                    </div>
                                                    <div class="oc-cont-distancia-item d-flex">
                                                        <span class="number-lg">42</span>
                                                        <div class="text-left cont-text-co">
                                                            <span
                                                                class="tex-gri-co text-uppercase d-block">Pulgadas</span>
                                                            <span class="tex-gri-co text-uppercase d-block">Terminal
                                                                Coveñas</span>
                                                            <span class="tex-gri-co text-uppercase d-block">-TLU2</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 p-1 ">
                                        <div class="oc-box-dato cont-sec-3 d-flex align-items-center p-2">
                                            <img src="/img/miraflores-icon-08.svg" alt="" class="oc-box-dato__img">
                                            <div class="oc-box-dato__text p-especial-2">
                                                <h5 class="oc-box-dato__text__title roboto-bold">Dato</h5>
                                                <p class="oc-box-dato__text__desc mb-0">
                                                    El terminal Coveñas es la estación final del sistema de bombeo de
                                                    OCENSA.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="oc-card-widget oc-widget-template wdg-distancia wdg-distancia-porvenir"
                        id="wdg-distancia">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/6-icon_menu-distancia_linea.svg" alt="">
                                <span>Sistema de bombeo</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body bombeo-porv p-2 py-2">
                            <div class="item-01 row px-3">
                                <div class="col-12 col-md-3 p-2 item-01 item-01__left item-01__card-p">
                                    <div class="oc-box-dato oc-bombeo d-flex align-items-start p-2">
                                        <img src="/img/icon-bom-cov.svg" alt="" class="img-fluid">
                                        <div class="">
                                            <span class="d-block c-green oc-number-medium">3</span>
                                            <span class="d-block text-black-v2 mt-4">Generadores auxiliares</span>
                                            <span class="d-block c-green text-green-v2 mt-4">800</span>
                                            <span class="d-block c-green text-green-v3 pad-menos">KW c/u</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 p-2 item-01 item-01__card-p">
                                    <div class="oc-box-dato oc-bombeo d-flex align-items-start p-2">
                                        <img src="/img/icon-bombeo2y4.svg" alt="" class="img-fluid">
                                        <div class="">
                                            <span class="d-block c-green oc-number-medium">3</span>
                                            <span class="d-block text-black-v2 mt-3">Unidades principales
                                                eléctricas</span>
                                            <span class="d-block c-green text-green-v2 mt-3">20.000</span>
                                            <span class="d-block c-green text-green-v3 pad-menos">BPH</span>
                                            <span class="d-block text-gray-v2 text-uppercase">Capacidad</span>
                                            <span class="d-block c-green text-green-v2 mt-1">3.500</span>
                                            <span class="d-block c-green text-green-v3 pad-menos">HP c/u</span>
                                            <span class="d-block text-gray-v2 text-uppercase">Potencia</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 p-2 item-01 item-01__card-p">
                                    <div class="oc-box-dato oc-bombeo d-flex align-items-start p-2">
                                        <img src="/img/icon-bombeo2y4.svg" alt="" class="img-fluid">
                                        <div class="">
                                            <span class="d-block c-green oc-number-medium">2</span>
                                            <span class="d-block text-black-v2 mt-3">Unidades de combustión interna
                                            </span>
                                            <span class="d-block c-green text-green-v2 pad-menos-v2 mt-3">20.000</span>
                                            <span class="d-block c-green text-green-v3 pad-menos">BPH</span>
                                            <span class="d-block text-gray-v3 text-uppercase">Capacidad</span>
                                            <span class="d-block c-green text-green-v2 pad-menos-v2 mt-1">4.500</span>
                                            <span class="d-block c-green text-green-v3 pad-menos">HP c/u</span>
                                            <span class="d-block text-gray-v2 text-uppercase">Potencia</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 p-2 item-01 item-01__card-p">
                                    <div class="oc-box-dato oc-bombeo d-flex align-items-start p-2">
                                        <img src="/img/icon-bom-cov-2.svg" alt="" class="img-fluid">
                                        <div class="ml-1">
                                            <span class="d-block c-green oc-number-medium">5</span>
                                            <span class="d-block text-black-v2 mt-3">Bombas de transferencia</span>
                                            <span class="d-block c-green text-green-v2">3.000</span>
                                            <span class="d-block c-green text-green-v3 pad-menos">BPH c/u</span>
                                            <span class="d-block text-gray-v2 text-uppercase">Capacidad</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="oc-porvenir__modal-button mt-2">
                                <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                    data-widget="#widget-galeria-foto__covenas-bombeo">
                                    <span>Ver fotos</span>
                                    <img src="/img/icon-camara.svg" alt="" class="ml-2">
                                </button>
                                <button class="oc-btn oc-btn__gray oc-widget-galeria__link">
                                    <span>Ver videos</span>
                                    <img src="/img/video.svg" alt="" class="ml-2">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 05 -->
    <section class="oc-widgets-section mt-4" id="wdg-section-06-mir">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="oc-card-widget oc-widget-template wdg-personal wdg-bombeo wdg-personal-miraflores"
                        id="wdg-personal">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-personal.svg" alt="">
                                <span>Personal</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2">
                            <div class="oc-porvenir__personal">

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/personal-mauricio.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Mauricio Sandoval</h5>
                                        <p>Superintendente sector IV</p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item mt-3">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/personal-ciro.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Ciro Villamizar</h5>
                                        <p>Jefe mantenimiento sector IV</p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item mt-3">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/sin-foto-personal.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Ricardo Escalante</h5>
                                        <p>Jefe operaciones Coveñas</p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item mt-3">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/sin-foto-personal.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Ricardo Oicata</h5>
                                        <p>Profesional senior<br>aseguramiento técnico </p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/sin-foto-personal.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Kevin Corena</h5>
                                        <p>Profesional senior aseguramiento<br>técnico soporte zona</p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/sin-foto-personal.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Álvaro Florido Lozano</h5>
                                        <p>Profesional senior gestión seguridad<br>y protección</p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item oc-porvenir__personal-item-02">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/sin-foto-personal.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Álvaro Alfredo Romero Naranjo</h5>
                                        <p>Profesional senior aseguramiento<br>HSE campo</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="oc-card-widget oc-widget-template wdg-demografico wdg-bombeo" id="wdg-demografico">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_demografico_icono_menu.svg" alt="">
                                <span>Demográfico</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2">
                            <div class="wdg-demografico__car oc-slick-theme_2">

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">TRABAJADORES EN ESTACIÓN</h3>
                                    <img src="/img/trabajadores-estacion-co.svg" alt=""
                                        class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item">
                                            <p>Total trabajadores en estación</p>
                                            <span>120</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-blue">Ocensa</p>
                                            <span>24</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-grey">Contratistas</p>
                                            <span>96</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">MUJERES Y HOMBRES</h3>
                                    <img src="/img/mujeres-hombres-co.svg" alt="" class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item">
                                            <p>Total trabajadores Ocensa</p>
                                            <span>24</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-blue">Mujeres</p>
                                            <span>10.7%</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-grey">Hombres</p>
                                            <span>89.3%</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">GENERACIONES</h3>
                                    <img src="/img/generaciones-co.svg" alt="" class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-green">Generación Z</p>
                                            <span>3.6%</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-blue">Millennials</p>
                                            <span>28.6%</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-yellow">Generación X</p>
                                            <span>32.1%</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-grey">Generación Baby boomers</p>
                                            <span>35.7%</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="oc-card-widget oc-widget-template wdg-clima" id="wdg-clima-cus">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-clima.svg" alt="">
                                <span>Clima</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-slick-theme oc-slick-clima-card p-0">
                            <div class="slick-item">
                                <div class="oc-widget-template__body p-3">
                                    <p class="roboto-bold text-aguazul">Coveñas, Sucre</p>
                                    <div class="item-01 d-flex align-items-center flex-wrap">
                                        <div class="item-01__text">
                                            <span class="item-01__text__day d-block c-blue-light">Lunes</span>
                                            <span class="item-01__text__temp oc-number-large c-blue-light">27°</span>
                                        </div>
                                        <div class="item-01__img">
                                            <img src="/img/clima.svg" alt="">
                                        </div>
                                        <p class="w-100 roboto-bold mb-0">Showers in te Vicinity</p>
                                        <hr class="w-100 my-2">
                                    </div>
                                    <div class="item-02">
                                        <p class="roboto-light mb-0">24% chance of rain through 12 p.m.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="slick-item">
                                <div class="oc-widget-template__body p-3">
                                    <p class="roboto-bold">Aguazul, Casanare</p>
                                    <div class="item-01 d-flex align-items-center flex-wrap">
                                        <div class="item-01__text">
                                            <span class="item-01__text__day d-block c-blue-light">Lunes</span>
                                            <span class="item-01__text__temp oc-number-large c-blue-light">27°</span>
                                        </div>
                                        <div class="item-01__img">
                                            <img src="/img/clima.svg" alt="">
                                        </div>
                                        <p class="w-100 roboto-bold mb-0">Showers in te Vicinity</p>
                                        <hr class="w-100 my-2">
                                    </div>
                                    <div class="item-02">
                                        <p class="roboto-light mb-0">24% chance of rain through 12 p.m.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="oc-card-widget oc-widget-template wdg-seguridad mt-4" id="wdg-seguridad">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_seguridad_hse_icono_menu.svg" alt="">
                                <span>Seguridad HSE</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2">
                            <div class="wdg-seguridad__item">
                                <span class="oc-number">30</span>
                                <p class="text-center">Días sin incidentes</p>
                            </div>
                            <div class="wdg-seguridad__cont-btn">
                                <a href="/docs/Reglas-para-la-vida.pdf" download="Reglas para la vida"
                                    class="oc-btn oc-btn__green">
                                    <span>10 reglas para la vida</span>
                                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Section 06 -->
    <section class="oc-widgets-section mt-4" id="wdg-section-07-mir">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="oc-card-widget wdg-contratistas wdg-contratistas-miraflores"
                        id="wdg-contratistas-miraflores">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_contratistas_icono_menu.svg" alt="">
                                <span>Contratistas</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3">
                            <div class="oc-slick-widget__contratistas oc-slick-theme_2">


                                <!-- Slide 1 -->
                                <div class="slick-item text-center">
                                    <img src="/img/logo_contratista_massy.png" alt=""
                                        class="oc-slick-widget__contratistas__brand img-fluid mx-auto mb-4">
                                    <h5 class="oc-slick-widget__contratistas__name roboto-medium">MASSY - Massy Energy
                                        Colombia</h5>
                                    <p class="roboto-light my-3">Mantenimiento de estación<br> Bogotá - Colombia</p>
                                    <a href="https://www.massyenergy.co/" target="_blank"
                                        class="oc-btn oc-btn__gray m-0 my-4">
                                        <span> Ir </span>
                                        <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                    </a>
                                </div>

                                <!-- Slide 2 -->
                                <div class="slick-item text-center">
                                    <img src="/img/contratistas_sin_logo.svg" alt=""
                                        class="oc-slick-widget__contratistas__brand img-fluid m-auto">
                                    <h5 class="oc-slick-widget__contratistas__name roboto-medium">MANTEMAR</h5>
                                    <p class="roboto-light my-4">Servicio de mantenimiento de<br> zonas verdes.<br>
                                        Coveñas – Sucre.</p>
                                </div>

                                <!-- Slide 3 -->
                                <div class="slick-item text-center">
                                    <img src="/img/contratistas_sin_logo.svg" alt=""
                                        class="oc-slick-widget__contratistas__brand img-fluid m-auto">
                                    <h5 class="oc-slick-widget__contratistas__name roboto-medium">SERVICIO ABC S.A.S
                                    </h5>
                                    <p class="roboto-light my-4">Mantenimiento de la infraestructura<br> locativa y
                                        obras
                                        civiles menores.<br>
                                        Coveñas – Sucre.</p>
                                </div>

                                <!-- Slide 4 -->
                                <div class="slick-item text-center">
                                    <img src="/img/contratistas_sin_logo.svg" alt=""
                                        class="oc-slick-widget__contratistas__brand img-fluid m-auto">
                                    <h5 class="oc-slick-widget__contratistas__name roboto-medium">QMG
                                    </h5>
                                    <p class="roboto-light my-4">Recolección, clasificación y<br> disposición final de
                                        residuos sólidos.<br>
                                        San Antero - Córdoba</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-lg-8" id="gestion-caucasia">
                    <div class="oc-card-widget oc-widget-template wdg-gestion-ambiental" id="wdg-gestion-ambiental">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_gestion_ambiental_icono_menu.svg" alt="">
                                <span>Gestión ambiental</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body px-4 py-3">
                            <div class="oc-slick-widget__gestion oc-slick-theme_2">
                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato p-3">
                                        <img src="/img/gestion_ambiental_siembra_arboles.svg" alt="">
                                        <p class="roboto-regular m-0">Siembra de árboles nativos de la región en
                                            diferentes zonas verdes internas del terminal.</p>
                                    </div>
                                </div>
                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato p-3">
                                        <img src="/img/gestion_ambiental_reutilizacion_plastico.svg" alt="">
                                        <p class="roboto-regular m-0">Campaña de disminución y reutilización de plástico
                                            usado en el terminal.</p>
                                    </div>
                                </div>
                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato p-3">
                                        <img src="/img/gestion_ambiental_condensacion_aire.svg" alt="">
                                        <p class="roboto-regular m-0">Aprovechamiento del agua producto de la
                                            condensación de los aires acondicionados.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 08 -->
    <div class="oc-widgets-section mt-4" id="wdg-section-08-mir">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="oc-card-widget oc-widget-template wdg-clima" id="wdg-solicitudes">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_solicitudes_ingreso_icono_menu.svg" alt="">
                                <span>Solicitudes de ingreso</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="p-2 position-relative">
                            <div class="oc-pop-up p-4 card-solicitudes-ingreso">
                                <div class="d-flex oc-cont-title-reco justify-content-between">
                                    <span class="title-green c-green text-uppercase">Recuerde que para<br> la visita
                                        debe:</span>
                                    <img src="/img/close-green.svg" alt="" class="img-close-green close-solicitudes">
                                </div>
                                <ul class="oc-cont-recomendaciones  mt-3">
                                    <li class="d-flex"><img src="/img/chulo-verde.svg"
                                            class="img-recomendaciones"></img>
                                        <p>Contar con inducción HSE.</p>
                                    </li>
                                    <li class="d-flex"><img src="/img/chulo-verde.svg"
                                            class="img-recomendaciones"></img>
                                        <p>Tener aprobacion de su protololo covid-19 ante gestion del
                                            riesgo Tauramena.</p>
                                    </li>
                                    <li class="d-flex"><img src="/img/chulo-verde.svg"
                                            class="img-recomendaciones"></img>
                                        <p>Si es foraneo, debe llegar a territorio con prueba covid-19
                                            (Antigeno o PCR).</p>
                                    </li>
                                    <li class="d-flex"><img src="/img/chulo-verde.svg"
                                            class="img-recomendaciones"></img>
                                        <p>Contar con dotación de camisa y pantalón en algodón y
                                            elementos de proteccion personal como: cascos, botas, gafas, guantes y
                                            proteccion auditiva</p>
                                    </li>
                                    <li class="d-flex"><img src="/img/chulo-verde.svg"
                                            class="img-recomendaciones"></img>
                                        <p>Estar acompañado siempre con una persona que conozca las
                                            condiciones de la estación.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="oc-widget-template__body p-2 card-solicitudes-ingreso mt-3">
                                <p class="text-soli-co">Enviar solicitud con <b>8 días de antelación</b><br> detallando:
                                </p>
                                <div class="d-flex">
                                    <ul class="oc-est-modal__body__desc__list"
                                        style="font-family: 'helvetica-light', sans-serif !important;">
                                        <li class="text-soli-co">Nombre completo</li>
                                        <li class="text-soli-co">Fecha de ingreso</li>
                                    </ul>
                                    <ul class="oc-est-modal__body__desc__list ml-4"
                                        style="font-family: 'helvetica-light', sans-serif !important;">
                                        <li class="text-soli-co">Empresa</li>
                                        <li class="text-soli-co">Objeto del ingreso</li>
                                    </ul>
                                </div>
                                <p class="text-soli-co mb-3">El área encargada revisará las solicitudes y comunicará los
                                    <b>requisitos y formatos</b> que
                                    se deben diligenciar <b>para aprobar el ingreso.</b>
                                </p>
                                <div class="cont-formatos oc-box-dato text-center mt-3">
                                    <p class="c-green cont-formatos__title">ENVIAR A</p>
                                </div>
                                <div
                                    class="cont cont-formatos__send line pb-2 d-flex align-items-center justify-content-between">
                                    <div class="d-flex">
                                        <img src="/img/istockphoto-691910451-2048x2048.png" alt=""
                                            class="img-user-send img-circle mr-3">
                                        <div class="mr-3">
                                            <span class="d-block name-send">Juan Albarracín</span>
                                            <span class="d-block prof-send">Profesional HSE</span>
                                        </div>
                                    </div>
                                    <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
                                </div>
                                <div
                                    class="cont cont-formatos__send line pt-2 pb-2 d-flex align-items-center justify-content-between">
                                    <div class="d-flex">
                                        <img src="/img/istockphoto-691910451-2048x2048.png" alt=""
                                            class="img-user-send img-circle mr-3">
                                        <div class="mr-3">
                                            <span class="d-block name-send">Javier Amado</span>
                                            <span class="d-block prof-send">Profesional HSE</span>
                                        </div>
                                    </div>
                                    <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
                                </div>
                                <div
                                    class="cont cont-formatos__send pt-2 d-flex align-items-center justify-content-between">
                                    <div class="d-flex">
                                        <img src="/img/istockphoto-691910451-2048x2048.png" alt=""
                                            class="img-user-send img-circle mr-3">
                                        <div class="mr-3">
                                            <span class="c-green copy-co">Con copia a:</span>
                                            <span class="d-block name-send">Mauricio Sandoval</span>
                                            <span class="d-block prof-send">Superintendente del terminal</span>
                                        </div>
                                    </div>
                                    <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-8">
                    <div class="oc-card-widget oc-widget-template wdg-como-llegar como-llegar-1 wdg-como-llegar-miraflores"
                        id="wdg-como-llegar">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-como_llegar.svg" alt="">
                                <span>Cómo llegar</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body px-md-3 py-1">
                            <div class="row">
                                <div class="col-12 col-lg-4 item-aerea">
                                    <div class="item-aerea__title d-flex align-items-center mt-2 mb-2">
                                        <img src="/img/via_aerea.svg" alt="" class="mr-3">
                                        <h4 class="c-blue-light roboto-bold m-0">Vía aérea</h4>
                                    </div>
                                     <div class="oc-box-dato p-1" id="dist-aerea-cau">
                                            <ul class="nav flex-column mt-3">
                                                <li class="nav-item mb-3 d-flex">
                                                    <div class="mt-1 mr-2">
                                                        <img src="/img/icono-flecha-azul.svg" alt="">
                                                    </div>
                                                    <span class="roboto-light d-inline-block">Llegada al aeropuerto los
                                                        Garzones de Montería, Cordoba, y trasladándose vía terrestre a
                                                        Coveñas.</span>
                                                </li>
                                                <div class="d-flex">
                                                    <li class="nav-item mb-3 item-01-vasc">
                                                        <div class="te-chiqui">
                                                            <span
                                                                class="roboto-bold ml-4 number-minutes-v2 res-2 chiqu-2 ml-2">65</span><span
                                                                class="ml-2 desc-minutes number-minutes-v3">KM</span>
                                                        </div>
                                                        <div class="te-chiqui">
                                                            <span class="item-dist text-uppercase ml-4">Distancia</span>
                                                        </div>
                                                    </li>
                                                    <li class="nav-item mb-3 item-02-vasc ml-3">
                                                        <div class="te-chiqui">
                                                            <span
                                                                class="roboto-bold c-green number-minutes res-2">1</span><span
                                                                class="ml-1 desc-minutes c-green">HRS.</span>
                                                            <span
                                                                class="roboto-bold number-minutes res-2 c-green nm-v2">30</span><span
                                                                class="ml-1 desc-minutes c-green">MIN</span>
                                                        </div>
                                                        <div class="te-chiqui">
                                                            <span class="item-dist text-uppercase">Tiempo aprox. en
                                                                automóvil</span>
                                                        </div>
                                                    </li>
                                                </div>
                                            </ul>
                                            <ul class="nav flex-column mt-1">
                                                <li class="nav-item mb-3 d-flex">
                                                    <div class="mt-1 mr-2">
                                                        <img src="/img/icono-flecha-azul.svg" alt="">
                                                    </div>
                                                    <span class="roboto-light d-inline-block">Llegada al aeropuerto las
                                                        Brujas de Corozal, Sucre, y trasladándose vía terrestre a
                                                        Coveñas.</span>
                                                </li>
                                                <div class="d-flex">
                                                    <li class="nav-item mb-3 item-01-vasc">
                                                        <div class="te-chiqui">
                                                            <span
                                                                class="roboto-bold ml-4 number-minutes-v2 res-2 chiqu-2 ml-2">73</span><span
                                                                class="ml-2 desc-minutes number-minutes-v3">KM</span>
                                                        </div>
                                                        <div class="te-chiqui">
                                                            <span class="item-dist text-uppercase ml-4">Distancia</span>
                                                        </div>
                                                    </li>
                                                    <li class="nav-item mb-3 item-02-vasc ml-3">
                                                        <div class="te-chiqui">
                                                            <span
                                                                class="roboto-bold c-green number-minutes res-2">1</span><span
                                                                class="ml-1 desc-minutes c-green">HRS.</span>
                                                            <span
                                                                class="roboto-bold number-minutes res-2 c-green nm-v2">47</span><span
                                                                class="ml-1 desc-minutes c-green">MIN</span>
                                                        </div>
                                                        <div class="te-chiqui">
                                                            <span class="item-dist text-uppercase">Tiempo aprox. en
                                                                automóvil</span>
                                                        </div>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                </div>

                                <div class="col-12 col-lg-8 item-terrestre" id="terrestre-porv">
                                    <div class="item-terrestre__title d-flex align-items-center ml-4 mt-2 mb-2">
                                        <img src="/img/via_terrestre.svg" alt="" class="mr-3">
                                        <h4 class="c-blue-light roboto-bold m-0">Vía terrestre</h4>
                                    </div>
                                    <div class="oc-box-dato px-md-3">
                                        <div class="item-terrestre_01 py-2">
                                            <div class="row align-items-center mt-2 pb-md-3">
                                                <div class="col-12 col-md-3">
                                                    <span class="badge text-light px-2 mr-1">Cartagena
                                                        –<br> Coveñas</span>
                                                </div>
                                                <div
                                                    class="col-12 col-md-9 d-flex justify-content-between oc-miraflores-block">
                                                    <div class="d-flex flex-nowrap align-items-center">
                                                        <img src="/img/miraflores-icon-19.svg" alt=""
                                                            class="oc-box-dato__img-distancia">
                                                        <div class="text-center">
                                                            <div class="d-flex">
                                                                <span class="oc-number-medium c-blue-light">160</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">DISTANCIA</p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex tem-apro">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox">
                                                        <div class="text-center">
                                                            <span class="oc-number-medium c-green">2</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>

                                                            <span class="oc-number-medium c-green">47</span>
                                                            <span class="small-text c-green roboto-regular">MIN.</span>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item-terrestre_02 py-2 pb-1">
                                            <div class="row align-items-center mt-2 pb-md-3">
                                                <div class="col-12 col-md-3">
                                                    <span class="badge text-light px-2 mr-1">Sincelejo
                                                        –<br> Coveñas</span>
                                                </div>

                                                <div
                                                    class="col-12 col-md-9 d-flex justify-content-between oc-miraflores-block">
                                                    <div class="d-flex flex-nowrap align-items-center">

                                                        <img src="/img/miraflores-icon-19.svg" alt=""
                                                            class="oc-box-dato__img-distancia">
                                                        <div class="text-center">
                                                            <div class="d-flex">
                                                                <span class="oc-number-medium c-blue-light">62</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">DISTANCIA</p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex tem-apro flex-nowrap">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox">
                                                        <div class="text-center">
                                                            <span class="oc-number-medium c-green">1</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>

                                                            <span class="oc-number-medium c-green">16</span>
                                                            <span class="small-text c-green roboto-regular">MIN.</span>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item-terrestre_02 py-2 pb-1">
                                            <div class="row align-items-center mt-2 pb-md-3">
                                                <div class="col-12 col-md-3">
                                                    <span class="badge text-light px-2 mr-1">Monteria
                                                        –<br> Coveñas</span>
                                                </div>

                                                <div
                                                    class="col-12 col-md-9 d-flex justify-content-between oc-miraflores-block">
                                                    <div class="d-flex flex-nowrap align-items-center">

                                                        <img src="/img/miraflores-icon-19.svg" alt=""
                                                            class="oc-box-dato__img-distancia">
                                                        <div class="text-center">
                                                            <div class="d-flex">
                                                                <span class="oc-number-medium c-blue-light">86</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">DISTANCIA</p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex tem-apro flex-nowrap">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox">
                                                        <div class="text-center">
                                                            <span class="oc-number-medium c-green">1</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>

                                                            <span class="oc-number-medium c-green">39</span>
                                                            <span class="small-text c-green roboto-regular">MIN.</span>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item-terrestre_03 py-2 pb-1">
                                            <div class="row align-items-center mt-2 pb-md-3">
                                                <div class="col-12 col-md-3">
                                                    <span class="badge text-light mr-1">Barranquilla
                                                        –<br> Coveñas</span>
                                                </div>
                                                <div
                                                    class="col-12 col-md-9 d-flex justify-content-between oc-miraflores-block">
                                                    <div class="d-flex flex-wrap flex-md-nowrap">

                                                        <img src="/img/miraflores-icon-19.svg" alt=""
                                                            class="oc-box-dato__img-distancia mt-2">
                                                        <div class="text-center">
                                                            <div class="d-flex">
                                                                <span class="oc-number-medium c-blue-light">267</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">DISTANCIA</p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex tem-apro">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox">
                                                        <div class="text-center">
                                                            <span class="oc-number-medium c-green">4</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>

                                                            <span class="oc-number-medium c-green">39</span>
                                                            <span class="small-text c-green roboto-regular">MIN.</span>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 item-viaje mt-2 mb-2">
                                    <div
                                        class="d-flex justify-content-center flex-column flex-md-row align-items-center text-center">
                                        <p class="mr-3 mb-3 mb-md-0">Recuerda solicitar el ingreso y tramitar los
                                            formatos</p>
                                        <a href="http://gi.ocensa.com.co/ORG_TAL/SitePages/SOLICITUDES%20VIAJES.aspx"
                                            target="_blank" class="oc-btn oc-btn__green m-0">
                                            <span> AGENDA TU VIAJE </span>
                                            <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2 mt-1"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


{{>../partials/back-to-top}}

{{>../partials/footer}}