{{!-- Ancla --}}

<div id="top"></div>

{{>../partials/header title="Sucre - TLU2" classPage="oc-estaciones oc-suc-tlu2 oc-est-sucre"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>../partials/menu-lateral}}
</div>

{{>../partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="main-suc-tlu2">
    {{>../partials/perfil-recorrido-casanare}}
    <!-- Section 01 -->
    <section class="oc-widgets-section mt-5 pt-5" id="wdg-section-01">
        <div class="container">
            <div class="row">
                <!-- Widget principal -->
                <div class="col-12 col-md-4">
                    <div class="oc-card-widget mb-4 mb-md-0 oc-widget-principal">
                        <div class="oc-card-widget__body p-3">
                            <h2 class="oc-widget-principal__title mt-4">
                                <span class="oc-widget-principal__title__01">Instalación portuaria</span><br>
                                <span class="oc-widget-principal__title__02">TLU2</span>
                            </h2>
                            <a href="/sucre/sucre.html" class="oc-btn oc-btn__green oc-btn__large mt-3">
                                <span class="flecha-ocensa flecha-izquierda flecha-blanca mr-2"></span>
                                <span> Regresar a Sucre </span>
                            </a>
                            <div class="oc-widget-principal__leyend mt-4 text-center">
                                <h5 class="oc-widget-principal__leyend__text m-0"><span
                                        class="oc-widget-principal__leyend__text__01">Sector 4</span></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Widget slider -->
                <div class="col-12 col-md-8">
                    <div class="oc-card-widget oc-widget-slider">
                        <div class="oc-card-widget__body">
                            <div class="oc-slick-widget__slider oc-slick-theme">
                                <div class="item">
                                    <img src="/img/slide_1_tlu2.jpg" alt="" class="img-fluid">
                                </div>

                                <div class="item">
                                    <img src="/img/slide_2_tlu2.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 02 -->
    <section class="oc-widgets-section mt-4" id="wdg-section-02">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="oc-card-widget oc-widget-template wdg-la-estacion wdg-la-estacion-tlu2"
                        id="wdg-la-estacion-tlu2">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/la_monoboya_icono_menu.svg" alt="">
                                <span>La Monoboya</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-4 oc-la-estacion">
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/la_monoboya_cargue_tanqueros.svg" alt="">
                                <p>La TLU2 es una <span class="roboto-medium">unidad de cargue de tanqueros.</span></p>

                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/la_terminal_tanqueros TLU.svg" alt="">
                                <div class="text-center">
                                    <p class="text-left">
                                        Sirve de <span class="roboto-medium">punto de amarre para el buquetanque</span>,
                                        reemplazando a un muelle.
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/la_monoboya_tanqueros TLU.svg" alt="">
                                <div class="text-center">
                                    <p class="text-left">
                                        Es el punto de transferencia de crudo entre:
                                    </p>
                                    <span class="oc-line-dashed circle-left arrow-right my-3 mx-auto"
                                        style="width: 100px"></span>
                                    <div class="d-flex justify-content-between align-items-center px-3">
                                        <span class="roboto-medium name-est">Oleoducto<br>submarino</span>
                                        <span class="roboto-medium name-est">Buquetanque</span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/distancia_de_linea_terminal_coveñas.svg" alt="">
                                <p>
                                    <span class="roboto-medium">Se opera de forma remota</span> desde la estación <span
                                        class="roboto-medium">Coveñas</span> a través de una línea de fibra
                                    óptica y como respaldo, a través de radiofrecuencia.
                                </p>
                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/la_monoboya_oleoducto_submarino.svg" alt="">
                                <div class="text-center">
                                    <p class="text-left">
                                        Está conectada al oleoducto submarino a través de:
                                    </p>

                                    <div class="d-flex justify-content-between align-items-start px-1 mt-3">
                                        <div>
                                            <h3 class="roboto-bold c-green number-large mb-0">2</h3>
                                            <span class="roboto-medium name-est">Mangueras</span>
                                        </div>
                                        <span class="oc-line-dashed arrow-right mt-2"
                                            style="width: 70px; margin-left: -30px"></span>
                                        <div>
                                            <h3 class="roboto-bold c-green number-large mb-0">60.000 <span
                                                    class="roboto-regular bph">BPH</span></h3>
                                            <span class="roboto-bold name-est cap-tr">CAPACIDAD<br>TRANSPORTE</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="oc-card-widget oc-widget-template wdg-ubicacion wdg-ubicacion-tlu2"
                        id="cus-wdg-ubicacion-miraflores">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/3-icon-menu-ubicacion.svg" alt="">
                                <span>Ubicación</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body wdg-banner">
                            <div class="row">
                                <div class="col-12 col-md-9 wdg-banner__bg dragscroll">
                                    <!-- Imagen de fondo -->
                                    <img src="/img/mapa_ubicacion-tlu2.jpg" alt="" class="img-drag">
                                </div>
                                <div class="col-12 col-md-3 h-100 oc-bg-green py-3 wdg-banner__info">
                                    <p class="mt-4">Se encuentra en el mar Caribe a:</p>

                                    <div
                                        class="wdg-banner__info__km d-flex flex-column flex-md-row align-items-center justify-content-center flex-wrap my-2">
                                        <div class="d-flex align-items-center">
                                            <img src="/img/ubicacion-dist-tlu2.svg" alt="">
                                            <div class="d-block text-center">
                                                <span class="number">
                                                    12
                                                </span>
                                                <span class="km">
                                                    KM
                                                </span>
                                                <p class="leyend text-center mt-0">
                                                    DISTANCIA
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                    <p><span class="roboto-c-bold">de la costa en el golfo de Morrosquillo
                                        </span>(Córdoba y Sucre).</p>

                                    {{!--
                                    PENDIENTE LINK
                                    --}}
                                    <a href="https://www.google.com/maps/place/Covenas,+Santiago+de+Tol%C3%BA,+Sucre/@9.4903771,-75.6859353,23784m/data=!3m1!1e3!4m5!3m4!1s0x8e590816232e2cf3:0x410db322e4e156b4!8m2!3d9.403439!4d-75.6800867?hl=es"
                                        target="_blank" class="oc-btn oc-btn__white mt-5">
                                        <span> Ir al mapa </span>
                                        <span class="flecha-ocensa flecha-derecha flecha-verde ml-2"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 05 -->
    <section class="oc-widgets-section mt-4" id="wdg-section-05">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="oc-card-widget oc-widget-template wdg-la-estacion wdg-la-estacion-tlu2"
                        id="wdg-la-estacion-tlu2">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/sistemas_seguridad_icono_menu.svg" alt="">
                                <span>Sistemas de seguridad</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-4 oc-la-estacion">
                            <div class="oc-slick-widget__gestion-tlu2 oc-slick-theme_2">
                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato p-3">
                                        <img src="/img/sistemas_seguridad_detectores.svg" alt="">
                                        <p class="roboto-regular m-0">
                                            Detectores de incendio, humo y nivel de oxígeno.
                                        </p>
                                    </div>
                                </div>
                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato p-3">
                                        <img src="/img/sistemas_seguridad_sistema_alarmas.svg" alt="">
                                        <p class="roboto-regular m-0">
                                            Sistema de alarmas e instrumentos que permiten, en tierra, conocer las
                                            condiciones de operación de la boya (Presión, caudal, temperatura del
                                            producto, estado de la carga de las baterías).
                                        </p>
                                    </div>
                                </div>
                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato p-3">
                                        <img src="/img/sistemas_seguridad_circuito cerrado.svg" alt="">
                                        <p class="roboto-regular m-0">
                                            Circuito cerrado por medio del cual se puede ver lo que está sucediendo
                                            dentro y fuera de la boya.
                                        </p>
                                    </div>
                                </div>
                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato p-3">
                                        <img src="/img/sistemas_seguridad_sistema_monitoreo.svg" alt="">
                                        <p class="roboto-regular m-0">
                                            Sistema de monitoreo de perdida de contención de crudo.
                                        </p>
                                    </div>
                                </div>

                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato p-3">
                                        <img src="/img/sistemas_seguridad_estacion__meteorologica.svg" alt="">
                                        <p class="roboto-regular m-0">
                                            Estación meteorológica para conocer variables de viento, corriente e
                                            intensidad de lluvia. La información llega a un servicio meteorológico donde
                                            se analiza y generan reportes de proyecciones climáticas y alertas en caso
                                            de mal tiempo.
                                        </p>
                                    </div>
                                </div>

                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato p-3">
                                        <img src="/img/sistemas_seguridad_cuarto_control.svg" alt="">
                                        <p class="roboto-regular m-0">
                                            Toda la información de los sistemas de seguridad es monitoreada desde un
                                            cuarto de control en la estación de Coveñas.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="oc-card-widget oc-widget-template wdg-operacion wdg-operacion-tlu2"
                        id="cus-wdg-ubicacion-miraflores">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/la_operacion_icono_menu.svg" alt="">
                                <span>La operación</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-4">
                            <div class="oc-slick-widget__operacion-tlu2 oc-slick-theme_2">
                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato dato-line-right p-3 p-md-1">
                                        <img src="/img/la_operacion_tres_embarcaciones.svg" alt="">
                                        <p class="roboto-regular m-0 text-left">
                                            Está <span class="roboto-medium">compuesta por tres embarcaciones</span> que apoyan el cargue del buquetanque.
                                        </p>
                                    </div>
                                </div>
                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato dato-line-right p-3 p-md-1">
                                        <img src="/img/la_operacion_loading_master.svg" alt="">
                                        <p class="roboto-regular m-0 text-left">
                                            Un funcionario de Ocensa, <span class="roboto-medium">loading master</span>, es el encargado de la operación de
                                            cargue costa afuera.
                                        </p>
                                    </div>
                                </div>
                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato dato-line-right p-3 p-md-1">
                                        <img src="/img/la_operacion_equipo_buceo.svg" alt="">
                                        <p class="roboto-regular m-0 text-left">
                                            Cuenta con un <span class="roboto-medium">equipo de buceo</span> para hacer inspecciones subacuáticas.
                                        </p>
                                    </div>
                                </div>  
                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato p-3 p-md-1">
                                        <img src="/img/la_operacion_equipo_conectores.svg" alt="">
                                        <p class="roboto-regular m-0 text-left">
                                            Tiene un <span class="roboto-medium">equipo de marinos conectores</span> encargados de conectar las mangueras
                                            flotantes al buquetanque.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{{>../partials/back-to-top}}

{{>../partials/footer}}