<div class="row mt-4 p-4" id="sec-perfiles-2">
    <div class="col-12 col-md-4">
    </div>
    <div class="col-12 col-md-4">
        <div class="oc-card-widget oc-widget-template wdg-distancia" id="sec-perfiles-2">
            <div class="oc-widget-template__top-bar oc-bg-green p-1">
                <div class="oc-widget-template__top-bar__title">
                    <img src="/img/icon-perfiles.svg" alt="">
                    <span>Documentos recientes</span>
                </div>
                <div class="oc-widget-template__top-bar__right d-none">
                    <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                    <button class="oc-button-menu">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </button>
                </div>
            </div>
            <div
                class="oc-widget-template__body p-3 py-2 pr-5 text-center oc-slick-theme oc-slick-profiles .on-scroll-v">
                <div class="slick-item">
                    <div class="item-pro-1 text-center pb-2 pt-2">
                        <div class="p-0 item-01 d-flex align-items-center justify-content-between">
                            <img src="/img/doc-1.png" alt="" class="img-fluid mr-5 item-01__img-doc">
                            <div class="mr-5 item-01__info text-left">
                                <span class="d-block item-01__info__name">Informe de gestión financiera</span>
                                <span class="d-block item-01__info__type c-green">Word</span>
                            </div>
                            <a href=""><img src="/img/icon-flecha-bg-verde.svg" alt="" class="img-flecha-green"></a>
                        </div>
                    </div>
                </div>
                <div class="slick-item">
                    <div class="item-pro-1 text-center pb-2 pt-2">
                        <div class="p-0 item-01 d-flex align-items-center justify-content-between">
                            <img src="/img/doc-2.png" alt="" class="img-fluid mr-5 item-01__img-doc">
                            <div class="mr-5 item-01__info text-left">
                                <span class="d-block item-01__info__name">Informe de gestión financiera</span>
                                <span class="d-block item-01__info__type c-green">Excel</span>
                            </div>
                            <a href=""><img src="/img/icon-flecha-bg-verde.svg" alt="" class="img-flecha-green"></a>
                        </div>
                    </div>
                </div>
                <div class="slick-item">
                    <div class="item-pro-1 text-center pb-2 pt-2">
                        <div class="p-0 item-01 d-flex align-items-center justify-content-between">
                            <img src="/img/doc-1.png" alt="" class="img-fluid mr-5 item-01__img-doc">
                            <div class="mr-5 item-01__info text-left">
                                <span class="d-block item-01__info__name">Informe de gestión financiera</span>
                                <span class="d-block item-01__info__type c-green">PowerPoint</span>
                            </div>
                            <a href=""><img src="/img/icon-flecha-bg-verde.svg" alt="" class="img-flecha-green"></a>
                        </div>
                    </div>
                </div>
                <div class="slick-item">
                    <div class="item-pro-1 text-center pb-2 pt-2">
                        <div class="p-0 item-01 d-flex align-items-center justify-content-between">
                            <img src="/img/doc-2.png" alt="" class="img-fluid mr-5 item-01__img-doc">
                            <div class="mr-5 item-01__info text-left">
                                <span class="d-block item-01__info__name">Informe de gestión financiera</span>
                                <span class="d-block item-01__info__type c-green">Word</span>
                            </div>
                            <a href=""><img src="/img/icon-flecha-bg-verde.svg" alt="" class="img-flecha-green"></a>
                        </div>
                    </div>
                </div>
                <div class="slick-item">
                    <div class="item-pro-1 text-center pb-2 pt-2">
                        <div class="p-0 item-01 d-flex align-items-center justify-content-between">
                            <img src="/img/doc-1.png" alt="" class="img-fluid mr-5 item-01__img-doc">
                            <div class="mr-5 item-01__info text-left">
                                <span class="d-block item-01__info__name">Informe de gestión financiera</span>
                                <span class="d-block item-01__info__type c-green">Word</span>
                            </div>
                            <a href=""><img src="/img/icon-flecha-bg-verde.svg" alt="" class="img-flecha-green"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="oc-card-widget oc-widget-template wdg-almacenamiento" id="wdg-grupos-trabajo">
            <div class="oc-widget-template__top-bar oc-bg-blue-light p-1">
                <div class="oc-widget-template__top-bar__title">
                    <img src="/img/icon-perfiles-2.svg" alt="">
                    <span>Grupos de trabajo</span>
                </div>
                <div class="oc-widget-template__top-bar__right d-none">
                    <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                    <button class="oc-button-menu">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </button>
                </div>
            </div>
            <div class="oc-widget-template__body p-0 mt-2">
                <div class="oc-slick-theme oc-slick-grupo-general mr-3 pr-3">
                    <div class="slick-item">
                        <div class="d-block item-profile mt-2 pb-4">
                            <span class="item-profile__group">Operaciones e ingeniría Operativa</span>
                            <span class="d-block item-profile__name-team">Teams</span>
                            <div>
                                <div class="d-flex mt-2">
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro2.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Jose</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Maria</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Jennifer</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro-more.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro2.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro3.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick-item">
                        <div class="d-block item-profile mt-2 pb-4">
                            <span class="item-profile__group">Operaciones e ingeniría Operativa</span>
                            <span class="d-block item-profile__name-team">Teams</span>
                            <div>
                                <div class="d-flex mt-2">
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro2.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Jose</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Maria</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Jennifer</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro-more.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro2.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro3.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick-item">
                        <div class="d-block item-profile mt-2 pb-4">
                            <span class="item-profile__group">Operaciones e ingeniría Operativa</span>
                            <span class="d-block item-profile__name-team">Teams</span>
                            <div>
                                <div class="d-flex mt-2">
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro2.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Jose</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Maria</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Jennifer</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro-more.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro2.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro3.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick-item">
                        <div class="d-block item-profile mt-2 pb-4">
                            <span class="item-profile__group">Operaciones e ingeniría Operativa</span>
                            <span class="d-block item-profile__name-team">Teams</span>
                            <div>
                                <div class="d-flex mt-2">
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro2.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Jose</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Maria</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Jennifer</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro-more.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro2.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro3.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick-item">
                        <div class="d-block item-profile mt-2 pb-4">
                            <span class="item-profile__group">Operaciones e ingeniría Operativa</span>
                            <span class="d-block item-profile__name-team">Teams</span>
                            <div>
                                <div class="d-flex mt-2">
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro2.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Jose</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Maria</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Jennifer</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro-more.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro2.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro3.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                    <div class="item-profile__photo-name">
                                        <img src="/img/photo-pro1.svg" alt=""
                                            class="ml-2 item-profile__photo-name__photo">
                                        <div class="item-profile__cont-name text-center">
                                            <span class="d-block item-profile__cont-name__name">Laura</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>