{{!-- Ancla --}}
<div id="top"></div>
{{>../partials/header title="Casanare" classPage="oc-estaciones oc-index-casanare"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>../partials/menu-lateral}}
</div>


{{>../partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="main-casanare">
    <section class="pb-md-5 py-0">
        {{>../partials/header-estaciones img="/img/dertamento-casanare-sabana.svg" imgMap="/img/Capa_9.svg" imgIcons="/img/Grupo 14507.svg" estacion="Casanare"}}
    </section>
    <section class="cont-intro-territorio">
        <div class="container">
            {{>../partials/intro-territorio}}
        </div>
    </section>
    <section class="oc-mapa oc-mapa-casanare position-relative">
        {{!-- Modal Map --}}

        <!-- Modal Departamento Aguazul -->
        {{>../modals/casanare/aguazul}}

        <!-- Modal Departamento Casanare -->
        {{>../modals/casanare/depto_casanare}}

        <!-- Modal Estación Cupiagua -->
        {{>../modals/casanare/cupiagua}}

        <!-- Modal Estación Cusiana -->
        {{>../modals/casanare/cusiana}}

        <!-- Modal Estación El Porvenir -->
        {{>../modals/casanare/el_porvenir}}

        <!-- Modal Estación Tauramena -->
        {{>../modals/casanare/tauramena}}

        <!-- Modal Estación Tauramena -->
        {{>../modals/casanare/monterrey}}

        <!-- Modal Estación Fauna -->
        {{>../modals/casanare/fauna}}

        <!-- Modal Estación Banco De Hábitat -->
        {{>../modals/casanare/banco_de_habitat}}

        <!-- Modal Estación Ecosistema -->
        {{>../modals/casanare/ecosistema}}

        <!-- Modal Estación Ecosistema -->
        {{>../modals/casanare/clima}}

        <!-- Modal Estación Hidrografia -->
        {{>../modals/casanare/hidrografia}}

        <!-- Modal Estación Comunidades Mujer -->
        {{>../modals/casanare/comunidades-mujer}}

        <!-- Modal Estación Comunidades -->
        {{>../modals/casanare/comunidades}}

        <!-- Modal Estación Comites de Seguimiento -->
        {{>../modals/casanare/comites-seguimiento}}



        <div class="oc-mapa__container">
            <img src="/img/mapa-casanare.png" alt="" class="oc-mapa__img">

            <img src="/img/imag-mapa-linea-casanare.png" alt="" class="oc-mapa__line">

            <!--Loma de los sabios-->
            <div class="oc-mapa__location-modals oc-point-01 oc-mapa__green">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Loma de los sabios</span>
                </div>
            </div>

            <!--Montrerrey-->
            <div class="oc-mapa__location-modals oc-point-02 oc-mapa__orange" data-target="#monterrey">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>Monterrey</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Comité de seguimiento-->
            <div class="oc-mapa__location-modals oc-point-03 oc-mapa__purple" data-target="#comiteseguimiento">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-profile.svg" alt="">
                    </div>
                    <span>Comité de seguimiento</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Meseta Guichire-->
            <div class="oc-mapa__location-modals oc-point-04 oc-mapa__green">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Meseta Guichire</span>
                </div>
            </div>

            <!--Buena Vecindad-->
            <div class="oc-mapa__location-modals oc-point-05 oc-mapa__purple" data-target="#buenavecindad">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-profile.svg" alt="">
                    </div>
                    <span>Buena Vecindad</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Clima-->
            <div class="oc-mapa__location-modals oc-point-06 oc-mapa__green" data-target="#clima">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Clima</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Tauramena-->
            <div class="oc-mapa__location-modals oc-point-07 oc-mapa__orange" data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>Tauramena</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Hidrografía-->
            <div class="oc-mapa__location-modals oc-point-08 oc-mapa__blue" data-target="#hidrografia">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-water.svg" alt="">
                    </div>
                    <span>Hidrografía</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Ecosistemas-->
            <div class="oc-mapa__location-modals oc-point-09 oc-mapa__green" data-target="#ecosistema">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Ecosistema</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Farallones-->
            <div class="oc-mapa__location-modals oc-point-10 oc-mapa__green">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Farallones</span>
                </div>
            </div>

            <!--Banco de Hábitat-->
            <div class="oc-mapa__location-modals oc-point-11 oc-mapa__green" data-target="#banco-habitat">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Banco de Hábitat del Meta</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Fauna-->
            <div class="oc-mapa__location-modals oc-point-12 oc-mapa__green" data-target="#fauna">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Fauna</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Mujer y Desarrollo-->
            <div class="oc-mapa__location-modals oc-point-13 oc-mapa__purple" data-target="#comunidades-mujer">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-profile.svg" alt="">
                    </div>
                    <span>Mujer y Desarrollo</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Aguazul-->
            <div class="oc-mapa__location-modals oc-point-14 oc-mapa__orange" data-target="#aguazul">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>Aguazul</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--El porvenir-->
            <div class="oc-mapa__location-modals oc-point-15 oc-mapa__yellow" data-target="#el-porvenir">
                <div class="oc-mapa__name-point-yellow">
                    <div class="oc-mapa__info-item">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                        <span>EL PORVENIR</span>
                    </div>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-yellow.svg" alt="">
                    </div>
                </div>
            </div>


            <!--Cusiana-->
            <div class="oc-mapa__location-modals oc-point-16 oc-mapa__yellow-02" data-target="#cusiana">
                <div class="oc-mapa__name-point-yellow">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-yellow.svg" alt="">
                    </div>
                    <div class="oc-mapa__info-item">
                        <span>CUSIANA</span>
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    </div>
                </div>
            </div>

            <!--Cupiagua-->
            <div class="oc-mapa__location-modals oc-point-17 oc-mapa__yellow-02" data-target="#cupiagua">
                <div class="oc-mapa__name-point-yellow">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-yellow.svg" alt="">
                    </div>
                    <div class="oc-mapa__info-item">
                        <span>CUPIAGUA</span>
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    </div>
                </div>
            </div>

            <!--Río Tua-->
            <div class="oc-mapa__tooltip oc-point-18">
                <span>Río Tua</span>
                <button type="button" class="oc-mapa__btn"></button>
            </div>

            <!--Río Chitamena-->
            <div class="oc-mapa__tooltip oc-point-19">
                <button type="button" class="oc-mapa__btn"></button>
                <span class="ml-3 ml-md-0">Río Chitamena</span>
            </div>

            <!--Río Surimena-->
            <div class="oc-mapa__tooltip oc-point-20">
                <span>Río Surimena</span>
                <button type="button" class="oc-mapa__btn"></button>
            </div>

            <!--Río Caja-->
            <div class="oc-mapa__tooltip oc-point-21">
                <span>Río Caja</span>
                <button type="button" class="oc-mapa__btn"></button>
            </div>

            <!--Río Cusiana-->
            <div class="oc-mapa__tooltip oc-point-22">
                <span>Río Cusiana</span>
                <button type="button" class="oc-mapa__btn"></button>
            </div>

            <!--Río Chiquito-->
            <div class="oc-mapa__tooltip oc-point-23">
                <span>Río Chiquito</span>
                <button type="button" class="oc-mapa__btn"></button>
            </div>

            <!--Río Unete-->
            <div class="oc-mapa__tooltip oc-point-24">
                <span>Río Unete</span>
                <button type="button" class="oc-mapa__btn"></button>
            </div>

            <!--Casanare-->
            <div class="oc-mapa__location-modals oc-point-25 oc-mapa__orange" data-target="#depto-casanare">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
            </div>

            <!--Indicador-->
            <div class="oc-mapa__indicator">
                <div class="oc-mapa__indicator-item">
                    <figure class="oc-indicator-yellow"></figure>
                    <span>Estación</span>
                </div>
                <div class="oc-mapa__indicator-item">
                    <figure class="oc-indicator-orange"></figure>
                    <span>Municipio</span>
                </div>
                <div class="oc-mapa__indicator-item">
                    <figure class="oc-indicator-green"></figure>
                    <span>Ambiental</span>
                </div>
                <div class="oc-mapa__indicator-item">
                    <figure class="oc-indicator-blue"></figure>
                    <span>Hidrografía</span>
                </div>
                <div class="oc-mapa__indicator-item">
                    <figure class="oc-indicator-purple"></figure>
                    <span>Social</span>
                </div>
            </div>

            <!--Statitics-->
            <div class="oc-mapa__stat d-none d-md-flex">
                <div class="oc-mapa__stat-segmentos">
                    <div class="oc-mapa__stat-header">
                        <img src="/img/icon-segmentos.svg" alt="">
                        <h5>Segmentos</h5>
                    </div>
                    <div class="oc-mapa__stat-body">
                        <div class="oc-mapa__stat-item-seg">
                            <div class="oc-tramo">
                                <p>Tramo</p>
                                <span>Cupiagua - Cusiana</span>
                            </div>
                            <div class="oc-distancia">
                                <p>Distancia</p>
                                <span><span class="roboto-medium number">39</span> Kilómetros</span>
                            </div>
                        </div>

                        <div class="oc-mapa__stat-item-seg">
                            <div class="oc-tramo oc-tramo-02">
                                <p>Tramo</p>
                                <span>Cusiana - El Porvenir</span>
                            </div>
                            <div class="oc-distancia">
                                <p>Distancia</p>
                                <span><span class="roboto-medium number">33</span> Kilómetros</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="oc-mapa__stat-altura">
                    <div class="oc-mapa__stat-header">
                        <img src="/img/icon-altura.svg" alt="">
                        <h5>Altura</h5>
                    </div>
                    <div class="oc-mapa__stat-item-altura">
                        <span class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="4.633" height="8.387"
                                viewBox="0 0 4.633 8.387">
                                <path id="Trazado_11919" data-name="Trazado 11919"
                                    d="M416,919.7l3.572,3.572L416,926.843" transform="translate(-415.377 -919.078)"
                                    fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="0.879" />
                            </svg>

                        </span>
                        <p>Cupiagua </p><span class="number">290 </span><span class="date">msnm</span>
                    </div>
                    <div class="oc-mapa__stat-item-altura">
                        <span class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="4.633" height="8.387"
                                viewBox="0 0 4.633 8.387">
                                <path id="Trazado_11919" data-name="Trazado 11919"
                                    d="M416,919.7l3.572,3.572L416,926.843" transform="translate(-415.377 -919.078)"
                                    fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="0.879" />
                            </svg>
                        </span>
                        <p>Cusiana </p><span class="number">460 </span><span class="date">msnm</span>
                    </div>
                    <div class="oc-mapa__stat-item-altura">
                        <span class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="4.633" height="8.387"
                                viewBox="0 0 4.633 8.387">
                                <path id="Trazado_11919" data-name="Trazado 11919"
                                    d="M416,919.7l3.572,3.572L416,926.843" transform="translate(-415.377 -919.078)"
                                    fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="0.879" />
                            </svg>
                        </span>
                        <p>El Porvenir </p><span class="number">500 </span><span class="date">msnm</span>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--Statitics Mobile-->
    <div class="oc-mapa__stat position-relative mobile__stat d-md-none">
        <div class="oc-mapa__stat-segmentos">
            <div class="oc-mapa__stat-header">
                <img src="/img/icon-segmentos.svg" alt="">
                <h5>Segmentos</h5>
            </div>
            <div class="oc-mapa__stat-body">
                <div class="oc-mapa__stat-item-seg">
                    <div class="oc-tramo">
                        <p>Tramo</p>
                        <span>Cupiagua - Cusiana</span>
                    </div>
                    <div class="oc-distancia">
                        <p>Distancia</p>
                        <span><span class="roboto-medium number">39</span> Kilómetros</span>
                    </div>
                </div>

                <div class="oc-mapa__stat-item-seg">
                    <div class="oc-tramo oc-tramo-02">
                        <p>Tramo</p>
                        <span>Cusiana - El Porvenir</span>
                    </div>
                    <div class="oc-distancia">
                        <p>Distancia</p>
                        <span><span class="roboto-medium number">33</span> Kilómetros</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="oc-mapa__stat-altura">
            <div class="oc-mapa__stat-header">
                <img src="/img/icon-altura.svg" alt="">
                <h5>Altura</h5>
            </div>
            <div class="oc-mapa__stat-item-altura">
                <span class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="4.633" height="8.387" viewBox="0 0 4.633 8.387">
                        <path id="Trazado_11919" data-name="Trazado 11919" d="M416,919.7l3.572,3.572L416,926.843"
                            transform="translate(-415.377 -919.078)" fill="none" stroke="#fff" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="0.879" />
                    </svg>
                </span>
                <p>Cupiagua </p><span class="number">290 </span><span class="date">msnm</span>
            </div>
            <div class="oc-mapa__stat-item-altura">
                <span class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="4.633" height="8.387" viewBox="0 0 4.633 8.387">
                        <path id="Trazado_11919" data-name="Trazado 11919" d="M416,919.7l3.572,3.572L416,926.843"
                            transform="translate(-415.377 -919.078)" fill="none" stroke="#fff" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="0.879" />
                    </svg>
                </span>
                <p>Cusiana </p><span class="number">460 </span><span class="date">msnm</span>
            </div>
            <div class="oc-mapa__stat-item-altura">
                <span class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="4.633" height="8.387" viewBox="0 0 4.633 8.387">
                        <path id="Trazado_11919" data-name="Trazado 11919" d="M416,919.7l3.572,3.572L416,926.843"
                            transform="translate(-415.377 -919.078)" fill="none" stroke="#fff" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="0.879" />
                    </svg>
                </span>
                <p>El Porvenir </p><span class="number">500 </span><span class="date">msnm</span>
            </div>
        </div>
    </div>
    <section class="oc-section-galeria">
        {{>../partials/galeria-territorio}}
    </section>
    <section class="oc-section-estamos">
        <div class="container">
            {{>../partials/estamos-section}}
        </div>
    </section>
</main>


{{>../partials/back-to-top}}

{{>../partials/footer}}