{{!-- Ancla --}}
<div id="top"></div>
{{>../partials/header title="Casanare" classPage="oc-index-casanare"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>../partials/menu-lateral}}
</div>

{{>../partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="main-casanare">
    <section class="oc-mapa oc-mapa-casanare position-relative">
        {{!-- Modal Map --}}
        
        <!-- Modal Departamento Casanare -->
        {{>../modals/casanare/aguazul}}


        <div class="oc-mapa__container">
            <img src="/img/mapa-casanare.png" alt="" class="oc-mapa__img">

            <!--Loma de los sabios-->
            <div class="oc-mapa__location-modals oc-point-01 oc-mapa__green">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Loma de los sabios</span>
                </div>
            </div>

            <!--Montrerrey-->
            <div class="oc-mapa__location-modals oc-point-02 oc-mapa__orange" data-region="casanare" data-city="monterrey">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>Monterey</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Comité de seguimiento-->
            <div class="oc-mapa__location-modals oc-point-03 oc-mapa__purple" data-toggle="modal"
                data-target="#comiteseguimiento">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-profile.svg" alt="">
                    </div>
                    <span>Comité de seguimiento</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Meseta Guichire-->
            <div class="oc-mapa__location-modals oc-point-04 oc-mapa__green">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Meseta Guichire</span>
                </div>
            </div>

            <!--Buena Vecindad-->
            <div class="oc-mapa__location-modals oc-point-05 oc-mapa__purple" data-toggle="modal"
                data-target="#buenavecindad">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-profile.svg" alt="">
                    </div>
                    <span>Buena Vecindad</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Clima-->
            <div class="oc-mapa__location-modals oc-point-06 oc-mapa__green" data-toggle="modal" data-target="#clima">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Clima</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Tauramena-->
            <div class="oc-mapa__location-modals oc-point-07 oc-mapa__orange" data-toggle="modal"
                data-target="#tauramena">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>Tauramena</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Hidrografía-->
            <div class="oc-mapa__location-modals oc-point-08 oc-mapa__blue" data-toggle="modal"
                data-target="#hidrografia">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-water.svg" alt="">
                    </div>
                    <span>Hidrografía</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Ecosistemas-->
            <div class="oc-mapa__location-modals oc-point-09 oc-mapa__green" data-toggle="modal"
                data-target="#ecosistemas">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Ecosistemas</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Farallones-->
            <div class="oc-mapa__location-modals oc-point-10 oc-mapa__green">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Farallones</span>
                </div>
            </div>

            <!--Banco de Hábitat-->
            <div class="oc-mapa__location-modals oc-point-11 oc-mapa__green" data-toggle="modal"
                data-target="#banco-habitat">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Banco de Hábitat</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Fauna-->
            <div class="oc-mapa__location-modals oc-point-12 oc-mapa__green" data-toggle="modal" data-target="#fauna">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Fauna</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Mujer y Desarrollo-->
            <div class="oc-mapa__location-modals oc-point-13 oc-mapa__purple" data-toggle="modal"
                data-target="#mujer-desarrollo">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-profile.svg" alt="">
                    </div>
                    <span>Mujer y Desarrollo</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Aguazul-->
            <div class="oc-mapa__location-modals oc-point-14 oc-mapa__orange" data-toggle="modal"
                data-target="#aguazul">
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>Aguazul</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--El porvenir-->
            <div class="oc-mapa__location-modals oc-point-15 oc-mapa__yellow" data-toggle="modal"
                data-target="#porvenir">
                <div class="oc-mapa__name-point-yellow">
                    <div class="oc-mapa__info-item">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                        <span>EL PORVENIR</span>
                    </div>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-yellow.svg" alt="">
                    </div>
                </div>
            </div>


            <!--Cusiana-->
            <div class="oc-mapa__location-modals oc-point-16 oc-mapa__yellow-02" data-toggle="modal"
                data-target="#cusiana">
                <div class="oc-mapa__name-point-yellow">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-yellow.svg" alt="">
                    </div>
                    <div class="oc-mapa__info-item">
                        <span>CUSIANA</span>
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    </div>
                </div>
            </div>

            <!--Cupiagua-->
            <div class="oc-mapa__location-modals oc-point-17 oc-mapa__yellow-02" data-toggle="modal"
                data-target="#cupiagua">
                <div class="oc-mapa__name-point-yellow">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-yellow.svg" alt="">
                    </div>
                    <div class="oc-mapa__info-item">
                        <span>CUPIAGUA</span>
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{{>../partials/back-to-top}}

{{>../partials/footer}}