{{!-- Ancla --}}
<div id="top"></div>

{{>../widgets-galeria/widget-galeria-foto__porvenir-bombeo}}

{{>../widgets-galeria/widget-galeria-foto__porvenir-almacenamiento}}

{{>../widgets-galeria/widget-galeria-video__porvenir-almacenamiento}}

{{>../partials/header title="Casanare - Estación Porvenir" classPage="oc-estaciones oc-cas-porvenir"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>../partials/menu-lateral}}
</div>

{{>../partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="main-cas-porvenir">
    

    <!-- Section 01 -->
    <section class="oc-widgets-section mt-5 pt-5">
        <div class="container">
            <div class="row">
                <!-- Widget principal -->
                <div class="col-12 col-md-4">
                    <div class="oc-card-widget oc-widget-principal">
                        <div class="oc-card-widget__body p-3">
                            <h2 class="oc-widget-principal__title mt-4">
                                <span class="oc-widget-principal__title__01">Estación</span><br>
                                <span class="oc-widget-principal__title__02">EL PORVENIR</span>
                            </h2>
                            <a href="#" class="oc-btn oc-btn-active mt-3">
                                <span class="oc-btn__arrow-left mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16.627" height="8.812"
                                        viewBox="0 0 16.627 8.812">
                                        <g id="Grupo_10211" data-name="Grupo 10211"
                                            transform="translate(1078.827 1388.831) rotate(180)">
                                            <path id="Path_4969" data-name="Path 4969" d="M1062.2,1384.467h15.7"
                                                fill="none" stroke="#fff" stroke-width="1.177" />
                                            <path id="Path_4970" data-name="Path 4970"
                                                d="M1074,1380.436l3.99,3.99-3.99,3.989" fill="none" stroke="#fff"
                                                stroke-width="1.177" />
                                        </g>
                                    </svg>
                                </span> Regresar a Casanare </span>
                            </a>
                            <div class="oc-widget-principal__leyend mt-4 text-center">
                                <h5 class="oc-widget-principal__leyend__text m-0"><span
                                        class="oc-widget-principal__leyend__text__01">Sector Sur <strng>/</strng></span> <span
                                        class="oc-widget-principal__leyend__text__02">Segmento 1</span></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Widget slider -->
                <div class="col-12 col-md-8">
                    <div class="oc-card-widget oc-widget-slider">
                        <div class="oc-card-widget__body">
                            <div class="oc-slick-widget__slider oc-slick-theme">
                                <div class="item">
                                    <img src="/img/1-slide-1.png" alt="" class="img-fluid">
                                </div>

                                <div class="item">
                                    <img src="/img/1-slide-2-min.jpg" alt="" class="img-fluid">
                                </div>

                                <div class="item">
                                    <img src="/img/1-slide-3-min.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 02 -->
    <section class="oc-widgets-section mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="oc-card-widget oc-widget-template wdg-la-estacion oc-card-estacion-porvenir"
                        id="wdg-la-estacion">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-la_estacion.svg" alt="">
                                <span>La estación</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-4">
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/estacion_porvenir.svg" alt="">
                                <div class="wdg-la-estacion__cont-text">
                                    <p>El porvenir es una estación de:</p>
                                    <ul class="oc-list-color">
                                        <li>Recibido</li>
                                        <li>Almacenamiento</li>
                                        <li>Despacho</li>
                                    </ul>
                                    <p class="variant-text-01">De los diferentes tipos de crudo.</p>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/rebombeo.svg" alt="">
                                <div class="wdg-la-estacion__cont-text">
                                    <p>Su ubicación <b>es clave para el rebombeo</b> de los crudos que llegan de Cusiana
                                        y líneas aferentes de:</p>
                                    <ul class="oc-list-normal">
                                        <li>Monterrey</li>
                                        <li>Altos de Porvenir</li>
                                        <li>Santiago</li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/barriles.svg" alt="">
                                <p>En la estación, los crudos se <b>organizan en lotes</b> (baches) y se despachan en
                                    tiempos y tamaños determinados, acorde a la programación de los remitentes.</b></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="oc-card-widget oc-widget-template wdg-ubicacion wdg-ubicacion__porvenir"
                        id="wdg-ubicacion">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-ubicacion.svg" alt="">
                                <span>Ubicación</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body wdg-banner wdg-banner__porvenir">
                            <div class="row">
                                <div class="col-12 col-md-9 wdg-banner__bg dragscroll">
                                    <img src="/img/2.ubicacion.jpg" alt="">
                                </div>
                                <div class="col-12 col-md-3 h-100 oc-bg-green py-3 wdg-banner__info">
                                    <p>Saliendo por la vía central de Monterrey, al norte, pasará por el puente del río
                                        Tua. Después, debe tomar la vía Porvenir para llegar a la estación.</b></p>

                                    <div
                                        class="wdg-banner__info__km d-flex align-items-center justify-content-center flex-wrap first-child">
                                        <img src="/img/altitud.svg" alt="">
                                        <div class="wdg-banner__info-location">
                                            <span class="number">
                                                500
                                            </span>
                                            <span class="km">
                                                m.s.n.m
                                            </span>
                                        </div>
                                        <p class="leyend text-center">
                                            Altitud
                                        </p>
                                    </div>

                                    <div
                                        class="wdg-banner__info__km d-flex align-items-center justify-content-center flex-wrap">
                                        <img src="/img/temperatura.svg" alt="">
                                        <span class="number">
                                            27°
                                        </span>
                                        <span class="km">
                                            C
                                        </span>
                                        <p class="leyend text-center">
                                            Temperatura promedio
                                        </p>
                                    </div>

                                    <div
                                        class="wdg-banner__info__km wdg-banner__info__km__02 d-flex align-items-center justify-content-center flex-wrap">
                                        <img src="/img/estacion_rio.svg" alt="">
                                        <span class="number">
                                            XX
                                        </span>
                                        <span class="km">
                                            Km
                                        </span>
                                        <p class="leyend text-center">
                                            El recorrido dura unos 20 minutos (11.2 km aproximadamente).<br> 21 minutos
                                            11.2 km

                                        </p>
                                    </div>
                                    <a href="https://www.google.com/maps/search/estacion+cusiana+ocensa+tauramena/@5.0013687,-72.707392,1949m/data=!3m1!1e3 "
                                        target="_blank" class="oc-btn oc-btn-active mt-3">
                                        </span> Ir al mapa </span>
                                        <span class="oc-btn__arrow-right ml-2">
                                            <img src="/img/button-arrow-right.svg" alt="">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 03 -->
    <section class="oc-widgets-section mt-4" id="wdg-section-03">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="oc-card-widget oc-widget-template wdg-almacenamiento oc-porvenir__almacenamiento"
                        id="wdg-almacenamiento">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-almacenamiento.svg" alt="">
                                <span>Almacenamiento</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="row oc-porvenir__row">
                            <!--item-->
                            <div class="oc-porvenir__almacenamiento-item">
                                <div class="oc-widget-template__body text-center">
                                    <div class="d-flex align-items-center c-blue-light justify-content-center item-01">
                                        <span class="oc-number-medium mr-2">
                                            2
                                        </span>
                                        <span class="roboto-medium span-2">
                                            Tanques
                                        </span>
                                    </div>
                                    <div class="item-02">
                                        <img src="/img/icon_territorio_el_porvenir_almacenamiento_tanques_crudo_pesado_mezcla.svg"
                                            alt="" class="item-02__img">
                                        <p class="roboto-bold">Capacidad</p>
                                        <span class="roboto-medium c-blue-light">50.000</span>
                                        <p class="roboto-bold">BARRILES C/U</p>
                                        <img src="/img/wdg-arrow-down.svg" alt="">
                                        <span class="badge d-block m-auto">Crudo pesado</span>
                                    </div>
                                </div>
                            </div>

                            <!--item-->
                            <div class="oc-porvenir__almacenamiento-item">
                                <div class="row">
                                    <div class="oc-widget-template__body text-center">
                                        <div
                                            class="d-flex align-items-center c-blue-light justify-content-center item-01">
                                            <span class="oc-number-medium mr-2">
                                                2
                                            </span>
                                            <span class="roboto-medium span-2">
                                                Tanques
                                            </span>
                                        </div>
                                        <div class="item-02">
                                            <img src="/img/icon_territorio_el_porvenir_almacenamiento_tanques_crudo_pesado_mezcla.svg"
                                                alt="" class="item-02__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">50.000</span>
                                            <p class="roboto-bold">BARRILES</p>
                                            <img src="/img/wdg-arrow-down.svg" alt="">
                                            <span class="badge d-block m-auto">Crudo pesado</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--item-->
                            <div class="oc-porvenir__almacenamiento-item">
                                <div class="row">
                                    <div class="oc-widget-template__body text-center">
                                        <div
                                            class="d-flex align-items-center c-blue-light justify-content-center item-01">
                                            <span class="oc-number-medium mr-2">
                                                1
                                            </span>
                                            <span class="roboto-medium span-2">
                                                Tanque
                                            </span>
                                        </div>
                                        <div class="item-02">
                                            <img src="/img/icon_territorio_el_porvenir_almacenamiento_tanque_crudo_mezcla.svg"
                                                alt="" class="item-03__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">60.000</span>
                                            <p class="roboto-bold">BARRILES</p>
                                            <img src="/img/wdg-arrow-down.svg" alt="">
                                            <span class="badge d-block m-auto">Crudo pesado</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- item-->
                            <div class="oc-porvenir__almacenamiento-final">
                                <div class="row oc-porvenir__almacenamiento-final-item">
                                    <p>Almacenamiento total para crudo mezcla</p>
                                    <div class="oc-porvenir__img-almacenamiento">
                                        <img src="/img/icon_territorio_el_porvenir_almacenamiento_tanque_almacenamiento_total.svg"
                                            alt="">
                                    </div>
                                    <div class="oc-porvenir__data-number">
                                        <span class="number">160.000</span>
                                        <span class="text">BARRILES</span>
                                    </div>
                                </div>

                                <div class="row oc-porvenir__almacenamiento-final-item">
                                    <p>Almacenamiento total para crudo pesado</p>
                                    <div class="oc-porvenir__img-almacenamiento">
                                        <img src="/img/icon_territorio_el_porvenir_almacenamiento_tanque_almacenamiento_total.svg"
                                            alt="">
                                    </div>
                                    <div class="oc-porvenir__data-number">
                                        <span class="number">100.000</span>
                                        <span class="text">BARRILES</span>
                                    </div>
                                </div>

                                <div class="oc-porvenir__modal-button">
                                    <button class="oc-widget-galeria__link" data-widget="#widget-galeria-foto__porvenir-almacenamiento">Ver fotos <img src="/img/icon-camara.svg" alt=""></button>
                                    <button class="oc-widget-galeria__link" data-widget="#widget-galeria-video__porvenir-almacenamiento">Ver videos <img src="/img/video.svg" alt=""></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 04 -->
    {{>../partials/porv-section-04}}
    
    <!-- Section 04 -->
    <section class="oc-widgets-section mt-4" id="wdg-section-04">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="oc-card-widget oc-widget-template wdg-personal wdg-bombeo wdg-personal-porvenir" id="wdg-personal">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-personal.svg" alt="">
                                <span>Personal</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2">
                            <div class="oc-porvenir__personal">

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/diego-guzman.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Diego Guzmán</h5>
                                        <p>Superintendente<br>Sector 1</p>
                                        <div class="oc-porvenir__personal-team dragscroll">
                                            <div class="oc-porvenir__personal-scroll">
                                                <img src="/img/sin-foto-personal.png" alt="">
                                                <img src="/img/elkin-orjuela.png" alt="">
                                                <img src="/img/sin-foto-personal.png" alt="">
                                                <img src="/img/sin-foto-personal.png" alt="">
                                                <img src="/img/sin-foto-personal.png" alt="">
                                                <img src="/img/sin-foto-personal.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/hugo-garcia.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Hugo García</h5>
                                        <p>Superintendente de línea y mantenimiento mayor sur </p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/sin-foto-personal.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Januario Barbosa</h5>
                                        <p>Jefe sector</p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item oc-porvenir__personal-item-02">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/sin-foto-personal.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Ray Ramirez</h5>
                                        <p>Profesional de Emergencias y contingencias</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="oc-card-widget oc-widget-template wdg-demografico wdg-bombeo" id="wdg-demografico">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_demografico_icono_menu.svg" alt="">
                                <span>Demográfico</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2">
                            <div class="wdg-demografico__car oc-slick-theme_2">

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">TRABAJADORES EN ESTACIÓN</h3>
                                    <img src="/img/grafica-demografico-01.svg" alt="" class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item">
                                            <p>Total trabajadores en estación</p>
                                            <span>85</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-blue">Ocensa</p>
                                            <span>23</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-grey">Contratistas</p>
                                            <span>62</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">MUJERES Y HOMBRES</h3>
                                    <img src="/img/grafica-demografico-02.svg" alt="" class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item">
                                            <p>Total trabajadores Ocensa</p>
                                            <span>23</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-blue">Mujeres</p>
                                            <span>10</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-grey">Hombres</p>
                                            <span>13</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">GENERACIONES</h3>
                                    <img src="/img/grafica-demografico-03.svg" alt="" class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-green">Generación Z</p>
                                            <span>00</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-blue">Generación Y</p>
                                            <span>00</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-yellow">Generación X</p>
                                            <span>00</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-grey">Generación Baby boomers</p>
                                            <span>00</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="oc-card-widget oc-widget-template wdg-onda" id="wdg-onda">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_seguridad_icono_menu.svg" alt="">
                                <span>ONDA</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2">
                            <p>Alerta temprana de la Defensoría del Pueblo sobre la circulación de panfletos bajo el rótulo de Autodefensas Gaitanistas de Colombia en los municipios de Sácama, La Salina, Támara, Yopal y Aguazul en Casanare.</p>
                            <img src="/img/icon_territorio_el_porvenir_seguridad_alerta_defensoria.svg" alt="" class="wdg-onda__img">
                            <div class="wdg-onda__cont-btn">
                                <a href="#" class="oc-btn">Ir al boletín ONDA
                                    <span class="before-left">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15.671" height="8.786" viewBox="0 0 15.671 8.786">
                                            <g id="Grupo_650" data-name="Grupo 650" transform="translate(0 0.403)">
                                                <path id="Path_4969" data-name="Path 4969" d="M1062.2,1384.467h14.771" transform="translate(-1062.2 -1380.436)" fill="none" stroke="#fff" stroke-width="2"/>
                                                <path id="Path_4970" data-name="Path 4970" d="M1074,1380.436l3.755,3.99-3.755,3.989" transform="translate(-1062.896 -1380.436)" fill="none" stroke="#fff" stroke-width="2"/>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="oc-card-widget oc-widget-template wdg-clima wdg-clima-porvenir" id="wdg-clima">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-clima.svg" alt="">
                                <span>Clima</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-slick-theme oc-slick-clima-card p-0">

                            <div class="slick-item">
                                <div class="oc-widget-template__body p-3">
                                    <p class="roboto-bold oc-clima-title">Tauramena, Casanare</p>
                                    <div class="item-01 d-flex align-items-center flex-wrap">
                                        <div class="item-01__text">
                                            <span class="item-01__text__day d-block c-blue-light">Sábado</span>
                                            <span class="item-01__text__temp oc-number-large c-blue-light">26°</span>
                                        </div>
                                        <div class="item-01__img">
                                            <img src="/img/clima.svg" alt="">
                                        </div>
                                        <p class="w-100 roboto-bold mb-0">Showers in te Vicinity</p>
                                        <hr class="w-100 my-2">
                                    </div>
                                    <div class="item-02">
                                        <p class="roboto-light mb-0">24% chance of rain through 12 p.m.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="oc-card-widget oc-widget-template wdg-seguridad mt-4" id="wdg-seguridad">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_seguridad_hse_icono_menu.svg" alt="">
                                <span>Seguridad HSE</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2">
                            <div class="wdg-seguridad__item">
                                <span class="oc-number">852</span>
                                <p class="text-center">Días sin incidentes</p>
                            </div>
                            <div class="wdg-seguridad__cont-btn">
                                <a href="#" class="oc-btn">Ir al boletín ONDA
                                    <span class="before-left">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15.671" height="8.786" viewBox="0 0 15.671 8.786">
                                            <g id="Grupo_650" data-name="Grupo 650" transform="translate(0 0.403)">
                                                <path id="Path_4969" data-name="Path 4969" d="M1062.2,1384.467h14.771" transform="translate(-1062.2 -1380.436)" fill="none" stroke="#fff" stroke-width="2"/>
                                                <path id="Path_4970" data-name="Path 4970" d="M1074,1380.436l3.755,3.99-3.755,3.989" transform="translate(-1062.896 -1380.436)" fill="none" stroke="#fff" stroke-width="2"/>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



    {{>../partials/porv-section-06}}


     <!-- Section 07 -->
    {{>../partials/porv-section-07}}    

</main>


{{>../partials/back-to-top}}

{{>../partials/footer}}