{{!-- Ancla --}}
<div id="top"></div>
{{>../partials/header title="Casanare - Estación Cupiagua" classPage="oc-estaciones oc-cas-cupiagua"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>../partials/menu-lateral}}
</div>

{{>../partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="main-cas-cupiagua">
    
</main>


{{>../partials/back-to-top}}

{{>../partials/footer}}