<div class="oc-custom-modal-map" id="clima-santander">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/vmodal-titulo_clima.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Clima</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/clima-santander.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    La posición geográfica y su variado relieve definen las características climatológicas del
                    departamento. Cuando se pasa de los 100 m.s.n.m., en las orillas del río Magdalena, a cotas de 4.200
                    m.s.n.m. aparece una diversidad de climas y microclimas en cuatro pisos térmicos básicos: cálido,
                    medio, frío y páramo.
                </p>

                <p>
                    Si lo que busca es calor, el noroccidente del departamento en los municipios de Sabana, Puerto
                    Wilches y Barrancabermeja, y en general las riberas del Magdalena, registran temperaturas cálidas
                    superiores a los 28°C. Las temperaturas medias pueden presentarse en la parte baja de las cuencas de
                    los ríos Sogamoso, Fonce y Chicamocha. A lo largo de los límites con Norte de Santander, las
                    temperaturas bajan considerablemente registrando valores inferiores a los 8°C.
                </p>
            </div>
        </div>
    </div>
</div>