<div class="oc-custom-modal-map" id="comunidades-mejor-vivienda">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/vmodal-titulo_comunidades.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Comunidades</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__desc text-left">
                {{!-- Item 1 --}}
                <h5 class="roboto-light c-green mb-3">Una mejor vivienda contribuye a una mejor familia</h5>
                <p>
                    Las condiciones de vivienda son un aspecto muy importante para el desarrollo de una familia. Cuando
                    se mejoran los servicios sanitarios, la cocina o las habitaciones estamos influyendo directamente en
                    la reducción de los indicadores de pobreza.
                </p>

                <p>
                    En 2020 iniciamos el proyecto de mejoramiento de vivienda en Florián, Santander. 90 familias se
                    beneficiaron con unidades sanitarias y habitaciones que contribuyeron a mejorar sus condiciones de
                    vida. Cuando se mejora una habitación, se disminuye el hacinamiento, factor que tiene un impacto
                    importante en la calidad de vida de un grupo familiar.
                </p>

                <p>
                    La construcción completa de vivienda es otra línea de proyecto que desarrollamos en 2019 en el
                    municipio La Belleza, en Santander. Allí, construimos 24 viviendas prefabricadas que beneficiaron a
                    personas ubicadas en zonas de riesgo.
                </p>

                <p>
                    El proyecto de mejoramiento de vivienda no solo se enfoca en la estructura física; también, busca
                    fortalecer el núcleo familiar para potencializar los sueños de las personas y con ello transformar
                    vidas. Asimismo, sensibilizamos sobre la sostenibilidad ambiental vista desde una vivienda saludable
                    y cómo las personas que habitan la vivienda pueden generar un impacto negativo o positivo en el
                    medio ambiente.
                </p>

                <p>
                    Mejorar una vivienda, es fortalecer una familia a través de la cual estamos ampliando las
                    posibilidades de un mejor relacionamiento con la comunidad y desarrollo de la misma.
                </p>
            </div>
        </div>
    </div>
</div>