<div class="oc-custom-modal-map" id="ecosistema-santander">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/vmodal-titulo_ecosistema.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Ecosistema</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/ecosistema-1-santander.jpg" alt="" class="img-fluid">
                </div>
                <div class="item">
                    <img src="/img/ecosistema-2-santander.jpg" alt="" class="img-fluid">
                </div>
                <div class="item">
                    <img src="/img/ecosistema-3-santander.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    El Magdalena Medio santandereano cuenta con humedales localizados en la región del valle medio del
                    río Magdalena principalmente en las llanuras de inundación (100 m.s.n.m. aprox.): al sur, en el
                    municipio de Cimitarra; y al norte, en el municipio de Puerto Wilches.
                </p>

                <p>
                    Según datos de la Corporación Autónoma Regional de Santander, la zona del Magdalena Medio incluye 69
                    humedales distribuidos en 7 municipios. El municipio con mayor número de humedales es Puerto Wilches
                    con 36 unidades, además comparte 8 humedales con Sabana de Torres. En Barrancabermeja se
                    identificaron 11 humedales, en Simacota uno compartido con Barrancabermeja, en Puerto Parra 8, en
                    Cimitarra 12 y finalmente en el municipio de Bolívar se encontró un humedal.
                </p>

                <p>
                    En la zona montañosa del departamento se destaca el páramo de Almorzadero en el cual se encuentra el
                    complejo “Lagunas-Turberas”, importante por su capacidad para almacenar agua y regular los flujos
                    hídricos.
                </p>
            </div>
        </div>
    </div>
</div>