<div class="oc-custom-modal-map" id="entrada-salida-oleoducto-santander">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/entrada_salida_oleoducto-puertoserviez.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">La entrada y salida del <br> oleoducto en Santander</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/entradaysalida-oleoducto1.jpg" alt=""
                        class="img-fluid">
                </div>
                <div class="item">
                    <img src="/img/entradaysalida-oleoducto2.jpg" alt=""
                        class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    Al cruzar el límite que divide a los departamentos de Boyacá y Santander, en el kilómetro 180 del
                    oleoducto, aparece el río Suárez, que riega la provincia de Vélez, una región de clima templado y
                    seco, reconocida por su rico folclor, su música y su industria agrícola, especialmente por el
                    cultivo de la guayaba y la elaboración del bocadillo. En la parte más alta de la provincia están los
                    paisajes de ensueño de los municipios de Florián y La Belleza, en este último se encuentra la
                    estación de Ocensa.
                </p>

                <p>
                    Bajando la cordillera, entramos brevemente al departamento de Boyacá, por la región esmeraldífera de
                    Otanche y la serranía de Las Quinchas, para desembocar al valle del Magdalena. Las selvas húmedas
                    tropicales y las ciénagas de la cuenca media del Río Grande de Nuestra Señora de la Magdalena, como
                    se bautizó originalmente esta columna vertebral de nuestro país, se extienden por el Nordeste de
                    Antioquia, Sur de Bolívar y el Bajo Cauca antioqueños, entre las estribaciones de la cordillera
                    Central y la serranía de San Lucas.
                </p>
            </div>
        </div>
    </div>
</div>