<div class="oc-custom-modal-map" id="paramo-santurban">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/paramo-santurban.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Páramo de Santurbán</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/paramo_santurban.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    Ubicado en la parte alta de la cordillera Oriental, entre los departamentos de Santander y Norte de
                    Santander, tiene una extensión cercana a las 142.000 hectáreas y comprende alturas entre los 2.800 y
                    los 4.290 m.s.n.m. Este macizo montañoso se destaca por la diversidad y belleza de su fauna, además
                    de ser el origen de varias fuentes hídricas que abastecen de agua a las poblaciones de la región,
                    incluida Bucaramanga, y a la central termoeléctrica Tasajero en Norte de Santander. <br><br>

                    El suelo del páramo está divido en cuatro clases:
                    <ul class="oc-est-modal__body__desc__list">
                        <li>Vegetación de páramo (50.3% del área)</li>
                        <li>Bosques andinos (27.1% del área)</li>
                        <li>Tierras agropecuarias mixtas y otro espacio intervenido (22.5% del área). Esta clase incluye las zonas de minería principalmente en los municipios Vetas y California.</li>
                        <li>Humedales (0.1% del área).</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>