<div class="oc-custom-modal-map" id="serrania-las-quinchas">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/paramo-santurban.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Serranía Las Quinchas</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/serrania-las-quinchas-1.jpg" alt="" class="img-fluid">
                </div>
                <div class="item">
                    <img src="/img/serrania-las-quinchas-2.jpg" alt="" class="img-fluid">
                </div>
                <div class="item">
                    <img src="/img/serrania-las-quinchas-3.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    La serranía hace parte de la Reserva Forestal las Quinchas. Son aproximadamente 30.000 hectáreas que
                    incluyen parte de los departamentos de Santander, Boyacá y Cundinamarca. Es importante por la
                    variedad de fauna y fauna, y por sus especies endémicas como: anfibios, reptiles, mamíferos y aves.
                    Es considerada por algunos como la segunda reserva de biodiversidad más grande de Latinoamérica,
                    justo después de Amazonas.
                </p>
            </div>

            <div class="oc-est-modal__body__info-items row text-center">
                <div class="item col-6 p-0">
                    <img src="/img/ecosistema-info.svg" alt="" class="item__img">
                    <h3 class="item__title">Selva Húmeda Tropical</h3>
                    <h5 class="item__sub-title">Ecosistema</h5>
                </div>

                <div class="item col-6 p-0">
                    <img src="/img/icon_ventana_modal_municipio_paez_altitud.svg" alt="" class="item__img">
                    <h3 class="item__title">300-1.500</h3>
                    <h5 class="item__sub-title">m.s.n.m. / Altitud</h5>
                </div>
            </div>
        </div>
    </div>
</div>