<div class="oc-custom-modal-map" id="mun-puerto-berrio">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/icon-modals-mun-antioquia.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Municipio Puerto Berrio</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/7_municipio_puerto_berrio.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left mb-5">
                <p>
                    Al oriente, con el río Magdalena como límite entre Antioquia y Santander, se encuentra Puerto
                    Berrio. Su puerto, sobre el río Magdalena, tiene una larga historia comercial y de vía fluvial por
                    medio de la cual se han transportado equipos y materiales para megaproyectos y productos de consumo
                    para la región.
                </p>

                <p>
                    Con grandes predios dedicados a la cría de ganado de levante, la ganadería es el principal sector
                    económico del municipio. La agricultura no es muy importante, sin embrago se produce yuca, caña de
                    azúcar, frutales, maíz y limón. No existe una estructura de comercialización relacionada con la
                    pesca que, en su totalidad, es artesanal.
                </p>

                <p>
                    Para atender con rapidez posibles emergencias relacionadas con nuestra operación, contamos con una
                    base en el municipio que nos permite llegar a cualquier sitio del oleoducto en menos de 12 horas.
                </p>
            </div>

            <div class="oc-est-modal__body__info-items row text-center">
                <div class="item col-6 p-0">
                    <img src="/img/icon_ventana_modal_departamento_boyaca_superficie.svg" alt="" class="item__img">
                    <h3 class="item__title">1.184 <span class="small-text">Km2</span></h3>
                    <h5 class="item__sub-title">Superficie</h5>
                    <hr>
                </div>

                <div class="item col-6 p-0">
                    <img src="/img/icon_ventana_modal_departamento_boyaca_habitantes.svg" alt="" class="item__img">
                    <h3 class="item__title">39.314 <span class="small-text">Habitantes</span></h3>
                    <h5 class="item__sub-title">(Censo 2018)</h5>
                    <hr>
                </div>

                <div class="item col-6 p-0">
                    <img src="/img/icon_ventana_modal_municipio_paez_altitud.svg" alt="" class="item__img">
                    <h3 class="item__title">125 <span class="small-text">m.s.n.m.</span></h3>
                    <h5 class="item__sub-title">Altitud</h5>
                </div>

                <div class="item col-6 p-0">
                    <img src="/img/icon_ventana_modal_municipio_paez_temperatura.svg" alt="" class="item__img">
                    <h3 class="item__title">29°C</h3>
                    <h5 class="item__sub-title">Temperatura</h5>
                </div>
            </div>

            <div class="text-center">
                <a href="http://www.puertoberrio-antioquia.gov.co/" class="oc-btn mt-3 oc-btn__green" target="_blank">
                    <span>Ir al municipio</span>
                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                </a>
            </div>
        </div>
    </div>
</div>