#subheader-ayuda
    .oc-img-header__title-p
        display: none
    .oc-img-header__title-s
        position: relative
        &::before
            content: ""
            position: absolute
            background-color: #19A500 !important
            bottom: 0
            left: 0
            width: 85px
            height: 4px
            top: 95px
    
    .d-lg-none
        display: block !important