#subheader-ayuda
    .oc-img-header__title-p
        display: none
    .oc-img-header__title-s
        position: relative
        font-family: 'roboto-bold', sans-serif
        &::before
            content: ""
            position: absolute
            background-color: #19A500 !important
            bottom: 0
            left: 0
            width: 85px
            height: 6px
            top: 90px
    
    .d-lg-none
        display: block !important

    .oc-img-header__caption
        top: 40%
    
    .oc-submenu-gen__cont-nav
        display: none !important