#box-widget-mobile
    max-width: 480px
    width: 100%
    border: 1px solid rgba(#707070,.4 )
    .box-widget-mobile-cont
        width: 100%
        &__top-bar
            padding: 1em
            text-align: center
            span
                color: white
        &__widgets
            display: block
            width: 100%
            background-color: white
            padding: 1em
            text-align: center
            hr
                width: 90%
                color: #505D6C
            &__item
                text-align: center
            &__icons
                text-align: center