.oc-mapa
    &__number-location
        position: absolute
        border: 1px solid #BFBFBF
        background-color: white !important
        width: 12px
        height: 12px
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        span
            font-size: 9px !important
            color: #223260 !important
            line-height: 1em
            font-family: 'roboto-black' !important
.oc-mapa-boyaca
    .oc-mapa__line
        top: -69px
        right: 151px
        width: 352px
    .oc-mapa__location-modals-02
        .oc-mapa__name-point
            padding-right: 0
            padding-left: .5em
            span
                line-height: 1em
            .oc-mapa__img-icon
                margin-left: .5em
    .oc-mapa__location-modals
        .oc-mapa__name-point
            span
                line-height: 1em
    .oc-mapa__tooltip
        span
            line-height: 1em 
        button
            width: 9px
            height: 9px
    .oc-point-26
        left: 174px
        top: 222px
    .oc-point-27
        left: 235px
        top: 319px
    .oc-point-28
        left: 322px
        top: 240px
    .oc-point-29
        left: 388px
        top: 411px
    .oc-point-30
        left: 404px
        top: 123px
        .oc-mapa__name-point
            left: -70px
    .oc-point-31
        left: 427px
        top: 155px
        .oc-mapa__name-point
            left: -80px
    .oc-point-32
        left: 508px
        top: 67px
        .oc-mapa__name-point
            left: -70px
    .oc-point-33
        left: 508px
        top: 504px
    .oc-point-34
        left: 530px
        top: 296px
        .oc-mapa__name-point
            left: -130px
    .oc-point-35
        left: 576px
        top: 457px
        .oc-mapa__name-point
            left: -120px
    .oc-point-36
        left: 597px
        top: 341px
        .oc-mapa__name-point
            left: -75px
    .oc-point-37
        left: 628px
        top: 310px
    .oc-point-38
        left: 635px
        top: 388px
        .oc-mapa__name-point
            left: -105px
    .oc-point-39
        left: 679px
        top: 349px
    .oc-point-40
        left: 693px
        top: 421px
    .oc-point-41
        left: 704px
        top: 213px
    .oc-point-42
        left: 698px
        top: 280px
    .oc-point-43
        left: 704px
        top: 511px
        .oc-mapa__name-point
            left: -87px
    .oc-point-44
        left: 818px
        top: 534px
    .oc-point-45
        left: 857px
        top: 656px
    .oc-point-46
        left: 866px
        top: 396px
    .oc-point-47
        left: 898px
        top: 301px
    .oc-point-48
        left: 983px
        top: 445px
    .oc-point-49
        left: 1220px
        top: 386px
        .oc-mapa__name-point
            left: -139px
            width: 166px
    .oc-point-50
        left: 963px
        top: 49px
    .oc-point-51
        left: 323px
        top: 89px
    .oc-point-52
        left: 549px
        top: 95px
    .oc-point-53
        left: 657px
        top: 381px
    .oc-point-54
        left: 704px
        top: 478px
    .oc-point-55
        left: 745px
        top: 582px
    .oc-point-56
        display: block
        left: 256px
        top: 139px
    .oc-point-57
        left: 472px
        top: 154px
    .oc-point-58
        left: 528px
        top: 158px
    .oc-point-59
        display: block
        left: 598px
        top: 147px
    .oc-point-60
        display: block
        left: 558px
        top: 260px
    .oc-point-61
        display: block
        left: 496px
        top: 362px
    .oc-point-62
        display: block
        left: 609px
        top: 414px
    .oc-point-63
        left: 577px
        top: 307px
    .oc-point-64
        display: block
        left: 683px
        top: 565px
    .oc-point-65
        display: block
        left: 788px
        top: 674px
    .oc-point-66
        display: block
        left: 518px
        top: 50px
    .oc-point-67
        display: block
        left: 543px
        top: 77px
    .oc-point-68
        display: block
        left: 552px
        top: 88px
    .oc-point-69
        display: block
        left: 329px
        top: 165px