.oc-img-search
    .oc-img-item
        background-color: white
        box-sizing: border-box
    &__img
        width: 100%
        height: 177px
        overflow: hidden
        img
            width: 100%
            height: 100%
            object-fit: cover
    &__desc
        h2
            font-family: 'roboto-regular', sans-serif
            font-size: 18px
        p
            font-family: 'helvetica', sans-serif
            font-size: 16px
            color: #505D6C
    &__aux-desc
        button
            background-color: #B4BEC5
            border: none
            height: 18px
            transition: $tr
            &:hover
                background-color: black
            span
                color: white
                font-family: 'roboto-c-bold', sans-serif
                font-size: 10px
        .img-download
            width: 20px
            height: 20px

@include media-breakpoint-down(md)
    .oc-img-search
        &__desc
            padding: 1em
        &__aux-desc
            padding: 1em

@include media-breakpoint-down(sm)
    .oc-img-search
        .oc-img-item
            margin-bottom: 1em