.search
    .oc-item-notices
        &__cont
            &__desc
                .oc-category
                    transition: $tr
                    &:hover
                        background-color: black
                h2
                    transition: $tr
                    &:hover
                        color: $green_co
        
.btn-view
    a
        transition: $tr
        &:hover
            color: $green_co
            opacity: 1 !important