.wdg-la-estacion
    &__cont-text
        .oc-list-color
            list-style: none
            padding-left: 2.2em
            margin-top: .5em
            li
                color: $green_co
                font-family: 'lato-bold'
                font-size: 12px
                position: relative
                &::before
                    content: ''
                    position: absolute
                    top: 5px
                    left: -20px
                    width: 8px
                    height: 8px
                    border: 1px solid $green_co
                    border-radius: 50%
        .oc-list-normal
            list-style: none
            padding-left: 2.2em
            margin-top: .5em
            li
                color: $gray_co
                font-family: 'helvetica-light'
                font-size: 12px
                position: relative
                &::before
                    content: ''
                    position: absolute
                    top: 5px
                    left: -20px
                    width: 8px
                    height: 8px
                    border: 1px solid $green_co
                    border-radius: 50%
        .variant-text-01
            text-transform: uppercase
            font-size: 9px !important
            font-family: 'roboto-bold'
.oc-card-estacion-porvenir
    height: 100%
.wdg-banner__porvenir
    .wdg-banner__info__km
        border-bottom: 1px solid rgba(255, 255, 255, 0.3)
        img
            width: 50%
        &__02
            border: none !important
    .wdg-banner__info-location
        width: 50%
        span
            line-height: 1em
.oc-porvenir
    &__row
        margin: 0
    &__almacenamiento-item
        width: 20%
        margin-top: 2em
        .row
            margin: 0
        .oc-widget-template__body
            padding: 0 1em
            width: 100%
            border-right: 1px solid rgba(#505D6C, .29 )
            .item-02__img
                width: 121px
                margin-bottom: 1em
            .item-03__img
                width: 65px
                margin-bottom: 1em
            .c-blue-light
                line-height: 1.7em
                margin-bottom: .8em
    &__almacenamiento-final
        margin-top: 2em
        width: 40%
        padding: 0 1em
        .row
            margin: 0
            background-color: #F2F2F2
            padding: 1.2em 2em
            border-radius: 12px
            align-items: center
            margin-bottom: 1em
            p
                font-size: 15px
                font-family: 'roboto-c-regular'
                color: $gray_co
                padding-left: 1em
                position: relative
                margin-bottom: 0
                flex: auto
                width: 33%
                &::before
                    content: ''
                    position: absolute
                    left: 0
                    top: 4px
                    width: 10px
                    height: 10px
                    border: 2px solid $blue_light_co
                    border-radius: 50%
            .oc-porvenir__img-almacenamiento
                width: 30%
                text-align: center
            img
                width: 65px
                height: auto
            .oc-porvenir__data-number
                text-align: center
                .number
                    font-size: 24px
                    font-family: 'lato-bold'
                    color: $blue_light_co
                    display: block
                .text
                    font-size: 14px
                    color: #95A6B1
                    font-family: 'roboto-bold'
    &__modal-button
        text-align: center
        button
            background-color: $blue_light_co
            color: white
            font-size: 10px
            font-family: 'cabin-bold'
            border: none
            border-radius: 15px
            padding: .2em 1.5em
            display: inline-flex
            align-items: center
            img
                margin-left: .5em
    &__personal
        position: relative
        padding-left: 1em
        &::before
            content: ''
            position: absolute
            top: 20px
            left: 0
            background-color: $blue_light_co
            width: 2px
            height: 90%
        &-item
            display: flex
            position: relative
            margin-bottom: 2em
            &:last-child
                margin-bottom: 1em
            &::before
                content: ''
                position: absolute
                width: 16px
                height: 2px
                background-color: $blue_light_co
                left: -16px
                top: 19px
        &-item-02
            &::after
                content: ''
                position: absolute
                width: 16px
                height: 75px
                background-color: white
                left: -16px
                top: 21px
        &-avatar
            width: 45px
            height: 45px
            overflow: hidden
            border-radius: 50%
            border: 1px solid $blue_light_co
            img
                width: 100%
                height: 100%
                object-fit: cover
        &-info
            padding-left: .6em
            padding-top: .5em
            width: 75%
            overflow: hidden
            h5
                font-size: 15px
                font-family: 'roboto-c-regular'
                margin: 0
            p
                font-size: 13px
                font-family: 'roboto-light'
                margin: 0
                line-height: 1.2em
                color: #2B5CDA
        &-team
            margin-top: .7em
            overflow: scroll
            &::-webkit-scrollbar
                display: none
        &-scroll
            width: 300px
            img
                width: 35px
                height: 35px
                border: 1px solid $blue_light_co
                border-radius: 50%
                object-fit: cover
                margin-right: .6em
.wdg-personal-porvenir
    height: 100% !important

.wdg-clima-porvenir
    height: 305px !important
    .oc-clima-title
        margin: 0
    .slick-dots
        top: auto
        bottom: 19px
        position: relative
        left: 0

#wdg-seguridad
    .oc-btn
        &:hover
            color: white

.item-viaje
    .oc-btn
        .flecha-ocensa
            transform: translateY(-2px)
@import est-porvenir-06
@import est-porvenir04
@import est-porvenir07
