// wdg-section-03
#wdg-section-03
    .oc-widget-template
        height: 375px

#main-cas-cupiagua #wdg-section-04
    .oc-widget-template
        height: 350px

#main-cas-cupiagua
    #wdg-bombeo
        .item-02
            .oc-box-dato
                height: 122px
    #wdg-como-llegar
        .oc-box-dato
            height: 202px

@include media-breakpoint-only(md)
    .wdg-banner__bg
        img
            height: 432px !important
    .oc-est-casanare #wdg-clima
        margin-top: 0px !important
    #wdg-ubicacion
        margin-top: 0px !important

@include media-breakpoint-down(md)
    #wdg-section-04 #wdg-clima
        height: auto !important
    #wdg-section-04 #wdg-como-llegar
        height: auto !important