#main-boy-paez
    #est-paez-la-estacion
        .oc-text-esp-2
            font-family: 'roboto-light', sans-serif
            font-size: 14px
            color: #505D6C
        .linea-punteada
            width: 147px
            height: 9px
        .est-intermedias
            .oc-text-2
                font-family: 'roboto-bold',sans-serif
                font-size: 14px
        .oc-text-esp-2-v
            font-weight: bold
            font-family: 'roboto-light', sans-serif
            font-size: 14px
    #paez-almacenamiento
        .img-otros-prod
            width: 121px
            height: 65px