#main-cor-granjita
    .wdg-la-estacion
        .item-02
            .name-est
                font-size: 14px !important
        .item-03
            .bph
                color: #505D6C !important
                font-size: 14px !important
            .c-green
                font-size: 20px !important

// Medium Up devices
@include media-breakpoint-up(md)
    #main-cor-granjita
        #wdg-section-02
            .oc-card-widget
                height: 560px
