#main-boy-soraca
    #wdg-section-02
        .oc-card-widget
            height: 528px
    .wdg-la-estacion
        &__item
            &__li-items
                li
                    &::before
                        left: -15px
                        top: 7px
    .wdg-banner__info
        height: auto !important
    
    .wdg-relacionamiento
        .oc-box-dato
            &__img
                width: 65px
                margin-right: 1em
            &__text
                font-family: 'roboto-regular', sans-serif !important
                font-size: 14px
                color: #505D6C
    .wdg-valvulas
        .oc-box-dato
            min-height: 286px
            .text-ubicadas
                font-family: 'roboto-bold', sans-serif !important
                color: #979FA8
                font-size: 12px
            .text-aprox
                font-family: 'roboto-bold', sans-serif !important
                color: #979FA8
                font-size: 9px
            .text-desc
                font-family: 'roboto-light' ,sans-serif !important
                color: #505D6C
                font-size: 13px
                margin: 0
        .item-2
            .cont-sub-items
                .sub-item
                    &__title
                        font-family: 'roboto-bold' ,sans-serif !important
                        font-size: 15px
                        color: #505D6C
                        margin-bottom: 0px
                    &__sector
                        font-family: 'roboto-regular', sans-serif !important
                        font-size: 14.5px
    .wdg-distancia
        .item-02
            .oc-dist-linea
                display: block
                width: 95%
                border-top: 1px dashed #505D6C
                height: 1px
                position: absolute
                top: 50%
                left: 20px
                &::before
                    content: ''
                    width: 9px
                    height: 9px
                    border: 2px solid $green_co
                    position: absolute
                    left: -10px
                    top: calc( 50% - 4.5px )
                    border-radius: 50%
            &__item-number
                position: absolute
                background-color: #F2F2F2
                span
                    color: #979FA8
                    display: block
                &__number
                    font-size: 30px
                    line-height: 1em
                &__text
                    font-size: 10px
                &:nth-child(4)
                    right: 85px
                &:nth-child(3)
                    left: 230px
                &:nth-child(2)
                    left: 32px
            &__sect-1
                width: 82%
                &__data
                    width: 90%
            &__sect-2
                width: 18%
                .oc-box-dato
                    .oc-number-medium
                        font-size: 24px
                    &__km
                        font-size: 14.5px
                    &__sector
                        font-size: 9px
                        color: #979FA8
                    &__title
                        font-size: 15px
            &__item-image
                position: absolute
                right: -10px
                bottom: -10px
    #wdg-solicitudes
        .wdg-la-estacion__item__li-items
            li
                font-size: 14px
        .intro-text
            font-size: 14px
            color: #505D6C
    .wdg-demografico__dates-item p
        width: 95%
    .wdg-personal
        .oc-porvenir__personal
            margin-bottom: 2em
        .oc-porvenir__personal-item
            &::after
                content: ''
                position: absolute
                background-color: #005FC8
                height: 50px
                width: 2px
                top: -30px
        .oc-porvenir__personal::before
            background-color: white
    
@include media_breakpoint_down(sm)
    #main-boy-soraca
        .wdg-banner
            .oc-btn
                width: 150px
        .wdg-distancia__mobile
            position: relative
            .oc-box-dato
                position: relative
                p
                    font-size: 15px
                    color: #505D6C
            .div-linea-mobile
                width: 1px
                height: 67%
                position: absolute
                border-right: 1px dashed #505D6C
                left: 40px
                top: 110px
                display: inline-block
                z-index: 1
            .item-circle
                display: inline-block
                width: 10px
                height: 10px
                border: 2px solid $green_co
                border-radius: 50%
                position: absolute
                top: calc( 50% - 5px )
                left: 19px
                background-color: white
                z-index: 2
