#main-boy-soraca
    #wdg-section-02
        .oc-card-widget
            height: 528px
    .wdg-la-estacion
        &__item
            &__li-items
                li
                    &::before
                        left: -15px
                        top: 7px
    .wdg-banner__info
        height: auto !important
    
    .wdg-relacionamiento
        .oc-box-dato
            &__img
                width: 65px
                margin-right: 1em
            &__text
                font-family: 'roboto-regular', sans-serif !important
                font-size: 14px !important
                color: #505D6C !important
    .wdg-valvulas
        .oc-box-dato
            min-height: 286px
            .text-ubicadas
                font-family: 'roboto-bold', sans-serif !important
                color: #979FA8 !important
                font-size: 12px !important
            .text-aprox
                font-family: 'roboto-bold', sans-serif !important
                color: #979FA8 !important
                font-size: 9px !important
            .text-desc
                font-family: 'roboto-light' ,sans-serif !important
                color: #505D6C !important
                font-size: 13px !important
                margin: 0
        .item-2
            .cont-sub-items
                .sub-item
                    &__title
                        font-family: 'roboto-bold' ,sans-serif !important
                        font-size: 15px !important
                        color: #505D6C !important
                        margin-bottom: 0px
                    &__sector
                        font-family: 'roboto-regular', sans-serif !important
                        font-size: 14.5px !important
    .wdg-distancia
        .item-02
            .oc-dist-linea
                display: block
                width: 92%
                border-top: 1px dashed #505D6C
                height: 1px
                position: absolute
                top: 50%
                left: 20px
                &::before
                    content: ''
                    width: 9px
                    height: 9px
                    border: 2px solid $green_co !important
                    position: absolute
                    left: -10px
                    top: calc( 50% - 4.5px )
                    border-radius: 50%
            &__item-number
                margin: 5px
                span
                    color: #979FA8 !important
                    display: block
                &__number
                    font-size: 30px !important
                    line-height: 1em
                &__text
                    font-size: 10px !important
            &__sect-1
                width: 100%
                &__data
                    width: 100%
                    padding: 0 30px
                    &__dist-text
                        position: absolute
                        left: 0
                        bottom: 17px
            &__sect-2
                width: 18%
                .oc-box-dato
                    .oc-number-medium
                        font-size: 24px !important
                    &__km
                        font-size: 14.5px !important
                    &__sector
                        font-size: 9px !important
                        color: #979FA8 !important
                    &__title
                        font-size: 15px !important
            &__item-image
                position: absolute
                right: -10px
                bottom: -10px
                img
                    width: 58px
    #wdg-solicitudes
        .wdg-la-estacion__item__li-items
            li
                font-size: 14px !important
        .intro-text
            font-size: 14px !important
            color: #505D6C !important
    .wdg-demografico__dates-item p
        width: 95%
    .wdg-personal
        .oc-porvenir__personal
            margin-bottom: 2em
        .oc-porvenir__personal-item
            &::after
                content: ''
                position: absolute
                background-color: #005FC8 !important
                height: 50px
                width: 2px
                top: -30px
        .oc-porvenir__personal::before
            background-color: white !important
    .oc-dist-linea-corchete
        display: block
        width: 200px
        border-bottom: 1px solid #707070
        margin-bottom: 5px
        margin-top: 10px
        position: relative
        &__texto
            margin: -12px 0
            color: #505D6C !important
            font-family: 'roboto-bold', sans-serif !important
            font-size: 15px
        &::after
            content: ''
            position: absolute
            left: 0
            bottom: 0
            height: 8px
            width: 1px
            background-color: #707070
        &::before
            content: ''
            position: absolute
            right: 0
            bottom: 0
            height: 8px
            width: 1px
            background-color: #707070
    
@include media_breakpoint_down(sm)
    #main-boy-soraca
        .wdg-banner
            .oc-btn
                width: 150px
        .wdg-distancia__mobile
            position: relative
            .item-01 .oc-box-dato
                position: relative
                background-color: white !important
                p
                    font-size: 15px !important
                    color: #505D6C !important
                .col-7
                    background-color: #F2F2F2
                    padding: 10px 0
            .div-linea-mobile
                width: 1px
                height: 75%
                position: absolute
                border-right: 1px dashed #505D6C !important
                left: 30px
                top: 110px
                display: inline-block
                z-index: 1
            .item-circle
                display: inline-block
                width: 10px
                height: 10px
                border: 2px solid $green_co
                border-radius: 50%
                position: absolute
                top: calc( 50% - 5px )
                left: 10px
                background-color: white !important
                z-index: 2
