.wdg-distancia
    .bombeo-porv
        .oc-bombeo
            .text-black-v2
                margin-left: -25px
                font-family: 'roboto-medium', sans-serif
                font-size: 13px
                color: $gray_co
                line-height: 1.3em
            .text-green-v2
                margin-left: -25px
                font-family: 'roboto-bold', sans-serif
                font-size: 20px
            .text-green-v3
                margin-left: -25px
                font-family: 'roboto-regular', sans-serif
                font-size: 15px
            .text-gray-v2
                margin-left: -25px
                font-family: 'roboto-bold', sans-serif
                font-size: 9px
                color: #979FA8
            .text-gray-v3
                margin-left: -25px
                font-family: 'roboto-bold', sans-serif
                font-size: 9px
                color: #979FA8
            .text-gray-v4
                margin-left: -25px
                font-family: 'roboto-bold', sans-serif
                font-size: 9px
                color: #979FA8
            .pad-menos
                margin-top: -8px
            .pad-menos-v2
                margin-top: -5px
    .oc-line-01
        height: 200px
.wdg-distancia
    .oc-porvenir
        &__modal-button
                button
                    background-color: $green_co