.wdg-la-estacion-miraflores
    p
        margin-right: 0 !important
    .wdg-la-estacion__item__li-items
        p
            margin: 0
    .oc-number-medium
        margin-top: .5em
        line-height: .8em
        .text-aux
            font-size: 14px
            color: #505D6C
            font-family: 'roboto-bold'
.oc-cas-miraflores
    .wdg-la-estacion, .wdg-ubicacion
        height: 576px
.oc-slick-almacenamiento-miraflores
    img
        margin: auto
    .badge
        height: 55px
        display: flex !important
        align-items: center
        line-height: 1.5em
        justify-content: center
.wdg-distancia-miraflores
    height: 100%
    .cont-items
        margin-bottom: 2em
        margin-top: 1em
    .oc-cont-distancia-item
        .des-numbers
            margin-left: 0
            color: #505D6C
            font-size: 13px
            font-family: 'roboto-regular'
            line-height: 1em
    .item-01__center
        .roboto-regular
            line-height: 1em
.wdg-bombeo-miraflores
    .oc-box-dato
        height: 278px
        .text-03
            margin-bottom: 1em
        .text-04
            font-size: 14px
            color: #505D6C
            margin-bottom: 1em
        .text-01
            color: #505D6C
            font-size: 15px
            font-family: 'roboto-bold'
        .text-05
            font-size: 22px
            font-family: 'roboto-medium'
        .text-02
            font-size: 14px
            color: #505D6C
            .variant-01
                color: #00AF00
        .text-06
            margin-top: 3em
            margin-bottom: 1em
        .variant-02
            font-size: 15px
.wdg-personal-miraflores
    height: 100%
    .oc-porvenir__personal-item
        margin-bottom: .4em
    .oc-porvenir__personal-item-02
        &::after
            height: 65px
.wdg-contratistas-miraflores
    height: 300px
.oc-gestion-miraflores
    padding: 0 1em
    &__text-01
        color: $green_co
        font-size: 14px
        font-family: 'roboto-medium'
    &__text-02
        font-size: 13px
        color: #505D6C
        font-family: 'roboto-light'
        padding-left: 2em
        margin-top: 3em
        margin-bottom: 0
    &__text-03
        font-size: 13px
        color: #505D6C
        font-family: 'roboto-light'
        padding-left: 2em
        margin-top: 2em
        position: absolute
        top: 14px
        right: 0
        margin: 0
        width: 70%
    &__line
        position: absolute
    &__cont
        background-color: #F2F2F2
        border-radius: 8px
        padding: 2em 1em
        display: flex !important
        position: relative
        .item-01
            text-align: center
            img
                margin-bottom: 1em !important
                margin: auto
    &__cont-01
        .oc-gestion-miraflores__item
            width: 25%
        .oc-gestion-miraflores__line
            top: 49px
            left: 129px
            width: 430px
    &__cont-02
        .item-01
            width: 40%
            padding-right: 6em
        .item-02
            width: 60%
        .oc-gestion-miraflores__line
            top: 49px
            left: 129px
            width: 317px
    &__cont-03
        padding: 2em 1em 1em 1em
        .oc-gestion-miraflores__text-02
            padding-left: 1.5em
            margin-top: 4em
        .oc-gestion-miraflores__item
            width: 20%
        .oc-gestion-miraflores__line
            top: 73px
            left: 129px
            width: 441px
    .oc-slick-arrow__next
        right: -18px
    .oc-slick-arrow__prev
        left: -18px
.wdg-como-llegar-miraflores
    .oc-box-dato
        ul
            li
                margin-bottom: 3em
                position: relative
                .oc-number
                    color: $green_co
                    font-size: 20px
                    font-family: 'roboto-bold'
                    position: absolute
                    right: 0
                    top: -6px
                    strong
                        font-size: 13px
                        font-family: 'roboto-regular'
    .oc-box-dato__img-aprox
        width: 40px !important
@include media-breakpoint-down(sm)
    .wdg-distancia-miraflores
        .item-01__center
            top: -17px
    .oc-gestion-miraflores
        &__cont
            display: block !important
            padding: 1em
        &__item
            width: 100% !important