.oc-widget-template
    &__body
        &__text-small
            font-family: 'roboto-bold', sans-serif
            font-size: 9px
    .line-g-right
        border-right: 1px solid rgba(80,93,108,.3)
        position: relative
        &::before
            position: absolute
            content: ''
            bottom: 0
            left: -10px
            width: 20px
            height: 20px
            background-color: white
    .oc-number-medium
        color: $blue-light-co
        .oc-number-medium
            color: $green_co

#wdg-almacenamiento
    .oc-widget-template
        &__body
            .item-02
                &__img-icon
                    width: 121px

#wdg-section-03
    .cont-g-sobre
        margin-top: -20px
        &__img
            width: 65px
        &__info-right
            &__number-b
                font-family: 'roboto-bold', sans-serif
                font-size: 24px
                color: $blue_light_co
            &__name-b
                font-family: 'roboto-bold', sans-serif
                font-size: 14px
    .buttons-end
        a
            background-color: #2B5CDA
            text-decoration: none
            padding: 0 1em
            color: white
            font-family: 'cabin-bold', sans-serif
            border-radius: 30px
            img
                width: 15px
                margin-left: 10px

#wdg-section-04
    .wdg-distancia
        .oc-box-dato
            .number-lg
                font-size: 30px
                font-family: 'roboto-bold', sans-serif
                color: #979FA8
            .des-number
                font-size: 9px
                font-family: 'roboto-bold', sans-serif
                color: #979FA8
                margin-top: 14px
                margin-left: 10px
            .p-especial
                padding: 5px
        .cont-sec-3
            height: 125px
        .oc-bombeo
            img
                width: 48px
            .oc-number-medium
                font-family: 'roboto-bold', sans-serif
            .text-black-medium
                font-family: 'roboto-bold', sans-serif
                font-size: 15px
                color: black
            .text-green-medium
                font-family: 'roboto-medium', sans-serif
                font-size: 24px 
            .text-green-small
                margin-top: -10px
                font-family: 'roboto-medium', sans-serif
                font-size: 15px
            .text-gray-small
                font-family: 'roboto-bold', sans-serif
                font-size: 9px
                color: #979FA8
.wdg-la-estacion
            &__item
                &__li-items
                    list-style: none
                    margin-top: 10px
                    padding-left: 2em
                    li
                        position: relative
                        font-family: 'roboto-light', sans-serif
                        font-size: 15px
                        color: #505D6C
                        &::before
                            position: absolute
                            content: ''
                            top: 30%
                            left: -15%
                            width: 8px
                            height: 8px
                            border-radius: 50%
                            border: 1px solid $green_co
                .text-aux
                    font-family: 'roboto-bold',sans-serif
                    font-size: 9px
                    color: #979FA8
                .text-aux2
                    color: $green_co
                    font-size: 20px
                    font-weight: bold
                .text-aux2-v
                    font-family: 'roboto-regular', sans-serif
                    font-size: 10px
                .oc-widget-template
                    &__body
                        &__text-small
                            color: #979FA8

#cus-wdg-la-estacion.wdg-la-estacion
    height: 600px

#cus-wdg-ubicacion.wdg-ubicacion
    height: 600px

#cus-wdg-ubicacion
    .oc-btn
        margin-top: 3.5em

.wdg-banner
    overflow: visible !important
    &__bg
        height: 590px
        padding: 0
        img
            width: 730px
            height: 554px
            object-fit: cover
    &__info
        height: 151% !important

.wdg-almacenamiento
    overflow: hidden

.oc-descarga-est
    &__img1
        width: 65px
        height: 65px
    &__text-g
        font-family: 'roboto-bold', sans-serif
        font-size: 30px
    &__text-aux-g
        margin-top: 8px
        font-family: 'roboto-regular', sans-serif
        font-size: 14px
    &__img-line
        width: 100px
        height: 9px
    &__final-text
        font-family: 'roboto-bold', sans-serif
        font-size: 12px
        color: #979FA8
    &__point
        width: 9px !important
        height: 9px
    &__img-line2
        width: 57px !important
        height: 9px
    &__final-text-2
        margin-top: -10px
        font-family: 'roboto-bold', sans-serif
        font-size: 9px
        color: #979FA8
    &__img-line3
        width: 190px !important
        height: 9px !important
    &__img-line4
        width: 80px !important
    &__final-text-3
        font-family: 'roboto-bold', sans-serif
        font-size: 12px
        color: #505D6C
    &__img2
        width: 121px !important
    .text-tiempo
        p
            font-family: 'roboto-bold', sans-serif !important
            color: #979FA8
            font-size: 12px
            &::before
                position: relative
                display: none
    ul
        li
            position: relative
            line-height: 2em
            &::before
                content: ''
                position: absolute
                top: 7px
                color: white
                left: -20px
                width: 9px
                height: 9px
                border-radius: 50%
                border: 2px solid $green_co

#wdg-section-08-cus
    .item-aerea
        .oc-box-dato
            padding-top: 70px !important
    .oc-card-widget
        height: 500px

#main-cas-cusiana #wdg-bombeo
    .oc-box-dato
        height: 239px
        &.oc-bombeo
            .roboto-bold
                color: #505D6C
                font-size: 15px
                line-height: 1.2em
#main-cas-cusiana
    .como-llegar-1
        .oc-box-dato
            height: 273px !important

#main-cas-cusiana #wdg-section-07-cus .oc-card-widget
    height: 359px

#main-cas-cusiana .item-terrestre_02
    .badge
        width: 117px !important

.item-terrestre_03
    .badge
        width: 117px !important

.oc-pop-up
    background-color: #f2f2f2
    border-radius: 10px
    display: none
    position: absolute
    top: 3%
    left: 2.5%
    width: 95%
    height: 95%
    .close-solicitudes
        width: 18px
        height: 18px
        border: 1px solid $green_co
        border-radius: 50%
        color: $green_co
        font-size: 12px
        display: flex
        justify-content: center
        align-items: center
        float: right
        background-color: white
    .title-green
        font-family: 'roboto-bold', sans-serif
        font-size: 14px
    .oc-cont-recomendaciones
        list-style: none
        li
            font-family: 'roboto-medium', sans-serif
            font-size: 14px
            margin-bottom: 10px

@include media-breakpoint-down(sm)
    .oc-widget-slider
        background: none
        box-shadow: none
        margin-bottom: -90px
        img
            height: 225px
            object-fit: cover
        .slick-dots
            top: 100px
        .oc-slick-arrow
            &__next
                top: 100px
            &__prev
                top: 100px

    #wdg-section-03 .cont-g-sobre
        margin-top: 10px !important
    #oc-alm-final
        padding-left: .5em !important
        padding-right: .8em !important
    #wdg-almacenamiento
        .cont-g-sobre
            align-items: center !important
            img
                width: 50px !important
            &__text-left
                margin-bottom: 0 !important

    #main-cas-cusiana .como-llegar-1 .oc-box-dato
        height: auto !important
    #terrestre-porv, #main-cas-cusiana .item-terrestre_02
        .badge
            width: 100% !important
            br
                display: none
    #wdg-section-08-cus .item-aerea .oc-box-dato
        padding-top: 1em !important
    #mode-mobile
        .oc-descarga-est
            &__img-line3
                width: 45px !important
    #oc-alm2-mobile
        .oc-descarga-est
            &__img-line4
                width: 35px !important
    #oc-alm3-mobile
        .oc-descarga-est
            &__final-text-3
                margin-left: .8em !important
            &__final-text
                font-size: 9px
    .oc-descarga-est
        ul
            li
                &::before
                    top: 3px !important
    .oc-box-dato__img-aprox
        width: 21px !important
    .oc-box-dato__img-distancia
        width: 25px !important


#main-cas-cusiana #wdg-section-03 .oc-widget-template
    height: auto
