.oc-slick-widget__slider
    position: relative
    padding: 0
    height: 312px
    .oc-slick-arrow
        &__prev
            left: 10px
        &__next
            right: 10px
#wdg-la-estacion
    .wdg-la-estacion__item
        img
            width: 65px
        p
            margin: 0
            font-family: 'roboto-light', sans-serif
            font-size: 14px