.oc-footer
    position: relative
    z-index: 3
    &__logo
        width: 100px
    .oc-footer-left
        border-right: 2px solid white
    .nav
        .nav-item
            a
                padding: 5px
            img
                width: 30px
            &:hover
                opacity: .7
    .oc-legal-links
        a
            color: white
            font-family: "roboto-medium", sans-serif
            font-size: 14px
            text-decoration: none
            &:hover
                opacity: .7
    .oc-copyright
        color: white
        font-family: "roboto-bold", sans-serif
        font-size: 14px
    .oc-menu-footer
        a
            color: white
            text-decoration: none
            line-height: 2.5em
            font-family: "roboto-regular", sans-serif
            font-size: 18px
            &:hover
                opacity: .7

.oc-footer-resp
    &__logo
        width: 90px
    .oc-footer-menu
        a
            color: white
            text-decoration: none
            border-top: 1px solid rgba(#ffff, .2)
            margin: 0
            font-family: "roboto-regular", sans-serif
            font-size: 18px
            line-height: 3em
            &:hover
                opacity: .7
    .oc-footer-social
        .nav-link
            padding-left: 0
        img
            width: 40px
            &:hover
                opacity: .7
    .oc-legal-links
        line-height: 2.5em
        a
            color: white
            text-decoration: none
            font-family: "roboto-medium", sans-serif
            font-size: 13px
            &:hover
                opacity: .7
    .oc-resp-copyright
        color: white
        font-family: "roboto-bold", sans-serif
        font-size: 13px
