.oc-header
    background-color: white !important
    transition: $tr
    z-index: 4
    &__cont
        justify-content: space-between
        align-items: center
        width: 100%
        margin: 0
        padding: .5em 0 !important
    &__logo
        // margin-left: 3em
        margin: auto
        img
            width: 102px
    &__items
        display: flex
        align-items: center
    &__logout
        margin-right: 3em
        &:hover
            text-decoration: none
        img
            width: 22px
            margin-right: .3em
        span
            color: #1D1D1B !important
            transition: $tr
            font-size: 16px !important
        &:hover span
                color: $green_co !important
                font-weight: bold
    &__widgets
        position: relative
        &-info
            background-color: $green_co !important
            padding: .5em .7em
            text-align: center
            cursor: inherit
            position: relative
            z-index: 2
            display: none
            img
                transition: $tr
                visibility: hidden
            span
                display: block
                color: #ffffff !important
                font-size: 16px !important
                visibility: hidden
    &__widgets-cont
        position: absolute
        right: 0
        top: 65px
        z-index: 4
        max-height: 110vh
        background-color: #ffffff !important
        width: 100%
        text-align: center
        transition: all .5s ease-in-out
        opacity: 0
        display: none
    &__widgets-item
        margin: .5em 0
    &__widgets-cont-img
        width: 43px
        height: 43px
        padding: .5em
        margin: auto
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        transition: $tr
        cursor: pointer
        &:hover
            transform: scale(1.1)
        img
            width: 100%
            height: auto
            object: cover
    &__widgets-desc
        color: #8F9FA9 !important
        font-size: 11px !important
        margin: 0
    &__widgets-edit
        background-color: $gray_co !important
        color: #ffffff !important
        font-size: 11px !important
        border-radius: 10px
        border: none
        padding: .2em 1.5em
        font-family: 'cabin-bold', sans-serif !important
        transition: $tr
        &:hover
            background-color: $green-co !important
    &__widgets-correo
        background-color: $green-co !important
    &__widgets-agenda
        background-color: $blue_light_co !important
    &__widgets-grupos
        background-color: $green-co !important
    &__widgets-enlaces
        background-color: $gray_co !important
    &__widgets-apps
        background-color: $blue_light_co !important
    &__widgets-indicadores
        background-color: $green-co !important
    &__widgets-noticias
        background-color: $gray_co !important
    &__widgets-agenda-calendario
        background-color: $blue_light_co !important
    &__widgets-encuesta
        background-color: $gray_co !important
    &__widgets-galeria
        background-color: $blue_light_co !important
    &__widgets-otro
        background-color: #BEBEBE !important

.oc-general-index
    .oc-header__cont
        padding: 0 !important
    .oc-header__widgets-info
        cursor: pointer
        display: block
        img, span
            visibility: visible
@include media-breakpoint-up(md)
    .oc-header__logo
        transform: translateX(20px)
    
@include media-breakpoint-down(sm)
    .oc-header
        position: relative
        &.header-fixed
            position: fixed
            top: 0
            left: 0
            right: 0
            z-index: 3
            animation: tr-header-fixed 1s
    .oc-header__mobile
        .oc-header__logo
            margin: 0
            img
                width: 150px
        .oc-btn-menu-superior
            background-color: white !important
            border: none
            width: 45px
            transform: translateX(-8px)
            span
                color: #28347D !important
                font-family: 'roboto-bold', sans-serif !important
                font-size: .8em !important 
        .oc-search-bar__btn
            width: 50px
            height: 50px
            border-radius: 50%
            overflow: hidden
            border: none
            position: relative
            z-index: 2
            background-color: $green_co !important
            outline: none !important
            box-shadow: none !important
            transition: all 1s ease-in-out
            &:active
                outline: none !important
                box-shadow: none !important
            &:hover
                background-color: $green_co !important
            img
                width: 70%
                transition: all 1s
            &.expand-bar
                transform: scale(3) translateX(40px)
                // animation: buttonSearch .5s
                // background-color: transparent
                img
                    transform: translateX(200%)

        .oc-header__logout
            margin: 0
    @keyframes tr-header-fixed
        0%
            transform: translateY(-100%)
            
        100%
            transform: translateY(0%)
    
    @keyframes buttonSearch
        0%
            border-radius: 50px
        50%
            border-radius: 0px
        100%
            border-radius: 50px
            