.oc-territorios
    .oc-cont-text
        p
            font-family: 'roboto-light', sans-serif
            font-size: 16px

@include media-breakpoint-down(sm)
    .row
        margin-left: 0
    .oc-territorios
        display: block !important
        .oc-cont-header
            max-width: 100%
            justify-content: left !important
        .oc-cont-text
            max-width: 100%
            padding-right: 0 !important
            width: 90% !important