#app
    display: grid
    min-height: 100vh
    grid-template-areas: "aside header" "aside content"
    grid-template-rows: auto 6fr
    grid-template-columns: 80px

.oc-header
    grid-area: header

.oc-menu-lateral
    grid-area: aside


.oc-content
    grid-area: content
    background-color: #ECEFF1

@media (min-width: 480px) and ( max-width: 769px)
    #app
        grid-template-areas: "header header" "aside aside" "content content"
        grid-template-rows: auto
        grid-template-columns: 12fr