.oc-menu-lateral
    color: white !important
    z-index: 2
    display: flex
    .oc-btn-menu-lateral
        width: 50px
        background-color: transparent !important
        border: none
        padding: 0
        span
            font-family: 'roboto-bold', sans-serif !important
            font-size: .7em !important
            color: white !important
        #menu-icon-svg
            transition: $tr
            line
                transition: $tr
        
    #icon-menu-lateral
        width: 30px
        
    &__text
        font-size: .7em !important
        color: white !important
    .nav-item
        position: relative
        margin-bottom: 1.5em
        .nav-link
            transition: $tr
            &:hover
                opacity: .6
        img
            height: 37px
        .label-notify
            width: 15px
            height: 15px
            background-color: $green_co !important
            display: inline-flex
            border-radius: 50%
            position: absolute
            right: 14px
            top: 10px
            color: white !important
            justify-content: center
            align-items: center
            font-size: .6em !important
            font-family: 'roboto-bold', sans-serif !important
    &__avatar
        transition: $tr
        &__img
            width: 44px !important
            height: 44px !important
            overflow: hidden
            border-radius: 50%
            object-fit: cover
        &:hover
            text-decoration: none
            opacity: .6

@include media-breakpoint-down(md)
    .oc-menu-lateral
        height: 100%

@include media-breakpoint-down(sm)
    .oc-menu-lateral
        width: 75px
        position: absolute
        left: 0
        height: auto
        top: 50px
        z-index: 4
        padding: 1em 0
        display: none
        nav
            overflow: hidden
            padding: 0 !important
        .oc-menu-arrow
            position: absolute
            top:0
            height: 100%
            width: 10px
            &.left
                left: 5px
            &.right
                right: 5px
        .nav
            flex-wrap: nowrap
            margin: auto
        .nav-item
            margin: 0
            margin-bottom: 1em 
            .nav-link
                padding: 0
            .label-notify
                right: 25px
                top: 0
        .oc-menu-lateral__avatar 
            min-width: 90px
    