.oc-nosotros-cultura
    &__img-cultura
        width: 330px
        height: 300px
        margin-top: 80px
    &__img-section
        width: 100%
        height: 470px
        object-fit: cover
        margin-top: 100px
    &__icon-section
        width: 95px
        height: 95px
    &__cont-text
        margin-top: 150px
        margin-bottom: 100px

.text-1
    font-family: 'roboto-light', sans-serif
    font-size: 16px

.oc-cont-text2
    margin-top: 150px