.oc-razon
    p
        color: $gray_co
        font-family: 'roboto-light'
    &__valor
        padding-top: 5em
        display: flex
        align-items: center
    &__valor-cont01
        width: 40%
        p
            padding-right: 4em
        .oc-dates-style2
            margin-top: 2em
            margin-bottom: 3em
            .row
                margin: 0
    &__valor-cont02
        width: 60%
        padding-left: 3em
        img
            width: 100%
    &__reduction
        margin-top: 5em
        display: flex
        align-items: center
    &__reduction-cont02
        width: 50%
    &__reduction-cont01
        width: 50%
        .oc-head
            display: flex
            align-items: center
            .text
                text-align: center
                margin-right: 2em  
            .number
                font-size: 70px
                color: $blue_co
                font-family: 'roboto-regular'
                display: block
                line-height: 1em
            .desc
                background-color: $green_co
                font-family: 'lato-bold-italic'
                font-size: 25px
                color: white
                display: inline-flex
                height: 44px
                padding: 0 1em
                align-items: center
        .info
            display: flex
            margin-top: 1em
            p
                font-family: 'lato-bold-italic'
                font-size: 20px
                color: $blue_co
                text-align: center
    
    &__statistics
        background-color: rgba(#95A6B1, .13)
        position: relative
        padding: 20em 0 5em 0
        margin-top: 20em
    &__mujer
        display: flex
        position: absolute
        top: -14em
        left: 0
    &__mujer-cont01
        width: 50%
        img
            width: 100%
    &__mujer-cont02
        background-color: $green_co
        width: 30%
        padding: 7em 3em
        .oc-head
            display: flex
            align-items: center
            justify-content: center
            .text
                text-align: center
                margin-right: 2em  
            .number
                font-size: 70px
                color: white
                font-family: 'roboto-regular'
                display: block
                line-height: 1em
            .desc
                background-color: $blue_co
                font-family: 'lato-bold-italic'
                font-size: 25px
                color: white
                display: inline-flex
                height: 44px
                padding: 0 1.2em
                align-items: center
        .info
            display: flex
            margin-top: 1em
            p
                font-family: 'lato-bold-italic'
                font-size: 20px
                color: white
                text-align: center
    &__part
        display: flex
    &__part-cont01
        width: 50%
        h2
            font-family: 'lato-italic'
            color: $blue_co
            font-size: 20px
            text-align: center
            strong
                font-size: 60px
                font-family: 'roboto-regular'
                font-weight: 400
        .statistics
            display: flex
            align-items: center
            justify-content: center
            p
                color: $blue_co
                font-size: 20px
                font-family: 'roboto-regular'
                display: flex
                align-items: center
                line-height: 1em
                position: relative
                padding-left: 1.2em
                &:nth-child(1)
                    border-bottom: 1px solid #96A6B0
                    padding-top: .8em
                    padding-bottom: .8em
                span
                    font-size: 40px
                    padding-right: .4em
            .info
                margin-left: .7em
                &__01
                    &::before
                        content: ''
                        position: absolute
                        width: 12px
                        height: 12px
                        border: 3px solid $green_co
                        border-radius: 50%
                        top: 20px
                        left: 0
                &__02
                    &::before
                        content: ''
                        position: absolute
                        width: 12px
                        height: 12px
                        border: 3px solid $yellow_co
                        border-radius: 50%
                        top: 5px
                        left: 0
    &__part-cont02
        width: 50%
    &__img
        img
            width: 100%
    &__vision
        padding: 5em 0
        display: flex
    &__vision-cont01
        width: 50%
    &__vision-cont02
        width: 50%
        p
            padding-top: 5em
                
@include media-breakpoint-down(md)
    .oc-razon
        background-color: white
    .oc-razon__valor
        display: block
    .oc-razon__valor
        padding: 3em 1em
        display: block
        .oc-dates-style2
            margin-bottom: 1em
    .oc-razon__valor-cont01
        width: 100%
        p
            padding: 0
    .oc-razon__valor-cont02
        width: 100%
        padding: 0
    .pad-general
        padding: 2em !important
    .oc-razon__reduction
        display: block
        background-color: white
        margin: 0
        &-cont01
            width: 100%
            margin-bottom: 2em
        &-cont02
            width: 100%
    .oc-razon__mujer
        position: relative
        display: block
        top: 0
        &-cont01
            width: 100%
        &-cont02
            width: 100%
            padding: 2em
    .oc-razon__statistics
        padding: 0
        margin: 0
    .oc-razon__part
        display: flex
        flex-wrap: wrap-reverse
        padding: 3em 2em
        &-cont01
            width: 100%
            margin-top: 2em
            .statistics
                p
                    font-size: 18px
        &-cont02
            width: 100%
    .oc-razon__vision
        display: block
        padding: 3em 2em
        &-cont01
            width: 100%
        &-cont02
            width: 100%
            p
                padding: 2em 0