.oc-nosotros
    .oc-header__desktop
        .oc-submenu-gen
            display: none
    .oc-img-header
        &__title-p
            color: #00CD00
            &::before
                background-color: #00CD00

.oc-nosotros-submenu
    .oc-submenu-gen
        z-index: 1
        &__button-menu-lateral
            display: none

@include media-breakpoint-down(md)
    .oc-nosotros-submenu
        .oc-submenu-gen
           display: none