#content-notices
    background-color: white
    
.oc-seccion-noticias
    width: 100%
    height: 300px
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    &__subheader
        h2
            color: white
            font-family: 'roboto-bold', san serif
            font-size: 50px
        img
            width: 70px
            height: 70px

.oc-seccion-noticias-etiquetas
    button
        background-color: #B4BEC5
        border: none
        margin-top: .5em
        transition: all .4s
        &:hover
            background-color: black
        .name-etiqueta
            color: white
            font-size: 9px
            font-family: 'roboto-c-bold', sans-serif
        .number-etiqueta
            color: #707070
            font-size: 9px
            font-family: 'roboto-c-bold', sans-serif

.pagination
    a
        font-family: 'roboto-bold', sans-serif !important
        font-size: 12px !important
        color: #042B67
    .page-link
        border: none
        background-color: transparent !important
    .page-item
        .html-arrow
            font-size: 25px
            margin: .5em
            color: #24A31A 
        .prev-notice
            font-family: 'roboto-bold', sans-serif !important
            color: #042B67
        .next-notice
            font-family: 'roboto-bold', sans-serif !important
            color: #042B67
    .number-page
        background-color: white
        color: #C9D2D7
        border: solid 1px #C9D2D7
        border-radius: 50%
        margin: .3em
        width: 30px
        height: 30px
        text-align: center
        transition: all .2s
        &:hover
            background-color: #24A31A !important
            color: white
            border: none