.oc-seccion-noticias
    width: 100%
    height: 300px
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    &__subheader
        h2
            color: white
            font-family: 'roboto-bold', san serif
            font-size: 50px
        img
            width: 70px
            height: 70px

.oc-seccion-noticias-etiquetas
    button
        background-color: #B4BEC5
        border: none
        margin-top: .5em
        transition: all .4s
        &:hover
            background-color: black
        .name-etiqueta
            color: white
            font-size: 10px
            font-family: 'roboto-c-bold', sans-serif
        .number-etiqueta
            color: #707070
            font-size: 10px
            font-family: 'roboto-c-bold', sans-serif