.oc-card-notice__boletin
    margin-bottom: 2rem
    .separator-title
        width: 40px
        height: 0px
        margin: 2px 0
        margin-bottom: 20px !important
        background-color: #96A6B0
    .etiqueta-tema
        font-family: 'roboto-medium', sans-serif !important
        font-size: 13px
        padding: .1em 1.5em .1em .7em
        color: white
    .title-bol
        font-family: 'cabin-regular', sans-serif !important
        font-size: 22px
        margin-bottom: 0px !important
    .link-title-bol
        text-decoration: none
        color: black !important
    .text-boletin
        font-family: 'roboto-light', sans-serif !important
        font-size: 16px !important
        color: #505D6C !important
        line-height: 22px !important
    .img-notice
        object-fit: cover
        width: 100%
        height: auto
    &.notice-green
        .etiqueta-tema
            background-color: #00AF00
    &.notice-turqueise
        .etiqueta-tema
            background-color: #00c48f
    &.notice-blue
        .etiqueta-tema
            background-color: #184BF7
    &.notice-blue-light
        .etiqueta-tema
            background-color: #37ABF4
    &.notice-yellow
        .etiqueta-tema
            background-color: #FAAD00
    &.type-video
        .oc-boletin-card__author__caption
            display: flex
            cursor: pointer