.oc-menu-search
    border-bottom: 1px solid #96A6B0
    .nav
        .nav-link
            font-family: 'roboto-regular', sans-serif
            color: #042B67
            display: flex
            align-items: center
            transition: $tr
            position: relative
            padding-bottom: 1em
            min-width: 100px
            text-align: center
            justify-content: center
            margin: 0 1em
            &::before
                content: ''
                width: 0px
                height: 3px
                background-color: $green_co
                position: absolute
                bottom: 0
                left: 50%
                transition: $tr
            svg
                width: 15px
                margin-right: 10px
                transition: $tr
                path, line, rect, ellipse, circle
                    transition: $tr
            &:hover, &.active
                color: $green_co
                svg
                    path, line, rect, ellipse, circle
                        stroke: $green_co
                &::before
                    width: 50px
                    left: calc( 50% - 25px)
.oc-panels
    padding: 6em 7em 5em 7em
    &__btn
        text-align: center
        margin-top: 2em
        a
            background-color: $green-co
            color: white
            display: inline-flex
            height: 36px
            align-items: center
            padding: 0 1.5em
            border-radius: 20px
            transition: $tr
            font-family: 'roboto-bold'
            span
                margin-left: .5em
                position: relative
                transition: $tr
                img
                    width: 20px
                &::before
                    content: ''
                    position: absolute
                    width: 0px
                    height: 2px
                    top: calc(50% - 1px)
                    right: 20px
                    background-color: white
                    transition: $tr
            &:hover
                text-decoration: none
            &:hover span
                margin-left: 1.7em
            &:hover span::before
                width: 20px
    &__title-item
        display: flex
        margin-top: 3em
        margin-bottom: 1em
        .oc-icon
            margin-right: 1em
        .oc-title
            h3
                font-size: 22px
                font-family: 'roboto-regular'
                color: #042B67
                position: relative
                &::before
                    content: ''
                    position: absolute
                    left: 0
                    bottom: -5px
                    width: 40px
                    height: 3px
                    background-color: $green-co

@include media-breakpoint-down(sm)
    .oc-panels
        padding: 2em 1em