#sec-perfiles-2
    .item-pro-1
        border-bottom: 1px solid rgba(112,112,112,.3 )
        &__img-doc
            width: 56px
            height: 70px
        .item-01
            &__info
                &__name
                    font-family: 'roboto-c-regular', sans-serif !important
                    font-size: 15px !important
                &__type
                    font-family: 'roboto-c-italic', sans-serif
                    font-size: 14px
        .img-flecha-green
            width: 26px
            height: 26px
    .item-profile
        border-bottom: 1px solid rgba(112,112,112,.3 )
        &__group
            font-family: 'roboto-c-regular', sans-serif
            font-size: 15px
        &__name-team
            font-family: 'roboto-medium-italic', sans-serif
            font-size: 13px
            color: $blue_light_co
        &__photo-name
            &__photo
                width: 35px
                height: 35px
        &__cont-name
            opacity: 0
            width: 53px
            background-color: $blue_light_co 
            border-radius: 20px
            transition: $tr
            &__name
                color: white 
            &:hover
                opacity: 1  
        
    