.oc-index-sucre
    background-color: white !important
    .oc-img-header-estaciones__icon-estacion
        height: auto
    .oc-content
        background-color: white !important
    .oc-mapa__stat
        position: relative
        top: unset
        left: unset
        max-width: 800px
        margin: auto
    .oc-map__info-aditional
        bottom: 320px
    #mapExt-cordoba
        position: absolute
        top: 455px
        left: 95px
    .oc-map__ext-city__button-text
        margin-left: 20px

    .oc-map__info-aditional
        bottom: 180px
        left: 254px
    .oc-mapa__stat-item-seg .oc-tramo::before
        content: '3'