<div class="oc-custom-modal-map" id="banco-habitat">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/habitat_ecosistema.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Banco de Hábitat del Meta</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/banco-habitat-01.jpg" alt="" class="img-fluid">
                </div>

                <div class="item">
                    <img src="/img/banco-habitat-01.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    En San Martin de los Llanos, Meta, nace en 2016 el primer banco de hábitat de Colombia y de
                    Latinoamérica. El propósito: proteger los bosques naturales y sabanas de la Orinoquía de los cuales
                    depende el recurso hídrico y otros servicios ecosistémicos regionales.
                </p>

                <p>
                    Son 602 hectáreas en la zona hídrica del río Meta y la subzona hidrográfica del río Metica, en las
                    que se busca la restauración de ecosistemas degradados y la conservación del bosque natural. Para
                    asegurar una compensación ambiental efectiva, por parte de quienes estamos vinculados al proyecto,
                    se espera asegurar resultados en conservación permanente y sostenible por 30 años.
                </p>

                <p>
                    El alcance del área de impacto del proyecto incluye parte de los departamentos de Meta,
                    Cundinamarca, Boyacá, Casanare y Vichada. Dada nuestra operación en Casanare, con las estaciones de
                    Cupiagua, Cusiana y El Porvenir, ha sido de gran ayuda ser parte del banco de hábitat para cumplir
                    con las actividades que se derivan de las obligaciones por compensación ambiental.
                </p>

                <div class="oc-est-modal__body__slider p-0 mb-2">
                    <div class="item">
                        <iframe src="https://player.vimeo.com/video/201642080" width="640" height="360" frameborder="0"
                            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <p><a href="https://vimeo.com/201642080">Banco de Habitat-Meta</a> from <a
                                href="https://vimeo.com/laislafantasma">La Isla Fantasma</a> on <a
                                href="https://vimeo.com">Vimeo</a>.</p>
                    </div>
                </div>

                <div class="oc-est-modal__body__button text-center my-4">
                    <a href="https://www.terrasos.co/banco-de-habitat-meta" target="_blank">
                        <span>Conoce la estación</span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="19.827" height="10.428"
                                viewBox="0 0 19.827 10.428">
                                <g id="Grupo_10211" data-name="Grupo 10211" transform="translate(0 0.416)">
                                    <path id="Path_4969" data-name="Path 4969" d="M1062.2,1384.467h18.877"
                                        transform="translate(-1062.2 -1379.619)" fill="none" stroke="#fff"
                                        stroke-width="1.177" />
                                    <path id="Path_4970" data-name="Path 4970" d="M1074,1380.436l4.8,4.8-4.8,4.8"
                                        transform="translate(-1059.808 -1380.436)" fill="none" stroke="#fff"
                                        stroke-width="1.177" />
                                </g>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>