<div class="oc-custom-modal-map" id="clima">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/modal_clima.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Clima</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/Clima-01.jpg" alt="" class="img-fluid">
                </div>

                <div class="item">
                    <img src="https://picsum.photos/id/237/200/300" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    Dependiendo de la zona, la temperatura varía de 22° C. a 27 °C. En el piedemonte llanero el clima es
                    húmedo, en la zona andina se enfría y en las sabanas tiende a ser tropical (27° C.)
                </p>

                <p>
                    En gran parte de Casanare, dominado por las sabanas, se presenta un ciclo anual de cuatro estaciones
                    hídricas. En un primer periodo las plantas tienen suficiente agua en el suelo; después, la tierra
                    queda anegada por completo; posteriormente, los terrenos se van secando y la disponibilidad de agua
                    vuelve a condiciones normales para; finalmente, experimentar una sequía extrema. Expertos definen
                    este contraste como sabanas hiperestacionales.
                </p>
            </div>
        </div>
    </div>
</div>