<div class="oc-custom-modal-map" id="comiteseguimiento">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/comites.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Comités de seguimiento</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__desc text-left">
                <p>
                    Las comunidades con las cuales nos relacionamos a lo largo del trazado del oleoducto son un aspecto
                    relevante para nuestra organización y en especial para el área de gestión social. Por lo menos, son
                    20 años en los que las comunidades de Casanare han convivido con la industria petrolera. En un
                    inicio fue con la multinacional BP, después con Ecopetrol y ahora con Ocensa.
                </p>

                <p>
                    Actualmente contamos con oficinas de gestión social en Tauramena y Monterrey, desde donde realizamos
                    comités de seguimiento en los cuales se presentan actividades de operación en curso y futuras,
                    ofertas laborales y necesidades de bienes y servicios locales que necesitemos contratar. Los comités
                    están integrados por representantes de gremios, gobierno local, sindicatos y comunidades.
                </p>

                <p>
                    Desde su creación, cuando se construía el descargadero de Tauramena en 2012, los comités de
                    seguimiento han funcionado permanentemente, siendo una instancia comunitaria y de control que nos
                    ayuda a tener un relacionamiento y comunicación directa con nuestros grupos de interés.
                </p>
            </div>
        </div>
    </div>
</div>