<div class="oc-custom-modal-map" id="cusiana">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/modal_estacion_cusiana.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Estación Cusiana</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/estacion-cusiana.jpg" alt="" class="img-fluid">
                </div>

                <div class="item">
                    <img src="/img/estacion-cusiana.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    Ubicada en Tauramena, la estación aporta el 50% de los volúmenes transportados por todo el
                    oleoducto. Posee una infraestructura que le permite recibir la producción de petróleo crudo de los
                    campos: Cusiana, Cupiagua, ODL y Araguaney. Cuenta con un descargadero de carro tanques con
                    capacidad para recibir 80 KBPD que opera las 24 horas y con un sistema de almacenamiento de
                    1.150.000 barriles.
                </p>
                <div class="oc-est-modal__body__button text-center my-4">
                    <a href="#" target="_blank">
                        <span>Conoce la estación</span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="19.827" height="10.428"
                                viewBox="0 0 19.827 10.428">
                                <g id="Grupo_10211" data-name="Grupo 10211" transform="translate(0 0.416)">
                                    <path id="Path_4969" data-name="Path 4969" d="M1062.2,1384.467h18.877"
                                        transform="translate(-1062.2 -1379.619)" fill="none" stroke="#fff"
                                        stroke-width="1.177" />
                                    <path id="Path_4970" data-name="Path 4970" d="M1074,1380.436l4.8,4.8-4.8,4.8"
                                        transform="translate(-1059.808 -1380.436)" fill="none" stroke="#fff"
                                        stroke-width="1.177" />
                                </g>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>