<div class="oc-custom-modal-map" id="ecosistema">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/modal_habitat_ecosistema.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Ecosistema</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/ecosistema-01.jpg" alt="" class="img-fluid">
                </div>

                <div class="item">
                    <img src="/img/ecosistema-02.jpg" alt="" class="img-fluid">
                </div>

                <div class="item">
                    <img src="/img/ecosistema-03.jpg" alt="" class="img-fluid">
                </div>

                <div class="item">
                    <img src="/img/ecosistema-04.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <h5 class="roboto-light c-green mb-3">De las calmas sabanas al quebrado piedemonte llanero</h5>
                <p>
                    En los Llanos Orientales se encuentra uno de los mayores tesoros de biodiversidad del Colombia. Sus
                    ecosistemas cuentan con sabanas naturales, bosques de galería, morichales, madreviejas, ríos,
                    lagunas y esteros que son el hábitat de peces, aves, mamíferos y reptiles.
                </p>

                <p>
                    Creciendo en los márgenes de caños, quebradas y ríos, los bosques de galería son custodios del agua
                    en las vastas llanuras del oriente colombiano. Junto con los morichales, son ecosistemas
                    fundamentales para regular el flujo del agua, tanto en las épocas de creciente como en los largos
                    veranos, además conecta casi el 40% de las microcuencas del país. Innumerables especies encentran
                    allí refugio, alimento y corredores de movilidad.
                </p>

                <p>
                    Otro ecosistema que constituye un extenso corredor de intercambio entre el norte y el sur del país
                    es el bosque subandino que crece en Casanare. Éste, recibe los ríos que bajan de la cordillera
                    Oriental hasta las zonas planas, convirtiéndose en la fuente de vida de los ecosistemas anfibios de
                    las sabanas del Casanare.
                </p>

                <p>
                    Nuestra área de influencia se encuentra en el piedemonte llanero con los municipios de Aguazul,
                    Tauramena, Monterrey y Sabanalarga. El piedemonte es la zona de transición de las extensas y
                    apacibles sabanas de la Orinoquia a la escarpada cordillera Oriental.
                </p>

            </div>
        </div>
    </div>
</div>