<div class="oc-custom-modal-map" id="hidrografia">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/hidrografia.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Hidrografía</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/Hidrografia-01a.jpg" alt="" class="img-fluid">
                </div>

                <div class="item">
                    <img src="/img/Hidrografia-01a.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    La riqueza hidrográfica del Casanare es uno de sus principales potenciales y está definida por los
                    ríos que bajan desde la cordillera Oriental y por el ciclo de lluvias que inunda la sabana cada año.
                </p>

                <p>
                    En la intrincada red hídrica todos los procesos biológicos y actividades humanas como la
                    agricultura, la pesca y el transporte, tienen relación y dependen principalmente de la frecuencia,
                    duración y magnitud de los ciclos de inundación y sequía. Los caños, quebradas, ríos y humedales son
                    el hábitat de innumerables especies de todos los grupos biológicos que, a su vez, contribuyen con la
                    actividad migratoria de organismos.
                </p>

                <p>
                    En el trayecto del oleoducto están presentes los ríos Charte, Seco, Unete, Chitamena y Túa, que
                    bajan desde la cordillera Oriental, pasan por el piedemonte casanareño y llegan a los causes del
                    Upía y el Cusiana, para terminar en las aguas del gran río Meta.
                </p>

                <p>
                    Además de los afluentes mencionados, se destacan los ríos Upía, Cusiana, Cravo Sur, Guanápalo,
                    Pauto, Guachiría, Agua Clara, Ariporo, Aricaporo, Dumagua, Duya, Caja, Suner, Chamezano, Tonce, La
                    Palmera, Tocaría, Nunchía, Payero, Tenecito, Chire y Chiquito.
                </p>

            </div>
        </div>
    </div>
</div>