<div class="oc-custom-modal-map" id="tauramena">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/modal_municipio_3_tauramena.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Municipio de Tauramena</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/municipio-tauramena.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left mb-5">
                <p>
                    En una gran meseta alargada, con el piedemonte llanero al occidente y en medio de los ríos Caja y
                    Chitamena, se encuentra Tauramena, un municipio petrolero y llanero por excelencia.
                </p>

                <p>
                    Si bien, la mayoría de sus ingresos proviene de las regalías del campo petrolero de Cusiana, su
                    economía se está diversificando e impulsando actividades agropecuarias. Históricamente ha tenido
                    vocación ganadera, destacándose la producción y comercialización de leche y sus derivados. En la
                    agricultura, grandes extensiones de cultivo de arroz predominan en las sabanas; sin embargo, la
                    agricultura en pequeñas parcelas donde se cosecha plátano, maíz y yuca son importantes para el
                    autoconsumo.
                </p>

                <p>
                    Un aspecto para destacar en su plan de ordenamiento territorial, es que cuenta con cinco áreas de
                    protección ambiental: bosque protector de fauna y recurso hídrico, microcuencas abastecedoras de
                    acueductos, microcuencas paisajísticas, humedales y reservas naturales.
                </p>
            </div>

            <div class="oc-est-modal__body__info-items row text-center">
                <div class="item col-6 p-0">
                    <img src="/img/icon_ventana_modal_municipio_aguazul_superficie.svg" alt="" class="item__img">
                    <h3 class="item__title">2.607,2 <span class="small-text">Km2</span></h3>
                    <h5 class="item__sub-title">Superficie</h5>
                    <hr>
                </div>

                <div class="item col-6 p-0">
                    <img src="/img/icon_ventana_modal_municipio_aguazul_area_urbana.svg" alt="" class="item__img">
                    <h3 class="item__title">2.44 <span class="small-text">Km2</span></h3>
                    <h5 class="item__sub-title">Área urbana</h5>
                    <hr>
                </div>

                <div class="item col-6 p-0">
                    <img src="/img/icon_ventana_modal_municipio_aguazul_area_rural.svg" alt="" class="item__img">
                    <h3 class="item__title">2.604,75 <span class="small-text">Km2</span></h3>
                    <h5 class="item__sub-title">Área rural</h5>
                    <hr>
                </div>

                <div class="item col-6 p-0">
                    <img src="/img/icon_ventana_modal_municipio_aguazul_habitantes.svg" alt="" class="item__img">
                    <h3 class="item__title">23.527 <span class="small-text">Habitantes</span></h3>
                    <h5 class="item__sub-title">(Censo 2018)</h5>
                    <hr>
                </div>

                <div class="item col-6 p-0">
                    <img src="/img/icon_ventana_modal_municipio_aguazul_habitantes_cabecera.svg" alt=""
                        class="item__img">
                    <h3 class="item__title">65% <span class="small-text">Habitantes</span></h3>
                    <h5 class="item__sub-title">Cabeceras municipales</h5>
                    <hr>
                </div>

                <div class="item col-6 p-0">
                    <img src="/img/icon_ventana_modal_municipio_aguazul_habitantes_zona_rural.svg" alt=""
                        class="item__img">
                    <h3 class="item__title">35% <span class="small-text">Habitantes</span></h3>
                    <h5 class="item__sub-title">Rural</h5>
                    <hr>
                </div>

                <div class="item col-6 p-0">
                    <img src="/img/icon_ventana_modal_municipio_aguazul_altitud.svg" alt="" class="item__img">
                    <h3 class="item__title">460 <span class="small-text">m.s.n.m.</span></h3>
                    <h5 class="item__sub-title">Altitud</h5>
                </div>

                <div class="item col-6 p-0">
                    <img src="/img/icon_ventana_modal_municipio_aguazul_temperatura.svg" alt="" class="item__img">
                    <h3 class="item__title">25.3° C</h3>
                    <h5 class="item__sub-title">Temperatura</h5>
                </div>
            </div>

            <div class="oc-est-modal__body__button text-center my-4">
                <a href="https://www.tauramena-casanare.gov.co/" target="_blank">
                    <span>Conoce el municipio</span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.827" height="10.428"
                            viewBox="0 0 19.827 10.428">
                            <g id="Grupo_10211" data-name="Grupo 10211" transform="translate(0 0.416)">
                                <path id="Path_4969" data-name="Path 4969" d="M1062.2,1384.467h18.877"
                                    transform="translate(-1062.2 -1379.619)" fill="none" stroke="#fff"
                                    stroke-width="1.177" />
                                <path id="Path_4970" data-name="Path 4970" d="M1074,1380.436l4.8,4.8-4.8,4.8"
                                    transform="translate(-1059.808 -1380.436)" fill="none" stroke="#fff"
                                    stroke-width="1.177" />
                            </g>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>