<div id="top"></div>
{{>../partials/header title="Imagenes" classPage="oc-estaciones oc-index-est oc-index-antioquia"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>../partials/menu-lateral}}
</div>


{{>../partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="main-antioquia">
    <div class="container mt-5">
        {{>../partials/element-multimedia-imagen}}
    </div>
</main>

{{>../partials/back-to-top}}

{{>../partials/footer}}