<div class="oc-custom-modal-map" id="comunidades-boyaca">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/vmodal-titulo_comunidades.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Comunidades</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__desc text-left">
                {{!-- Item 1 --}}
                <h5 class="roboto-light c-green mb-3">Tradición de artesanos boyacenses 2.0</h5>
                <p>
                    La cultura alrededor de los oficios artesanales en Colombia es una tradición histórica. El
                    departamento de Boyacá es uno de las más representativos y las comunidades han tenido en los oficios
                    una fuente de ingresos económicos para su subsistencia.
                </p>

                <p>
                    En un convenio con Artesanías de Colombia, 150 artesanos de seis municipios de Boyacá recibieron
                    capacitación para darle valor agregado a sus productos por medio de elementos diferenciales en
                    términos de diseño, color y mezcla de materiales.
                </p>

                <div class="oc-est-modal__body__button text-center my-4">
                    <a href="#" class="oc-btn mt-3 oc-btn__green">
                        <span>Ir al proyecto</span>
                        <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                    </a>
                </div>

                {{!-- Item 2 --}}
                <h5 class="roboto-light c-green mb-3 mt-5">Hortalizas bajo invernadero</h5>
                <p>
                    Con el propósito de incentivar la reactivación económica, en 2021 retomamos el proyecto de cultivo
                    de hortalizas bajo invernadero con mujeres campesinas de los municipios de Zetaquira y Miraflores.
                    Por medio de un convenio con los municipios y la asociación cultural EcoZetaquira, contribuimos con
                    los materiales de construcción para los invernaderos e hicimos acompañamiento organizativo para
                    fortalecer la asociación Cortalizas en su organización interna.
                </p>

                <h5 class="roboto-light c-green mb-3 mt-5">Mejorar viviendas para mejorar familias</h5>
                <p>
                    El impacto que tiene en una familia las condiciones de su vivienda, es significativo. Cuando
                    logramos mejorar las unidades sanitarias, la cocina y las habitaciones, nos estamos aproximando a
                    unas condiciones de vida mínimas y dignas.
                </p>

                <p>
                    En la vereda El Guamal, municipio de Miraflores, logramos en el 2020 el mejoramiento de 15
                    viviendas. Para el 2021 estamos estructurando el proyecto en los municipios de Santa Sofía y en 7
                    veredas del municipio de Miraflores.
                </p>

                <div class="oc-est-modal__body__button text-center my-4">
                    <a href="#" class="oc-btn mt-3 oc-btn__green">
                        <span>Ir al proyecto</span>
                        <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                    </a>
                </div>

                {{!-- Item 3 --}}
                <h5 class="roboto-light c-green mb-3 mt-5">Convenio para mejoramiento de vías</h5>
                <p>
                    En el 2021 estamos estructurando un convenio con los municipios de Ramiriquí y Zetaquira que
                    consiste en identificar puntos críticos en vías que son estratégicos para la comunidad y nuestra
                    operación. En este tipo de intervenciones, el municipio aporta el desarrollo de la obra y nosotros
                    apoyamos con materiales para la misma.
                </p>

                <h5 class="roboto-light c-green mb-3 mt-5">Buena Vecindad: seguridad con enfoque social</h5>
                <p>
                    El proyecto Buena Vecindad busca la transformación de entornos en lugares seguros y confiables para
                    las comunidades y nuestra operación. La iniciativa contribuye a prevenir conductas contrarias a la
                    convivencia y acciones delictivas, al mismo tiempo que fomenta la construcción de una cultura de
                    legalidad y de comportamientos solidarios. En Boyacá hemos trabajado con las comunidades Yapombo,
                    Betania y Calderón.
                </p>

                <div class="oc-est-modal__body__button text-center my-4">
                    <a href="#" class="oc-btn mt-3 oc-btn__green">
                        <span>Ir al proyecto</span>
                        <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                    </a>
                </div>

                {{!-- Item 4 --}}
                <h5 class="roboto-light c-green mb-3 mt-5">Comité de seguimiento en Miraflores</h5>
                <p>
                    Las comunidades con las cuales nos relacionamos a lo largo del trazado del oleoducto son un aspecto
                    relevante para nuestra organización y en especial para el área de gestión social. Desde el 2019, en
                    Miraflores, realizamos comités de seguimiento para presentar actividades de operación en curso y
                    futuras, ofertas laborales y necesidades de bienes y servicios locales que necesitemos contratar.
                </p>

                <p>
                    Los comités están integrados por representantes de gremios, gobierno local, sindicatos y
                    comunidades. Son una instancia comunitaria y de control que nos ayuda a tener un relacionamiento y
                    comunicación directa con nuestros grupos de interés.
                </p>
            </div>
        </div>
    </div>
</div>