<div class="oc-custom-modal-map" id="ecosistema-boyaca">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/vmodal-titulo_ecosistema.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Ecosistema</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/imag_ocensa_territorio_boyaca_1_ecosistema.jpg" alt="" class="img-fluid">
                </div>
                <div class="item">
                    <img src="/img/imag_ocensa_territorio_boyaca_2_ecosistema.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    El departamento de Boyacá cuenta con una flora diversa que contribuye a una alta variedad de ecosistemas como el pie de monte llanero, el bosque andino, altoandino, húmedo tropical y zonas de páramo. 
                </p>

                <p>
                    El bosque andino o de niebla es quizás uno de los paisajes naturales más amenazados en el país. La deforestación ha hecho que solo quede un 4% de la cobertura original, ya que ha sido transformado en potreros para ganadería y cultivos. La zona de páramo (arriba de los 3.200 m.s.n.m.) es uno de los ecosistemas fundamentales para la conservación y regulación de agua. En Colombia están la mitad de todos los que hay en el mundo.
                </p>

                <p>
                    El oleoducto atraviesa el complejo de páramo de Tota-Bijagual-Mamapacha, uno de los más grandes del país, entre los municipios boyacenses de Garagoa, Chinavita, Ramiriquí, Tibaná, Cienaga y Varicacha
                </p>
            </div>
        </div>
    </div>
</div>