{{!-- Ancla --}}
<div id="top"></div>
{{>../partials/header title="Boyacá - Base Soracá" classPage="oc-estaciones oc-boy-soraca oc-est-boyaca"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>../partials/menu-lateral}}
</div>

{{>../partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="main-boy-soraca">

    {{>../partials/perfil-recorrido-casanare}}
    <!-- Section 01 -->
    <section class="oc-widgets-section mt-5 pt-5" id="wdg-section-01">
        <div class="container">
            <div class="row">
                <!-- Widget principal -->
                <div class="col-12 col-md-4">
                    <div class="oc-card-widget oc-widget-principal">
                        <div class="oc-card-widget__body p-3">
                            <h2 class="oc-widget-principal__title mt-4">
                                <span class="oc-widget-principal__title__01">Base</span><br>
                                <span class="oc-widget-principal__title__02">SORACÁ</span>
                            </h2>
                            <a href="/boyaca/boyaca.html" class="oc-btn oc-btn__green oc-btn__large mt-3">
                                <span class="flecha-ocensa flecha-izquierda flecha-blanca mr-2"></span>
                                <span>Regresar a Boyacá</span>
                            </a>
                            <div class="oc-widget-principal__leyend mt-4 text-center">
                                <h5 class="oc-widget-principal__leyend__text m-0"><span
                                        class="oc-widget-principal__leyend__text__01">Sector <strong>/</strong></span>
                                    <span class="oc-widget-principal__leyend__text__02">Línea Sur</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Widget slider -->
                <div class="col-12 col-md-8">
                    <div class="oc-card-widget oc-widget-slider">
                        <div class="oc-card-widget__body">
                            <div class="oc-slick-widget__slider oc-slick-theme">
                                <div class="item">
                                    <img src="https://picsum.photos/1920/1080" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 02 -->
    <section class="oc-widgets-section mt-4 mb-3 mb-md-0" id="wdg-section-02">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="oc-card-widget oc-widget-template wdg-la-estacion" id="wdg-la-estacion">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-la_estacion.svg" alt="">
                                <span>La base</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body px-4 py-3">
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/icon_territorio_base_soraca_personal_emergencia.svg" alt="">
                                <p>Cuenta con personal de Ocensa y un contratista mecánico y de emergencias para llegar
                                    a cualquier lugar del oleoducto en menos de 12 horas y <b>atender una emergencia en
                                        corto tiempo.</b></p>
                            </div>
                            <hr class="my-1">

                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/icon_territorio_base_soraca_sub_bases.svg" alt="">
                                <p>Contamos con <b>sub-bases</b> con personal y equipos en Cusiana, Miraflores y La
                                    Belleza.</p>
                            </div>
                            <hr class="my-1">

                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/icon_territorio_base_soraca_mantenimiento_de_linea.svg" alt="">
                                <div>
                                    <p>El mantenimiento de línea implica intervenciones en:</p>
                                    <ul class="mb-0 wdg-la-estacion__item__li-items">
                                        <li>El Derecho de Vía DdV (obras civiles).</li>
                                        <li>La tubería (excavaciones de validación de abolladuras y alivios de
                                            tensiones).</li>
                                        <li>Las válvulas en el oleoducto.</li>
                                    </ul>
                                </div>
                            </div>
                            <hr class="my-1">

                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/icon_territorio_base_soraca_infraestructura.svg" alt="">
                                <p>Cuenta con la infraestructura para la atención de emergencias, reparación,
                                    recolección de crudo (si hubiere derrame) y remediación.</p>
                            </div>
                            <hr class="my-1">

                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/icon_territorio_base_soraca_superintendencia_mantenimiento.svg" alt="">
                                <p>Desde las superintendencias de línea también se atiende el mantenimiento mayor de
                                    tanques, unidades y generación de las estaciones.</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="oc-card-widget oc-widget-template wdg-ubicacion" id="wdg-ubicacion">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/3-icon-menu-ubicacion.svg" alt="">
                                <span>Ubicación</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body wdg-banner">
                            <div class="row">
                                <div class="col-12 col-md-8 wdg-banner__bg dragscroll">
                                    <img src="/img/imag_ocensa_1_base_soraca_ubicacion.jpg" alt="">
                                </div>
                                <div class="col-12 col-md-4 h-100 oc-bg-green py-3 wdg-banner__info">
                                    <p>
                                        En el municipio de Soracá y a solo 14 minutos de Tunja, la base está ubicada
                                        estratégicamente en el altiplano Cundiboyacense sobre la cordillera Oriental.
                                    </p>

                                    <div
                                        class="wdg-banner__info__km d-flex flex-column flex-md-row align-items-center justify-content-center flex-wrap first-child mt-3">
                                        <div class="d-flex align-items-center">
                                            <img src="/img/altitud.svg" alt="">
                                            <div class="d-block text-center">
                                                <span class="number">
                                                    2.800
                                                </span>
                                                <span class="km">
                                                    m.s.n.m
                                                </span>
                                            </div>
                                        </div>
                                        <p class="leyend text-center">
                                            Altitud
                                        </p>
                                    </div>

                                    <div
                                        class="wdg-banner__info__km d-flex flex-column flex-md-row align-items-center justify-content-center flex-wrap last-child">
                                        <div class="d-flex  align-items-center">
                                            <img src="/img/temperatura.svg" alt="">
                                            <span class="number">
                                                12°
                                            </span>
                                            <span class="km">
                                                C
                                            </span>
                                        </div>
                                        <p class="leyend text-center">
                                            Temperatura promedio
                                        </p>
                                    </div>

                                    <a href="https://www.google.com/maps/place/Sorac%C3%A1,+Boyac%C3%A1/@5.5006405,-73.3322642,1150m/data=!3m1!1e3!4m5!3m4!1s0x8e6a7d8529c1a927:0x900aec7131173f9c!8m2!3d5.5007074!4d-73.3329194"
                                        target="_blank" class="oc-btn oc-btn__white mb-3 mt-5">
                                        <span> Ir al mapa </span>
                                        <span class="flecha-ocensa flecha-derecha flecha-verde ml-2"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 03 -->
    <section class="oc-widgets-section mt-4" id="wdg-section-03">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="oc-card-widget oc-widget-template wdg-relacionamiento mb-4 mb-md-0"
                        id="wdg-relacionamiento">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_base_soraca_relacionamiento_icono_menu.svg" alt="">
                                <span>Relacionamiento</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3">
                            <div class="oc-box-dato d-flex p-3">
                                <img src="/img/icon_territorio_base_soraca_relacionamiento_componente_relacionamiento.svg"
                                    alt="" class="oc-box-dato__img">
                                <p class="m-0 oc-box-dato__text">
                                    El componente de relacionamiento con el entorno (tierras, comunidades y medio
                                    ambiente) es muy alto, dado que las obras pueden realizarse en departamentos y
                                    municipios diferentes.
                                </p>
                            </div>

                            <div class="oc-box-dato d-flex p-3 mt-2">
                                <img src="/img/icon_territorio_base_soraca_relacionamiento_personal_comunidades.svg"
                                    alt="" class="oc-box-dato__img">
                                <p class="m-0 oc-box-dato__text">
                                    El personal de línea es la cara de Ocensa frente a las comunidades.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="oc-card-widget oc-widget-template wdg-valvulas mb-4 mb-md-0" id="wdg-valvulas">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_base_soraca_valvulas_de_linea_icono_menu.svg" alt="">
                                <span>Válvulas de línea</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3">
                            <div class="row">
                                <div class="col-6 p-1 pr-md-1">
                                    <div class="oc-box-dato text-center p-3 item-1">
                                        <h5 class="text-ubicadas">Ubicadas cada</h5>
                                        <span class="oc-number-medium c-green roboto-medium">40</span>
                                        <span class="roboto-regular c-green">KM</span>
                                        <h5 class="text-aprox">APROXIMADAMENTE</h5>
                                        <img src="/img/valvulas-divisor-1.svg" alt="">
                                        <p class="text-desc">Permiten seccionar el oleoducto de forma remota o mecánica.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-6 p-1 pl-md-1">
                                    <div class="oc-box-dato py-3 px-2 item-2 d-flex">
                                        <div>
                                            <img src="/img/valvulas-img-divisor-2.svg" alt="" class="mr-1">
                                        </div>
                                        <div class="cont-sub-items d-flex flex-column justify-content-between">
                                            <div class="sub-item sub-item-1">
                                                <span class="oc-number-medium roboto-bold c-green">37</span>
                                                <h4 class="sub-item__title">Válvulas</h4>
                                                <p class="sub-item__sector c-green">Sector Sur</p>
                                            </div>

                                            <div class="sub-item sub-item-2 mt-5">
                                                <span class="oc-number-medium roboto-bold c-green">34</span>
                                                <h4 class="sub-item__title">Válvulas</h4>
                                                <p class="sub-item__sector c-green">Sector Norte</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="oc-card-widget oc-widget-template wdg-contratistas" id="wdg-contratistas">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_base_soraca_contratistas_icono_menu.svg" alt="">
                                <span>Contratistas</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3">
                            <div class="oc-slick-widget__contratistas oc-slick-theme_2">
                                <!-- Slide 1 -->
                                <div class="slick-item text-center px-5">
                                    <img src="/img/logo-contratista-ismocol.png" alt=""
                                        class="oc-slick-widget__contratistas__brand img-fluid mx-auto mb-4">
                                    <h5 class="oc-slick-widget__contratistas__name roboto-medium">ISMOCOL S.A.</h5>
                                    <p class="roboto-light my-4">Contratista mecánico y de emergencias para todo el
                                        oleoducto</p>
                                    <a href="https://www.ismocol.com/" target="_blank"
                                        class="oc-btn oc-btn__gray m-0 my-3">
                                        <span> Ir </span>

                                        <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                    </a>
                                </div>

                                <!-- Slide 2 -->
                                <div class="slick-item text-center px-5">
                                    <img src="/img/imag_ocensa_3_base_soraca_contratistas.jpg" alt=""
                                        class="oc-slick-widget__contratistas__brand img-fluid mx-auto mb-2">
                                    <h5 class="oc-slick-widget__contratistas__name roboto-medium">MEYAN</h5>
                                    <p class="roboto-light my-4"> Obras civiles</p>
                                    <a href="https://meyan.com.co/" target="_blank"
                                        class="oc-btn oc-btn__gray m-0 my-3">
                                        <span> Ir </span>

                                        <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                    </a>
                                </div>

                                <!-- Slide 3 -->
                                <div class="slick-item text-center px-5">
                                    <img src="/img/imag_ocensa_4_base_soraca_contratistas.jpg" alt=""
                                        class="oc-slick-widget__contratistas__brand img-fluid mx-auto mb-2">
                                    <h5 class="oc-slick-widget__contratistas__name roboto-medium">RANDLEY</h5>
                                    <p class="roboto-light my-4"> Construcción de búnker para las válvulas</p>
                                    <a href="https://randleysas.com/" target="_blank"
                                        class="oc-btn oc-btn__gray m-0 my-3">
                                        <span> Ir </span>

                                        <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 04 -->
    <div class="oc-widgets-section mt-4" id="wdg-section-04">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    {{!-- Distancia linea Desktop --}}
                    <div class="oc-card-widget oc-widget-template wdg-distancias-linea wdg-distancia  wdg-distancia__desktop d-none d-md-block"
                        id="wdg-distancias-linea">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_base_soraca_distancias_de_linea_sector_sur_icono_menu.svg"
                                    alt="">
                                <span>Distancias de línea sector sur</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3">
                            <div class="item-01 text-center d-flex align-items-center">
                                <div class="col p-0 item-01 item-01__left">
                                    <img src="/img/icon_territorio_base_soraca_distancias_de_linea_sector_sur_estacion_cupiagua.svg"
                                        alt="" class="img-fluid">
                                    <p class="roboto-bold m-0 est-name">
                                        Cupiagua
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        300
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                                <div class="col p-0 item-01__center">
                                    <span class="roboto-regular">39 Km</span>
                                    <img src="/img/line-divider-distancias.svg" alt="" class="wdg-distancia-divider">
                                </div>
                                <div class="col p-0 item-01__right">
                                    <img src="/img/estacion_cusiana.svg" alt="" class="img-fluid">
                                    <p class="roboto-bold est-name m-0">
                                        Cusiana
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        460
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                                <div class="col p-0 item-01__center">
                                    <span class="roboto-regular">33 Km</span>
                                    <img src="/img/line-divider-distancias.svg" alt="" class="wdg-distancia-divider">
                                </div>
                                <div class="col p-0 item-01__right">
                                    <img src="/img/estacion_cusiana copia.svg" alt="" class="img-fluid">
                                    <p class="roboto-bold est-name m-0">
                                        El Porvenir
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        1.137
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>

                                <div class="col p-0 item-01__center">
                                    <span class="roboto-regular">53 Km</span>
                                    <img src="/img/line-divider-distancias.svg" alt="" class="wdg-distancia-divider">
                                </div>
                                <div class="col p-0 item-01__right">
                                    <img src="/img/icon_territorio_base_soraca_distancias_de_linea_sector_sur_estacion_miraflores.svg"
                                        alt="" class="img-fluid">
                                    <p class="roboto-bold est-name m-0">
                                        Miraflores
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        1.775
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                                <div class="col p-0 item-01__center">
                                    <span class="roboto-regular">53 Km</span>
                                    <img src="/img/line-divider-distancias.svg" alt="" class="wdg-distancia-divider">
                                </div>
                                <div class="col p-0 item-01__right">
                                    <img src="/img/icon_territorio_base_soraca_distancias_de_linea_sector_sur_estacion_la_belleza.svg"
                                        alt="" class="img-fluid">
                                    <p class="roboto-bold est-name m-0">
                                        La Belleza
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        1.974
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                                <div class="col p-0 item-01__center">
                                    <span class="roboto-regular">138 Km</span>
                                    <img src="/img/line-divider-distancias.svg" alt="" class="wdg-distancia-divider">
                                </div>
                                <div class="col p-0 item-01__right">
                                    <img src="/img/icon_territorio_base_soraca_distancias_de_linea_sector_sur_estacion_vasconia.svg"
                                        alt="" class="img-fluid">
                                    <p class="roboto-bold est-name m-0">
                                        Vasconia
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        134
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                            </div>

                            <div class="d-flex mt-4 item-02">
                                <div class="item-02__sect-1 mr-2">
                                    <div class="oc-box-dato p-3 d-flex">
                                        <p class="roboto-bold c-green m-0 mr-1">Interfield <br> Diámetro</p>

                                        <div class="item-02__sect-1__data d-flex position-relative">
                                            <span class="oc-dist-linea"></span>
                                            <div class="item-02__item-number text-center">
                                                <span class="item-02__item-number__number roboto-bold">16</span>
                                                <span class="item-02__item-number__text roboto-bold">PULGADAS</span>
                                            </div>

                                            <div class="item-02__item-number text-center">
                                                <span class="item-02__item-number__number roboto-bold">30</span>
                                                <span class="item-02__item-number__text roboto-bold">PULGADAS</span>
                                            </div>

                                            <div class="item-02__item-number text-center">
                                                <span class="item-02__item-number__number roboto-bold">36</span>
                                                <span class="item-02__item-number__text roboto-bold">PULGADAS</span>
                                            </div>

                                            <div class="item-02__item-image">
                                                <img src="/img/icon_territorio_base_soraca_distancias_de_linea_sector_sur_diametro_tubo.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-02__sect-2">
                                    <div class="oc-box-dato d-flex justify-content-between align-items-center p-3">
                                        <p class="roboto-bold c-green m-0 oc-box-dato__title">Total <br> distancia</p>
                                        <div class="text-center">
                                            <span class="oc-number-medium roboto-medium c-green">359</span>
                                            <span class="roboto-regular c-green oc-box-dato__km">KM</span>
                                            <p class="roboto-bold oc-box-dato__sector m-0">SECTOR SUR</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- Distancia linea Mobile --}}
                    <div class="oc-card-widget oc-widget-template wdg-distancias-linea wdg-distancia  wdg-distancia__mobile d-md-none"
                        id="wdg-distancias-linea">

                        <span class="div-linea-mobile"></span>

                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_base_soraca_distancias_de_linea_sector_sur_icono_menu.svg"
                                    alt="">
                                <span>Distancias de línea sector sur</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3">
                            <div class="item-01 text-center">

                                {{!-- Linea Cupiagua --}}
                                <div class="p-0 item-01 item-01__left align-items-center row">
                                    <div class="col-5">
                                        <img src="/img/icon_territorio_base_soraca_distancias_de_linea_sector_sur_estacion_cupiagua.svg"
                                            alt="" class="img-fluid">
                                    </div>
                                    <div class="col-7">
                                        <p class="roboto-bold m-0 est-name">
                                            Cupiagua
                                        </p>
                                        <span class="oc-number-medium c-green">
                                            300
                                        </span>
                                        <p class="roboto-regular m-0">m.s.n.m.</p>
                                    </div>
                                </div>
                                <div class="oc-box-dato row align-items-center p-2 mt-2">
                                    <span class="item-circle"></span>
                                    <div class="col-5">
                                         <p class="roboto-regular mb-0 ml-2">39 Km</p>
                                    </div>
                                    <div class="col-7 text-left">
                                         <p class="roboto-regular m-0">Interfield Diámetro 16 pulgadas</p>
                                    </div>
                                </div>

                                {{!-- Linea Cusiana --}}
                                <div class="p-0 item-01 item-01__left align-items-center row mt-4">
                                    <div class="col-5">
                                        <img src="/img/estacion_cusiana.svg"
                                            alt="" class="img-fluid">
                                    </div>
                                    <div class="col-7">
                                        <p class="roboto-bold m-0 est-name">
                                            Cusiana
                                        </p>
                                        <span class="oc-number-medium c-green">
                                            460
                                        </span>
                                        <p class="roboto-regular m-0">m.s.n.m.</p>
                                    </div>
                                </div>
                                <div class="oc-box-dato row align-items-center p-2 mt-2">
                                    <span class="item-circle"></span>
                                    <div class="col-5">
                                         <p class="roboto-regular mb-0 ml-2">39 Km</p>
                                    </div>
                                    <div class="col-7 text-left">
                                         <p class="roboto-regular m-0">Diámetro 30 pulgadas</p>
                                    </div>
                                </div>


                                {{!-- Linea Porvenir --}}
                                <div class="p-0 item-01 item-01__left align-items-center row mt-4">
                                    <div class="col-5">
                                        <img src="/img/estacion_cusiana copia.svg"
                                            alt="" class="img-fluid">
                                    </div>
                                    <div class="col-7">
                                        <p class="roboto-bold m-0 est-name">
                                            El Porvenir
                                        </p>
                                        <span class="oc-number-medium c-green">
                                            1.137
                                        </span>
                                        <p class="roboto-regular m-0">m.s.n.m.</p>
                                    </div>
                                </div>
                                <div class="oc-box-dato row align-items-center p-2 mt-2">
                                    <span class="item-circle"></span>
                                    <div class="col-5">
                                         <p class="roboto-regular mb-0 ml-2">53 Km</p>
                                    </div>
                                    <div class="col-7 text-left">
                                        
                                    </div>
                                </div>


                                {{!-- Linea Miraflores --}}
                                <div class="p-0 item-01 item-01__left align-items-center row mt-4">
                                    <div class="col-5">
                                        <img src="/img/icon_territorio_base_soraca_distancias_de_linea_sector_sur_estacion_miraflores.svg"
                                            alt="" class="img-fluid">
                                    </div>
                                    <div class="col-7">
                                        <p class="roboto-bold m-0 est-name">
                                            Miraflores
                                        </p>
                                        <span class="oc-number-medium c-green">
                                            1.775
                                        </span>
                                        <p class="roboto-regular m-0">m.s.n.m.</p>
                                    </div>
                                </div>
                                <div class="oc-box-dato row align-items-center p-2 mt-2">
                                    <span class="item-circle"></span>
                                    <div class="col-5">
                                         <p class="roboto-regular mb-0 ml-2">53 Km</p>
                                    </div>
                                    <div class="col-7 text-left">
                                        <p class="roboto-regular m-0">Diámetro 36 pulgadas</p>
                                    </div>
                                </div>

                                {{!-- Linea La Belleza --}}
                                <div class="p-0 item-01 item-01__left align-items-center row mt-4">
                                    <div class="col-5">
                                        <img src="/img/icon_territorio_base_soraca_distancias_de_linea_sector_sur_estacion_la_belleza.svg"
                                            alt="" class="img-fluid">
                                    </div>
                                    <div class="col-7">
                                        <p class="roboto-bold m-0 est-name">
                                            La Belleza
                                        </p>
                                        <span class="oc-number-medium c-green">
                                            1.974
                                        </span>
                                        <p class="roboto-regular m-0">m.s.n.m.</p>
                                    </div>
                                </div>
                                <div class="oc-box-dato row align-items-center p-2 mt-2">
                                    <span class="item-circle"></span>
                                    <div class="col-5">
                                         <p class="roboto-regular mb-0 ml-2">138 Km</p>
                                    </div>
                                    <div class="col-7 text-left">
                                        
                                    </div>
                                </div>

                                {{!-- Linea Vasconia --}}
                                <div class="p-0 item-01 item-01__left align-items-center row mt-4">
                                    <div class="col-5">
                                        <img src="/img/icon_territorio_base_soraca_distancias_de_linea_sector_sur_estacion_vasconia.svg"
                                            alt="" class="img-fluid">
                                    </div>
                                    <div class="col-7">
                                        <p class="roboto-bold m-0 est-name">
                                            Vasconia
                                        </p>
                                        <span class="oc-number-medium c-green">
                                            134
                                        </span>
                                        <p class="roboto-regular m-0">m.s.n.m.</p>
                                    </div>
                                </div>

                            </div>

                            <div class="mt-4 item-02">
                                <div class="item-02__sect-2 w-100">
                                    <div class="oc-box-dato d-flex justify-content-around align-items-center p-3">
                                        <p class="roboto-bold c-green m-0 oc-box-dato__title">Total <br> distancia</p>
                                        <div class="text-center">
                                            <span class="oc-number-medium roboto-medium c-green">359</span>
                                            <span class="roboto-regular c-green oc-box-dato__km">KM</span>
                                            <p class="roboto-bold oc-box-dato__sector m-0">SECTOR SUR</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 05 -->
    <div class="oc-widgets-section mt-4" id="wdg-section-05">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="oc-card-widget oc-widget-template wdg-personal" id="wdg-personal">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-personal.svg" alt="">
                                <span>Personal</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>

                        <div class="oc-widget-template__body p-3 py-2">
                            <div class="oc-porvenir__personal">
                                <div class="oc-porvenir__personal-item oc-porvenir__personal-item-02 mt-5">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/hugo-garcia.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Hugo García</h5>
                                        <p>Superintendente de línea y mantenimiento mayor sur </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="oc-card-widget oc-widget-template wdg-seguridad mt-4 mb-4 mb-md-0" id="wdg-seguridad">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_seguridad_hse_icono_menu.svg" alt="">
                                <span>Seguridad HSE</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body px-4 py-5">
                            <div class="wdg-seguridad__item">
                                <span class="oc-number">840</span>
                                <p class="text-center">Días sin incidentes</p>
                            </div>
                            <div class="wdg-seguridad__cont-btn">
                                <a href="/docs/Reglas-para-la-vida.pdf" download="Reglas para la vida" class="oc-btn oc-btn__green">
                                    <span>10 reglas para la vida</span>
                                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="oc-card-widget oc-widget-template wdg-demografico wdg-bombeo" id="wdg-demografico">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_base_soraca_demografico_icono_menu.svg" alt="">
                                <span>Demográfico</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2">
                            <div class="wdg-demografico__car oc-slick-theme_2">

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">TRABAJADORES EN BASE</h3>
                                    <img src="/img/imag_ocensa_base_soraca_demografico_trabajadores_en_estacion.svg"
                                        alt="" class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item">
                                            <p>Total trabajadores base</p>
                                            <span>295</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-blue">Ocensa</p>
                                            <span>13</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-grey">Contratistas</p>
                                            <span>282</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">MUJERES Y HOMBRES</h3>
                                    <img src="/img/imag_ocensa_base_soraca_demografico_mujeres_y_hombres.svg" alt=""
                                        class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item">
                                            <p>Total trabajadores <br> Ocensa base Tunja</p>
                                            <span>13</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-blue">Mujeres</p>
                                            <span>1</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-grey">Hombres</p>
                                            <span>12</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">GENERACIONES</h3>
                                    <img src="/img/grafica-demografico-03.svg" alt="" class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-green">Generación X</p>
                                            <span>00</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-blue">Generación Z</p>
                                            <span>00</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-yellow">Baby boom</p>
                                            <span>00</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-grey">Millenials</p>
                                            <span>00</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="oc-card-widget oc-widget-template wdg-clima" id="wdg-solicitudes">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_solicitudes_ingreso_icono_menu.svg" alt="">
                                <span>Solicitudes de ingreso</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="p-2 position-relative">
                            <div class="oc-pop-up p-4 card-solicitudes-ingreso">
                                <div class="d-flex oc-cont-title-reco justify-content-between">
                                    <span class="title-green c-green text-uppercase">Recuerde que para<br> la visita
                                        debe:</span>
                                    <img src="/img/close-green.svg" alt="" class="img-close-green close-solicitudes">
                                </div>
                                <ul class="oc-cont-recomendaciones  mt-3">
                                    <li class="d-flex"><img src="/img/chulo-verde.svg"
                                            class="img-recomendaciones"></img>
                                        <p>Contar con inducción HSE.</p>
                                    </li>
                                    <li class="d-flex"><img src="/img/chulo-verde.svg"
                                            class="img-recomendaciones"></img>
                                        <p>Tener aprobacion de su protololo covid-19 ante gestion del
                                            riesgo Tauramena.</p>
                                    </li>
                                    <li class="d-flex"><img src="/img/chulo-verde.svg"
                                            class="img-recomendaciones"></img>
                                        <p>Si es foraneo, debe llegar a territorio con prueba covid-19
                                            (Antigeno o PCR).</p>
                                    </li>
                                    <li class="d-flex"><img src="/img/chulo-verde.svg"
                                            class="img-recomendaciones"></img>
                                        <p>Contar con dotación de camisa y pantalón en algodón y
                                            elementos de proteccion personal como: cascos, botas, gafas, guantes y
                                            proteccion auditiva</p>
                                    </li>
                                    <li class="d-flex"><img src="/img/chulo-verde.svg"
                                            class="img-recomendaciones"></img>
                                        <p>Estar acompañado siempre con una persona que conozca las
                                            condiciones de la estación.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="oc-widget-template__body p-2 card-solicitudes-ingreso">
                                <div class="row p-3">
                                    <div class="col-12">
                                        <p class="roboto-light intro-text">Se debe enviar con <b>8 días de
                                                anticipación</b> la siguiente
                                            información:</p>
                                        <ul class="wdg-la-estacion__item__li-items pl-3">
                                            <li>Nombre de los visitantes.</li>
                                            <li>Datos de seguridad social y parafiscales.</li>
                                            <li>Descripción de las actividades a realizar.</li>
                                            <li>
                                                En caso de una actividad de trabajo, se requiere ART y procedimiento de
                                                la actividad, previo a la autorización de ingreso y apertura de permisos
                                                de trabajo.
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="cont-formatos oc-box-dato text-center mt-3">
                                    <p class="c-green cont-formatos__title">ENVIAR A</p>
                                </div>
                                <div class="row px-2">
                                    <div class="col-12">
                                        <div
                                            class="cont cont-formatos__send pt-2 d-flex align-items-center justify-content-between">
                                            <div class="d-flex">
                                                <img src="/img/profile-send1.jpg" alt=""
                                                    class="img-user-send img-circle mr-3">
                                                <div class="mr-5">
                                                    <span class="d-block name-send">Henry Montañez</span>
                                                    <span class="d-block prof-send">Pendiente confirmar cargo</span>
                                                </div>
                                            </div>
                                            <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr>
                                    </div>
                                    <div class="col-12">
                                        <div
                                            class="cont cont-formatos__send pt-2 d-flex align-items-center justify-content-between">
                                            <div class="d-flex">
                                                <img src="/img/img-perfil-porvenir-elkin.png" alt=""
                                                    class="img-user-send img-circle mr-3">
                                                <div class="mr-5">
                                                    <span class="d-block name-send">Diego Páez</span>
                                                    <span class="d-block prof-send">Pendiente confirmar cargo</span>
                                                </div>
                                            </div>
                                            <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{{>../partials/back-to-top}}

{{>../partials/footer}}