<div id="top"></div>
{{>../partials/header title="Boyacá" classPage="oc-estaciones oc-index-est oc-index-boyaca"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>../partials/menu-lateral}}
</div>


{{>../partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="main-casanare">
    <section class="pb-md-5 py-0">
        {{>../partials/header-estaciones
        img="/img/_Banner-inicio-boyaca.jpg"
        estacion="Boyacá"
        imgMap="/img/icon-mapa-boyaca.svg"
        imgIcons="/img/icons-group-slide-boyaca.svg"
        }}
    </section>
    <section class="cont-intro-territorio mb-5">
        <div class="container">
            {{>../partials/intro-territorio-boyaca}}
        </div>
    </section>

    <section class="oc-mapa oc-mapa-boyaca position-relative">
        {{!-- Modal Map --}}

        <!-- Modal Departamento Boyacá -->
        {{>../modals/boyaca/depto_boyaca}}

        <!-- Modal Estación Páez -->
        {{>../modals/boyaca/paez}}

        <!-- Modal Estación Miraflores -->
        {{>../modals/boyaca/miraflores}}

        <!-- Modal Estación Vasconia -->
        {{>../modals/boyaca/vasconia}}

        <!-- Modal Base Soracá -->
        {{>../modals/boyaca/base_soraca}}

        <!-- Modal Mun Páez -->
        {{>../modals/boyaca/mun_paez}}

        <!-- Modal Mun Miraflores -->
        {{>../modals/boyaca/mun_miraflores}}

        <!-- Modal Mun Puerto Boyacá -->
        {{>../modals/boyaca/mun_puerto_boyaca}}

        <!-- Modal Mun Puerto Serviez -->
        {{>../modals/boyaca/mun_puerto_serviez}}

        <!-- Modal Ecosistema -->
        {{>../modals/boyaca/ecosistema}}

        <!-- Modal Frailejón -->
        {{>../modals/boyaca/frailejon}}

        <!-- Modal Alto de las Flores -->
        {{>../modals/boyaca/alto_flores}}

        <!-- Modal Fauna Boyacá -->
        {{>../modals/boyaca/fauna}}

        <!-- Modal Hidrografía Boyacá -->
        {{>../modals/boyaca/hidrografia}}

        <!-- Modal Clima Boyacá -->
        {{>../modals/boyaca/clima}}

        <!-- Modal Parque Nacional Natural Páramo de Pisba -->
        {{>../modals/boyaca/parque_nal_pisba}}

        <!-- Modal Parque Nacional Natural Páramo de Pisba -->
        {{>../modals/boyaca/santuario_guanenta}}

        <!-- Modal Parque Nacional Natural El Cocuy -->
        {{>../modals/boyaca/parque_nal_cocuy}}

        <!-- Modal Santuario de Fauna y Flora Iguaque -->
        {{>../modals/boyaca/santuario_iguaque}}

        <!-- Modal Comunidades Boyacá-->
        {{>../modals/boyaca/comunidades}}

        <div class="oc-mapa__container">
            <img src="/img/imagen-mapa-linea.svg" alt="" class="oc-mapa__line">

            <img src="/img/boyaca-mapa-3d.jpg" alt="" class="oc-mapa__img">

            <!--Clima-->
            <div class="oc-mapa__location-modals oc-point-26 oc-mapa__green" data-target="#clima-boyaca">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Clima</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Fauna-->
            <div class="oc-mapa__location-modals oc-point-27 oc-mapa__green" data-target="#fauna-boyaca">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Fauna</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Comunidades-->
            <div class="oc-mapa__location-modals oc-point-28 oc-mapa__purple" data-target="#comunidades-boyaca">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-profile.svg" alt="">
                    </div>
                    <span>Comunidades</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Ecosistema-->
            <div class="oc-mapa__location-modals oc-point-29 oc-mapa__green" data-target="#ecosistema-boyaca">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Ecosistema</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Puerto Boyacá-->
            <div class="oc-mapa__location-modals oc-point-30 oc-mapa__orange oc-mapa__location-modals-02"
                data-target="#mun-puerto-boyaca">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    <span>Puerto<br> Boyacá</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Serranía Las Quínchas-->
            <div class="oc-mapa__location-modals oc-point-31 oc-mapa__green oc-mapa__location-modals-02">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <span>Serranía Las<br> Quínchas</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Puerto Serviez-->
            <div class="oc-mapa__location-modals oc-point-32 oc-mapa__orange oc-mapa__location-modals-02"
                data-target="#mun-puerto-serviez">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    <span>Puerto<br> Serviez</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Frailejón-->
            <div class="oc-mapa__location-modals oc-point-33 oc-mapa__green" data-target="#frailejon-boyaca">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Frailejón</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Entrada del Oleoducto a Santander-->
            <div class="oc-mapa__location-modals oc-point-34 oc-mapa__orange oc-mapa__location-modals-02"
                data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <span>Entrada del<br> Oleoducto a Santander</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icono-mapa-boyaca-01.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Páramo de Tota - Bijagual-Mamapacha-->
            <div class="oc-mapa__location-modals oc-point-35 oc-mapa__green oc-mapa__location-modals-02"
                data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <span>Páramo de Tota -<br> Bijagual-Mamapacha</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Obelisco Los Límites-->
            <div class="oc-mapa__location-modals oc-point-36 oc-mapa__orange oc-mapa__location-modals-02"
                data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <span>Obelisco<br> Los Límites</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Villa de Leyva-->
            <div class="oc-mapa__location-modals oc-point-37 oc-mapa__orange" data-target="#monterrey">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>Villa de Leyva</span>
                </div>
            </div>

            <!--Puente de Boyacá-->
            <div class="oc-mapa__location-modals oc-point-38 oc-mapa__orange oc-mapa__location-modals-02"
                data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <span>Puente de Boyacá</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Tunja-->
            <div class="oc-mapa__location-modals oc-point-39 oc-mapa__orange" data-target="#monterrey">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>Tunja</span>
                </div>
            </div>

            <!--Alto de las Flores-->
            <div class="oc-mapa__location-modals oc-point-40 oc-mapa__green" data-target="#alto-flores">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Alto de las Flores</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Hidrografía-->
            <div class="oc-mapa__location-modals oc-point-41 oc-mapa__blue" data-target="#hidrografia-boyaca">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-water.svg" alt="">
                    </div>
                    <span>Hidrografía</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Alto de las Flores-->
            <div class="oc-mapa__location-modals oc-point-42 oc-mapa__green" data-target="#santuario-iguaque">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Santuario de Fauna<br> y Flora Iguaque</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Miraflores-->
            <div class="oc-mapa__location-modals oc-point-43 oc-mapa__orange oc-mapa__location-modals-02"
                data-target="#mun-miraflores">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    <span>Miraflores</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Páez-->
            <div class="oc-mapa__location-modals oc-point-44 oc-mapa__orange" data-target="#mun-paez">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>Páez</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Entrada del Oleoducto a Boyacá-->
            <div class="oc-mapa__location-modals oc-point-45 oc-mapa__orange" data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icono-mapa-boyaca-01.svg" alt="">
                    </div>
                    <span>Entrada del<br> Oleoducto a Boyacá</span>
                </div>
            </div>

            <!--SOGAMOSO-->
            <div class="oc-mapa__location-modals oc-point-46 oc-mapa__orange" data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>Sogamoso</span>
                </div>
            </div>

            <!--Santuario de Fauna y Flora Guanentá Alto Río Forence-->
            <div class="oc-mapa__location-modals oc-point-47 oc-mapa__green" data-target="#santuario-guanenta">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Santuario de Fauna y Flora<br> Guanentá Alto Río Forence</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--PARQUE NACIONAL NATURAL PISBA-->
            <div class="oc-mapa__location-modals oc-point-48 oc-mapa__green" data-target="#parque-nal-pisba">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Parque Nacional<br> Natural Pisba</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--PARQUE NACIONAL NATURAL EL COCUY-->
            <div class="oc-mapa__location-modals oc-point-49 oc-mapa__green oc-mapa__location-modals-02" data-target="#parque-nal-cocuy">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    <span>Parque Nacional <br>Natural El Cocuy</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                </div>
            </div>

            <!--BOYACA-->
            <div class="oc-mapa__location-modals oc-point-50 oc-mapa__orange" data-target="#depto-boyaca">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
            </div>

            <!--VASCONIA-->
            <div class="oc-mapa__location-modals oc-point-51 oc-mapa__yellow" data-target="#est-vasconia">
                <div class="oc-mapa__name-point-yellow">
                    <div class="oc-mapa__info-item">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                        <span>VASCONIA</span>
                    </div>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-yellow.svg" alt="">
                    </div>
                </div>
            </div>

            <!--LA BELLEZA-->
            <div class="oc-mapa__location-modals oc-point-52 oc-mapa__yellow-02" data-target="#cusiana">
                <div class="oc-mapa__name-point-yellow">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-grey-estacion.svg" alt="">
                    </div>
                    <div class="oc-mapa__info-item">
                        <span>LA BELLEZA</span>
                    </div>
                </div>
            </div>

            <!--SORACÁ-->
            <div class="oc-mapa__location-modals oc-point-53 oc-mapa__yellow-02" data-target="#base-soraca">
                <div class="oc-mapa__name-point-yellow">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-yellow.svg" alt="">
                    </div>
                    <div class="oc-mapa__info-item">
                        <span>SORACÁ</span>
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    </div>
                </div>
            </div>

            <!--MIRAFLORES-->
            <div class="oc-mapa__location-modals oc-point-54 oc-mapa__yellow-02" data-target="#est-miraflores">
                <div class="oc-mapa__name-point-yellow">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-yellow.svg" alt="">
                    </div>
                    <div class="oc-mapa__info-item">
                        <span>MIRAFLORES</span>
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    </div>
                </div>
            </div>

            <!--PÁEZ-->
            <div class="oc-mapa__location-modals oc-point-55 oc-mapa__yellow-02" data-target="#est-paez">
                <div class="oc-mapa__name-point-yellow">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-yellow.svg" alt="">
                    </div>
                    <div class="oc-mapa__info-item">
                        <span>PÁEZ</span>
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    </div>
                </div>
            </div>

            <!--Río Magdalena-->
            <div class="oc-mapa__tooltip oc-point-56">
                <span>Río Magdalena</span>
                <button type="button" class="oc-mapa__btn"></button>
            </div>

            <!--Río Minero-->
            <div class="oc-mapa__tooltip oc-point-57">
                <button type="button" class="oc-mapa__btn"></button>
                <span>Río Minero</span>
            </div>

            <!--Cascada del Tistisoque-->
            <div class="oc-mapa__tooltip oc-point-58">
                <button type="button" class="oc-mapa__btn"></button>
                <span>Cascada del<br> Tistisoque</span>
            </div>

            <!--Quebrada La Venta-->
            <div class="oc-mapa__tooltip oc-point-59">
                <button type="button" class="oc-mapa__btn"></button>
                <span>Quebrada La Venta</span>
            </div>

            <!--Río Negro-->
            <div class="oc-mapa__tooltip oc-point-60">
                <button type="button" class="oc-mapa__btn"></button>
                <span>Río Regro</span>
            </div>

            <!--Río Villa de Leyva-->
            <div class="oc-mapa__tooltip oc-point-61">
                <span>Río Villa de Leyva</span>
                <button type="button" class="oc-mapa__btn"></button>
            </div>

            <!--Río Jenesano-->
            <div class="oc-mapa__tooltip oc-point-62">
                <span>Río Jenesano</span>
                <button type="button" class="oc-mapa__btn"></button>
            </div>

            <!--Río Suárez-->
            <div class="oc-mapa__tooltip oc-point-63">
                <span>Río<br> Suárez</span>
                <button type="button" class="oc-mapa__btn"></button>
            </div>

            <!--Río Lengupá-->
            <div class="oc-mapa__tooltip oc-point-64">
                <span>Río Lengupá</span>
                <button type="button" class="oc-mapa__btn"></button>
            </div>

            <!--Río Upía-->
            <div class="oc-mapa__tooltip oc-point-65">
                <span>Río Upía</span>
                <button type="button" class="oc-mapa__btn"></button>
            </div>
            
            <!--Number 1-->
            <div class="oc-mapa__number-location oc-point-66">
                <span>1</span>
            </div>

            <!--Number 2-->
            <div class="oc-mapa__number-location oc-point-67">
                <span>2</span>
            </div>

            <!--Number 3-->
            <div class="oc-mapa__number-location oc-point-68">
                <span>3</span>
            </div>

            <!--Number 4-->
            <div class="oc-mapa__number-location oc-point-69">
                <span>4</span>
            </div>
        

            <!--Indicador-->
            {{>../partials/map-indicator}}

            {{!-- Otros oleoductos --}}
            <div class="oc-map__info-aditional">
                <h5 class="oc-map__info-aditional__title">OTROS OLEODUCTOS</h5>
                <ul class="oc-map__info-aditional__list">
                    <li><span class="item-number">1</span> Oleoducto de Colombia</li>
                    <li><span class="item-number">2</span> Oleoducto Vasconia Barrancabermeja</li>
                    <li><span class="item-number">3</span> Oleoducto Vasconia V26 Barrancabermeja</li>
                    <li><span class="item-number">4</span> Oleoducto Alto Magdalena</li>
                </ul>
            </div>

            {{!-- Button Bogotá --}}
            {{>../partials/map-ext-city city="BOGOTÁ" buttonText="Ir" btnIzquierda="true" id="mapExt-bta"}}

            {{!-- Button Casanare --}}
            {{>../partials/map-ext-city city="CASANARE" buttonText="Regresar recorrido" btnDerecha="true" id="mapExt-casanare" buttonLink="/casanare/casanare.html"}}

            {{!-- Button Antioquia --}}
            {{>../partials/map-ext-city city="ANTIOQUIA" buttonText="Continuar recorrido" btnIzquierda="true" id="mapExt-antioquia" buttonLink="#"}}

            {{!-- Button Santander --}}
            {{>../partials/map-ext-city city="SANTANDER" buttonText="Continuar recorrido" btnIzquierda="true" id="mapExt-santander" buttonLink="#"}}
        </div>
    </section>

    <!--Statitics-->
    <div class="container">
        <div class="oc-mapa__stat mt-4">
            <div class="row">
                <div class="col-12 col-md-2">
                    <div class="oc-mapa__stat-header">
                        <img src="/img/icon-segmentos.svg" alt="">
                        <h5>Segmentos</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="oc-mapa__stat-item-seg">
                        <div class="oc-tramo oc-tramo-02">
                            <p>Tramo</p>
                            <span class="roboto-light">Porvenir - Páez</span>
                        </div>
                        <div class="oc-distancia">
                            <p>Distancia</p>
                            <span class="roboto-light"><span class="roboto-medium number">32</span> km</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="oc-mapa__stat-item-seg">
                        <div class="oc-tramo oc-tramo-03">
                            <p>Tramo</p>
                            <span class="roboto-light">Páez - Miraflores</span>
                        </div>
                        <div class="oc-distancia">
                            <p>Distancia</p>
                            <span class="roboto-light"><span class="roboto-medium number">21.30</span> km</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="oc-mapa__stat-item-seg">
                        <div class="oc-tramo oc-tramo-04">
                            <p>Tramo</p>
                            <span class="roboto-light"> Miraflores - La Belleza</span>
                        </div>
                        <div class="oc-distancia">
                            <p>Distancia</p>
                            <span class="roboto-light"><span class="roboto-medium number">137.8</span> km</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-12 col-md-2">
                    <div class="oc-mapa__stat-header mb-0">
                        <img src="/img/icon-altura.svg" alt="">
                        <h5>Altura</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="oc-mapa__stat-item-altura">
                        <span class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="4.633" height="8.387" viewBox="0 0 4.633 8.387">
                                <path id="Trazado_11919" data-name="Trazado 11919" d="M416,919.7l3.572,3.572L416,926.843"
                                    transform="translate(-415.377 -919.078)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="0.879" />
                            </svg>

                        </span>
                        <p>Páez </p><span class="number">1.263 </span><span class="date">msnm</span>
                    </div>
                </div>
                <div class="col">
                    <div class="oc-mapa__stat-item-altura">
                        <span class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="4.633" height="8.387" viewBox="0 0 4.633 8.387">
                                <path id="Trazado_11919" data-name="Trazado 11919" d="M416,919.7l3.572,3.572L416,926.843"
                                    transform="translate(-415.377 -919.078)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="0.879" />
                            </svg>

                        </span>
                        <p>Miraflores </p><span class="number">1.785 </span><span class="date">msnm</span>
                    </div>
                </div>
                <div class="col">
                    <div class="oc-mapa__stat-item-altura">
                        <span class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="4.633" height="8.387" viewBox="0 0 4.633 8.387">
                                <path id="Trazado_11919" data-name="Trazado 11919" d="M416,919.7l3.572,3.572L416,926.843"
                                    transform="translate(-415.377 -919.078)" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="0.879" />
                            </svg>

                        </span>
                        <p>Vasconia </p><span class="number">130 </span><span class="date">msnm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="oc-section-galeria" id="galeria-terr-boyaca">
        {{>../partials/galeria-territorio-boyaca}}
    </section>
    <section class="oc-section-estamos">
        <div class="container">
            {{>../partials/estamos-section-boyaca}}
        </div>
    </section>
</main>

{{>../partials/back-to-top}}

{{>../partials/footer}}