<div id="top"></div>
{{>../partials/header title="Casanare" classPage="oc-estaciones oc-index-casanare"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>../partials/menu-lateral}}
</div>


{{>../partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="main-casanare">
    <section class="pb-md-5 py-0">
        {{>../partials/header-estaciones img="/img/dertamento-casanare-sabana.svg" estacion="Casanare"}}
    </section>
    <section class="cont-intro-territorio">
        <div class="container">
            {{>../partials/intro-territorio}}
        </div>
    </section>

    <section class="oc-mapa oc-mapa-boyaca position-relative">

        <div class="oc-mapa__container">
            <img src="/img/boyaca-mapa-3d.jpg" alt="" class="oc-mapa__img">

            <img src="/img/imag-mapa-linea-casanare.png" alt="" class="oc-mapa__line">

            <!--Clima-->
            <div class="oc-mapa__location-modals oc-point-26 oc-mapa__green">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Clima</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Fauna-->
            <div class="oc-mapa__location-modals oc-point-27 oc-mapa__green">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Fauna</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Comunidades-->
            <div class="oc-mapa__location-modals oc-point-28 oc-mapa__purple" data-target="#comiteseguimiento">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-profile.svg" alt="">
                    </div>
                    <span>Comunidades</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Ecosistema-->
            <div class="oc-mapa__location-modals oc-point-29 oc-mapa__green">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Ecosistema</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Puerto Boyacá-->
            <div class="oc-mapa__location-modals oc-point-30 oc-mapa__orange oc-mapa__location-modals-02" data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    <span>Puerto<br> Boyacá</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Serranía Las Quínchas-->
            <div class="oc-mapa__location-modals oc-point-31 oc-mapa__green oc-mapa__location-modals-02">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <span>Serranía Las<br> Quínchas</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Puerto Serviez-->
            <div class="oc-mapa__location-modals oc-point-32 oc-mapa__orange oc-mapa__location-modals-02" data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    <span>Puerto<br> Serviez</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Frailejón-->
            <div class="oc-mapa__location-modals oc-point-33 oc-mapa__green">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Frailejón</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Entrada del Oleoducto a Santander-->
            <div class="oc-mapa__location-modals oc-point-34 oc-mapa__orange oc-mapa__location-modals-02" data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <span>Entrada del<br> Oleoducto a Santander</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icono-mapa-boyaca-01.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Páramo de Tota - Bijagual-Mamapacha-->
            <div class="oc-mapa__location-modals oc-point-35 oc-mapa__green oc-mapa__location-modals-02" data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <span>Páramo de Tota -<br> Bijagual-Mamapacha</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Obelisco Los Límites-->
            <div class="oc-mapa__location-modals oc-point-36 oc-mapa__orange oc-mapa__location-modals-02" data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <span>Obelisco<br> Los Límites</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Villa de Leyva-->
            <div class="oc-mapa__location-modals oc-point-37 oc-mapa__orange" data-target="#monterrey">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>Villa de Leyva</span>
                </div>
            </div>

            <!--Puente de Boyacá-->
            <div class="oc-mapa__location-modals oc-point-38 oc-mapa__orange oc-mapa__location-modals-02" data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <span>Puente de Boyacá</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Tunja-->
            <div class="oc-mapa__location-modals oc-point-39 oc-mapa__orange" data-target="#monterrey">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>Tunja</span>
                </div>
            </div>

            <!--Alto de las Flores-->
            <div class="oc-mapa__location-modals oc-point-40 oc-mapa__green">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Alto de las Flores</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Hidrografía-->
            <div class="oc-mapa__location-modals oc-point-41 oc-mapa__blue" data-target="#hidrografia">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-water.svg" alt="">
                    </div>
                    <span>Hidrografía</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Alto de las Flores-->
            <div class="oc-mapa__location-modals oc-point-42 oc-mapa__green">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Santuario de Fauna<br> y Flora Iguaque</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Miraflores-->
            <div class="oc-mapa__location-modals oc-point-43 oc-mapa__orange oc-mapa__location-modals-02" data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    <span>Miraflores</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                </div>
            </div>

            <!--Páez-->
            <div class="oc-mapa__location-modals oc-point-44 oc-mapa__orange" data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>Páez</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--Entrada del Oleoducto a Boyacá-->
            <div class="oc-mapa__location-modals oc-point-45 oc-mapa__orange" data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icono-mapa-boyaca-01.svg" alt="">
                    </div>
                    <span>Entrada del<br> Oleoducto a Boyacá</span>
                </div>
            </div>

            <!--SOGAMOSO-->
            <div class="oc-mapa__location-modals oc-point-46 oc-mapa__orange" data-target="#tauramena">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/icon-location.svg" alt="">
                    </div>
                    <span>SOGAMOSO</span>
                </div>
            </div>

            <!--Santuario de Fauna y Flora Guanetá Alto Río Forence-->
            <div class="oc-mapa__location-modals oc-point-47 oc-mapa__green">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>Santuario de Fauna y Flora<br> Guanetá Alto Río Forence</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--PARQUE NACIONAL NATURAL PISBA-->
            <div class="oc-mapa__location-modals oc-point-48 oc-mapa__green">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                    <span>PARQUE NACIONAL<br> NATURAL PISBA</span>
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                </div>
            </div>

            <!--PARQUE NACIONAL NATURAL EL COCUY-->
            <div class="oc-mapa__location-modals oc-point-49 oc-mapa__green oc-mapa__location-modals-02">
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <span class="oc-radar"></span>
                <div class="oc-mapa__icon">
                    <div class="oc-mapa__img-plus">
                        <img src="/img/icon-plus.svg" alt="" class="oc-mapa__plus">
                    </div>
                </div>
                <div class="oc-mapa__name-point">
                    <img src="/img/icon-plus.svg" alt="" class="oc-mapa__more">
                    <span>PARQUE NACIONAL <br>NATURAL EL COCUY</span>
                    <div class="oc-mapa__img-icon">
                        <img src="/img/point-01.svg" alt="">
                    </div>
                </div>
            </div>



            <!--Statitics-->
            <div class="oc-mapa__stat d-none d-md-flex">
                <div class="oc-mapa__stat-segmentos">
                    <div class="oc-mapa__stat-header">
                        <img src="/img/icon-segmentos.svg" alt="">
                        <h5>Segmentos</h5>
                    </div>
                    <div class="oc-mapa__stat-body">
                        <div class="oc-mapa__stat-item-seg">
                            <div class="oc-tramo">
                                <p>Tramo</p>
                                <span>Cupiagua - Cusiana</span>
                            </div>
                            <div class="oc-distancia">
                                <p>Distancia</p>
                                <span><span class="roboto-medium number">39</span> Kilómetros</span>
                            </div>
                        </div>

                        <div class="oc-mapa__stat-item-seg">
                            <div class="oc-tramo oc-tramo-02">
                                <p>Tramo</p>
                                <span>Cusiana - El Porvenir</span>
                            </div>
                            <div class="oc-distancia">
                                <p>Distancia</p>
                                <span><span class="roboto-medium number">33</span> Kilómetros</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="oc-mapa__stat-altura">
                    <div class="oc-mapa__stat-header">
                        <img src="/img/icon-altura.svg" alt="">
                        <h5>Altura</h5>
                    </div>
                    <div class="oc-mapa__stat-item-altura">
                        <span class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="4.633" height="8.387"
                                viewBox="0 0 4.633 8.387">
                                <path id="Trazado_11919" data-name="Trazado 11919"
                                    d="M416,919.7l3.572,3.572L416,926.843" transform="translate(-415.377 -919.078)"
                                    fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="0.879" />
                            </svg>

                        </span>
                        <p>Cupiagua </p><span class="number">290 </span><span class="date">msnm</span>
                    </div>
                    <div class="oc-mapa__stat-item-altura">
                        <span class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="4.633" height="8.387"
                                viewBox="0 0 4.633 8.387">
                                <path id="Trazado_11919" data-name="Trazado 11919"
                                    d="M416,919.7l3.572,3.572L416,926.843" transform="translate(-415.377 -919.078)"
                                    fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="0.879" />
                            </svg>
                        </span>
                        <p>Cusiana </p><span class="number">460 </span><span class="date">msnm</span>
                    </div>
                    <div class="oc-mapa__stat-item-altura">
                        <span class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="4.633" height="8.387"
                                viewBox="0 0 4.633 8.387">
                                <path id="Trazado_11919" data-name="Trazado 11919"
                                    d="M416,919.7l3.572,3.572L416,926.843" transform="translate(-415.377 -919.078)"
                                    fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="0.879" />
                            </svg>
                        </span>
                        <p>El Porvenir </p><span class="number">500 </span><span class="date">msnm</span>
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>

{{>../partials/back-to-top}}

{{>../partials/footer}}