<div id="top"></div>
{{>../widgets-galeria/widget-galeria-foto__paez-almacenamiento}}

{{>../widgets-galeria/widget-galeria-foto__paez-bombeo}}

{{>../partials/header title="Boyacá - Estación Paez" classPage="oc-estaciones oc-boy-paez oc-est-boyaca"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>../partials/menu-lateral}}
</div>

{{>../partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="main-boy-paez">
    {{>../partials/perfil-recorrido-casanare}}
    <!-- Section 01 -->
    <section class="oc-widgets-section mt-5 pt-5">
        <div class="container">
            <div class="row">
                <!-- Widget principal -->
                <div class="col-12 col-md-4">
                    <div class="oc-card-widget mb-4 mb-md-0 oc-widget-principal">
                        <div class="oc-card-widget__body p-3">
                            <h2 class="oc-widget-principal__title mt-4">
                                <span class="oc-widget-principal__title__01">Estación</span><br>
                                <span class="oc-widget-principal__title__02">PÁEZ</span>
                            </h2>
                            <a href="/casanare/casanare.html" class="oc-btn oc-btn__green oc-btn__large mt-3">
                                <span class="flecha-ocensa flecha-izquierda flecha-blanca mr-2"></span>
                                <span> Regresar a Boyacá </span>
                            </a>
                            <div class="oc-widget-principal__leyend mt-4 text-center">
                                <h5 class="oc-widget-principal__leyend__text m-0"><span
                                        class="oc-widget-principal__leyend__text__01">Sector II /</span> <span
                                        class="oc-widget-principal__leyend__text__02">Segmento 2</span></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Widget slider -->
                <div class="col-12 col-md-8">
                    <div class="oc-card-widget oc-widget-slider">
                        <div class="oc-card-widget__body">
                            <div class="oc-slick-widget__slider oc-slick-theme">
                                <div class="item">
                                    <img src="/img/slide-01-paez.jpg" alt="" class="img-fluid">
                                </div>

                                <div class="item">
                                    <img src="/img/slide-02-paez.jpg" alt="" class="img-fluid">
                                </div>

                                <div class="item">
                                    <img src="/img/slide-03-paez.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 02 -->
    <section class="oc-widgets-section mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4" id="laestacion-paez">
                    <div class="oc-card-widget oc-widget-template wdg-la-estacion" id="cus-wdg-la-estacion">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-la_estacion.svg" alt="">
                                <span>La estación</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-4 oc-la-estacion" id="est-paez-la-estacion">
                            <div class="d-flex wdg-la-estacion__item align-items-center py-0">
                                <img src="/img/icon_territorio_paez_estacion_proyecto_p-135.svg" alt="">
                                <div class="d-block">
                                    <p>Es una estación nueva creada con el <b>proyecto</b></p>
                                    <div class="align-items-center">
                                        <span class="d-block oc-number-medium c-green mr-3 ml-3">P-135</span>
                                        <span class="d-block oc-text-esp-2 ml-3">(Incremento de volúmenes)</span>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/icon_territorio_paez_estacion_rebombeo.svg" alt="">
                                <div class="d-block text-center">
                                    <p class="text-left">Es una estación de rebombeo ubicada entre las estaciones</p>
                                    <img src="/img/linea-punteada.svg" alt="" class="mt-2 ml-3 linea-punteada">
                                    <div class="d-flex justify-content-between ml-4 mr-2 mt-1 est-intermedias">
                                        <span class="c-green oc-text-2"><b>El Porvenir</b></span>
                                        <span class="c-green oc-text-2"><b>Miraflores</b></span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/icon_territorio_paez_estacion_incremento_volumenes.svg" alt="">
                                <div class="d-block">
                                    <p>Estando en operación, genera un <b>mayor incremento de volúmenes</b>
                                        transportados.</p>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/icon_territorio_paez_estacion_equipos_electricos.svg" alt="">
                                <div class="d-block">
                                    <p>Opera con equipos</p>
                                    <div class="d-flex align-items-center">
                                        <span class="oc-number-medium c-green mr-3 ml-3">100%</span>
                                        <span class="oc-text-esp-2-v mt-2">Eléctricos</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8" id="ubicacion-paez">
                    <div class="oc-card-widget oc-widget-template wdg-ubicacion" id="cus-wdg-ubicacion">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/3-icon-menu-ubicacion.svg" alt="">
                                <span>Ubicación</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body wdg-banner">
                            <div class="row">
                                <div class="col-12 col-md-9 wdg-banner__bg dragscroll">
                                    <!-- Imagen de fondo -->
                                    <img src="/img/foto-satelital-paez.jpg" alt="" class="img-drag">
                                </div>
                                <div class="col-12 col-md-3 h-100 oc-bg-green py-3 wdg-banner__info">
                                    <p>A 13 minutos del casco urbano del municipio, saliendo por la vía Páez-Sabana
                                        Larga, llegarás a la estación.</p>

                                    <div
                                        class="wdg-banner__info__km d-flex flex-column flex-md-row align-items-center justify-content-center flex-wrap first-child">
                                        <div class="d-flex align-items-center">
                                            <img src="/img/altitud.svg" alt="">
                                            <div class="d-block text-center">
                                                <span class="number">
                                                    1.263
                                                </span>
                                                <span class="km">
                                                    m.s.n.m
                                                </span>
                                            </div>
                                        </div>
                                        <p class="leyend text-center">
                                            Altitud
                                        </p>
                                    </div>

                                    <div
                                        class="wdg-banner__info__km d-flex flex-column flex-md-row align-items-center justify-content-center flex-wrap first-child">
                                        <div class="d-flex  align-items-center">
                                            <img src="/img/temperatura.svg" alt="">
                                            <span class="number">
                                                20.5º
                                            </span>
                                            <span class="km">
                                                C
                                            </span>
                                        </div>
                                        <p class="leyend text-center">
                                            Temperatura promedio<br>
                                            CLIMA Tropical
                                        </p>
                                    </div>
                                    <a href="https://www.google.com/maps/place/Estacion+Ocensa/@5.0699757,-73.061971,1873m/data=!3m1!1e3!4m5!3m4!1s0x8e6ac747fc01434b:0x965336e79f57ff8e!8m2!3d5.0708916!4d-73.0645269"
                                        target="_blank" class="oc-btn oc-btn__white">
                                        <span> Ir al mapa </span>
                                        <span class="flecha-ocensa flecha-derecha flecha-verde ml-2"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 03 -->
    <section class="oc-widgets-section mt-4" id="wdg-section-03">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="oc-card-widget oc-widget-template wdg-almacenamiento" id="wdg-almacenamiento">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-almacenamiento.svg" alt="">
                                <span>Almacenamiento</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="row m-0" id="paez-almace">
                            <div class="col-12 col-md-3 p-3 px-4">
                                <div class="text-center col-12 oc-widget-template__body my-4 p-3 text-center">
                                    <img src="/img/icon_territorio_paez_almacenamiento_otros_productos.svg" alt=""
                                        class="img-otros-prod">
                                    <p class="text-left mt-2">Por ser una estación de rebombeo, <b>no tiene capacidad de
                                            almacenamiento de crudo</b>, sin embargo, <b>almacena otros productos</b>.
                                    </p>
                                    <div class="d-flex align-items-center justify-content-center buttons-end mt-3 mb-4">
                                        <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                            data-widget="#widget-galeria-foto__paez-almacenamiento">
                                            <span>Ver fotos</span>
                                            <img src="/img/camara.svg" alt="" class="ml-2"></button>
                                        <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                            data-widget="#widget-galeria-foto__porvenir-almacenamiento">
                                            <span>Ver video</span>
                                            <img src="/img/video.svg" alt="" class="ml-2"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-9">
                                <div class="oc-slick-almacenamiento-2 oc-slick-theme_2" id="paez-almacenamiento">
                                    <div
                                        class="slick-item text-center col-md oc-widget-template__body line-g-right line-g-left my-4 p-3 text-center">
                                        <div
                                            class="d-flex align-items-center c-blue-light justify-content-center item-01">
                                            <span class="oc-number-medium mr-2">
                                                1
                                            </span>
                                            <span class="roboto-medium span-2">
                                                Tanque
                                            </span>
                                        </div>
                                        <div class="item-02">
                                            <img src="/img/tanques_grandes.svg" alt="" class="item-02__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">6.000</span>
                                            <p class="roboto-bold">BARRILES</p>
                                            <img src="/img/wdg-arrow-down.svg" alt="">
                                            <span class="badge d-block m-auto">Agua (SCI)</span>
                                        </div>
                                    </div>
                                    <div
                                        class="slick-item text-center oc-widget-template__body line-g-right my-4 p-3 text-center">
                                        <div
                                            class="d-flex align-items-center c-blue-light justify-content-center item-01">
                                            <span class="oc-number-medium mr-2">
                                                1
                                            </span>
                                            <span class="roboto-medium span-2">
                                                Tanque
                                            </span>
                                        </div>
                                        <div class="item-02">
                                            <img src="/img/tanque_mediano.svg" alt="" class="item-02__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">1.400</span>
                                            <p class="roboto-bold">BARRILES</p>
                                            <img src="/img/wdg-arrow-down.svg" alt="">
                                            <span class="badge d-block m-auto">Diesel tratado</span>
                                        </div>
                                    </div>
                                    <div
                                        class="slick-item text-center oc-widget-template__body my-4 p-3 line-g-right text-center">
                                        <div
                                            class="d-flex align-items-center c-blue-light justify-content-center item-01">
                                            <span class="oc-number-medium mr-2">
                                                1
                                            </span>
                                            <span class="roboto-medium span-2">
                                                Tanque
                                            </span>
                                        </div>
                                        <div class="item-02">
                                            <img src="/img/tanque_pequeno.svg" alt="" class="item-02__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">2.600</span>
                                            <p class="roboto-bold">BARRILES</p>
                                            <img src="/img/wdg-arrow-down.svg" alt="">
                                            <span class="badge d-block m-auto">Diesel no tratado</span>
                                        </div>
                                    </div>
                                    <div
                                        class="slick-item text-center oc-widget-template__body my-4 p-3 line-g-right text-center">
                                        <div
                                            class="d-flex align-items-center c-blue-light justify-content-center item-01">
                                            <span class="oc-number-medium mr-2">
                                                1
                                            </span>
                                            <span class="roboto-medium span-2">
                                                Tanque
                                            </span>
                                        </div>
                                        <div class="item-02">
                                            <img src="/img/icon_territorio_paez_almacenamiento_tanque sumidero.svg"
                                                alt="" class="item-02__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">320</span>
                                            <p class="roboto-bold">BARRILES</p>
                                            <img src="/img/wdg-arrow-down.svg" alt="">
                                            <span class="badge d-block m-auto">Sumidero enterrado</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </section>

    <!-- Section 04 -->
    <div class="oc-widgets-section mt-4" id="wdg-section-04">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="oc-card-widget oc-widget-template wdg-distancia" id="wdg-distancia">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-distancia_linea.svg" alt="">
                                <span>Distancia de línea</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2 text-center">
                            <div class="item-01 text-center d-flex align-items-center">
                                <div class="col p-0 item-01 item-01__left">
                                    <img src="/img/icon_territorio_paez_distancia_de_linea_estacion_porvenir.svg" alt=""
                                        class="img-fluid">
                                    <p class="roboto-bold m-0 est-name">
                                        El Porvenir
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        460
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                                <div class="col p-0 item-01__center">
                                    <span class="roboto-regular">32 Km</span>
                                    <img src="/img/line-divider.svg" alt="" class="wdg-distancia-divider">
                                </div>
                                <div class="col p-0 item-01__right">
                                    <img src="/img/icon_territorio_paez_distancia_de_linea_estacion_paez.svg" alt=""
                                        class="img-fluid">
                                    <p class="roboto-bold est-name m-0">
                                        Páez
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        1.256
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                                <div class="col p-0 item-01__center">
                                    <span class="roboto-regular">21.30 Km</span>
                                    <img src="/img/line-divider.svg" alt="" class="wdg-distancia-divider">
                                </div>
                                <div class="col p-0 item-01__right">
                                    <img src="/img/icon_territorio_paez_distancia_de_linea_estacion_miraflores.svg"
                                        alt="" class="img-fluid">
                                    <p class="roboto-bold est-name m-0">
                                        Miraflores
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        1.778
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                            </div>
                            {{!-- Item desktop --}}
                            <div class="item-02 mt-2 d-none d-md-flex" id="distancia-linea-paez">
                                <div class="p-1 w-100">
                                    <div
                                        class="oc-box-dato cont-sec-3 d-flex align-items-center justify-content-center p-2">
                                        <img src="/img/diametro_tubo.svg" alt="" class="oc-box-dato__img mr-4">
                                        <h5 class="oc-box-dato__text__title roboto-bold mr-3 mt-2">Diámetro del tubo
                                        </h5>
                                        <span class="number-lg mt-1">30</span>
                                        <span class="des-number"> Pulgadas</span>
                                    </div>
                                </div>
                            </div>
                            {{!-- Item mobile --}}
                            <div class="item-02 mt-2 d-md-none" id="distancia-linea-paez">
                                <div class="p-1">
                                    <div
                                        class="oc-box-dato cont-sec-3 d-flex align-items-center justify-content-center p-2">
                                        <img src="/img/diametro_tubo.svg" alt="" class="oc-box-dato__img mr-4">
                                        <div class="d-block text-left">
                                            <h5 class="oc-box-dato__text__title roboto-bold mr-3 mt-2">Diámetro del tubo
                                            </h5>
                                            <span class="number-lg mt-1 d-block">30</span>
                                            <span class="des-number ml-0 text-uppercase"> Pulgadas</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="oc-card-widget oc-widget-template wdg-distancia" id="wdg-bombeo">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/6-icon_menu-distancia_linea.svg" alt="">
                                <span>Sistema de bombeo</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2" id="boy-bombeo">
                            <div class="item-01 row flex-column flex-md-row px-3">
                                <div class="col-12 col-md-5 p-2 item-01 item-01__left">
                                    <div class="oc-box-dato oc-bombeo d-flex align-items-start p-2 flex-nowrap">
                                        <img src="/img/boy-bombeo-1.svg" alt="" class="img-fluid">
                                        <div class="ml-2">
                                            <span class="d-block c-green oc-number-medium">2</span>
                                            <span class="d-block roboto-bold txt-gris">Turbinas</span>
                                            <span class="d-block c-green text-green-medium">SGT 400</span>
                                            <span class="d-block text-small-boy">12 MW c/u.</span>
                                        </div>
                                    </div>
                                    <div class="oc-box-dato oc-bombeo d-flex align-items-start p-2 mt-2 second-p">
                                        <img src="/img/boy-bombeo-2.svg" alt="" class="img-fluid img-boy-bombeo">
                                        <div class="ml-2">
                                            <span class="d-block c-green oc-number-medium">4</span>
                                            <span class="d-block roboto-bold mt-1 text-black txt-gris">Unidades
                                                principales
                                                eléctricas </span>
                                        </div>
                                    </div>
                                </div>
                                {{!-- Item desktop --}}
                                <div class="col-12 col-md-7 d-none d-md-flex p-2 item-01 item-01__left">
                                    <div class="oc-box-dato oc-bombeo d-flex align-items-start p-2">
                                        <div class="ml-2">
                                            <div class="ml-2 d-flex">
                                                <div class="d-block cont-left-boy">
                                                    <img src="/img/icon_territorio_paez_sistema_bombeo_unidades_electricas.svg"
                                                        alt="">
                                                    <span class="d-block roboto-bold mt-2 text-black txt-gris">Sistema
                                                        de<br>bombeo</span>
                                                    <span class="d-block text-small-boy mt-5">Se compone<br><b>de un
                                                            tren de:</b></span>
                                                    <span class="c-green number-giant">4 </span><span
                                                        class="c-green text-med">BOMBAS</span>
                                                </div>
                                                <img src="/img/boy-bombeo-3.svg" alt="" class="img-boy-bombeo2 ml-2">
                                                <div class="d-block ml-1">
                                                    <span class="d-block sp-1">Compuesto por:</span>
                                                    <span class="d-block sp-2">Bomba mono-etapa<br>
                                                        centrífuga<br>horizontal<br> con capacidad de</span>
                                                    <div class="d-flex text-top-1">
                                                        <span class="c-green sp-3">797.000</span>
                                                        <span class="c-green sp-4 mt-2 ml-1"> BPD</span>
                                                    </div>
                                                    <span class="d-block sp-2 mt-2">Acopladas a un<br><b>Motor
                                                            eléctrico</b></span>
                                                    <div class="d-flex text-top-2">
                                                        <span class="c-green sp-3">6.000</span>
                                                        <span class="c-green sp-4 mt-2 ml-1">HP</span>
                                                    </div>
                                                    <span class="d-block sp-2">de potencia</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{!-- Item mobile --}}
                                <div class="col-12 col-md-7 d-md-none p-2 item-01 item-01__left" id="bombeo-respon">
                                    <div class="oc-box-dato oc-bombeo d-flex align-items-start p-2">
                                        <div class="ml-2">
                                            <div class="ml-1 d-flex">
                                                <div class="d-block cont-left-boy">
                                                    <img src="/img/icon_territorio_paez_sistema_bombeo_unidades_electricas.svg"
                                                        alt="">
                                                    <span class="d-block roboto-bold mt-2 text-black txt-gris">Sistema
                                                        de<br>bombeo</span>
                                                    <span class="d-block text-small-boy text-resp-sm mt-5">QUE
                                                        TIENE</b></span>
                                                    <span class="d-block roboto-bold mt-2 text-black txt-gris">Un tren
                                                        de</span>
                                                    <span class="c-green number-giant">4 </span><span
                                                        class="c-green text-med">BOMBAS</span>
                                                </div>
                                                <img src="/img/bombeo-responsive.svg" alt="" class="img-boy-bombeo2">
                                                <div class="d-block ml-1 resp-pae">
                                                    <span class="d-block sp-2">Bomba mono-etapa<br>
                                                        centrífuga horizontal</span>
                                                    <div class="d-flex text-top-1 mt-3">
                                                        <span class="c-green sp-3">797.000</span>
                                                        <span class="c-green sp-4"> BPD</span>
                                                    </div>
                                                    <span class="d-block text-resp-2 text-center">CAPACIDAD</span>
                                                    <span
                                                        class="d-block sp-2 mt-5 text-resp-3 text-center text-uppercase txt-gris">Acopladas
                                                        a un</span>
                                                    <span class="d-block sp-2 text-center mt-5 mb-1">Motor
                                                        eléctrico</span>
                                                    <div class="d-flex text-top-2 justify-content-center">
                                                        <span class="c-green sp-3">6.000</span>
                                                        <span class="c-green sp-4 mt-2 ml-1">HP</span>
                                                    </div>
                                                    <span class="d-block text-resp-2 text-center">POTENCIA</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 oc-porvenir__modal-button">
                                    <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                        data-widget="#widget-galeria-foto__paez-bombeo">
                                        <span>Ver fotos</span>
                                        <img src="/img/icon-camara.svg" alt="" class="ml-2"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 06 -->
    <section class="oc-widgets-section mt-4" id="wdg-section-06-cus">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="oc-card-widget oc-widget-template wdg-personal wdg-bombeo wdg-personal-porvenir"
                        id="wdg-personal">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-personal.svg" alt="">
                                <span>Personal</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2" id="personal-paez">
                            <div class="oc-porvenir__personal">

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/user-1.jpg" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Juan Diego Colonia </h5>
                                        <p>Superintendente<br>Sector 2</p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/user-2.jpg" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Januario Barbosa </h5>
                                        <p>Superintendente<br>Sector 2</p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/user-3.jpg" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Elkin Larrarte Castillo </h5>
                                        <p>Prof. Senior Aseg.<br>técnico</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="oc-card-widget oc-widget-template wdg-demografico wdg-bombeo" id="wdg-demografico">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_demografico_icono_menu.svg" alt="">
                                <span>Demográfico</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2">
                            <div class="wdg-demografico__car oc-slick-theme_2">

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">TRABAJADORES EN ESTACIÓN</h3>
                                    <img src="/img/grafica-demografico-01.svg" alt="" class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item">
                                            <p>Total trabajadores en estación</p>
                                            <span>17</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-blue">Ocensa</p>
                                            <span>1</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-grey">Contratistas</p>
                                            <span>16</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">MUJERES Y HOMBRES</h3>
                                    <img src="/img/elipse-2-boy.svg" alt="" class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item">
                                            <p>Total trabajadores Ocensa</p>
                                            <span>1</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-blue">Mujeres</p>
                                            <span>0%</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-grey">Hombres</p>
                                            <span>100%</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">GENERACIONES</h3>
                                    <img src="/img/elipse-3-boy.svg" alt="" class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-green">Generación Z</p>
                                            <span>0%</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-yellow">Generación Y</p>
                                            <span>0%</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-blue">Generación X</p>
                                            <span>100%</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-grey">Generación Baby boomers</p>
                                            <span>0%</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="oc-card-widget oc-widget-template wdg-onda" id="wdg-onda">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_seguridad_icono_menu.svg" alt="">
                                <span>ONDA</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2">
                            <p>Alerta temprana de la Defensoría del Pueblo sobre la circulación de panfletos bajo el
                                rótulo de Autodefensas Gaitanistas de Colombia en los municipios de Sácama, La Salina,
                                Támara, Yopal y Aguazul en Casanare.</p>
                            <img src="/img/icon_territorio_el_porvenir_seguridad_alerta_defensoria.svg" alt=""
                                class="wdg-onda__img">
                            <div class="wdg-onda__cont-btn">
                                <a href="#" class="oc-btn oc-btn__blue">
                                    <span>Ir al boletín ONDA</span>
                                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="oc-card-widget oc-widget-template wdg-clima" id="wdg-clima-cus">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-clima.svg" alt="">
                                <span>Clima</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-slick-theme oc-slick-clima-card p-0">
                            <div class="slick-item">
                                <div class="oc-widget-template__body p-3">
                                    <p class="roboto-bold text-aguazul">Páez, Boyacá</p>
                                    <div class="item-01 d-flex align-items-center flex-wrap">
                                        <div class="item-01__text">
                                            <span class="item-01__text__day d-block c-blue-light">Sábado</span>
                                            <span class="item-01__text__temp oc-number-large c-blue-light">21°</span>
                                        </div>
                                        <div class="item-01__img">
                                            <img src="/img/clima.svg" alt="">
                                        </div>
                                        <p class="w-100 roboto-bold mb-0">Showers in te Vicinity</p>
                                        <hr class="w-100 my-2">
                                    </div>
                                    <div class="item-02">
                                        <p class="roboto-light mb-0">24% chance of rain through 12 p.m.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="slick-item">
                                <div class="oc-widget-template__body p-3">
                                    <p class="roboto-bold">Aguazul, Casanare</p>
                                    <div class="item-01 d-flex align-items-center flex-wrap">
                                        <div class="item-01__text">
                                            <span class="item-01__text__day d-block c-blue-light">Lunes</span>
                                            <span class="item-01__text__temp oc-number-large c-blue-light">27°</span>
                                        </div>
                                        <div class="item-01__img">
                                            <img src="/img/clima.svg" alt="">
                                        </div>
                                        <p class="w-100 roboto-bold mb-0">Showers in te Vicinity</p>
                                        <hr class="w-100 my-2">
                                    </div>
                                    <div class="item-02">
                                        <p class="roboto-light mb-0">24% chance of rain through 12 p.m.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="oc-card-widget oc-widget-template wdg-seguridad mt-4" id="wdg-seguridad">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_seguridad_hse_icono_menu.svg" alt="">
                                <span>Seguridad HSE</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2">
                            <div class="wdg-seguridad__item">
                                <span class="oc-number">1460</span>
                                <p class="text-center">Días sin incidentes</p>
                            </div>
                            <div class="wdg-seguridad__cont-btn">
                                <a href="/docs/Reglas-para-la-vida.pdf" download="Reglas para la vida" class="oc-btn oc-btn__green">
                                    <span>10 reglas para la vida</span>
                                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Section 07 -->
    <section class="oc-widgets-section mt-4" id="wdg-section-07-cus">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="oc-card-widget oc-widget-template wdg-contratistas" id="wdg-contratistas">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_contratistas_icono_menu.svg" alt="">
                                <span>Contratistas</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3" id="sec-gestion-paez">
                            <div class="oc-slick-widget__contratistas oc-slick-theme_2">
                                <!-- Slide 2 -->
                                <div class="slick-item text-center px-5">
                                    <img src="/img/logo_contratista_massy.png" alt=""
                                        class="oc-slick-widget__contratistas__brand img-fluid mx-auto mb-4">
                                    <h5 class="oc-slick-widget__contratistas__name roboto-medium">MASSY - Massy Energy
                                        Colombia</h5>
                                    <p class="roboto-light my-4">Prestación de servicios para el manejo de activos </p>
                                    <a href="https://www.massyenergy.co/" target="_blank"
                                        class="oc-btn oc-btn__gray m-0 my-4">
                                        <span> Ir </span>

                                        <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8" id="gestion-boy">
                    <div class="oc-card-widget oc-widget-template wdg-gestion-ambiental" id="wdg-gestion-ambiental">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_gestion_ambiental_icono_menu.svg" alt="">
                                <span>Gestión ambiental</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body px-4 py-4">
                            <div class="oc-slick-widget__gestion-paez oc-slick-theme_2">
                                <div class="slick-item p-2 text-center">
                                    <div class="oc-box-dato p-3">
                                        <p class="text-opc-1 m-0">Se implementaron sistemas para recoger el agua
                                            lluvia de los techos de el city gate y se aprovecharon los excedentes de
                                            agua de la piscina de control. Con la medida, se dejaron de comprar
                                            aproximadamente 13 m3 de agua en bloque, requeridos mensualmente para la
                                            estación.</p>
                                    </div>
                                </div>
                                <div class="slick-item p-2 text-center" id="box-2">
                                    <div class="oc-box-dato p-3 d-flex align-items-center">
                                        <img src="/img/icon_territorio_paez_gestion_ambiental_turbinas.svg" alt="" class="img-gestion-paez">
                                        <div class="text center">
                                            <p class="text-opc-2">Mejora en la eficiencia de las</p>
                                            <span class="d-block roboto-bold text-opc-3">Turbinas</span>
                                            <span class="d-block c-green text-opc-4">SGT 400</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 08 -->
    <div class="oc-widgets-section mt-4" id="wdg-section-08-paez">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    {{>../partials/widget-solicitudes2cols}}
                </div>

                <div class="col-12 col-md-6">
                    <div class="oc-card-widget oc-widget-template wdg-como-llegar como-llegar-1 como-llegar-2" id="wdg-como-llegar">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-como_llegar.svg" alt="">
                                <span>Cómo llegar</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body px-md-3 py-1" id="paez-como">
                            <div class="row">
                                <div class="col-12 col-md-6 item-aerea" id="paez-aerea">
                                    <div class="item-aerea__title d-flex align-items-center mt-2 mb-2">
                                        <img src="/img/helicoptero.svg" alt="" class="mr-3">
                                        <h4 class="c-blue-light roboto-bold m-0">Vía aérea</h4>
                                    </div>
                                    <div class="oc-box-dato p-3">
                                        <ul class="nav flex-column">
                                            <li class="nav-item mb-3 d-flex">
                                                <div class="mt-1 mr-2">
                                                    <img src="/img/icono-flecha-azul.svg" alt="">
                                                </div>
                                                <span class="roboto-light d-inline-block">Se cuenta con helipuerto.
                                                    (Salida desde la base de Soracá)</span>
                                            </li>
                                            <li class="nav-item mb-3 d-flex">
                                                <div class="mt-1 mr-2">
                                                    <img src="/img/icono-flecha-azul.svg" alt="">
                                                </div>
                                                <span class="roboto-light d-inline-block">Desde Soracá</span><span
                                                    class="c-green ml-4 number-minutes res-1">35</span><span
                                                    class="c-green ml-1 desc-minutes">MIN</span>
                                            </li>
                                            <li class="nav-item mb-3 d-flex">
                                                <div class="mt-1 mr-2">
                                                    <img src="/img/icono-flecha-azul.svg" alt="">
                                                </div>
                                                <span class="roboto-light d-inline-block">Desde Miraflores</span><span
                                                    class="c-green ml-2 number-minutes res-2">10</span><span
                                                    class="c-green ml-1 desc-minutes">MIN</span>
                                            </li>
                                            <li class="nav-item mb-3 d-flex">
                                                <div class="mt-1 mr-2">
                                                    <img src="/img/icono-flecha-azul.svg" alt="">
                                                </div>
                                                <span class="roboto-light d-inline-block">Desde El Porvenir</span><span
                                                    class="c-green ml-2 number-minutes res-3">30</span><span
                                                    class="c-green ml-1 desc-minutes">MIN</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {{!-- Item desktop --}}
                                <div class="col-12 col-md-6 d-none d-md-block item-terrestre" id="terrestre-porv">
                                    <div class="item-terrestre__title d-flex align-items-center ml-4 mt-2 mb-2">
                                        <img src="/img/via_terrestre.svg" alt="" class="mr-3">
                                        <h4 class="c-blue-light roboto-bold m-0">Vía terrestre</h4>
                                    </div>
                                    <div class="oc-box-dato px-md-3" id="paez-vias">
                                        <div class="item-terrestre_01 py-2">
                                            <div class="row d-block mt-2 pb-md-3">
                                                <div class="col-12 col-md-3">
                                                    <span class="badge text-light">Bogotá – Jenesano –<br>
                                                        Ramiriquí – Zetaquira – Miraflores</span>
                                                </div>
                                                <div class="col-12 d-block justify-content-between cont-tempus">
                                                    <div class="d-flex align-items-left mt-3">
                                                        <img src="/img/dist-paez.svg" alt=""
                                                            class="oc-box-dato__img-distancia mr-3">
                                                        <div class="">
                                                            <div class="d-flex">
                                                                <span class="oc-number-medium c-blue-light">132</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">DISTANCIA</p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex align-items-left tem-apro mt-3">
                                                        <img src="/img/time-paez.svg" alt=""
                                                            class="oc-box-dato__img-aprox mr-4">
                                                        <div class="">
                                                            <span class="oc-number-medium c-green">5</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{!-- Item mobile --}}
                                <div class="col-12 col-md-6 d-md-none item-terrestre paez-resp" id="terrestre-porv">
                                    <div class="item-terrestre__title d-flex align-items-center ml-4 mt-2 mb-2">
                                        <img src="/img/via_terrestre.svg" alt="" class="mr-3">
                                        <h4 class="c-blue-light roboto-bold m-0">Vía terrestre</h4>
                                    </div>
                                    <div class="oc-box-dato px-md-3" id="paez-vias">
                                        <div class="item-terrestre_01 py-2">
                                            <div class="row d-block mt-2 pb-md-3">
                                                <div class="col-12 col-md-3">
                                                    <span class="badge text-light">Bogotá – Jenesano –<br>
                                                        Ramiriquí – Zetaquira – Miraflores</span>
                                                </div>
                                                <div class="col-12 d-block justify-content-between cont-tempus">
                                                    <div class="d-flex align-items-left justify-content-center mt-3">
                                                        <img src="/img/dist-paez.svg" alt=""
                                                            class="oc-box-dato__img-distancia mr-3">
                                                        <div class="">
                                                            <div class="d-flex">
                                                                <span class="oc-number-medium c-blue-light">132</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">DISTANCIA</p>
                                                        </div>
                                                    </div>

                                                    <div
                                                        class="d-flex align-items-left justify-content-center tem-apro mt-3">
                                                        <img src="/img/time-paez.svg" alt=""
                                                            class="oc-box-dato__img-aprox mr-4">
                                                        <div class="">
                                                            <span class="oc-number-medium c-green">5</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 item-viaje mt-5 mb-2">
                                    <div
                                        class="d-flex justify-content-center flex-column flex-md-row align-items-center text-center">
                                        <p class="mr-3 mb-3 mb-md-0">Recuerda solicitar el ingreso y tramitar los
                                            formatos</p>
                                        <a href="http://gi.ocensa.com.co/ORG_TAL/SitePages/SOLICITUDES%20VIAJES.aspx"
                                            target="_blank" class="oc-btn oc-btn__green m-0">
                                            <span> AGENDA TU VIAJE </span>
                                            <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2 mt-1"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{{>../partials/back-to-top}}

{{>../partials/footer}}