<div id="top"></div>


{{>../partials/header title="Boyacá - Estación Vasconia" classPage="oc-estaciones oc-ant-cau oc-est-antioquia"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>../partials/menu-lateral}}
</div>

{{>../partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="main-boy-vas">
    {{>../partials/perfil-recorrido-casanare}}
    <!-- Section 01 -->
    <section class="oc-widgets-section mt-5 pt-5">
        <div class="container">
            <div class="row">
                <!-- Widget principal -->
                <div class="col-12 col-md-4">
                    <div class="oc-card-widget mb-4 mb-md-0 oc-widget-principal">
                        <div class="oc-card-widget__body p-3">
                            <h2 class="oc-widget-principal__title mt-4">
                                <span class="oc-widget-principal__title__01">Estación</span><br>
                                <span class="oc-widget-principal__title__02">VASCONIA</span>
                            </h2>
                            <a href="/boyaca/boyaca.html" class="oc-btn oc-btn__green oc-btn__large mt-3">
                                <span class="flecha-ocensa flecha-izquierda flecha-blanca mr-2"></span>
                                <span> Regresar a Boyacá </span>
                            </a>
                            <div class="oc-widget-principal__leyend mt-4 text-center">
                                <h5 class="oc-widget-principal__leyend__text m-0"><span
                                        class="oc-widget-principal__leyend__text__01">Sector III /</span> <span
                                        class="oc-widget-principal__leyend__text__02">Segmento 3</span></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Widget slider -->
                <div class="col-12 col-md-8">
                    <div class="oc-card-widget oc-widget-slider">
                        <div class="oc-card-widget__body">
                            <div class="oc-slick-widget__slider oc-slick-theme">
                                <div class="item">
                                    <img src="/img/Vasconia abrir 1.jpg" alt="" class="img-fluid">
                                </div>

                                <div class="item">
                                    <img src="/img/Vasconia abrir 2.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 02 -->
    <section class="oc-widgets-section mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6" id="laestacion-cau">
                    <div class="oc-card-widget oc-widget-template wdg-la-estacion" id="cus-wdg-la-estacion">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-la_estacion.svg" alt="">
                                <span>La estación</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-4 oc-la-estacion" id="est-paez-la-estacion">
                            <div class="d-flex wdg-la-estacion__item align-items-center py-0">
                                <img src="/img/icon_territorio_paez_estacion_equipos_electricos.svg" alt="">
                                <div class="d-block text-center">
                                    <p class="text-left">Aquí se encuentran varios de los sistemas más importantes en el
                                        negocio del transporte de crudo como: <b>ODC y OAM</b> que son línea hacia la
                                        refinería
                                        de recibo de campos de producción como: <b>Teca, Palagua, Jazmín, Velázquez,</b>
                                        entre
                                        otros.</p>
                                </div>

                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/la_estacion_nodo_energetico.svg" alt="">
                                <div class="d-block text-center">
                                    <p class="text-left">Ubicación estratégica en el <b>Magdalena Medio,</b> zona con
                                        uno de
                                        los <b>nodos energéticos</b> más importantes del país. </p>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/la_estacion_inicio_fin_segmentos.svg" alt="">
                                <div class="d-block">
                                    <p>Es el punto donde <b>finaliza el segmento 2 e inicia el segmento 3</b> del
                                        oleoducto.</p>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/la_estacion_entrega_diferencia_volumenes.svg" alt="">
                                <div class="d-block">
                                    <p><b>Permite la entrega de la diferencia de volúmenes</b> que transportan estos
                                        segmentos mediante los caminos de flujo para mover producto hacia las
                                        facilidades de ODC y de Cenit. El volumen restante sigue para Coveñas.</p>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex wdg-la-estacion__item align-items-center py-1">
                                <img src="/img/la_estacion_entrega_custodia.svg" alt="">
                                <div class="d-block">
                                    <p>Se da el <b>cambio de custodia y responsabilidad del crudo</b> que se trae del
                                        sur y
                                        que se entrega a los clientes de acuerdo al programa definido.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6" id="ubicacion-cauc">
                    <div class="oc-card-widget oc-widget-template wdg-ubicacion" id="cus-wdg-ubicacion">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/3-icon-menu-ubicacion.svg" alt="">
                                <span>Ubicación</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body wdg-banner">
                            <div class="row">
                                <div class="col-12 col-md-9 wdg-banner__bg dragscroll">
                                    <!-- Imagen de fondo -->
                                    <img src="/img/ubicacion_vasconia.jpg" alt="" class="img-drag">
                                </div>
                                <div class="col-12 col-md-3 h-100 oc-bg-green py-3 wdg-banner__info">
                                    <p class="mt-3"><b>A 13 minutos del casco urbano</b> de Vasconia, saliendo por la
                                        vía
                                        Páez-Sabana Larga, llegarás a la estación.</p>

                                    <div
                                        class="wdg-banner__info__km d-flex flex-column flex-md-row align-items-center justify-content-center flex-wrap first-child">
                                        <div class="d-flex align-items-center mt-5">
                                            <img src="/img/altitud.svg" alt="">
                                            <div class="d-block text-center">
                                                <span class="number">
                                                    145
                                                </span>
                                                <span class="km">
                                                    m.s.n.m
                                                </span>
                                            </div>
                                        </div>
                                        <p class="leyend text-center">
                                            Altitud
                                        </p>
                                    </div>

                                    <div
                                        class="wdg-banner__info__km d-flex flex-column flex-md-row align-items-center justify-content-center flex-wrap first-child">
                                        <div class="d-flex  align-items-center">
                                            <img src="/img/temperatura.svg" alt="">
                                            <span class="number">
                                                28º
                                            </span>
                                            <span class="km">
                                                C
                                            </span>
                                        </div>
                                        <p class="leyend text-center">
                                            Temperatura promedio
                                        </p>
                                    </div>
                                    <a href="https://www.google.com/maps/place/Ecopetrol+Estaci%C3%B3n+Vasconia/@6.0659331,-74.5587002,1636m/data=!3m1!1e3!4m9!1m2!11m1!3e4!3m5!1s0x8e41671a676a3e93:0xfd28485da10573e!8m2!3d6.068277!4d-74.556654!15sCgEqkgEHY29tcGFueQ!5m1!1e4"
                                        target="_blank" class="oc-btn oc-btn__white mt-5">
                                        <span> Ir al mapa </span>
                                        <span class="flecha-ocensa flecha-derecha flecha-verde ml-2"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 04 -->
    <div class="oc-widgets-section mt-4" id="wdg-section-04">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9" id="almacenamiento-caucasia">
                    <div class="oc-card-widget oc-widget-template wdg-almacenamiento wdg-almacenamiento-caucasia"
                        id="wdg-almacenamiento-caucasia">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-almacenamiento.svg" alt="">
                                <span>Almacenamiento</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="cont-alm-vas">
                                    <div class="d-flex align-items-center c-blue-light justify-content-center item-01">
                                        <span class="oc-number-medium mr-2">
                                            1
                                        </span>
                                        <span class="roboto-medium span-2">
                                            Tanque
                                        </span>
                                    </div>
                                    <div class="item-02 d-flex flex-column align-items-center justify-content-center">
                                        <img src="/img/tanque_pequeno.svg" alt="" class="item-02__img">
                                        <p class="roboto-bold">Capacidad</p>
                                        <span class="roboto-medium c-blue-light">100.000</span>
                                        <p class="roboto-bold">BARRILES</p>
                                        <img src="/img/wdg-arrow-down.svg" alt="">
                                        <span class="badge d-block m-auto">Tanque de relevo y almacenamiento<br>
                                            temporal
                                            para ODC </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 d-flex">
                                <div class="row">
                                    <div class="col-12 mt-4">
                                        <p class="text-center text-right-alm">Aunque no son sistemas de Ocensa, también
                                            se cuenta con:</p>
                                    </div>
                                    <div class="col-12 col-md-6 text-down shadow-right">
                                        <div
                                            class="d-flex align-items-center c-blue-light justify-content-center item-01">
                                            <span class="roboto-medium span-2">
                                                Tanques de ODC
                                            </span>
                                        </div>
                                        <div
                                            class="item-02 d-flex flex-column align-items-center justify-content-center">
                                            <img src="/img/tanques_grandes.svg" alt="" class="item-02__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">480.000</span>
                                            <p class="roboto-bold">BARRILES</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 text-down">
                                        <div
                                            class="d-flex align-items-center c-blue-light justify-content-center item-01">
                                            <span class="roboto-medium span-2">
                                                Tanques de Cenit
                                            </span>
                                        </div>
                                        <div
                                            class="item-02 d-flex flex-column align-items-center justify-content-center">
                                            <img src="/img/tanque_mediano.svg" alt="" class="item-02__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">320.000</span>
                                            <p class="roboto-bold">BARRILES</p>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center mt-2">
                                        <div
                                            class="d-flex align-items-center justify-content-center buttons-end mt-3 mb-4">
                                            <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                                data-widget="#widget-galeria-foto__caucasia-almacenamiento">
                                                <span>Ver fotos</span>
                                                <img src="/img/camara.svg" alt="" class="ml-2"></button>
                                            <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                                data-widget="#widget-galeria-foto__porvenir-almacenamiento">
                                                <span>Ver video</span>
                                                <img src="/img/video.svg" alt="" class="ml-2"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3" id="bomb-2">
                    <div class="oc-card-widget oc-widget-template wdg-relacionamiento mb-4 mb-md-0"
                        id="wdg-relacionamiento">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/6-icon_menu-distancia_linea.svg" alt="">
                                <span>Sistema de bombeo</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 bom-cau">
                            <div class="oc-box-dato d-flex p-3">
                                <div class="d-block text-center">
                                    <img src="/img/icon-bombeo2y4.svg" alt="" class="d-block img-bomb-cau">
                                </div>
                                <div class="d-flex flex-column justify-content-center ml-2 text-vas-2">
                                    <span class="d-block c-green n-gr">4</span>
                                    <span class="d-block t-md"><b>Unidades <br>principales <br>eléctricas </b></span>
                                    <span class="d-block c-green n-gr-2">4.500</span>
                                    <span class="d-block c-green t-vas-2">HP</span>
                                    <span class="d-block t-vas-3">CAPACIDAD</span>
                                    <span class="d-block c-green n-gr-2">10.500</span>
                                    <span class="d-block c-green t-vas-2">BLS c/u</span>
                                    <span class="d-block t-vas-3">POR HORA</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 oc-porvenir__modal-button">
                            <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                data-widget="#widget-galeria-foto__caucasia-bombeo">
                                <span>Ver fotos</span>
                                <img src="/img/icon-camara.svg" alt="" class="ml-2"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 06 -->
    <section class="oc-widgets-section mt-4" id="bombeo-caucasia">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6" id="dist-caucasia">
                    <div class="oc-card-widget oc-widget-template wdg-distancia" id="wdg-distancia">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-distancia_linea.svg" alt="">
                                <span>Distancia de línea</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2 text-center">
                            <div class="item-01 text-center d-flex align-items-center mt-3">
                                <div class="col p-0 item-01 item-01__left">
                                    <img src="/img/icon_territorio_base_soraca_distancias_de_linea_sector_sur_estacion_la_belleza.svg"
                                        alt="" class="img-fluid">
                                    <p class="roboto-bold m-0 est-name">
                                        La Belleza
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        2.100
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                                <div class="col p-0 item-01__center">
                                    <span class="roboto-regular">95 Km</span>
                                    <img src="/img/line-divider.svg" alt="" class="wdg-distancia-divider">
                                </div>
                                <div class="col p-0 item-01__right">
                                    <img src="/img/icon_territorio_base_soraca_distancias_de_linea_sector_sur_estacion_vasconia.svg"
                                        alt="" class="img-fluid">
                                    <p class="roboto-bold est-name m-0">
                                        Vasconia
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        130
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                                <div class="col p-0 item-01__center">
                                    <span class="roboto-regular">106 Km</span>
                                    <img src="/img/line-divider.svg" alt="" class="wdg-distancia-divider">
                                </div>
                                <div class="col p-0 item-01__right">
                                    <img src="/img/distancia_de_linea_estacion_chiquillo.svg" alt="" class="img-fluid">
                                    <p class="roboto-bold est-name m-0">
                                        Chiquillo
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        452
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                            </div>
                            {{!-- Item desktop --}}
                            <div class="item-02 mt-2 d-none d-md-flex" id="distancia-linea-cau">
                                <div class="p-1 w-100">
                                    <div
                                        class="oc-box-dato cont-sec-3 d-flex align-items-center justify-content-center p-2">
                                        <img src="/img/diametro_tubo.svg" alt="" class="oc-box-dato__img mr-4">
                                        <h5 class="oc-box-dato__text__title roboto-bold mr-3 mt-2">Diámetro<br> del tubo
                                        </h5>
                                        <span class="number-lg mt-1">30</span>
                                        <span class="des-number-v2 ml-2"> Pulgadas</span>
                                    </div>
                                </div>
                            </div>
                            {{!-- Item mobile --}}
                            <div class="item-02 mt-2 d-md-none" id="distancia-linea-paez">
                                <div class="p-1">
                                    <div
                                        class="oc-box-dato cont-sec-3 d-flex align-items-center justify-content-center p-2">
                                        <img src="/img/diametro_tubo.svg" alt="" class="oc-box-dato__img mr-4">
                                        <div class="d-block text-left">
                                            <h5 class="oc-box-dato__text__title roboto-bold mr-3 mt-2">Diámetro del tubo
                                            </h5>
                                            <span class="number-lg mt-1 d-block">30</span>
                                            <span class="des-number ml-0 text-uppercase"> Pulgadas</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6" id="gestion-boy">
                    <div class="oc-card-widget oc-widget-template wdg-gestion-ambiental" id="wdg-gestion-ambiental">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_gestion_ambiental_icono_menu.svg" alt="">
                                <span>Gestión ambiental</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body px-4 py-2">
                            <div class="oc-slick-widget__gestion-paez oc-slick-theme_2">
                                <div class="slick-item p-2 text-center">
                                    <div
                                        class="oc-box-dato p-3 d-flex flex-column align-items-center justify-content-center">
                                        <img src="/img/gestion_ambiental_turbina_energia.svg" alt=""
                                            class="img-ges-vas">
                                        <p class="text-opc-1 m-0">Se encuentra en proceso de construcción el proyecto
                                            Recva que generará energía mediante una turbina. Con su implementación se
                                            busca disminuir el consumo de energía en una cuarta parte.</p>
                                    </div>
                                </div>
                                <div class="slick-item p-2 text-center" id="box-2">
                                    <div
                                        class="oc-box-dato p-3 d-flex flex-column align-items-center justify-content-center">
                                        <img src="/img/gestion_ambiental_parque_solar_energia.svg" alt=""
                                            class="img-ges-vas">
                                        <p class="text-opc-1 m-0">En la línea de energía sustentable, está en estudio un
                                            parque solar para generar energía.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Section 06 -->
    <section class="oc-widgets-section mt-4" id="bombeo-caucasia">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3" id="personal-caucasia">
                    <div class="oc-card-widget oc-widget-template wdg-personal wdg-bombeo wdg-personal-porvenir oc-sant"
                        id="wdg-personal">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-personal.svg" alt="">
                                <span>Personal</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2" id="personal-paez">
                            <div class="oc-porvenir__personal mt-3">

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/Odilio Rivera-3.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Odilio Rivera M. </h5>
                                        <p>Superintendente de <br>Sector 3</p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/Organigrama-Hugo Garcia (563).png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Breighner Cuesta </h5>
                                        <p>Profesional Senior <br>Aseguramiento Técnico</p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/imag_ocensa_boyaca_estacion_miraflores_personal_3_elkin_larrarte.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Tomas Carroll </h5>
                                        <p>Profesional Senior <br>Aseguramiento Técnico</p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/imag_ocensa_boyaca_estacion_miraflores_personal_3_elkin_larrarte.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Daniel Alba </h5>
                                        <p>Profesional Senior <br>Aseguramiento Técnico</p>
                                    </div>
                                </div>

                                <div class="oc-porvenir__personal-item">
                                    <div class="oc-porvenir__personal-avatar">
                                        <img src="/img/imag_ocensa_boyaca_estacion_miraflores_personal_3_elkin_larrarte.png" alt="">
                                    </div>
                                    <div class="oc-porvenir__personal-info">
                                        <h5>Juan F Lanzziano </h5>
                                        <p>Profesional Senior HSSE</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="oc-card-widget oc-widget-template wdg-demografico wdg-bombeo" id="wdg-demografico">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_demografico_icono_menu.svg" alt="">
                                <span>Demográfico</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2">
                            <div class="wdg-demografico__car oc-slick-theme_2">

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">TRABAJADORES EN ESTACIÓN</h3>
                                    <img src="/img/tortas_demografico_trabajadores_en_estacion.svg" alt=""
                                        class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item">
                                            <p>Total trabajadores en estación</p>
                                            <span>16</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-blue">Ocensa</p>
                                            <span>?</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-grey">Contratistas</p>
                                            <span>5</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">MUJERES Y HOMBRES</h3>
                                    <img src="/img/tortas_demografico_mujeres_y_hombres.svg" alt=""
                                        class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item">
                                            <p>Total trabajadores Ocensa</p>
                                            <span>4</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-blue">Mujeres</p>
                                            <span>0%</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item">
                                            <p class="oc-text-grey">Hombres</p>
                                            <span>100%</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="wdg-demografico__item">
                                    <h3 class="wdg-demografico__title">GENERACIONES</h3>
                                    <img src="/img/tortas_demografico_generaciones.svg" alt=""
                                        class="wdg-demografico__grafica">
                                    <div class="wdg-demografico__dates">
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-green">Generación
                                                Z</p>
                                            <span>0%</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-blue">Generación Y</p>
                                            <span>0%</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-yellow">Generación X</p>
                                            <span>75%</span>
                                        </div>
                                        <div class="wdg-demografico__dates-item wdg-demografico__dates-item-02">
                                            <p class="oc-text-grey">Generación Baby boomers</p>
                                            <span>25%</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3" id="contra-vas">
                    <div class="oc-card-widget wdg-contratistas wdg-contratistas-miraflores"
                        id="wdg-contratistas-miraflores">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_contratistas_icono_menu.svg" alt="">
                                <span>Contratistas</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3">
                            <div class="oc-slick-widget__contratistas oc-slick-theme_2">


                                <!-- Slide 1 -->
                                <div class="slick-item text-center">
                                    <img src="/img/logo_contratista_massy.png" alt=""
                                        class="oc-slick-widget__contratistas__brand img-fluid mx-auto mb-4">
                                    <h5 class="oc-slick-widget__contratistas__name roboto-medium mt-5 mb-3">MASSY - Massy Energy
                                        Colombia</h5>
                                    <p class="roboto-light my-5">Contrato de Mantenimiento<br> Integral de Estación.</p>
                                    <a href="https://www.massyenergy.co/" target="_blank"
                                        class="oc-btn oc-btn__gray m-0 my-4">
                                        <span> Ir </span>
                                        <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                    </a>
                                </div>

                                <!-- Slide 2 -->
                                <div class="slick-item text-center">
                                    <img src="/img/logo-cenit.png" alt=""
                                        class="oc-slick-widget__contratistas__brand img-fluid mx-auto mb-2">
                                    <h5 class="oc-slick-widget__contratistas__name roboto-medium">CENIT</h5>
                                    <p class="roboto-light my-4">Contrato integral de operación<br> local de las
                                        estaciones de Ocensa.</p>
                                    <a href="https://cenit-transporte.com/" target="_blank"
                                        class="oc-btn oc-btn__gray m-0">
                                        <span> Ir </span>
                                        <span class="flecha-ocensa flecha-derecha flecha-blanca"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="oc-card-widget oc-widget-template wdg-clima" id="wdg-clima-cus">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-clima.svg" alt="">
                                <span>Clima</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-slick-theme oc-slick-clima-card p-0">
                            <div class="slick-item">
                                <div class="oc-widget-template__body p-3">
                                    <p class="roboto-bold text-aguazul">Vasconia, Boyacá</p>
                                    <div class="item-01 d-flex align-items-center flex-wrap">
                                        <div class="item-01__text">
                                            <span class="item-01__text__day d-block c-blue-light">Sábado</span>
                                            <span class="item-01__text__temp oc-number-large c-blue-light">28°</span>
                                        </div>
                                        <div class="item-01__img">
                                            <img src="/img/clima.svg" alt="">
                                        </div>
                                        <p class="w-100 roboto-bold mb-0">Showers in te Vicinity</p>
                                        <hr class="w-100 my-2">
                                    </div>
                                    <div class="item-02">
                                        <p class="roboto-light mb-0">24% chance of rain through 12 p.m.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="slick-item">
                                <div class="oc-widget-template__body p-3">
                                    <p class="roboto-bold">Aguazul, Casanare</p>
                                    <div class="item-01 d-flex align-items-center flex-wrap">
                                        <div class="item-01__text">
                                            <span class="item-01__text__day d-block c-blue-light">Lunes</span>
                                            <span class="item-01__text__temp oc-number-large c-blue-light">27°</span>
                                        </div>
                                        <div class="item-01__img">
                                            <img src="/img/clima.svg" alt="">
                                        </div>
                                        <p class="w-100 roboto-bold mb-0">Showers in te Vicinity</p>
                                        <hr class="w-100 my-2">
                                    </div>
                                    <div class="item-02">
                                        <p class="roboto-light mb-0">24% chance of rain through 12 p.m.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="oc-card-widget oc-widget-template wdg-seguridad mt-4" id="wdg-seguridad">
                        <div class="oc-widget-template__top-bar oc-bg-gray">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_seguridad_hse_icono_menu.svg" alt="">
                                <span>Seguridad HSE</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2">
                            <div class="wdg-seguridad__item">
                                <span class="oc-number">1610</span>
                                <p class="text-center">Días sin incidentes</p>
                            </div>
                            <div class="wdg-seguridad__cont-btn">
                                <a href="/docs/Reglas-para-la-vida.pdf" download="Reglas para la vida"
                                    class="oc-btn oc-btn__green">
                                    <span>10 reglas para la vida</span>
                                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 08 -->
    <div class="oc-widgets-section mt-4  wdg-solicitudes-sant" id="wdg-section-caucasia">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    {{>../partials/widget-solicitudes-caucasia}}
                </div>

                <div class="col-12 col-md-8 " id="llegar-cau">
                    <div class="oc-card-widget oc-widget-template wdg-como-llegar como-llegar-1" id="wdg-como-llegar">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-como_llegar.svg" alt="">
                                <span>Cómo llegar</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body px-md-3 py-1">
                            <div class="row">
                                <div class="col-12 col-md-5 item-aerea">
                                    <div class="oc-slick-aerea-caucasia oc-slick-theme">
                                        <div class="item-01 d-flex flex-column align-items-center">
                                            <div class="item-aerea__title d-flex align-items-center mt-2 mb-2">
                                                <img src="/img/via_aerea.svg" alt="" class="mr-3">
                                                <h4 class="c-blue-light roboto-bold m-0">Vía aérea</h4>
                                            </div>
                                            <div class="oc-box-dato p-3" id="dist-aerea-cau">
                                                <ul class="nav flex-column mt-4">
                                                    <li class="nav-item mb-3 d-flex">
                                                        <div class="mt-1 mr-2">
                                                            <img src="/img/icono-flecha-azul.svg" alt="">
                                                        </div>
                                                        <span class="roboto-light d-inline-block t-gra-cau">Medellín -
                                                            Caucasia</span><span
                                                            class="c-green roboto-bold number-minutes res-1">45</span><span
                                                            class="c-green ml-1 desc-minutes">MIN</span>
                                                    </li>
                                                    <li class="nav-item mb-3 d-flex">
                                                        <div class="mt-1 mr-2">
                                                            <img src="/img/icono-flecha-azul.svg" alt="">
                                                        </div>
                                                        <span class="roboto-light d-inline-block t-gra-cau">Bogotá -
                                                            Montería (Córdoba): </span><span
                                                            class="c-green roboto-bold ml-2 number-minutes res-2">45</span><span
                                                            class="c-green ml-1 desc-minutes">MIN</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-02 d-flex flex-column align-items-center">
                                            <div class="item-aerea__title d-flex align-items-center mt-2 mb-2">
                                                <img src="/img/Grupo 17080.svg" alt="" class="mr-3">
                                                <h4 class="c-blue-light roboto-bold m-0">Vía aérea</h4>
                                            </div>
                                            <div class="oc-box-dato p-3" id="dist-aerea-cau">
                                                <ul class="nav flex-column mt-4">
                                                    <li class="nav-item mb-3 d-flex">
                                                        <div class="mt-1 mr-2">
                                                            <img src="/img/icono-flecha-azul.svg" alt="">
                                                        </div>
                                                        <span class="roboto-light d-inline-block t-gra-cau">Desde
                                                            Soracá</span><span
                                                            class="c-green roboto-bold number-minutes cus-res-1">120</span><span
                                                            class="c-green ml-1 desc-minutes">MIN</span>
                                                    </li>
                                                    <li class="nav-item mb-3 d-flex">
                                                        <div class="mt-1 mr-2">
                                                            <img src="/img/icono-flecha-azul.svg" alt="">
                                                        </div>
                                                        <span class="roboto-light d-inline-block t-gra-cau">Desde Puerto
                                                            Berrío </span><span
                                                            class="c-green roboto-bold ml-2 number-minutes res-2">50</span><span
                                                            class="c-green ml-1 desc-minutes">MIN</span>
                                                    </li>
                                                    <li class="nav-item mb-3 d-flex">
                                                        <div class="mt-1 mr-2">
                                                            <img src="/img/icono-flecha-azul.svg" alt="">
                                                        </div>
                                                        <span class="roboto-light d-inline-block t-gra-cau">Montería -
                                                            Caucasia </span><span
                                                            class="c-green roboto-bold ml-2 number-minutes res-2">30</span><span
                                                            class="c-green ml-1 desc-minutes">MIN</span>
                                                    </li>
                                                    <li class="nav-item mb-3 d-flex">
                                                        <div class="mt-1 mr-2">
                                                            <img src="/img/icono-flecha-azul.svg" alt="">
                                                        </div>
                                                        <span class="roboto-light d-inline-block t-gra-cau">Desde
                                                            Coveñas </span><span
                                                            class="c-green roboto-bold number-minutes-v2 res-2 cus-res-2">40</span><span
                                                            class="c-green ml-1 desc-minutes">MIN</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-7 item-terrestre d-flex flex-column align-items-center t-caucasia"
                                    id="terrestre-porv">
                                    <div class="item-terrestre__title d-flex align-items-center ml-4 mt-2 mb-2">
                                        <img src="/img/via_terrestre.svg" alt="" class="mr-3">
                                        <h4 class="c-blue-light roboto-bold m-0">Vía terrestre</h4>
                                    </div>
                                    <div class="oc-box-dato px-md-3 d-none d-md-block" id="terre-cau">
                                        <div
                                            class="item-terrestre_01 py-2 pb-2 d-flex align-items-center justify-content-center">
                                            <div class="row align-items-center mt-2 pb-md-3 d-block">
                                                <div class="col-12 col-md-12">
                                                    <span class="badge text-light px-2 mr-1">Medellín – Caucasia </span>
                                                </div>
                                                <div
                                                    class="col-12 col-md-12 d-flex justify-content-center terres-san-bell mt-3">
                                                    <div class="d-flex flex-nowrap align-items-center">
                                                        <img src="/img/distancia.svg" alt=""
                                                            class="oc-box-dato__img-distancia mr-2">
                                                        <div class="text-center">
                                                            <div class="d-flex mr-4">
                                                                <span class="oc-number-medium c-blue-light">285</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text mr-4">DISTANCIA
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex tem-apro">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox mr-3">
                                                        <div class="text-center">
                                                            <div
                                                                class="d-flex align-items-center justify-content-center">
                                                                <span class="oc-number-medium c-green">6</span>
                                                                <span
                                                                    class="small-text c-green roboto-regular ml-2 mr-2">HRS.</span>

                                                                <span
                                                                    class="oc-number-medium c-green ml-1 mr-2">00</span>
                                                                <span
                                                                    class="small-text c-green roboto-regular">MIN.</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="item-terrestre_02 py-2 d-flex align-items-center justify-content-center">
                                            <div class="row align-items-center mt-2 pb-md-3 d-block">
                                                <div class="col-12 col-md-12">
                                                    <span class="badge text-light px-2 mr-1">Montería (Córdoba) –
                                                        Caucasia </span>
                                                </div>
                                                <div
                                                    class="col-12 col-md-12 d-flex justify-content-center terres-san-bell mt-3">
                                                    <div class="d-flex flex-nowrap align-items-center">
                                                        <img src="/img/distancia.svg" alt=""
                                                            class="oc-box-dato__img-distancia mr-2">
                                                        <div class="text-center">
                                                            <div class="d-flex mr-4">
                                                                <span class="oc-number-medium c-blue-light">50</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text mr-4">DISTANCIA
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex tem-apro">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox mr-3">
                                                        <div class="text-center">
                                                            <span class="oc-number-medium c-green">1</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>

                                                            <span class="oc-number-medium c-green">15</span>
                                                            <span class="small-text c-green roboto-regular">MIN.</span>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="oc-box-dato resp-sant px-md-3 d-md-none">
                                        <div
                                            class="item-terrestre_01 py-2 pb-4 d-flex align-items-center justify-content-center">
                                            <div class="row align-items-center mt-2 pb-md-3 d-block">
                                                <div class="col-12 col-md-12">
                                                    <span class="badge text-light px-2 mr-1">Medellín – Caucasia </span>
                                                </div>
                                                <div
                                                    class="col-12 col-md-12 d-flex justify-content-center terres-san-bell mt-3 terre-1-cau">
                                                    <div class="d-flex flex-nowrap align-items-center">
                                                        <img src="/img/distancia.svg" alt=""
                                                            class="oc-box-dato__img-distancia mr-2">
                                                        <div class="text-center">
                                                            <div class="d-flex mr-4">
                                                                <span class="oc-number-medium c-blue-light">285</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text mr-4">DISTANCIA
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex tem-apro">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox mr-3">
                                                        <div class="text-center">
                                                            <span class="oc-number-medium c-green">6</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>

                                                            <span class="oc-number-medium c-green">00</span>
                                                            <span class="small-text c-green roboto-regular">MIN.</span>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="item-terrestre_02 py-2 d-flex align-items-center justify-content-center">
                                            <div class="row align-items-center mt-2 pb-md-3 d-block cau-viaje">
                                                <div class="col-12 col-md-12">
                                                    <span class="badge text-light px-2 mr-1">Montería (Córdoba) –
                                                        Caucasia </span>
                                                </div>
                                                <div
                                                    class="col-12 col-md-12 d-flex justify-content-center terres-san-bell mt-3 terre-1-cau">
                                                    <div class="d-flex flex-nowrap align-items-center">
                                                        <img src="/img/distancia.svg" alt=""
                                                            class="oc-box-dato__img-distancia mr-2">
                                                        <div class="text-center">
                                                            <div class="d-flex mr-4">
                                                                <span class="oc-number-medium c-blue-light">50</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text mr-4">DISTANCIA
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex tem-apro">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox mr-3">
                                                        <div class="text-center">
                                                            <span class="oc-number-medium c-green">1</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>

                                                            <span class="oc-number-medium c-green">15</span>
                                                            <span class="small-text c-green roboto-regular">MIN.</span>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 item-viaje mt-3 mb-2">
                                    <div
                                        class="d-flex justify-content-center flex-column flex-md-row align-items-center text-center">
                                        <p class="mb-3 mb-md-0 mr-3">Recuerda solicitar el ingreso y tramitar los
                                            formatos</p>
                                        <a href="http://gi.ocensa.com.co/ORG_TAL/SitePages/SOLICITUDES%20VIAJES.aspx"
                                            target="_blank" class="oc-btn oc-btn__green m-0">
                                            <span> AGENDA TU VIAJE </span>
                                            <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2 mt-1"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{{>../partials/back-to-top}}

{{>../partials/footer}}