{{!-- Ancla --}}
<div id="top"></div>

{{>../partials/header classPage="oc-noticia-body"}}

{{>../partials/menu-lateral}}

{{>../partials/menu-principal}}

<main class="oc-content py-4 pb-md-5 oc-content-single" id="notice-vecindad-boy">
    <!--Subheader-->
    <section class="oc-seccion-noticias d-flex flex-column justify-content-center oc-single-noticias">
        <div class="container">
            <div class="oc-seccion-noticias__subheader">
                <img src="/img/widget-7-noticias.svg" alt="">
                <h2>Noticias</h2>
            </div>
        </div>
    </section>

    <!--Etiquetas-->
    <section class="oc-seccion-noticias-etiquetas mt-4">
        <div class="container">
            <button><span class="name-etiqueta mr-3">OPERACIONES</span><span class="number-etiqueta">10</span></button>
            <button><span class="name-etiqueta mr-3">ASUNTOS</span><span class="number-etiqueta">45</span></button>
            <button><span class="name-etiqueta mr-3">ORGANIZACIÓN Y TALENTO</span><span
                    class="number-etiqueta">67</span></button>
            <button><span class="name-etiqueta mr-3">RESPONSABILIDAD INTEGRAL</span><span
                    class="number-etiqueta">67</span></button>
            <button><span class="name-etiqueta mr-3">FINANZAS</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">SERVICIOS CORPORATIVOS</span><span
                    class="number-etiqueta">67</span></button>
            <button><span class="name-etiqueta mr-3">GERENCIAS SENIOR</span><span
                    class="number-etiqueta">54</span></button>
            <button><span class="name-etiqueta mr-3">CASANARE</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">BOYACÁ</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">SANTADER</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">ANTIOQUIA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">CORDOBA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">SUCRE</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">COVEÑAS</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">LA GRANJITA</span><span class="number-etiqueta">54</span></button>
            <button><span class="name-etiqueta mr-3">CAUCASIA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">CHIQUILLO</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">VASCONIA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">LA BELLEZA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">TUNJA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">MIRAFLORES</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">PAEZ</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">EL PORVENIR</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">CUPIAGUA</span><span class="number-etiqueta">234</span></button>
        </div>
    </section>

    <!--Title-->
    <section class="oc-section-noticias__title">
        <div class="container">
            <div class="oc-seccion-noticias-etiquetas">
                <button><span class="name-etiqueta">BOYACÁ</span></button>
            </div>
            <h2>Buena Vecindad: seguridad con enfoque social</h2>
        </div>
    </section>

    <!--Icons and principal image-->
    <section class="oc-dates-noticias container">
        <div class="row align-items-center justify-content-between">
            <div class="col oc-dates-noticias__date">

                <a href="/boyaca/boyaca.html" class="oc-btn oc-bg-green">
                    <span class="flecha-ocensa flecha-izquierda flecha-blanca mr-2"></span>
                    Regresar a Boyacá
                </a>
            </div>
            <div class="col d-flex justify-content-end">
                <div class="oc-dates-noticias__like">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21.6" height="17.938" viewBox="0 0 21.6 17.938">
                        <path id="Trazado_9115" data-name="Trazado 9115"
                            d="M24.3,10.6a2.094,2.094,0,0,0-2-2.1H16.1l.7-1.3a3.033,3.033,0,0,0-.3-3.3,1.205,1.205,0,0,0-.5-.5,2.1,2.1,0,0,0-2.9.6L9.8,9H8.6V8.7a.789.789,0,0,0-.8-.8H3.5a.789.789,0,0,0-.8.8V20.2a.789.789,0,0,0,.8.8H7.9a.789.789,0,0,0,.8-.8v-.4h1.6l2.9.7h6.4a2.006,2.006,0,0,0,2-2,1.884,1.884,0,0,0-.2-.8,2.062,2.062,0,0,0,1.1-1.8,2.353,2.353,0,0,0-.2-.8,1.93,1.93,0,0,0,.9-2.6A2.367,2.367,0,0,0,24.3,10.6ZM7.1,19.4H4.2V9.4H7.1ZM19.4,19H13.3l-2.9-.7H8.6V10.4h1.7a.6.6,0,0,0,.6-.3l3.5-5.3a.663.663,0,0,1,.7-.2.1.1,0,0,1,.1.1,1.669,1.669,0,0,1,.1,1.8L14.5,8a1.183,1.183,0,0,0-.1,1,1.337,1.337,0,0,0,.7.8c.2.1.4.1.6.2h6.4c.3,0,.5.2.5.6s-.2.5-.5.5H20.7a.789.789,0,0,0-.8.8.736.736,0,0,0,.8.8h.5a.472.472,0,0,1,.5.5.56.56,0,0,1-.5.6H19.1a.789.789,0,0,0-.8.8h0a.789.789,0,0,0,.8.8h1.1a.5.5,0,0,1,0,1H18.1a.789.789,0,0,0-.8.8h0a.789.789,0,0,0,.8.8h1.2a.472.472,0,0,1,.5.5C19.8,18.8,19.7,19,19.4,19Z"
                            transform="translate(-2.7 -3.063)" fill="#95a6b1" />
                    </svg>
                    <span>15</span>
                </div>
                <div class="oc-dates-noticias__comments">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" viewBox="0 0 28 24">
                        <g id="Group_10968" data-name="Group 10968" transform="translate(-305 -767)">
                            <rect id="Rectangle_3080" width="28" height="24" transform="translate(305 767)"
                                fill="none" />
                            <g id="Group_9237" transform="translate(309.514 767.902)">
                                <g id="Line_1748">
                                    <path id="Path_9106" data-name="Path 9106"
                                        d="M13.7,6.9H8.2a.789.789,0,0,1-.8-.8.736.736,0,0,1,.8-.8h5.5a.8.8,0,0,1,0,1.6Z"
                                        fill="#95a6b1" />
                                </g>
                                <g id="Line_1749">
                                    <path id="Path_9107" data-name="Path 9107"
                                        d="M13.7,9.7H8.2A.684.684,0,0,1,7.5,9a.789.789,0,0,1,.8-.8h5.5a.789.789,0,0,1,.8.8C14.6,9.5,14.1,9.7,13.7,9.7Z"
                                        fill="#95a6b1" />
                                </g>
                                <g id="Group_9236">
                                    <g id="Group_9235">
                                        <g id="Line_1750">
                                            <path id="Path_9108" data-name="Path 9108"
                                                d="M1.3,20.3a.789.789,0,0,1-.8-.8V16a.789.789,0,0,1,.8-.8.736.736,0,0,1,.8.8v3.5A.736.736,0,0,1,1.3,20.3Z"
                                                fill="#95a6b1" />
                                        </g>
                                        <g id="Path_7657">
                                            <path id="Path_9109" data-name="Path 9109"
                                                d="M1.3,16.8A.789.789,0,0,1,.5,16V6.3a.789.789,0,0,1,.8-.8H4.4a.789.789,0,0,1,.8.8.709.709,0,0,1-.8.7H2.1v9A.736.736,0,0,1,1.3,16.8Z"
                                                fill="#95a6b1" />
                                        </g>
                                        <g id="Line_1751">
                                            <path id="Path_9110" data-name="Path 9110"
                                                d="M1.3,20.3a1.421,1.421,0,0,1-.6-.2A.713.713,0,0,1,.8,19l4.3-3.9a.792.792,0,0,1,1.1.1.713.713,0,0,1-.1,1.1L1.8,20.2A4.331,4.331,0,0,1,1.3,20.3Z"
                                                fill="#95a6b1" />
                                        </g>
                                        <g id="Path_7658">
                                            <path id="Path_9111" data-name="Path 9111"
                                                d="M10.7,16.4h-5a.789.789,0,0,1-.8-.8.736.736,0,0,1,.8-.8h5.1a2.865,2.865,0,0,0,2.6-1.7.762.762,0,0,1,1.4.6A4.447,4.447,0,0,1,10.7,16.4Z"
                                                fill="#95a6b1" />
                                        </g>
                                        <g id="Path_7659">
                                            <path id="Path_9112" data-name="Path 9112"
                                                d="M17.5,17.1a.789.789,0,0,1-.8-.8V3.7H4.6a.789.789,0,0,1-.8-.8.736.736,0,0,1,.8-.8h13a.789.789,0,0,1,.8.8V16.3A.948.948,0,0,1,17.5,17.1Z"
                                                fill="#95a6b1" />
                                        </g>
                                        <g id="Line_1752">
                                            <path id="Path_9113" data-name="Path 9113"
                                                d="M17.5,17.1a.764.764,0,0,1-.5-.2L12.7,13a.909.909,0,0,1-.1-1.1.909.909,0,0,1,1.1-.1L18,15.7a.909.909,0,0,1,.1,1.1A.6.6,0,0,1,17.5,17.1Z"
                                                fill="#95a6b1" />
                                        </g>
                                        <g id="Path_7660">
                                            <path id="Path_9114" data-name="Path 9114"
                                                d="M13.2,13.3h-5A4.268,4.268,0,0,1,3.9,9V3a.789.789,0,0,1,.8-.8.736.736,0,0,1,.8.8V9a2.8,2.8,0,0,0,2.8,2.8h5.1a.789.789,0,0,1,.8.8C14.2,13.1,13.6,13.3,13.2,13.3Z"
                                                fill="#95a6b1" />
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <span>0</span>
                </div>
                <div class="oc-dates-noticias__share">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17.7" height="19.9" viewBox="0 0 17.7 19.9">
                        <g id="Group_9730" transform="translate(-1255.999 -633.76)">
                            <g id="Group_9729" transform="translate(1202.649 625.41)">
                                <circle id="Ellipse_1246" cx="2.2" cy="2.2" r="2.2" transform="translate(65.9 9.1)"
                                    fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="1.5" />
                                <circle id="Ellipse_1247" cx="2.2" cy="2.2" r="2.2" transform="translate(54.1 16.2)"
                                    fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="1.5" />
                                <circle id="Ellipse_1248" cx="2.2" cy="2.2" r="2.2" transform="translate(65.6 23.1)"
                                    fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="1.5" />
                                <line id="Line_1753" x1="7.9" y2="4.8" transform="translate(58.2 12.4)" fill="none"
                                    stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="1.5" />
                                <line id="Line_1754" x2="7.7" y2="4.7" transform="translate(58.2 19.5)" fill="none"
                                    stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="1.5" />
                            </g>
                        </g>
                    </svg>
                    <span>9</span>
                </div>
                <div class="oc-dates-noticias__favorite">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">
                        <g id="Group_10971" data-name="Group 10971" transform="translate(-401 -772)">
                            <rect id="Rectangle_3935" data-name="Rectangle 3935" width="23" height="23"
                                transform="translate(401 772)" fill="none" />
                            <g id="Group_10970" data-name="Group 10970" transform="translate(2 1)">
                                <circle id="Ellipse_1706" data-name="Ellipse 1706" cx="9.5" cy="9.5" r="9.5"
                                    transform="translate(401 773)" fill="#95a6b1" />
                                <path id="Path_8817" data-name="Path 8817"
                                    d="M1256.3,1763.309l1.542,4.782,5.025-.011-4.071,2.944,1.563,4.775-4.059-2.962-4.058,2.962,1.563-4.775-4.071-2.944,5.024.011Z"
                                    transform="translate(-845.729 -987.309)" fill="#fff" />
                            </g>
                        </g>
                    </svg>

                    <span>Favoritos</span>
                </div>
            </div>
        </div>
        <div class="oc-dates-noticias__img-dest">
            <img src="/img/notices-boy-1.jpg" alt="">
        </div>
    </section>

    <!--Content-->
    <section class="oc-content-noticias">
        <div class="container">
            <div class="row">
                <!--Information Noticia-->
                <div class="oc-content-noticias__desc col-12 col-md-8">
                    <p>Una operación que a lo largo de los 836 kilómetros de oleoducto subterraneo pasa por 6
                        departamentos y 45 municipios, no sería posible sin el buen relacionamiento con las comunidades
                        que convivimos. Parte de ese relacionamiento implica conocerlas y ayudarlas en el mejoramiento
                        de sus necesidades.
                    </p>
                    <p>El proyecto Buena Vecindad busca la transformación de entornos en lugares seguros y confiables
                        para las comunidades y nuestra operación. El trabajo con ellas contribuye a prevenir conductas
                        contrarias a la convivencia y acciones delictivas, al mismo tiempo que fomenta la construcción
                        de una cultura de legalidad y de comportamientos solidarios.
                    </p>
                    <p>En 2020 se realizó la primera fase del proyecto donde fueron seleccionadas 6 veredas a lo largo
                        del recorrido del oleoducto: El Porvenir (Casanare), Yapombo y Betania (Boyacá), Caseri y Puerto
                        Calavera (Antioquia), y El Porvenir (Córdoba). Se tuvo en cuenta factores como la conflictividad
                        de las comunidades, niveles de inseguridad de la zona y la voluntad y el nivel de compromiso de
                        las JAC para participar en el proyecto. En 2021 el proyecto continúa con la selección de 9
                        veredas más: Unete (Casanare), Calderón (Boyacá), Chorro de Lágrimas, Machuca y La Porquera
                        (Antioquia); Nueva Estación y La Aguadita (Córdoba), El Peñón y Parcelas de Algarrobo (sucre).
                    </p>
                    <p>El avance del proyecto se ha logrado gracias a la participación de las JAC. Sus integrantes son
                        los interlocutores directos de la comunidad y quienes de primera mano expresan sus necesidades y
                        preocupaciones. Igualmente, la Fundación Oleoductos de Colombia y el Laboratorio de la Felicidad
                        han apoyado la iniciativa.
                    </p>
                </div>

                <!--Sidebar-->
                <div class="oc-content-noticias__sidebar col-12 col-md-4">
                    <div class="oc-total-comments">
                        <img src="/img/comments-icon.svg" alt="">
                        <span>7 comentarios</span>
                    </div>
                    <div class="oc-form-comments">
                        <form action="">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Tu comentario"></textarea>
                            <input type="submit" value="Publicar">
                        </form>
                        <div class="oc-publish-comments">

                            <!--Item commentary-->
                            <div class="oc-commentary-item">
                                <div class="oc-publish-comments__avatar">
                                    <img src="/img/avatar-noticias.png" alt="">
                                </div>
                                <div class="oc-publish-comments__info">
                                    <div class="oc-commentary">
                                        <p class="name-author">Natalia Cárdenas</p>
                                        <p class="desc-commentary">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                                    </div>
                                    <div class="oc-info-commentary">
                                        <div class="oc-date">
                                            <span>1 día</span>
                                        </div>
                                        <div class="oc-like">
                                            <img src="/img/like-icon.svg" alt="">
                                            <span>2</span>
                                        </div>
                                        <div class="oc-reply">
                                            <span>Responder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Item commentary-->
                            <div class="oc-commentary-item">
                                <div class="oc-publish-comments__avatar">
                                    <img src="/img/coments-user-1.png" alt="">
                                </div>
                                <div class="oc-publish-comments__info">
                                    <div class="oc-commentary">
                                        <p class="name-author">Andrea Pachon</p>
                                        <p class="desc-commentary">Monummy nibh euismod tincidunt ut laoreet dolore
                                            magna aliquam erat volutpat.</p>
                                    </div>
                                    <div class="oc-info-commentary">
                                        <div class="oc-date">
                                            <span>1 día</span>
                                        </div>
                                        <div class="oc-like">
                                            <img src="/img/like-icon.svg" alt="">
                                            <span>2</span>
                                        </div>
                                        <div class="oc-reply">
                                            <span>Responder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Item commentary-->
                            <div class="oc-commentary-item">
                                <div class="oc-publish-comments__avatar">
                                    <img src="/img/coments-user-2.png" alt="">
                                </div>
                                <div class="oc-publish-comments__info">
                                    <div class="oc-commentary">
                                        <p class="name-author">Ricardo Cardona</p>
                                        <p class="desc-commentary">Adipiscing elit, sed diam nonummy nibh euismod
                                            tincidunt ut laoreet dolore magna aliquam erat.</p>
                                    </div>
                                    <div class="oc-info-commentary">
                                        <div class="oc-date">
                                            <span>1 día</span>
                                        </div>
                                        <div class="oc-like">
                                            <img src="/img/like-icon.svg" alt="">
                                            <span>2</span>
                                        </div>
                                        <div class="oc-reply">
                                            <span>Responder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Item commentary-->
                            <div class="oc-commentary-item">
                                <div class="oc-publish-comments__avatar">
                                    <img src="/img/avatar-noticias.png" alt="">
                                </div>
                                <div class="oc-publish-comments__info">
                                    <div class="oc-commentary">
                                        <p class="name-author">Natalia Cárdenas</p>
                                        <p class="desc-commentary">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                                    </div>
                                    <div class="oc-info-commentary">
                                        <div class="oc-date">
                                            <span>1 día</span>
                                        </div>
                                        <div class="oc-like">
                                            <img src="/img/like-icon.svg" alt="">
                                            <span>2</span>
                                        </div>
                                        <div class="oc-reply">
                                            <span>Responder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Item commentary-->
                            <div class="oc-commentary-item">
                                <div class="oc-publish-comments__avatar">
                                    <img src="/img/avatar-noticias.png" alt="">
                                </div>
                                <div class="oc-publish-comments__info">
                                    <div class="oc-commentary">
                                        <p class="name-author">Natalia Cárdenas</p>
                                        <p class="desc-commentary">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                            elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                                    </div>
                                    <div class="oc-info-commentary">
                                        <div class="oc-date">
                                            <span>1 día</span>
                                        </div>
                                        <div class="oc-like">
                                            <img src="/img/like-icon.svg" alt="">
                                            <span>2</span>
                                        </div>
                                        <div class="oc-reply">
                                            <span>Responder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="oc-tags">
                        <h4>Tags</h4>
                        <div class="oc-cont-tags">
                            <button>OPERACIONES</button>
                            <button>ORGANIZACIÓN Y TALENTO</button>
                            <button>FINANZAS</button>
                            <button>LA GRANJITA</button>
                            <button>COVEÑAS</button>
                            <button>SANTANDER</button>
                            <button>CAUCASIA</button>
                            <button>ANTIOQUIA</button>
                            <button>CASANARE</button>
                            <button>SANTANDER</button>
                            <button>CÓRDOBA</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{>../partials/back-to-top}}

{{>../partials/footer}}