<div class="oc-custom-modal-map" id="clima-cordoba">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/vmodal-titulo_clima.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Clima</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/clima-cordoba.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    Debido al escaso promedio de altitud que tiene el territorio cordobés, la troposfera presenta una
                    alta temperatura de aire que promedia los 32°C. La mayor parte del territorio está en la zona
                    tropical lluviosa ya que su temperatura supera los 20° C. y las precipitaciones están por encima de
                    los 750 mm anuales. En la parte media y baja del Sinú, a la altura de los municipios de Ciénaga de
                    Oro, Sahagún, Chimá, Chinú, Lorica y Purísima, hay un clima de Sabana, periódicamente húmedo y con
                    lluvias cenitales.
                </p>
            </div>
        </div>
    </div>
</div>