<div class="oc-custom-modal-map" id="comunidades-reactivacion">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/vmodal-titulo_comunidades.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Comunidades</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__desc text-left">
                {{!-- Item 1 --}}
                <h5 class="roboto-light c-green mb-3">Reactivación de hoteles y restaurantes en el golfo de Morrosquillo
                </h5>
                <p>
                    En 2020 iniciamos con la Fundación Oleoducto de Colombia y Peace Startup Fundation un proyecto
                    piloto de reactivación sostenible con énfasis en turismo para los municipios del golfo de
                    Morrosquillo.
                </p>

                <p>
                    Inicialmente se desarrolló una fase de diagnóstico con empresas del sector turismo de Coveñas,
                    Sucre, y de San Antero, Córdoba. Se identificó cómo había impactado la pandemia a las unidades
                    productivas, qué capacidad de resurgir tenían y cuáles eran las habilidades que había que fortalecer
                    para que siguieran a flote.
                </p>

                <p>
                    Las cuatro empresas (hoteles y restaurantes) con las que se inició el piloto, dos en Coveñas y dos
                    en San Antero, recibieron fortalecimiento interno de la asociación y asesoría en temas de marketing
                    digital y posicionamiento de marca en redes.
                </p>
            </div>
        </div>
    </div>
</div>