<div class="oc-boletin-card__author {{#if video}} type-video {{/if}} mb-4">
    <a href="#" class="oc-boletin-card__author__box-image" {{#if video}}data-toggle="modal" data-target="#exampleModal"{{/if}}>
        <img src="/img/desktop_opinion_2.jpg" class="oc-boletin-card__author__image {{#if responsive}} d-none d-lg-block {{/if}}" alt="">
        {{!-- Image mobile --}}
        {{#if responsive}}
            <img src="/img/mobile_opinion_2.jpg" class="oc-boletin-card__author__image d-lg-none" alt="">
        {{/if}}
        {{#if video}}
        <div class="oc-boletin-card__author__caption">
            <img src="/img/boletin-play-video.svg" alt="">
        </div>
        {{/if}}
    </a>
    <div class="oc-boletin-card__author__desc">
        <div class="oc-boletin-card__author__desc__cont">
            <h5 class="oc-boletin-card__author__desc__title">
            Lorem ipsum dolor sit amet.
            </h5>
            <p class="oc-boletin-card__author__desc__par roboto-regular">
                Lorem ipsum dolor sit amet ipsum sit lorem.
            </p>
        </div>
        <div>
            <a href="#" class="oc-btn oc-btn__gray ml-0 d-inline-flex" href="">
                Leer más
                <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
            </a>
        </div>
    </div>
</div>