<div id="box-widget-mobile" class="d-lg-none">
    <div class="box-widget-mobile-cont d-lg-block">
        <div class="box-widget-mobile-cont__top-bar oc-bg-green" id="close-wdg-mobile">
            <span class="mr-2">Mis WIDGETS</span>
            <img src="img/arrow-widgets.svg" alt="">
        </div>
        <div class="box-widget-mobile-cont__widgets">
            <div class="row box-widget-mobile-cont__widgets__icons">
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-correo-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-correo oc-header__widgets-cont-img">
                            <img src="img/widget-1-correo.svg" alt="">
                        </div>
                        <p class="oc-header__widgets-desc">Correo</p>
                    </label>
                    <input type="radio" name="" id="wdg-correo-radio">
                </div>
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-agenda-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-agenda oc-header__widgets-cont-img">
                            <img src="img/widget-2-agenda.svg" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Agenda</p>
                    </label>
                    <input type="radio" name="" id="wdg-agenda-radio">
                </div>
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-grupos-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-grupos oc-header__widgets-cont-img">
                            <img src="img/widget-3-grupos.svg" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Grupos</p>
                    </label>
                    <input type="radio" name="" id="wdg-grupos-radio">
                </div>
                <hr>
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-enlaces-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-enlaces oc-header__widgets-cont-img">
                            <img src="img/widget-4-enlaces_rapidos.svg" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Enlaces rápidos</p>
                    </label>
                    <input type="radio" name="" id="wdg-enlaces-radio">
                </div>
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-aplicaciones-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-apps oc-header__widgets-cont-img">
                            <img src="img/widget-5-mis_apps.svg" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Mis aplicaciones</p>
                    </label>
                    <input type="radio" name="" id="wdg-aplicaciones-radio">
                </div>
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-indicadores-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-indicadores oc-header__widgets-cont-img">
                            <img src="img/widget-6-indicadores.svg" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Indicadores</p>
                    </label>
                    <input type="radio" name="" id="wdg-indicadores-radio">
                </div>
                <hr>
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-noticias-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-noticias oc-header__widgets-cont-img">
                            <img src="img/widget-7-noticias.svg" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Noticias</p>
                    </label>
                    <input type="radio" name="" id="wdg-noticias-radio">
                </div>
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-agenda-calendario" class="d-flex flex-column">
                        <div class="oc-header__widgets-agenda-calendario oc-header__widgets-cont-img">
                            <img src="img/widget-8-agenda_calendario.svg" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Agenda/Calendario</p>
                    </label>
                    <input type="radio" name="" id="wdg-agenda-calendario">
                </div>
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-encuesta-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-encuesta oc-header__widgets-cont-img">
                            <img src="img/icon-encuestas.svg" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Encuestas</p>
                    </label>
                    <input type="radio" name="" id="wdg-encuesta-radio">
                </div>
                <hr>
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-galeria-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-galeria oc-header__widgets-cont-img">
                            <img src="img/icon-galeria.svg" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Galería</p>
                    </label>
                    <input type="radio" name="" id="wdg-galeria-radio">
                </div>
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-otro1-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-otro oc-header__widgets-cont-img">
                            <img src="" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Otro Widget</p>
                    </label>
                    <input type="radio" name="" id="wdg-otro1-radio">
                </div>
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-otro2-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-otro oc-header__widgets-cont-img">
                            <img src="" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Otro Widget</p>
                    </label>
                    <input type="radio" name="" id="wdg-otro2-radio">
                </div>
                <hr>
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-otro3-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-otro oc-header__widgets-cont-img">
                            <img src="" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Otro Widget</p>
                    </label>
                    <input type="radio" name="" id="wdg-otro3-radio">
                </div>

                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-otro4-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-otro oc-header__widgets-cont-img">
                            <img src="" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Otro Widget</p>
                    </label>
                    <input type="radio" name="" id="wdg-otro4-radio">
                </div>

                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-otro5-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-otro oc-header__widgets-cont-img">
                            <img src="" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Otro Widget</p>
                    </label>
                    <input type="radio" name="" id="wdg-otro5-radio">
                </div>
                <hr>
                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-otro6-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-otro oc-header__widgets-cont-img">
                            <img src="" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Otro Widget</p>
                    </label>
                    <input type="radio" name="" id="wdg-otro6-radio">
                </div>

                <!--Item-->
                <div class="col-4 box-widget-mobile-cont__widgets-item">
                    <label for="wdg-otro7-radio" class="d-flex flex-column">
                        <div class="oc-header__widgets-otro oc-header__widgets-cont-img">
                            <img src="" alt="">
                        </div>
                    <p class="oc-header__widgets-desc">Otro Widget</p>
                    </label>
                    <input type="radio" name="" id="wdg-otro7-radio">
                </div>
                
                <hr>
            </div>
        </div>

        <div class="text-center mt-3 position-fixed shadow oc-cont-wdg-button py-4">
            <button class="oc-header__widgets-edit m-auto">Agregar</button>
        </div>
    </div>
</div>