<div class="oc-element-title oc-element-title__{{color}}">
    <div class="oc-element-title__icon ">
        <img src="{{icon}}" alt="">
    </div>
    <div class="oc-element-title__text">
        <h3>{{title}}</h3>
    </div>
</div>