<div class="oc-multimedia__podcast">
    <section>
        <div class="row d-none d-lg-flex">
            <div class="col-12 col-lg-8">
                {{>fav-widget-multimedia-pag audio="true" title="En la dirección de Operaciones autem vel eum iriure
                dolor in hendrerit in vulpu"}}
                {{>element-comments}}
            </div>
            <div class="col-12 col-lg-4 variant-02">
                {{>fav-widget-multimedia-pag audio="true" boxStyle="style-2" title="En la dirección de Operaciones autem
                vel eum"}}
                {{>fav-widget-multimedia-pag audio="true" boxStyle="style-2" title="En la dirección de Operaciones autem
                vel eum"}}
                {{>fav-widget-multimedia-pag audio="true" boxStyle="style-2" title="En la dirección de Operaciones autem
                vel eum"}}

                <div class="text-center">
                    <a href="#" class="oc-btn oc-bg-green" id="oc-btn-mult">
                        Ver todos los podcast
                        <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="d-lg-none d-block">
            <div class="oc-slick-widget-multimedia oc-slick-theme_2">
                <div class="slick-item">
                    {{>fav-widget-multimedia-pag audio="true" title="En la dirección de Operaciones autem
                vel eum"}}
                </div>
                <div class="slick-item">
                    {{>fav-widget-multimedia-pag audio="true" title="En la dirección de Operaciones autem
                vel eum"}}
                </div>
                <div class="slick-item">
                    {{>fav-widget-multimedia-pag audio="true" title="En la dirección de Operaciones autem
                vel eum"}}
                </div>
            </div>
            <div class="text-center">
                <a href="#" class="oc-btn oc-bg-green" id="oc-btn-mult">
                    Ver todos los podcast
                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                </a>
            </div>
        </div>
    </section>
</div>