<section class="oc-img-search">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="oc-img-search__img">
                    <img src="img/img-img-search.jpg" alt="">
                </div>
                <div class="oc-img-search__desc">
                    <h2 class="mt-2">Mapa recorrido oleoducto en...</h2>
                    <p>Subido por Dirección Operativa</p>
                </div>
                <div class="oc-img-search__aux-desc d-flex align-items-center justify-content-between">
                    <button><span>Operaciones</span></button>
                    <div class="d-flex">
                        <span class=""><a href="#"><img src="img/icon-download.svg" alt="" class="img-download"></a>
                        <span class=""><a href="#" class="">Ir<span style="color: #19A500; font-size: 25px; margin-left: 10px; margin-bottom: 5px">→</span></a></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="oc-img-search__img">
                    <img src="img/img-img-search.jpg" alt="">
                </div>
                <div class="oc-img-search__desc">
                    <h2 class="mt-2">Mapa recorrido oleoducto en...</h2>
                    <p>Subido por Dirección Operativa</p>
                </div>
                <div class="oc-img-search__aux-desc d-flex align-items-center justify-content-between">
                    <button><span>Operaciones</span></button>
                    <div class="d-flex">
                        <span class=""><a href="#"><img src="img/icon-download.svg" alt="" class="img-download"></a>
                        <span class=""><a href="#" class="">Ir<span style="color: #19A500; font-size: 25px; margin-left: 10px; margin-bottom: 5px">→</span></a></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="oc-img-search__img">
                    <img src="img/img-img-search.jpg" alt="">
                </div>
                <div class="oc-img-search__desc">
                    <h2 class="mt-2">Mapa recorrido oleoducto en...</h2>
                    <p>Subido por Dirección Operativa</p>
                </div>
                <div class="oc-img-search__aux-desc d-flex align-items-center justify-content-between">
                    <button><span>Operaciones</span></button>
                    <div class="d-flex">
                        <span><a href="#"><img src="img/icon-download.svg" alt="" class="img-download"></a>
                        <span class="links"><a href="#" class="">Ir<span style="color: #19A500; font-size: 25px; margin-left: 10px; margin-bottom: 5px">→</span></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>