<div class="oc-estamos-cont my-5 px-2">
    <div class="oc-estamos-cont__title">
        {{>nosotros-title icon="/img/capa-3.svg" title="En qué estamos"}}
    </div>
    <div class="oc-slick-theme oc-slick-estamos">
        <!-- Item -->
        <div class="item p-2">
            <div class="oc-estamos-cont__img-estamos">
                <img src="/img/enqueestamos-paez.jpg" alt="">
            </div>
            <div class="oc-estamos-cont__bg-green">
                <div class="oc-estamos-cont__bg-green__cont-categories py-2">
                    <span class="oc-category">Boyacá</span>
                    <span class="oc-category">Páez</span>
                </div>
                <h2>Lorem ipsum dolor sit amet</h2>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                <div class="oc-estamos-cont__aux-info ">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="oc-estamos-cont__aux-info__date">10 / 03 / 2021</span>
                        <a href="#" class="oc-btn oc-btn__green m-0 oc-btn__card-post">
                            <span>Leer más</span>
                            <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="item p-2">
            <div class="oc-estamos-cont__img-estamos">
                <img src="/img/enqueestamos-miraflores.jpg" alt="">
            </div>
            <div class="oc-estamos-cont__bg-green">
                <div class="oc-estamos-cont__bg-green__cont-categories py-2">
                    <span class="oc-category">Boyacá</span>
                    <span class="oc-category">Miraflores</span>
                </div>
                <h2>Lorem ipsum dolor sit amet</h2>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                <div class="oc-estamos-cont__aux-info ">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="oc-estamos-cont__aux-info__date">10 / 03 / 2021</span>
                        <a href="#" class="oc-btn oc-btn__green m-0 oc-btn__card-post">
                            <span>Leer más</span>
                            <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="item p-2">
            <div class="oc-estamos-cont__img-estamos">
                <img src="/img/enqueestamos-vasconia.jpg" alt="">
            </div>
            <div class="oc-estamos-cont__bg-green">
                <div class="oc-estamos-cont__bg-green__cont-categories py-2">
                    <span class="oc-category">Boyacá</span>
                    <span class="oc-category">Vasconia</span>
                </div>
                <h2>Lorem ipsum dolor sit amet</h2>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                <div class="oc-estamos-cont__aux-info ">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="oc-estamos-cont__aux-info__date">10 / 03 / 2021</span>
                        <a href="#" class="oc-btn oc-btn__green m-0 oc-btn__card-post">
                            <span>Leer más</span>
                            <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="item p-2">
            <div class="oc-estamos-cont__img-estamos">
                <img src="/img/enqueestamos-paez.jpg" alt="">
            </div>
            <div class="oc-estamos-cont__bg-green">
                <div class="oc-estamos-cont__bg-green__cont-categories py-2">
                    <span class="oc-category">Boyacá</span>
                    <span class="oc-category">Páez</span>
                </div>
                <h2>Lorem ipsum dolor sit amet</h2>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                <div class="oc-estamos-cont__aux-info ">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="oc-estamos-cont__aux-info__date">10 / 03 / 2021</span>
                        <a href="#" class="oc-btn oc-btn__green m-0 oc-btn__card-post">
                            <span>Leer más</span>
                            <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="item p-2">
            <div class="oc-estamos-cont__img-estamos">
                <img src="/img/enqueestamos-miraflores.jpg" alt="">
            </div>
            <div class="oc-estamos-cont__bg-green">
                <div class="oc-estamos-cont__bg-green__cont-categories py-2">
                    <span class="oc-category">Boyacá</span>
                    <span class="oc-category">Miraflores</span>
                </div>
                <h2>Lorem ipsum dolor sit amet</h2>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                <div class="oc-estamos-cont__aux-info ">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="oc-estamos-cont__aux-info__date">10 / 03 / 2021</span>
                        <a href="#" class="oc-btn oc-btn__green m-0 oc-btn__card-post">
                            <span>Leer más</span>
                            <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="item p-2">
            <div class="oc-estamos-cont__img-estamos">
                <img src="/img/enqueestamos-vasconia.jpg" alt="">
            </div>
            <div class="oc-estamos-cont__bg-green">
                <div class="oc-estamos-cont__bg-green__cont-categories py-2">
                    <span class="oc-category">Boyacá</span>
                    <span class="oc-category">Vasconia</span>
                </div>
                <h2>Lorem ipsum dolor sit amet</h2>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                <div class="oc-estamos-cont__aux-info ">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="oc-estamos-cont__aux-info__date">10 / 03 / 2021</span>
                        <a href="#" class="oc-btn oc-btn__green m-0 oc-btn__card-post">
                            <span>Leer más</span>
                            <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>