</div><!-- end #app-->

{{!-- Footer Desktop --}}
<footer class="oc-footer oc-bg-green py-5 d-none d-lg-block">
    <div class="row pl-5">
        <div class="col-12 col-lg-10 oc-footer-left pr-5">
            <img src="img/logo_ocensa_logosimbolo.png" alt="" class="oc-footer__logo">
            <div class="row mt-5 align-items-center">
                <div class="col-12 col-md-4">
                    <ul class="nav">
                        <li class="nav-item"><a href="#" target="_blank" class="nav-link"><img src="img/facebook.svg"
                                    alt=""></a></li>
                        <li class="nav-item"><a href="#" target="_blank" class="nav-link"><img src="img/youtube.svg"
                                    alt=""></a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-8 oc-legal-links">
                    <ul class="nav justify-content-between">
                        <li class="nav-item"><a href="">Mapa del sitio</a></li>
                        <li class="nav-item"><a href="">Terminos y condiciones</a></li>
                        <li class="nav-item"><a href="">Politicas de proteccion de datos</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <p class="oc-copyright mt-4 text-center text-lg-left">© 2021 OCENSA. Todos los derechos reservados</p>
            </div>
        </div>
        <div class="col-12 col-lg-2 oc-menu-footer pl-lg-5">
            <ul class="nav flex-column">
                <a href="">Nosotros</a>
                <a href="">Direcciones</a>
                <a href="">Territorio</a>
                <a href="">Cómo vamos</a>
                <a href="">Ayuda</a>
            </ul>
        </div>
    </div>
</footer>

{{!-- Footer mobile --}}
<footer class="oc-footer-resp oc-bg-green d-block d-lg-none">
    <div class="p-5">
        <img src="img/logo_ocensa_logosimbolo.png" alt="" class="oc-footer-resp__logo">
        <ul class="nav flex-column oc-footer-menu mt-5">
            <a href="">Nosotros</a>
            <a href="">Direcciones</a>
            <a href="">Territorio</a>
            <a href="">Cómo vamos</a>
            <a href="">Ayuda</a>
        </ul>
        <ul class="nav oc-footer-social mt-5">
            <li class="nav-item"><a href="#" target="_blank" class="nav-link"><img src="img/facebook.svg" alt=""></a>
            </li>
            <li class="nav-item"><a href="#" target="_blank" class="nav-link"><img src="img/youtube.svg" alt=""></a>
            </li>
        </ul>
        <ul class="nav flex-column oc-legal-links mt-3">
            <li class="nav-item"><a href="">Mapa del sitio</a></li>
            <li class="nav-item"><a href="">Terminos y condiciones</a></li>
            <li class="nav-item"><a href="">Politicas de proteccion de datos</a></li>
        </ul>
        <p class="oc-resp-copyright mt-4">© 2021 OCENSA. Todos los derechos reservados</p>
    </div>
</footer>
</body>

</html>