</div><!-- end #app-->

{{!-- Footer Desktop --}}
<footer class="oc-footer oc-bg-gray-light pt-3 pb-4 d-none d-lg-block">
    <div class="row row-footer">
        <div class="col-12 col-lg-10 oc-footer-left pr-5">
            <div class="row mt-5 align-items-center">
                <div class="col-12 col-md-4 d-flex align-items-center">
                    <img src="/img/ocensa-logosimbolo.svg" alt="" class="oc-footer__logo">
                    <ul class="nav">
                        <li class="nav-item"><a href="#" target="_blank" class="nav-link"><img src="/img/facebook.svg"
                                    alt=""></a></li>
                        <li class="nav-item"><a href="#" target="_blank" class="nav-link"><img src="/img/youtube.svg"
                                    alt=""></a></li>
                        <li class="nav-item"><a href="#" target="_blank" class="nav-link"><img src="/img/instagram.svg"
                                    alt=""></a></li>
                        <li class="nav-item"><a href="#" target="_blank" class="nav-link"><img src="/img/twitter.svg"
                                    alt=""></a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-8 oc-legal-links">
                    <ul class="nav justify-content-between">
                        <li class="nav-item"><a href="">Mapa del sitio</a></li>
                        <li class="nav-item"><a href="">Términos y condiciones</a></li>
                        <li class="nav-item"><a href="">Políticas de protección de datos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-2 oc-menu-footer pl-lg-5">
            <ul class="nav flex-column">
                <a href="">Nosotros</a>
                <a href="">Direcciones</a>
                <a href="">Territorio</a>
                <a href="">Cómo vamos</a>
                <a href="">Ayuda</a>
            </ul>
        </div>
        <div class="col-12">
            <p class="oc-copyright mt-3 text-center">© 2021 OCENSA. Todos los derechos reservados</p>
        </div>
    </div>
</footer>

{{!-- Footer mobile --}}
<footer class="oc-footer-resp oc-bg-gray-light d-block d-lg-none pb-5">
    <div class="p-4 p-lg-5">
        <img src="/img/ocensa-logosimbolo.svg" alt="" class="oc-footer-resp__logo">
        <ul class="nav oc-footer-social mt-5">
            <li class="nav-item"><a href="#" target="_blank" class="nav-link"><img src="/img/facebook.svg" alt=""></a>
            </li>
            <li class="nav-item"><a href="#" target="_blank" class="nav-link"><img src="/img/youtube.svg" alt=""></a>
            </li>
            <li class="nav-item"><a href="#" target="_blank" class="nav-link"><img src="/img/instagram.svg" alt=""></a>
            </li>
            <li class="nav-item"><a href="#" target="_blank" class="nav-link"><img src="/img/twitter.svg" alt=""></a>
            </li>
        </ul>
        <ul class="nav flex-column oc-legal-links mt-3">
            <li class="nav-item"><a href="">Mapa del sitio</a></li>
            <li class="nav-item"><a href="">Terminos y condiciones</a></li>
            <li class="nav-item"><a href="">Politicas de proteccion de datos</a></li>
        </ul>
        <p class="oc-resp-copyright mt-4">© 2021 OCENSA. Todos los derechos reservados</p>
    </div>
</footer>

{{!-- CDN Fotorama requiere jquery --}}
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.js"></script>
</body>

</html>