<div class="oc-galeria-territorios">
    <div class="container">
        <div class="oc-galeria-territorios__cont-title">
            {{>nosotros-title icon="/img/Capa 2.svg" title="Estaciones"}}
        </div>
    </div>
</div>
<div class="row cont-general-gray align-items-center">
    <div class="col-3 cont-gray ">
        <div class="cont-gray__box"></div>
    </div>
    <div class="col-9 cont-img-gallery">
        <div class="oc-slick-theme oc-slick-galeria-territorio">
            <div class="item-gallery p-2">
                <figure class="m-0 position-relative">
                    <img src="/img/estacion-la-belleza.jpg" alt="" class="img-normal img-fluid">
                    <a href="/santander/estacion-la-belleza.html"
                        class="cont-img-gallery__hover position-absolute p-2 d-flex align-items-center justify-content-center">
                        <p class="position">Estación La Belleza</p>
                    </a>
                </figure>
            </div>
        </div>
    </div>
</div>