<div class="oc-galeria-territorios">
    <div class="oc-galeria-territorios__cont-title">
        {{>nosotros-title icon="/img/Capa 2.svg" title="Estaciones"}}
    </div>
</div>
<div class="row cont-general-gray align-items-center">
    <div class="col-3 cont-gray ">
        <div class="cont-gray__box"></div>
    </div>
    <div class="col-9 cont-img-gallery">
        <div class="oc-slick-theme oc-slick-galeria-territorio">
            <div class="item-gallery p-2 position-relative">
                <img src="/img/G0050261.svg" alt="" class="img-normal img-fluid">
                <div class="cont-img-gallery__hover position-absolute p-2 d-flex align-items-center justify-content-center">
                    <p class="position-absolute">Estación Cupiagua</p>
                    <img src="/img/Grupo 14876.jpg" alt="" class="img-hover">
                </div>
            </div>
            <div class="item-gallery p-2 position-relative">
                <img src="/img/G0050261.svg" alt="" class="img-normal img-fluid">
                <div class="cont-img-gallery__hover position-absolute p-2 d-flex align-items-center justify-content-center">
                    <p class="position-absolute">Estación Cusiana</p>
                    <img src="/img/Grupo 14876-2.jpg" alt="" class="img-hover">
                </div>
            </div>
            <div class="item-gallery p-2 position-relative">
                <img src="/img/cusiana-1.jpg" alt="" class="img-normal img-fluid">
                <div class="cont-img-gallery__hover position-absolute p-2 d-flex align-items-center justify-content-center">
                    <p class="position-absolute">Estación El Porvenir</p>
                    <img src="/img/Grupo 14876-3.jpg" alt="" class="img-hover">
                </div>
            </div>
             <div class="item-gallery p-2 position-relative">
                <img src="/img/G0050261.svg" alt="" class="img-normal img-fluid">
                <div class="cont-img-gallery__hover position-absolute p-2 d-flex align-items-center justify-content-center">
                    <p class="position-absolute">Estación Cusiana</p>
                    <img src="/img/Grupo 14876.jpg" alt="" class="img-hover">
                </div>
            </div>
            <div class="item-gallery p-2 position-relative">
                <img src="/img/G0050261.svg" alt="" class="img-normal img-fluid">
                <div class="cont-img-gallery__hover position-absolute p-2 d-flex align-items-center justify-content-center">
                    <p class="position-absolute">Estación El Porvenir</p>
                    <img src="/img/Grupo 14876-2.jpg" alt="" class="img-hover">
                </div>
            </div>
            <div class="item-gallery p-2 position-relative">
                <img src="/img/G0050261.svg" alt="" class="img-normal img-fluid">
                <div class="cont-img-gallery__hover position-absolute p-2 d-flex align-items-center justify-content-center">
                    <p class="position-absolute">Estación Cupiagua</p>
                    <img src="/img/Grupo 14876-3.jpg" alt="" class="img-hover">
                </div>
            </div>
        </div>
    </div>
</div>