<div class="oc-img-header-estaciones">
    <img src="{{img}}" alt="" class="oc-img-header__img">
    <div class="oc-img-header-estaciones__caption">
        <img src="/img/Capa_9.svg" alt="" class="oc-img-header-estaciones__icon-estacion">
        <h1 class="oc-img-header-estaciones__title-p mt-3">{{estacion}}</h1>
        <img src="/img/Grupo 14507.svg" alt="" class="oc-img-header-estaciones__icons-f mt-3">
    </div>
</div>

<div class="oc-nosotros-submenu">
    {{>submenu itemsSubmenu="{{itemsSumenu}}"}}
</div>