<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <!-- Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog pt-5">
        <div class="modal-content">
        <div class="modal-body">
            <form action="" class="justify-content-end d-flex">
                <label for="oc-search" class="oc-bg-green label-search"><img src="img/lupa_buscador.svg" alt=""></label>
                <input type="text" placeholder="Encuentra aquí lo que buscas" id="oc-search" class="form-control oc-input-search">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Buscar</button>
        </div>
        </div>
    </div>
    </div>
    <div id="app">
        <header class="oc-header">
            <div class="oc-header__desktop d-none d-md-block">
                <div class="oc-header__cont row py-3 py-lg-0">
                    <div class="oc-header__logo">
                        <img src="img/logo_ocensa_logo.png" alt="">
                    </div>
                    <div class="oc-header__items">
                        <a href="#" class="oc-header__logout">
                            <img src="img/icon_logout.svg" alt=""><span>Logout</span>
                        </a>
                        <div class="oc-header__widgets d-none d-lg-block">
                            <div class="oc-header__widgets-info">
                                <span>Mis WIDGETS</span>
                                <img src="img/arrow-widgets.svg" alt="">
                            </div>
                            <div class="oc-header__widgets-cont">
                                <div class="oc-header__widgets-item">
                                    <button class="oc-header__widgets-edit">Editar</button>
                                </div>
                                <!--Item-->
                                <div class="oc-header__widgets-item">
                                    <div class="oc-header__widgets-correo oc-header__widgets-cont-img">
                                        <img src="img/widget-1-correo.svg" alt="">
                                    </div>
                                    <p class="oc-header__widgets-desc">Correo</p>
                                </div>
                                <!--Item-->
                                <div class="oc-header__widgets-item">
                                    <div class="oc-header__widgets-agenda oc-header__widgets-cont-img">
                                        <img src="img/widget-2-agenda.svg" alt="">
                                    </div>
                                    <p class="oc-header__widgets-desc">Agenda</p>
                                </div>
                                <!--Item-->
                                <div class="oc-header__widgets-item">
                                    <div class="oc-header__widgets-grupos oc-header__widgets-cont-img">
                                        <img src="img/widget-3-grupos.svg" alt="">
                                    </div>
                                    <p class="oc-header__widgets-desc">Grupos</p>
                                </div>
                                <!--Item-->
                                <div class="oc-header__widgets-item">
                                    <div class="oc-header__widgets-enlaces oc-header__widgets-cont-img">
                                        <img src="img/widget-4-enlaces_rapidos.svg" alt="">
                                    </div>
                                    <p class="oc-header__widgets-desc">Enlaces rápidos</p>
                                </div>
                                <!--Item-->
                                <div class="oc-header__widgets-item">
                                    <div class="oc-header__widgets-apps oc-header__widgets-cont-img">
                                        <img src="img/widget-5-mis_apps.svg" alt="">
                                    </div>
                                    <p class="oc-header__widgets-desc">Mis aplicaciones</p>
                                </div>
                                <!--Item-->
                                <div class="oc-header__widgets-item">
                                    <div class="oc-header__widgets-indicadores oc-header__widgets-cont-img">
                                        <img src="img/widget-6-indicadores.svg" alt="">
                                    </div>
                                    <p class="oc-header__widgets-desc">Indicadores</p>
                                </div>
                                <!--Item-->
                                <div class="oc-header__widgets-item">
                                    <div class="oc-header__widgets-noticias oc-header__widgets-cont-img">
                                        <img src="img/widget-7-noticias.svg" alt="">
                                    </div>
                                    <p class="oc-header__widgets-desc">Noticias</p>
                                </div>
                                <!--Item-->
                                <div class="oc-header__widgets-item">
                                    <div class="oc-header__widgets-agenda-calendario oc-header__widgets-cont-img">
                                        <img src="img/widget-8-agenda_calendario.svg" alt="">
                                    </div>
                                    <p class="oc-header__widgets-desc">Agenda/Calendario</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="oc-search-bar">
                    <div class="input-group oc-search-bar__cont">
                        <button type="button" class="btn btn-primary oc-search-bar__btn">
                            <img src="img/lupa_buscador.svg" alt="">
                        </button>
                        <div class="form-outline oc-search-bar__input">
                            <input type="search" id="form1" class="form-control"
                                placeholder="Encuentra aquí lo que buscas">
                        </div>
                    </div>
                </div>

                <div class="oc-menu-search">
                    <nav>
                        <ul class="nav justify-content-center">
                            <li class="nav-item"><a href="#" class="nav-link active">Todo</a></li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14.706" height="20.574" viewBox="0 0 14.706 20.574">
                                        <g id="Grupo_6636" data-name="Grupo 6636" transform="translate(0.75 0.752)">
                                            <line id="Línea_1013" data-name="Línea 1013" y2="1.917" transform="translate(5.229 6.708)" fill="none" stroke="#95A6B1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <line id="Línea_1014" data-name="Línea 1014" y2="1.917" transform="translate(8.036 6.708)" fill="none" stroke="#95A6B1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <path id="Trazado_11414" data-name="Trazado 11414" d="M25.32,20.53l3.76,1.691a2.847,2.847,0,0,1,1.412,1.97v6.781" transform="translate(-17.286 -11.9)" fill="none" stroke="#95A6B1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <path id="Trazado_11415" data-name="Trazado 11415" d="M15.867,20.52l-3.815,1.7a2.847,2.847,0,0,0-1.412,1.97v2.145l.005,1.144v3.081a.406.406,0,0,0,.41.41h12.79" transform="translate(-10.64 -11.896)" fill="none" stroke="#95A6B1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <line id="Línea_1016" data-name="Línea 1016" x1="1.404" y1="1.591" transform="translate(5.229 8.625)" fill="none" stroke="#95A6B1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <line id="Línea_1017" data-name="Línea 1017" y1="1.591" x2="1.404" transform="translate(6.632 8.625)" fill="none" stroke="#95A6B1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <path id="Trazado_5701" data-name="Trazado 5701" d="M23.2,12.926a2.644,2.644,0,1,1-5.287,0" transform="translate(-13.93 -8.458)" fill="none" stroke="#95A6B1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <path id="Trazado_5702" data-name="Trazado 5702" d="M17.9,9.23V7.518a2.721,2.721,0,0,1,2.384-2.745,2.644,2.644,0,0,1,2.9,2.631V9.23" transform="translate(-13.929 -4.761)" fill="none" stroke="#95A6B1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                        </g>
                                    </svg>
                                    Perfiles
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.625" height="18.942" viewBox="0 0 15.625 18.942">
                                        <g id="Grupo_13062" data-name="Grupo 13062" transform="translate(-1905.979 39.75)">
                                            <path id="Trazado_11413" data-name="Trazado 11413" d="M13.642,7H22.8V23.956H10.058V11.682" transform="translate(1898.055 -45.513)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <rect id="Rectángulo_4557" data-name="Rectángulo 4557" width="6.265" height="6.308" transform="translate(1911.445 -34.841)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <line id="Línea_1491" data-name="Línea 1491" x2="4.975" transform="translate(1911.445 -25.489)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <ellipse id="Elipse_2151" data-name="Elipse 2151" cx="1.504" cy="1.504" rx="1.504" ry="1.504" transform="translate(1906.729 -39)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                        </g>
                                    </svg>
                                    Noticias
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.624" height="18.942" viewBox="0 0 15.624 18.942">
                                        <g id="Grupo_13061" data-name="Grupo 13061" transform="translate(-1912.614 48.205)">
                                            <path id="Trazado_11425" data-name="Trazado 11425" d="M13.642,7H22.8V23.956H10.058V11.682" transform="translate(1904.691 -53.969)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <g id="Grupo_13060" data-name="Grupo 13060">
                                            <line id="Línea_1489" data-name="Línea 1489" x2="6.326" transform="translate(1918.081 -35.856)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <line id="Línea_1492" data-name="Línea 1492" x2="6.326" transform="translate(1918.081 -39)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <line id="Línea_1493" data-name="Línea 1493" x2="6.326" transform="translate(1918.081 -42.144)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <line id="Línea_1491" data-name="Línea 1491" x2="4.975" transform="translate(1918.081 -32.945)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            </g>
                                            <ellipse id="Elipse_2152" data-name="Elipse 2152" cx="1.504" cy="1.504" rx="1.504" ry="1.504" transform="translate(1913.364 -47.455)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                        </g>
                                    </svg>
                                    Documentos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16.114" height="13.872" viewBox="0 0 16.114 13.872">
                                        <g id="Grupo_12977" data-name="Grupo 12977" transform="translate(0.75 0.75)">
                                            <path id="Trazado_9055" data-name="Trazado 9055" d="M15.773,6h-2.14l-1-2.188H7.573L6.573,6H4.227A1.534,1.534,0,0,0,2.693,7.536v7.116a1.534,1.534,0,0,0,1.534,1.534H15.773a1.534,1.534,0,0,0,1.534-1.534V7.536A1.534,1.534,0,0,0,15.773,6Z" transform="translate(-2.693 -3.814)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <circle id="Elipse_1335" data-name="Elipse 1335" cx="2.22" cy="2.22" r="2.22" transform="translate(5.087 4.485)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                        </g>
                                    </svg>
                                    Imágenes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18.673" height="13.323" viewBox="0 0 18.673 13.323">
                                        <g id="Grupo_13048" data-name="Grupo 13048" transform="translate(-396.25 -387.722)">
                                            <g id="Grupo_9821" data-name="Grupo 9821" transform="translate(397 388.472)">
                                            <rect id="Rectángulo_139" data-name="Rectángulo 139" width="11.823" height="11.823" transform="translate(0)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            <path id="Trazado_236" data-name="Trazado 236" d="M1334.014,3009.173l-5.349-3.458v-4.906l5.349-3.458Z" transform="translate(-1316.841 -2997.35)" fill="none" stroke="#95a6b1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                            </g>
                                        </g>
                                    </svg>
                                    Videos
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="oc-header__mobile d-block d-md-none p-3">
                <div class="d-flex align-items-center justify-content-between">
                    <button class="oc-btn-menu-superior oc-btn-open-menu d-flex flex-column">
                        {{!-- Icon menu --}}
                        <img src="img/icon_menu_mobile.svg" alt="">

                        <span>menú</span>
                    </button>
                    <div class="oc-header__logo">
                        <img src="img/logo_ocensa_logo.png" alt="">
                    </div>
                    <a href="#" class="oc-header__logout text-center">
                        <img src="img/icon_logout.svg" alt=""><span class="d-block">Logout</span>
                    </a>
                    <button type="button" class="btn btn-primary oc-search-bar__btn" data-toggle="modal" data-target="#searchModal">
                        <img src="img/lupa_buscador.svg" alt="">
                    </button>
                </div>
            </div>
        </header>