<div class="oc-img-header__sistema">
    {{>perfil-recorrido-casanare}}
</div>
<div class="oc-img-header-estaciones">
    <div class="oc-img-header__cont-button text-center">
        <button class="oc-img-header__button-sistema oc-bg-green">
            <span class="oc-img-header__button-sistema__text">Ver Sistema Ocensa</span>
            <span class="oc-img-header__button-sistema__arrow">
                <img src="/img/sistema-arrow-down.svg" alt="">
            </span>
        </button>
    </div>
    <img src="{{img}}" alt="" class="oc-img-header__img">
    <div class="oc-img-header-estaciones__caption">
        <img src="/img/Capa_9.svg" alt="" class="oc-img-header-estaciones__icon-estacion">
        <h1 class="oc-img-header-estaciones__title-p mt-3">{{estacion}}</h1>
        <img src="/img/Grupo 14507.svg" alt="" class="oc-img-header-estaciones__icons-f mt-3">
    </div>
</div>

<div class="oc-nosotros-submenu">
    {{>submenu itemsSubmenu="{{itemsSumenu}}"}}
</div>