<div class="oc-img-header">
    <img src="{{img}}" alt="" class="oc-img-header__img">
    <div class="oc-img-header__caption">
        <h1 class="oc-img-header__title-p">Nosotros</h1>
        <h2 class="oc-img-header__title-s">{{title}}</h2>
    </div>
</div>

{{>submenu itemsSubmenu="{{itemsSumenu}}"}}

            