<div class="row oc-territorios mt-5">
    <div class="col-6 oc-cont-header d-flex align-items-center justify-content-center">
        {{>nosotros-title icon="/img/Capa 1.svg" title="Territorio"}}
    </div>
    <div class="col-6 py-5 w-75 pr-5 oc-cont-text">
        <p>Los últimos rastros de la geografía montañosa de la cordillera Occidental han quedado al sur del departamento
            de Córdoba en límites con Antioquia. Ahora el trayecto del oleoducto recorre la llanura del Caribe, llega a
            la estación La Granjita, en Pueblo Nuevo, y continúa hasta la estación Coveñas, en Sucre.
        </p>
    </div>
</div>