<div class="row oc-territorios mt-5">
    <div class="col-6 oc-cont-header d-flex align-items-center justify-content-center">
        {{>nosotros-title icon="/img/Capa 1.svg" title="Territorio"}}
    </div>
    <div class="col-6 py-5 w-75 pr-5 oc-cont-text">
        <p>En este punto, el oleoducto pasa por debajo del río Magdalena, uno de los tantos cruces subfluviales del
            recorrido, y entra al departamento de Antioquia por Puerto Nare. Tras cruzar el río San Bartolomé, se
            adentra en la región Nordeste, en un ascenso leve por la cordillera Central, hasta la región del Bajo Cauca.
        </p>
    </div>
</div>