<div class="row oc-territorios mt-5 mt-md-0 mt-lg-5">
    <div class="col-6 oc-cont-header d-flex align-items-center justify-content-center">
        {{>nosotros-title icon="/img/Capa 1.svg" title="Territorio"}}
    </div>
    <div class="col-6 py-5 w-75 pr-5 oc-cont-text">
        <p>Las tierras de Santander están divididas por dos grandes fisiografías: El Valle Medio del Magdalena y la cordillera Oriental. El Valle del Magdalena, al occidente del departamento, se caracteriza por relieves planos y suavemente ondulados hasta encontrarse con el río Magdalena, límite con Antioquia. La cordillera Oriental ocupa gran parte del departamento en un terreno quebrado y de pendientes fuertes con alturas superiores a los 3.000 m.s.n.m. <br>
        <br>En el sur del departamento, en límites con Boyacá, se encuentra La Belleza (2.100 m.s.n.m.), un municipio con paisajes de ensueño donde se encuentra la estación de Ocensa. Allí, inicia el descenso del oleoducto hasta la estación Vasconia (130 m.s.n.m.) en Puerto Boyacá, Boyacá.</p>
    </div>
</div>