<div class="row oc-territorios mt-5 mt-md-0 mt-lg-5">
    <div class="col-6 oc-cont-header d-flex align-items-center justify-content-center">
        {{>nosotros-title icon="/img/Capa 1.svg" title="Territorio"}}
    </div>
    <div class="col-6 py-5 w-75 pr-5 oc-cont-text">
        <p>Hemos dejado las tierras llanas de Casanare para adentrarnos en las montañas de Boyacá, sobre la Cordillera Oriental. El departamento presenta todos los pisos térmicos con temperaturas desde los 35° C. en Puerto Boyacá hasta bajo 0° C. en el Cocuy. Cuenta con dos parques nacionales naturales y dos santuarios de flora y fauna. Además de su biodiversidad, presenta una riqueza hídrica que se ha convertido en una importante fuente eléctrica para el departamento y el país. <br>
        <br>El paso del oleoducto por Boyacá fue un reto de ingeniería significativo. Son tres las estaciones del trazado presentes en el departamento: Páez, Miraflores y Vasconia. Los invitamos a un recorrido por el territorio donde nace la energía que movemos para Colombia.</p>
    </div>
</div>