<div class="row oc-territorios mt-5">
    <div class="col-6 oc-cont-header d-flex align-items-center justify-content-center">
        {{>nosotros-title icon="/img/Capa 1.svg" title="Territorio"}}
    </div>
    <div class="col-6 py-5 w-75 pr-5 oc-cont-text">
        <p>Llegar al departamento de Sucre y específicamente a la terminal de Coveñas, es llegar al fin de los 836
            kilómetros de oleoducto subterráneo que iniciaron con la estación Cusiana, en Casanare. En este punto se
            reciben todos los volúmenes que transporta el oleoducto y se inicia la operación submarina localizada 12
            kilómetros mar adentro y por medio de la cual se cargan buque-tanques para la exportación.
            <br>
            <br>
            La obra de 12 kilómetros de línea submarina se terminó en 1998 y, desde entonces, se convirtió en una
            estación clave para Ocensa, al punto que tiene la capacidad de bombear 60 barriles por hora hacia la TLU2
            (unidad de carga de tanqueros).
        </p>
    </div>
</div>