<div class="row oc-territorios mt-5">
    <div class="col-6 oc-cont-header d-flex align-items-center justify-content-center">
        {{>nosotros-title icon="/img/Capa 1.svg" title="Territorio"}}
    </div>
    <div class="col-6 py-5 w-75 pr-5">
        <p>Adentrarse en Casanare es llegar a una tierra con extensas sabanas inundables y con importantes fuentes hídricas presentes en casi toda su extensión de 44.490 km2. Es la región de la Orinoquía, del arroz y del ganado presentes en su cultura llanera.<br>
        <br>En la tierra de incansables atardeceres se inicia nuestra operación en el campo de Cupiagua y continua con las estaciones de Cusiana y El Porvenir. Los invitamos a un recorrido por el territorio donde nace la energía que movemos para Colombia.</p>
    </div>
</div>