<a href="#" class="oc-boletin__item">
    <img src="{{img}}" alt="" class="oc-boletin__item-img">
    <div class="oc-boletin__footer">
        <span class="oc-boletin__edicion">{{edicion}}</span>
        <span class="oc-boletin__date">{{date}}</span>
    </div>
</a>