<section class="oc-item-notices mt-5">
    <div class="container oc-item-notices__cont p-4">
        <div class="row p-0">
            <div class="oc-item-notices__cont__img-notice  col-12 col-md-4">
                <img src="img/imag3.jpg" alt="" class="">
            </div>
            <div class="col-12 col-md-8">
                <button></button>
                <h2></h2>
                <hr>
                <p></p>
                <div class="d-flex justify-content-between">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</section>