<div class="oc-mapa__indicator">
    <div class="oc-mapa__indicator-item">
        <figure class="oc-indicator-yellow"></figure>
        <span>Estación</span>
    </div>
    <div class="oc-mapa__indicator-item">
        <figure class="oc-indicator-orange"></figure>
        <span>Municipio</span>
    </div>
    <div class="oc-mapa__indicator-item">
        <figure class="oc-indicator-green"></figure>
        <span>Ambiental</span>
    </div>
    <div class="oc-mapa__indicator-item">
        <figure class="oc-indicator-blue"></figure>
        <span>Hidrografía</span>
    </div>
    <div class="oc-mapa__indicator-item">
        <figure class="oc-indicator-purple"></figure>
        <span>Social</span>
    </div>
</div>