{{>preload}}

<div class="oc-menu-principal px-2 py-4 p-lg-4">
    <div class="oc-menu-principal__top d-flex align-items-center">
        <div class="oc-menu-principal__top__cerrar">
            <button class="button-menu-toggle mt-0 mb-1">
                <span class="line-1 line position-absolute"></span>
                <span class="line-2 line position-absolute"></span>
                <span class="line-3 line position-absolute"></span>
            </button>

            <span class="d-block oc-menu-principal__top__cerrar__text">Cerrar</span>
        </div>

        <img src="img/logo_ocensa_logo2.png" alt="" class="ml-3 ml-md-5 oc-menu-principal__top__brand">
    </div>

    <section class="oc-menu-principal__bottom mt-5 mt-lg-3">
        <div class="container-fluid px-3 px-lg-5">
            <div class="row col-menu">
                {{!-- Nosotros --}}
                <div class="col-12 col-lg px-2 px-md-4">
                    <div class="oc-menu-principal__bottom__heading">
                        <img src="img/icon-nosotros.svg" alt="" class="oc-menu-principal__bottom__heading__icon">
                        <h3 class="oc-menu-principal__bottom__heading__title">Nosotros</h3>
                    </div>
                    <ul class="oc-menu-principal__bottom__nav nav flex-column">
                        <li class="nav-item"><a href="#" class="nav-link">Nuestra razón de ser</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Nuestra historia</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Nuestra cultura</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Nuestro Gobierno Corporativo</a></li>
                    </ul>
                </div>

                {{!-- Direcciones --}}
                <div class="col-12 col-lg px-2 px-md-4">
                    <div class="oc-menu-principal__bottom__heading">
                        <img src="img/icon-direcciones.svg" alt="" class="oc-menu-principal__bottom__heading__icon">
                        <h3 class="oc-menu-principal__bottom__heading__title">Direcciones</h3>
                    </div>
                    <ul class="oc-menu-principal__bottom__nav nav flex-column">
                        <li class="nav-item"><a href="#" class="nav-link">Operaciones</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Asuntos Legales y Secretaría General</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Organización y Talento</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Responsabilidad Integral</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Finanzas</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Servicios Corporativos</a></li>
                        <li class="nav-item item-has-child">
                            <a href="#" class="nav-link d-flex justify-content-between align-items-center">
                                Gerencias Senior
                                {{!-- Icon dropdown --}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="6.918" height="11.481"
                                    viewBox="0 0 6.918 11.481">
                                    <path id="Trazado_273" data-name="Trazado 273"
                                        d="M821.129,475.686l4.075,4.075-4.075,4.075"
                                        transform="translate(-819.464 -474.021)" fill="none" stroke="#ffffff"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2.355" />
                                </svg>
                            </a>
                            <ul class="nav oc-submenu flex-column pl-3">
                                <li class="nav-item"><a href="#" class="nav-link">Auditoría</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Riesgos y cumplimiento</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                {{!-- Territorio --}}
                <div class="col-12 col-lg px-2 px-md-4">
                    <div class="oc-menu-principal__bottom__heading">
                        <img src="img/icon-territorio.svg" alt="" class="oc-menu-principal__bottom__heading__icon">
                        <h3 class="oc-menu-principal__bottom__heading__title">Territorio</h3>
                    </div>
                    <ul class="oc-menu-principal__bottom__nav nav flex-column">
                        <li class="nav-item"><a href="#" class="nav-link">Casanare</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Boyacá</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Santander</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Antioquia</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Córdoba</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Sucre</a></li>
                    </ul>
                </div>

                {{!-- Cómo vamos --}}
                <div class="col-12 col-lg px-2 px-md-4">
                    <div class="oc-menu-principal__bottom__heading">
                        <img src="img/icon-como-vamos.svg" alt="" class="oc-menu-principal__bottom__heading__icon">
                        <h3 class="oc-menu-principal__bottom__heading__title">Cómo vamos</h3>
                    </div>
                    <ul class="oc-menu-principal__bottom__nav nav flex-column">
                        <li class="nav-item"><a href="#" class="nav-link">TBG</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">ONDA (ASE)</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Operaciones</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Financieros</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Ambiental y HSE</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Cultura</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Abastecimiento</a></li>
                    </ul>
                </div>

                {{!-- Ayuda --}}
                <div class="col-12 col-lg px-2 px-md-4">
                    <div class="oc-menu-principal__bottom__heading">
                        <img src="img/icon-ayuda.svg" alt="" class="oc-menu-principal__bottom__heading__icon">
                        <h3 class="oc-menu-principal__bottom__heading__title">Ayuda</h3>
                    </div>
                    <ul class="oc-menu-principal__bottom__nav nav flex-column">
                        <li class="nav-item"><a href="#" class="nav-link">Tutoriales</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Reportes de actos y condiciones</a></li>
                        <li class="nav-item item-has-child">
                            <a href="#" class="nav-link d-flex justify-content-between align-items-center">
                                Puntos de contacto
                                {{!-- Icon dropdown --}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="6.918" height="11.481"
                                    viewBox="0 0 6.918 11.481">
                                    <path id="Trazado_273" data-name="Trazado 273"
                                        d="M821.129,475.686l4.075,4.075-4.075,4.075"
                                        transform="translate(-819.464 -474.021)" fill="none" stroke="#ffffff"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2.355" />
                                </svg>
                            </a>
                            <ul class="nav oc-submenu flex-column pl-3">
                                <li class="nav-item"><a href="#" class="nav-link">Línea ética</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">PUC</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Comité de convivencia</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">COPASST</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">PQRS/FAQ</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <div class="oc-menu-principal__footer py-4 px-4 px-lg-0">
        <img src="img/logo_ocensa_logosimbolo.png" alt="" class="oc-menu-principal__footer__symbol">
        <div class="row justify-content-center flex-column flex-lg-row text-left text-lg-center">
            <div class="col-12 col-lg-3">
                <a href="#">Mapa del sitio</a>
            </div>
            <div class="col-12 col-lg-3">
                <a href="#">Términos y condiciones</a>
            </div>
            <div class="col-12 col-lg-3">
                <a href="#">Política de protección de datos</a>
            </div>
        </div>
    </div> 
</div>