<aside
    class="oc-menu-lateral oc-bg-blue text-center py-md-4 py-lg-4 d-flex flex-row flex-md-column align-items-center">
    <div class="oc-btn-menu-lateral oc-btn-open-menu d-none d-md-block">
        {{!-- Icon menu --}}
        <button class="button-menu-toggle m-auto mb-1 open">
            <span class="line-1 line"></span>
            <span class="line-2 line"></span>
            <span class="line-3 line"></span>
        </button>

        <span>menú</span>
    </div>

    <div class="oc-menu-arrow left d-flex align-items-center justify-content-center d-md-none oc-bg-blue">
        <svg xmlns="http://www.w3.org/2000/svg" width="6.918" height="11.481" viewBox="0 0 6.918 11.481">
            <path id="Trazado_283" data-name="Trazado 283" d="M183.786,483.837l-4.075-4.075,4.075-4.075"
                transform="translate(-178.533 -474.021)" fill="none" stroke="#ffffff" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2.355" />
        </svg>
    </div>

    <nav class="px-2 py-3 p-lg-0">
        <ul class="nav flex-row flex-lg-column align-items-center mt-lg-4">
            {{!-- Mi perfil --}}
            <li class="nav-item">
                <a href="#" class="oc-menu-lateral__avatar nav-link">
                    <img src="img/oc-avatar.jpg" alt="" class="oc-menu-lateral__avatar__img">
                    <span class="oc-menu-lateral__text d-block mt-1">Mi perfil</span>
                </a>
            </li>

            {{!-- Inicio --}}
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img src="img/menu-perfil-0-inicio.svg" alt="">

                    <span class="oc-menu-lateral__text  d-block mt-1">Inicio</span>
                </a>
            </li>

            {{!-- Correo --}}
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="label-notify">
                        1
                    </span>
                    <img src="img/menu-perfil-1-correo.svg" alt="">

                    <span class="oc-menu-lateral__text  d-block mt-1">Correo</span>
                </a>
            </li>

            {{!-- Mensajes --}}
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="label-notify">
                        7
                    </span>
                    <img src="img/menu-perfil-2-mensajes.svg" alt="">

                    <span class="oc-menu-lateral__text  d-block mt-1">Mensajes</span>
                </a>
            </li>

            {{!-- Reuniones --}}
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="label-notify">
                        7
                    </span>
                    <img src="img/menu-perfil-3-reuniones.svg" alt="">
                    <span class="oc-menu-lateral__text  d-block mt-1">Reuniones</span>
                </a>
            </li>

            {{!-- Grupos --}}
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="label-notify">
                        7
                    </span>
                    <img src="img/menu-perfil-4-grupos.svg" alt="">
                    <span class="oc-menu-lateral__text  d-block mt-1">Grupos</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="oc-menu-arrow right d-flex align-items-center justify-content-center d-md-none oc-bg-blue">
        <svg xmlns="http://www.w3.org/2000/svg" width="6.918" height="11.481" viewBox="0 0 6.918 11.481">
            <path id="Trazado_273" data-name="Trazado 273" d="M821.129,475.686l4.075,4.075-4.075,4.075"
                transform="translate(-819.464 -474.021)" fill="none" stroke="#ffffff" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2.355" />
        </svg>
    </div>
</aside>