<section class="oc-nosotros-cult">
    <div class="row oc-nosotros-cultura">
        <div class="col-6 text-left">
            {{>nosotros-icons-1}}
            <p class="mt-5 text-1">No hay un solo aspecto del universo, del planeta y de nuestro entorno que
                se
                haya quedado estático a largo
                del tiempo. El lugar que habitamos se mueve desde lo físico, con sus fenómenos; desde lo biológico, en
                lo
                evolutivo; y desde lo social, con sus culturas.<br>
                Lograr que los diferentes aspectos de la vida se muevan y se transformen implica tener un propósito.
                Para
                nosotros, ese propósito toma sentido si partimos del valor de las personas y contribuimos con su
                desarrollo;
                siendo responsables con nuestros clientes y accionistas, fortaleciendo las comunidades que se encuentran
                en
                nuestra área de influencia, e incentivando el talento de las personas con quienes trabajamos aportando
                un
                ambiente de trabajo óptimo.
            </p>
        </div>
        <div class="col-6 text-right">
            <img src="img/img-gris.jpg" alt="" class="oc-nosotros-cultura__img-cultura">
        </div>
    </div>
    <div class="oc-nosotros-cultura__cont-img">
        <img src="img/img-covenas.jpg" alt="" class="oc-nosotros-cultura__img-section">
        <div class="">
            {{>nosotros-icons-2}}
        </div>
    </div>
    <div class="oc-nosotros-cultura__cont-text row text-center justify-content-center">
        <div class="col-6 oc-nosotros-cultura__icon-nosotros">
            <img src="img/icon-nosotros2.svg" alt="">
        </div>
        <div class="col-6 text-left">
            <p class="text-1">Por la actividad que desarrollamos, convivimos en contextos cambiantes de mercado, de
                medio ambiente y
                sociales, por nombrar algunos, que involucran la necesidad de ser dinámicos, de reinventarnos para
                mejorar. Las exigencias que plantea el presente y las perspectivas a futuro, muestran que con nuestra
                creatividad e inteligencia podremos dar solución a los retos que tengamos en frente. </p>
        </div>
    </div>
    <div class="oc-nosotros-cultura__cont-img">
        <img src="img/img-miraflores.jpg" alt="" class="oc-nosotros-cultura__img-section">
        <div class="">
            {{>nosotros-icons-2}}
        </div>
    </div>
    <div class="row cont-text2 mt-5">
        <div class="col-6 text-left pr-5">
            <p class="text-1">En muchas ocasiones necesitamos de algo o alguien que nos impulse para afrontar los retos.
                Aquí, la
                fuerza transformadora de nuestra cultura se enfoca en tres líneas de liderazgo: integral, ejemplar e
                inspirador.
                Con un liderazgo integral podemos asumir responsabilidades técnicas de los procesos en que estamos
                involucrados y asimismo aproximarnos mejor en la relación con el equipo de trabajo, el entorno y, por
                qué no, con nosotros mismos.
                El ejemplo es sin duda un aspecto imprescindible para liderar. La transparencia con la que se actúa
                genera un referente de credibilidad y confianza que ayuda a moldear la cultura de la organización.</p>
        </div>
        <div class="col-6 text-left pl-5">
            <p class="text-1">Es muy posible que, si desarrollamos un liderazgo desde lo integral y lo ejemplar, estemos
                en camino de ser líderes inspiradores. Donde impulsemos a otros a dar lo mejor de sí, teniendo clara su
                contribución y la del equipo en la compañía, sin olvidar el reconocimiento que cada quien merece por el
                buen trabajo.

                Ser un líder no está relacionado con algún cargo de la compañía. El líder marca la diferencia e inspira
                con su comportamiento y actitud, logrando que las cosas sucedan desde su rol laboral.
            </p>
        </div>
    </div>
</section>