<div class="oc-cultura oc-panels__item" id="cultura">
    {{>header-nosotros title="Cultura" img="img/1-Nosotros Cultura-inicio.jpg" video="video/1-Nosotros Cultura-inicio.mp4"}}
    <section class="oc-nosotros-cult">

        <div class="oc-cultura__icons container">
            {{>nosotros-icons-1}}
        </div>

        <!--Section 01-->
        <div class="container">
            <div class="row oc-cultura__intro">
                <div class="col-12 col-md-6 oc-cultura__intro-cont01">
                    <p>No hay un solo aspecto del universo, del planeta y de nuestro entorno que se haya quedado
                        estático a largo del tiempo. El lugar que habitamos se mueve desde lo físico, con sus fenómenos;
                        desde lo biológico, en lo evolutivo; y desde lo social, con sus culturas.</p>
                    <p>Lograr que los diferentes aspectos de la vida se muevan y se transformen implica tener un
                        propósito. Para nosotros, ese propósito toma sentido si partimos del valor de las personas y
                        contribuimos con su desarrollo; siendo responsables con nuestros clientes y accionistas,
                        fortaleciendo las comunidades que se encuentran en nuestra área de influencia, e incentivando el
                        talento de las personas con quienes trabajamos aportando un ambiente de trabajo óptimo.</p>
                </div>
                <div class="col-12 col-md-6 oc-cultura__intro-cont02">
                    <img src="img/img-gris.jpg" alt="" class="oc-nosotros-cultura__img-cultura">
                </div>
            </div>
        </div>

        <!--Section 02-->
        <div class="oc-cultura__desc container">

            <div class="oc-cultura__desc-01">
                <img src="img/img-covenas.jpg" alt="" class="oc-cultura__desc-01-img">
                <div class="oc-cultura__desc-icon">
                    {{>nosotros-icons-2}}
                </div>
            </div>

            <div class="oc-cultura__desc-02">
                <div class="row">
                    <div class="col-12 col-md-6 oc-cont-01">
                        <img src="img/icon-nosotros-cultura-2.svg" alt="">
                    </div>
                    <div class="col-12 col-md-6 oc-cont-02">
                        <p>Por la actividad que desarrollamos, convivimos en contextos cambiantes de mercado, de
                            medio ambiente y
                            sociales, por nombrar algunos, que involucran la necesidad de ser dinámicos, de
                            reinventarnos para
                            mejorar. Las exigencias que plantea el presente y las perspectivas a futuro, muestran que
                            con nuestra
                            creatividad e inteligencia podremos dar solución a los retos que tengamos en frente. </p>
                    </div>
                </div>

            </div>

            <div class="oc-cultura__desc-03">
                <div class="oc-cultura__desc-03-img">
                    <video src="video/1-Nosotros Cultura-4.mp4" class="d-none d-lg-block" autoplay muted loop></video>
                    <img src="img/1-Nosotros Cultura-4.jpg" alt="" class="img-fluid d-lg-none">
                    <div class="oc-cultura__desc-icon">
                        {{>nosotros-icons-2}}
                    </div>
                </div>
            </div>

            <div class="oc-cultura__desc-04">
                <div class="row">
                    <div class="col-12 col-md-6 oc-cont-01">
                        <p>En muchas ocasiones necesitamos de algo o alguien que nos impulse para afrontar los retos.
                            Aquí, la fuerza transformadora de nuestra cultura se enfoca en tres líneas de liderazgo:
                            integral, ejemplar e inspirador.</p>
                        <p>Con un liderazgo integral podemos asumir responsabilidades técnicas de los procesos en que
                            estamos involucrados y asimismo aproximarnos mejor en la relación con el equipo de trabajo,
                            el entorno y, por qué no, con nosotros mismos.</p>
                        <p>El ejemplo es sin duda un aspecto imprescindible para liderar. La transparencia con la que se
                            actúa genera un referente de credibilidad y confianza que ayuda a moldear la cultura de la
                            organización.</p>
                    </div>
                    <div class="col-12 col-md-6 oc-cont-02">
                        <p>Es muy posible que, si desarrollamos un liderazgo desde lo integral y lo ejemplar, estemos en
                            camino de ser líderes inspiradores. Donde impulsemos a otros a dar lo mejor de sí, teniendo
                            clara su contribución y la del equipo en la compañía, sin olvidar el reconocimiento que cada
                            quien merece por el buen trabajo.</p>
                        <p>Ser un líder no está relacionado con algún cargo de la compañía. El líder marca la diferencia
                            e inspira con su comportamiento y actitud, logrando que las cosas sucedan desde su rol
                            laboral.</p>
                    </div>
                </div>
            </div>

        </div>

        <!--Section 03-->
        <div class="oc-cultura__green-01 container">
            <div class="oc-cultura__green-img">
                <img src="img/img-belleza.jpg" alt="">
                <div class="oc-cultura__desc-icon">
                    <section class="oc-dates-style2 pr-4 pr-md-0">
                        <div class="row align-items-center">
                            <div class="oc-dates-style2__like">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21.6" height="17.938"
                                    viewBox="0 0 21.6 17.938">
                                    <path id="Trazado_9115" data-name="Trazado 9115"
                                        d="M24.3,10.6a2.094,2.094,0,0,0-2-2.1H16.1l.7-1.3a3.033,3.033,0,0,0-.3-3.3,1.205,1.205,0,0,0-.5-.5,2.1,2.1,0,0,0-2.9.6L9.8,9H8.6V8.7a.789.789,0,0,0-.8-.8H3.5a.789.789,0,0,0-.8.8V20.2a.789.789,0,0,0,.8.8H7.9a.789.789,0,0,0,.8-.8v-.4h1.6l2.9.7h6.4a2.006,2.006,0,0,0,2-2,1.884,1.884,0,0,0-.2-.8,2.062,2.062,0,0,0,1.1-1.8,2.353,2.353,0,0,0-.2-.8,1.93,1.93,0,0,0,.9-2.6A2.367,2.367,0,0,0,24.3,10.6ZM7.1,19.4H4.2V9.4H7.1ZM19.4,19H13.3l-2.9-.7H8.6V10.4h1.7a.6.6,0,0,0,.6-.3l3.5-5.3a.663.663,0,0,1,.7-.2.1.1,0,0,1,.1.1,1.669,1.669,0,0,1,.1,1.8L14.5,8a1.183,1.183,0,0,0-.1,1,1.337,1.337,0,0,0,.7.8c.2.1.4.1.6.2h6.4c.3,0,.5.2.5.6s-.2.5-.5.5H20.7a.789.789,0,0,0-.8.8.736.736,0,0,0,.8.8h.5a.472.472,0,0,1,.5.5.56.56,0,0,1-.5.6H19.1a.789.789,0,0,0-.8.8h0a.789.789,0,0,0,.8.8h1.1a.5.5,0,0,1,0,1H18.1a.789.789,0,0,0-.8.8h0a.789.789,0,0,0,.8.8h1.2a.472.472,0,0,1,.5.5C19.8,18.8,19.7,19,19.4,19Z"
                                        transform="translate(-2.7 -3.063)" fill="#95a6b1" />
                                </svg>
                                <span>15</span>
                            </div>
                            <div class="oc-dates-style2__share">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17.7" height="19.9"
                                    viewBox="0 0 17.7 19.9">
                                    <g id="Group_9730" transform="translate(-1255.999 -633.76)">
                                        <g id="Group_9729" transform="translate(1202.649 625.41)">
                                            <circle id="Ellipse_1246" cx="2.2" cy="2.2" r="2.2"
                                                transform="translate(65.9 9.1)" fill="none" stroke="#95a6b1"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                            <circle id="Ellipse_1247" cx="2.2" cy="2.2" r="2.2"
                                                transform="translate(54.1 16.2)" fill="none" stroke="#95a6b1"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                            <circle id="Ellipse_1248" cx="2.2" cy="2.2" r="2.2"
                                                transform="translate(65.6 23.1)" fill="none" stroke="#95a6b1"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                            <line id="Line_1753" x1="7.9" y2="4.8" transform="translate(58.2 12.4)"
                                                fill="none" stroke="#95a6b1" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="1.5" />
                                            <line id="Line_1754" x2="7.7" y2="4.7" transform="translate(58.2 19.5)"
                                                fill="none" stroke="#95a6b1" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="1.5" />
                                        </g>
                                    </g>
                                </svg>
                                <span>9</span>
                            </div>
                            <div class="oc-dates-style2__favorite d-none d-md-flex">
                                <span class="circle"></span>

                                <span>Enlaces rápidos</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!--Section 04-->
        <div class="oc-cultura__green-02">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-6 oc-cont-01">
                        <img src="img/icon-nosotros-cultura-3.svg" alt="">
                    </div>
                    <div class="col-12 col-md-6 oc-cont-02">
                        <p>El desarrollo de una cultura organizacional necesita de unos principios que la sustenten y
                            que sean la guía de nuestra fuerza de trabajo.</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Section 05-->
        <div class="oc-section-nuest">
            <div class="container">
                <div class="oc-padding-icon-left mb-5 ml-5">
                    {{>nosotros-title icon="img/icon2-section3.svg" title="Nuestra Cultura"}}
                </div>

                <div class="row">
                    <div class="oc-slick-theme oc-slick-cultura col-12">
                    <div class="item">
                        {{!-- Slide 1 --}}
                        <a class="oc-slick-cultura__item active" href="#oc-vida">
                            <div class="d-flex flex-column align-items-center oc-vida">
                                <div class="text-center oc-section-nuest__list-icons__1" data-target="#list-icons-1">
                                    <img src="img/list-icon1.svg" alt="" class="mb-3 oc-cultura-icon">
                                    <span class="d-block">Primero la vida</span>
                                </div>
                                <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" width="19.663"
                                    height="30.791" viewBox="0 0 19.663 30.791">
                                    <g data-name="Grupo 13229" transform="translate(18.922) rotate(90)">
                                        <path id="Trazado_5206" data-name="Trazado 5206" d="M0,0V28.378"
                                            transform="translate(28.378 9.009) rotate(90)" fill="none" stroke="#5ac5c6"
                                            stroke-width="2" />
                                        <path id="Trazado_6893" data-name="Trazado 6893" d="M0,0,10.037,9.091,0,18.18"
                                            transform="translate(19.264)" fill="none" stroke="#5ac5c6"
                                            stroke-width="2" />
                                    </g>
                                </svg>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        {{!-- Slide 2 --}}
                        <a class="oc-slick-cultura__item" href="#oc-etic">
                            <div class="d-flex flex-column align-items-center oc-etic">
                                <div class="text-center oc-section-nuest__list-icons__2" data-target="#list-icons-2">
                                    <img src="img/list-icon2.svg" alt="" class="mb-3 oc-cultura-icon">
                                    <span class="d-block">Éticos siempre</span>
                                </div>
                                <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" width="19.663"
                                    height="30.791" viewBox="0 0 19.663 30.791">
                                    <g data-name="Grupo 13229" transform="translate(18.922) rotate(90)">
                                        <path id="Trazado_5206" data-name="Trazado 5206" d="M0,0V28.378"
                                            transform="translate(28.378 9.009) rotate(90)" fill="none" stroke="#2CB673"
                                            stroke-width="2" />
                                        <path id="Trazado_6893" data-name="Trazado 6893" d="M0,0,10.037,9.091,0,18.18"
                                            transform="translate(19.264)" fill="none" stroke="#2CB673"
                                            stroke-width="2" />
                                    </g>
                                </svg>
                            </div>
                        </a>
                    </div>


                    <div class="item">
                        {{!-- Slide 3 --}}
                        <a class="oc-slick-cultura__item" href="#oc-pasion">
                            <div class="d-flex flex-column align-items-center oc-pasion">
                                <div class="text-center oc-section-nuest__list-icons__3" data-target="#list-icons-3">
                                    <img src="img/list-icon6.svg" alt="" class="mb-3 oc-cultura-icon">
                                    <span class="d-block">Apasionados por la excelencia </span>
                                </div>
                                <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" width="19.663"
                                    height="30.791" viewBox="0 0 19.663 30.791">
                                    <g data-name="Grupo 13229" transform="translate(18.922) rotate(90)">
                                        <path id="Trazado_5206" data-name="Trazado 5206" d="M0,0V28.378"
                                            transform="translate(28.378 9.009) rotate(90)" fill="none" stroke="#FFC10E"
                                            stroke-width="2" />
                                        <path id="Trazado_6893" data-name="Trazado 6893" d="M0,0,10.037,9.091,0,18.18"
                                            transform="translate(19.264)" fill="none" stroke="#FFC10E"
                                            stroke-width="2" />
                                    </g>
                                </svg>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        {{!-- Slide 4 --}}
                        <a class="oc-slick-cultura__item" href="#oc-respeto">
                            <div class="d-flex flex-column align-items-center oc-respeto">
                                <div class="text-center oc-section-nuest__list-icons__4" data-target="#list-icons-4">
                                    <img src="img/list-icon5.svg" alt="" class="mb-3 oc-cultura-icon">
                                    <span class="d-block">Escuchamos con respeto y hablamos con claridad</span>
                                </div>
                                <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" width="19.663"
                                    height="30.791" viewBox="0 0 19.663 30.791">
                                    <g data-name="Grupo 13229" transform="translate(18.922) rotate(90)">
                                        <path id="Trazado_5206" data-name="Trazado 5206" d="M0,0V28.378"
                                            transform="translate(28.378 9.009) rotate(90)" fill="none" stroke="#6A5EAA"
                                            stroke-width="2" />
                                        <path id="Trazado_6893" data-name="Trazado 6893" d="M0,0,10.037,9.091,0,18.18"
                                            transform="translate(19.264)" fill="none" stroke="#6A5EAA"
                                            stroke-width="2" />
                                    </g>
                                </svg>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        {{!-- Slide 5 --}}
                        <a class="oc-slick-cultura__item" href="#oc-posible">
                            <div class="d-flex flex-column align-items-center oc-posible">
                                <div class="text-center oc-section-nuest__list-icons__5" data-target="#list-icons-5">
                                    <img src="img/list-icon4.svg" alt="" class="mb-3 oc-cultura-icon">
                                    <span class="d-block">Hacemos posible lo imposible </span>
                                </div>
                                <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" width="19.663"
                                    height="30.791" viewBox="0 0 19.663 30.791">
                                    <g data-name="Grupo 13229" transform="translate(18.922) rotate(90)">
                                        <path id="Trazado_5206" data-name="Trazado 5206" d="M0,0V28.378"
                                            transform="translate(28.378 9.009) rotate(90)" fill="none" stroke="#7F3F96"
                                            stroke-width="2" />
                                        <path id="Trazado_6893" data-name="Trazado 6893" d="M0,0,10.037,9.091,0,18.18"
                                            transform="translate(19.264)" fill="none" stroke="#7F3F96"
                                            stroke-width="2" />
                                    </g>
                                </svg>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        {{!-- Slide 6 --}}
                        <a class="oc-slick-cultura__item" href="#oc-equipo">
                            <div class="d-flex flex-column align-items-center oc-equipo">
                                <div class="text-center oc-section-nuest__list-icons__6" data-target="#list-icons-6">
                                    <img src="img/cultura-icon-6.png" alt="" class="mb-3 oc-cultura-icon">
                                    <span class="d-block">Somos un solo equipo </span>
                                </div>
                                <svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" width="19.663"
                                    height="30.791" viewBox="0 0 19.663 30.791">
                                    <g data-name="Grupo 13229" transform="translate(18.922) rotate(90)">
                                        <path id="Trazado_5206" data-name="Trazado 5206" d="M0,0V28.378"
                                            transform="translate(28.378 9.009) rotate(90)" fill="none" stroke="#E9048B"
                                            stroke-width="2" />
                                        <path id="Trazado_6893" data-name="Trazado 6893" d="M0,0,10.037,9.091,0,18.18"
                                            transform="translate(19.264)" fill="none" stroke="#E9048B"
                                            stroke-width="2" />
                                    </g>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                </div>

                <div class="oc-panels-cultura row">

                    <div class="oc-panels-cultura__slick-panel col-12">
                        {{!-- Panel 1--}}
                        <div class="oc-desc-sections mt-2 p-0" id="oc-vida">
                            <div class="row m-0 oc-item-section oc-panels-cultura__01"
                                style="border-top: 5px solid #5AC5C6">
                                <div class="col-12 col-lg-6 oc-desc-sections__text text-left justify-content-center">
                                    <h2 class="oc-desc-sections__text__title" style="color: #5AC5C6">Primero la vida
                                    </h2>
                                    <p class="oc-desc-sections__text__sub-title" style="color: #5AC5C6">Nos cuidamos y
                                        cuidamos el planeta</p>
                                    <span class="d-block mt-3">El colaborador de Ocensa aplica este principio cuando:
                                    </span>
                                    <ul>
                                        <li>Se cuida y cuida a los demás.</li>
                                        <li>Actúa con rigor y disciplina frente al sistema de gestión de HSE.</li>
                                        <li>Cuida el medio ambiente y el entorno pensando en las generaciones futuras.
                                        </li>
                                    </ul>
                                    <span class="d-block mt-3">El líder de Ocensa aplica este principio cuando:</span>
                                    <ul>
                                        <li>Fomenta el bienestar y el autocuidado de los integrantes del equipo que
                                            lidera.
                                        </li>
                                        <li>Lidera a su equipo dando ejemplo en el cumplimiento de la normativa HSE.
                                        </li>
                                        <li>Lidera a su equipo priorizando la vida y el respeto de las personas por
                                            encima
                                            de los
                                            resultados.</li>
                                    </ul>
                                </div>
                                <div class="col-12 col-lg-6 oc-desc-sections__img p-0">
                                    <img src="img/img-gris-morado.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        {{!-- Panel 2--}}
                        <div class="oc-desc-sections mt-2 p-0" id="oc-etic">
                            <div class="row m-0 oc-item-section oc-tab-cultura oc-panels-cultura__02"
                                style="border-top: 5px solid #2CB673">
                                <div class="col-12 col-lg-6 oc-desc-sections__text text-left justify-content-center">
                                    <h2 class="oc-desc-sections__text__title" style="color: #2CB673">Éticos siempre</h2>
                                    <p class="oc-desc-sections__text__sub-title" style="color: #2CB673">Nos cuidamos y
                                        cuidamos el planeta</p>
                                    <span class="d-block mt-3">El colaborador de Ocensa aplica este principio cuando:
                                    </span>
                                    <ul>
                                        <li>Es integro en todas sus actuaciones y cumple los lineamientos del código de
                                            ética. <a href="#">Ver más →</a></li>
                                        <li>Asume con responsabilidad sus actos.</li>
                                        <li>Es respetuoso y tiene un buen trato con todas las personas.</li>
                                    </ul>
                                    <span class="d-block mt-3">El líder de Ocensa aplica este principio cuando:</span>
                                    <ul>
                                        <li>Lidera con el ejemplo y promueve en su equipo el cumplimiento del código de
                                            ética. <a href="#">Ver más →</a></li>
                                        <li>Moviliza al equipo que lidera a actuar en coherencia con los principios
                                            culturales.</li>
                                        <li>Lidera el conocimiento y vivencia del código de ética, y rechaza y reporta
                                            las
                                            conductas que violan los principios éticos.</li>
                                    </ul>
                                </div>
                                <div class="col-12 col-lg-6 oc-desc-sections__img p-0">
                                    <img src="img/cultura-01.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        {{!-- Panel 3--}}
                        <div class="oc-desc-sections mt-2 p-0" id="oc-pasion">
                            <div class="row m-0 oc-item-section oc-tab-cultura oc-panels-cultura__03"
                                style="border-top: 5px solid #FFC10E">
                                <div class="col-12 col-lg-6 oc-desc-sections__text text-left justify-content-center">
                                    <h2 class="oc-desc-sections__text__title" style="color: #FFC10E">Apasionados por la
                                        excelencia</h2>
                                    <p class="oc-desc-sections__text__sub-title" style="color: #FFC10E">Producimos
                                        resultados excepcionales y sostenibles</p>
                                    <span class="d-block mt-3">El colaborador de Ocensa aplica este principio
                                        cuando:</span>
                                    <ul>
                                        <li>Planea y hace seguimiento de forma rigurosa.</li>
                                        <li>Honra los compromisos.</li>
                                        <li>Supera las expectativas y crea valor en todo lo que hace.</li>
                                    </ul>
                                    <span class="d-block mt-3">El líder de Ocensa aplica este principio cuando:</span>
                                    <ul>
                                        <li>Comprende el entorno y la estrategia de negocio, desplegando metas
                                            desafiantes
                                            para el equipo que lidera.</li>
                                        <li>Acompaña a su equipo y realiza seguimiento al cumplimiento de los objetivos,
                                            buscando superar las expectativas.</li>
                                        <li>Lidera la toma decisiones y solución de problemas de forma responsable y
                                            ágil.
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 col-lg-6 oc-desc-sections__img p-0">
                                    <img src="img/cultura-02.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        {{!-- Panel 4--}}
                        <div class="oc-desc-sections mt-2 p-0" id="oc-respeto">
                            <div class="row m-0 oc-item-section oc-tab-cultura oc-panels-cultura__04"
                                style="border-top: 5px solid #6A5EAA">
                                <div class="col-12 col-lg-6 oc-desc-sections__text text-left justify-content-center">
                                    <h2 class="oc-desc-sections__text__title" style="color: #6A5EAA">Escuchamos con
                                        respeto
                                        y hablamos con claridad </h2>
                                    <p class="oc-desc-sections__text__sub-title" style="color: #6A5EAA">Lideramos desde
                                        la
                                        diversidad y la inclusión</p>
                                    <span class="d-block mt-3">El colaborador de Ocensa aplica este principio
                                        cuando:</span>
                                    <ul>
                                        <li>Favorece la igualdad de expresión y oportunidades sin importar las
                                            diferencias.
                                        </li>
                                        <li>Se atreve a expresar sus ideas y a discrepar.</li>
                                        <li>Crea un ambiente sin miedos, sin agresiones y sin discriminación.</li>
                                    </ul>
                                    <span class="d-block mt-3">El líder de Ocensa aplica este principio cuando:</span>
                                    <ul>
                                        <li>Lidera a su equipo con humildad, respeto y un auténtico sentido humano.</li>
                                        <li>Da retroalimentación oportuna al equipo que lidera y promueve su desarrollo
                                            para
                                            ayudarle a mejorar el desempeño.</li>
                                        <li>Lidera creando un ambiente de confianza libre de miedos, agresiones y
                                            discriminaciones.</li>
                                    </ul>
                                </div>
                                <div class="col-12 col-lg-6 oc-desc-sections__img p-0">
                                    <img src="img/cultura-03.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        {{!-- Panel 5--}}
                        <div class="oc-desc-sections mt-2 p-0" id="oc-posible">
                            <div class="row m-0 oc-item-section oc-tab-cultura oc-panels-cultura__05"
                                style="border-top: 5px solid #7F3F96">
                                <div class="col-12 col-lg-6 oc-desc-sections__text text-left justify-content-center">
                                    <h2 class="oc-desc-sections__text__title" style="color: #7F3F96">Hacemos posible lo
                                        imposible</h2>
                                    <p class="oc-desc-sections__text__sub-title" style="color: #7F3F96">Nos anticipamos
                                        e
                                        innovamos con tecnología</p>
                                    <span class="d-block mt-3">El colaborador de Ocensa aplica este principio
                                        cuando:</span>
                                    <ul>
                                        <li>Aprende de los aciertos y errores.</li>
                                        <li>Actúa con agilidad.</li>
                                        <li>Experimenta teniendo en cuenta los riesgos y busca mejores formas de hacer
                                            las
                                            cosas.</li>
                                    </ul>
                                    <span class="d-block mt-3">El líder de Ocensa aplica este principio cuando:</span>
                                    <ul>
                                        <li>Ejerce su liderazgo con resiliencia y optimismo, encontrando oportunidades
                                            en la
                                            adversidad.</li>
                                        <li>Ejerce su liderazgo anticipándose en la búsqueda de soluciones innovadoras y
                                            ágiles.</li>
                                        <li>Promueve que el equipo que lidera experimente nuevas formas de hacer las
                                            cosas y
                                            aprenda de los éxitos y fracasos.</li>
                                    </ul>
                                </div>
                                <div class="col-12 col-lg-6 oc-desc-sections__img p-0">
                                    <img src="img/cultura-04.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        {{!-- Panel 6--}}
                        <div class="oc-desc-sections mt-2 p-0" id="oc-equipo">
                            <div class="row m-0 oc-item-section oc-tab-cultura oc-panels-cultura__06"
                                style="border-top: 5px solid #E9048B">
                                <div class="col-12 col-lg-6 oc-desc-sections__text text-left justify-content-center">
                                    <h2 class="oc-desc-sections__text__title" style="color: #E9048B">Somos un solo
                                        equipo
                                    </h2>
                                    <p class="oc-desc-sections__text__sub-title" style="color: #E9048B">Construimos
                                        nuestra
                                        grandeza desde la colaboración</p>
                                    <span class="d-block mt-3">El colaborador de Ocensa aplica este principio
                                        cuando:</span>
                                    <ul>
                                        <li>Rompe silos y se conecta con otros equipos.</li>
                                        <li>Felicita, reconoce y agradece a quienes se destacan en la forma de hacer las
                                            cosas.</li>
                                        <li>Da y recibe retroalimentación con humildad.</li>
                                    </ul>
                                    <span class="d-block mt-3">El líder de Ocensa aplica este principio cuando:</span>
                                    <ul>
                                        <li>Lidera al equipo conectándolo con el resto de la organización en búsqueda de
                                            resultados conjuntos.</li>
                                        <li>Reconoce los logros de su equipo y felicita a sus colaboradores cuando se
                                            destacan por su forma de actuar.</li>
                                        <li>Fomenta en su equipo el uso de herramientas, tecnologías y esquemas en pro
                                            del
                                            trabajo colaborativo.</li>
                                    </ul>
                                </div>
                                <div class="col-12 col-lg-6 oc-desc-sections__img p-0">
                                    <img src="img/cultura-05.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Section 06-->
        <div class="oc-cultura__final container">
            <div class="row">
                <div class="col-12 col-md-6 oc-cont-01">
                    <img src="img/img-belleza.jpg" alt="">
                </div>
                <div class="col-12 col-md-6 oc-cont-02">
                    <p>La nueva cultura de Ocensa y su transformación, parten del compromiso individual que cada persona
                        tiene con sigo mismo y con su cargo. La diversificación de la compañía es un norte claro y este
                        modelo de cultura y liderazgo se convierte en la guía para alcanzar ese propósito.</p>
                    <p class="text-variant">Seremos: mejores personas con nosotros mismos y nuestras familias, mejores
                        profesionales para Ocensa y mejores ciudadanos para nuestro país.</p>
                </div>
            </div>
    </section>
</div>