<section class="oc-razon oc-panels__item" id="nuestra-razon-de-ser">
    <div class="oc-razon__subheader">
        {{>header-nosotros title="Nuestra razón de ser" img="img/1-Nosotros Razón de ser-inicio.jpg" video="video/1-Nosotros Razón de ser-inicio.mp4"}}
    </div>
    <!--Section 01-->
    <div class="oc-razon__valor container">
        <div class="row">
            <div class="oc-razon__valor-cont01 oc-padding-icon-left col-12 col-md-6 pr-md-5">
                {{>nosotros-title icon="img/razon-01.svg" title="El valor de las relaciones sostenibles"}}
                {{>nosotros-icons-1}}
                <p>La transformación de la industria energética implica ir más allá del transporte de crudo. Hemos
                    definido tres aspectos clave: sostenibilidad, valor compartido y adaptación organizacional, para
                    sintonizarnos con el presente y tener una mirada estratégica a futuro.</p>
                <p>La <b>sostenibilidad</b> requiere un camino en un mercado que busca utilidad operacional sostenida y
                    a su vez, conectarnos y vivir en un mundo que reclama impactos positivos en la sociedad y en el
                    planeta. El desarrollo sin detrimento de la vida, debe reflejarse en un <b>valor compartido</b> con
                    nuestros clientes, empleados, aliados y las comunidades del territorio en el cual desarrollamos
                    nuestra operación.</p>
            </div>
            <div class="oc-razon__valor-cont02 col-12 col-md-6 position-relative">
                <img src="img/razon-02.jpg" alt="">
            </div>
        </div>
    </div>

    <!--Section 02-->
    <div class="oc-razon__reduction container">
        <div class="row">
            <div class="oc-razon__reduction-cont01 col-12 col-md-6 oc-padding-icon-left pr-md-5">
                <div class="oc-head">
                    <div class="text">
                        <span class="number">51%</span>
                        <span class="desc">Reducción</span>
                    </div>
                    <div class="icon">
                        <img src="img/razon-de-ser-2.svg" alt="">
                    </div>
                </div>
                <div class="info">
                    <p>de emisiones de CO2 diversificando<br> nuestra matriz energética</p>
                </div>
            </div>
            <div class="oc-razon__reduction-cont02 col-12 col-md-6">
                <p>Necesitamos ser <b>eficientes y flexibles en la operación. Una operación segura y confiable,
                        protegiendo a las personas y al medioambiente,</b> especialmente el recurso hídrico, el uso de
                    energías renovables, la gestión de residuos y la menor emisión de carbono.</p>
                <p>Para esto es imprescindible la <b>diversificación de las fuentes de ingreso.</b> El gas natural y la
                    integración inorgánica de infraestructura de transporte de hidrocarburos serán relevantes en la
                    operación. Para la defensa de ecosistemas y biodiversidad, nuestra aliada estratégica es la
                    <b>mujer, líder del desarrollo rural y protectora del medioambiente.</b> Tejiendo una red productiva
                    que genere desarrollo territorial fundamentado en la defensa ambiental.
                </p>
            </div>
        </div>
    </div>

    <!--section 03-->
    <div class="oc-razon__statistics">
        <div class="oc-razon__mujer">
            <div class="oc-razon__mujer-cont01">
                <img src="img/razon-04.jpg" alt="">
            </div>
            <div class="oc-razon__mujer-cont02">
                <div class="oc-head">
                    <div class="text">
                        <span class="number">5.000</span>
                        <span class="desc">Mujeres</span>
                    </div>
                    <div class="icon">
                        <img src="img/razon-de-ser-3.svg" alt="">
                    </div>
                </div>
                <div class="info">
                    <p>harán parte de la red para consolidar la protección del medioambiente</p>
                </div>
            </div>
        </div>
        <div class="oc-razon__part container">
            <div class="row">
                <div class="oc-razon__part-cont01 pb-5 pb-md-0 col-12 col-md-6">
                    <h2>Duplicar la participación <br><strong>de mujeres </strong><br>en roldes de liderazgo respecto al
                        2020</h2>
                    <div class="statistics">
                        <div class="graphic">
                            <img src="img/razon-de-ser-torta.png" alt="">
                        </div>
                        <div class="info">
                            <p class="info__01"><span>78%</span> Mujeres</p>
                            <p class="info__02"><span>12%</span> Hombres</p>
                        </div>
                    </div>
                </div>
                <div class="oc-razon__part-cont02 col-12 col-md-6">
                    <p>Promovemos y <b>valoramos la diversidad, la inclusión y el balance de vida</b> buscando equidad
                        de género en nuestro equipo de liderazgo y una oferta de valor integral a nuestros empleados.
                        Avanzamos en estándares internacionales de ética y promovemos nuestros criterios ambientales,
                        sociales y de gobernanza (ESG) en nuestra cadena de valor.</p>
                    <p>Para llevar a buen puerto los propósitos de sostenibilidad y de valor, la adaptación
                        organizacional nos sintoniza con el futuro. Para ello, contamos con <b>talento competente,
                            apropiación de nuestra cultura, un modelo organizacional</b> que se ajuste a las necesidades
                        estratégicas del negocio y que garantice el control, el cumplimiento y el logro de los
                        objetivos. </p>
                </div>
            </div>
        </div>
    </div>

    <!--section 04-->
    <div class="oc-razon__img square-img-mobile">
        <video src="video/1-Nosotros Razón de ser-4.mp4" autoplay muted loop class="d-none d-lg-block"></video>
        <img src="img/1-Nosotros Razón de ser-4.jpg" alt="" class="img-fluid d-lg-none">
    </div>

    <!--Section 05-->
    <div class="oc-razon__vision container">
        <div class="row">
            <div class="oc-razon__vision-cont01 oc-padding-icon-left col-12 col-md-6">
                {{>nosotros-title icon="img/razon-vision-est.svg" title="Visión Estratégica"}}
            </div>
            <div class="oc-razon__vision-cont02 col-12 col-md-6">
                <p>En 2030 Ocensa se consolidará como una de las principales compañías de midstream en Latinoamérica,
                    maximizando su eficiencia, creando soluciones integrales para sus clientes, mitigando el cambio
                    climático y generando valor con sus grupos de interés.</p>
            </div>
        </div>
    </div>

</section>