<div class="oc-history oc-panels__item" id="historia">
    <div class="oc-razon__subheader">
        {{>header-nosotros title="Historia" img="https://picsum.photos/1000/500"}}
    </div>
    <div class="oc-history__content oc-padding-nosotros container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 oc-padding-icon-left">
                {{>nosotros-title icon="img/icon1-section2.svg" title="El oleoducto que conecto a Colombia"}}
                {{>nosotros-icons-1}}
            </div>
            <div class="col-12 col-md-6">
                <p class="oc-text-cursive">Con 27 años de historia y considerada la primera gran obra de infraestructura del país, Ocensa sigue siendo el más importante y moderno transportador de petróleo en Colombia.</p>
            </div>
        </div>

        <!--Content History-->
        <section class="oc-history__timeline">

            <!--Item 01-->
            <div class="oc-history__item-time">
                <div class="oc-history__title-p">
                    <h3>Vocación energética</h3>
                    <span>1983</span>
                </div>
                <p>La vocación energética del país se impulsó en 1983 tras el descubrimiento del campo Caño Limón. Tres años después, Colombia era exportador de crudo y el petróleo pasó a ser la principal fuente de divisas. En 1991 la British Petroleum descubrió el campo de Cusiana y un año después el de Cupiagua, ambos en Casanare. Las reservas del país aumentaron a unos 2.000 millones de barriles.</p>
                <div class="oc-history__cont-img">
                    <img src="img/timeline-01.jpg" alt="">
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            <span>Fuente: </span><a href="https://twitter.com/MinEnergiaCo/status/964582654501965825" target="_blank" class="oc-link-ref">https://twitter.com/MinEnergiaCo/status/964582654501965825</a>
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>
            </div>

            <!--Item 02-->
            <div class="oc-history__item-time oc-margin-time">
                <div class="oc-history__title-p">
                    <h3>Modernización del transporte</h3>
                    <span>1994</span>
                </div>
                <p>Con la producción al alza y el aumento mundial en la demanda de crudo, era estratégico mejorar y modernizar el transporte de petróleo. El 14 de diciembre de 1994 nace el Oleoducto Central S.A. (Ocensa) como una empresa de economía mixta (capitales públicos y privados) que se creó con la participación de Ecopetrol, Triton Colombia Inc, BP Colombia Pipeline Ltda., Total Pipelien Colombia S.A, IPL Enterprises Inc y TCPL Ltda. A partir de este momento el reto fue construir un oleoducto que transportara el crudo desde el Casanare hasta el puerto de Coveñas, en el Golfo de Morrosquillo, Sucre.</p>
                <div class="oc-history__cont-img">
                    <img src="img/timeline-02.jpg" alt="">
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>

                <div class="oc-history__cont-img">
                    <h3 class="mt-2">El compromiso</h3>
                    <img src="img/timeline-03.jpg" alt="">
                    <div class="oc-history__caption-img">
                        <p>“Durante la obra nos tocó dormir en carpas y hacer campamentos móviles cada 5 kilómetros”</p>
                        <span>Tito Cárdenas, profesional inspector civil.</span>
                    </div>
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>
            </div>

            <!--Item 03-->
            <div class="oc-history__item-time oc-margin-time">
                <div class="oc-history__title-p">
                    <h3>La obra de 836 km</h3>
                    <span>1998</span>
                </div>
                <p>El reto no era fácil. La cambiante topografía del trazado, la compleja entrada con maquinaria pesada a zonas de difícil acceso, por nombrar solo dos aspectos, convirtieron la misión, según expertos, como la primera gran obra de infraestructura del país. Tres años le tomó a Ocensa desarrollar un oleoducto subterráneo de 836 kilómetros que pasa por 6 departamentos, 45 municipios y 366 veredas. Simplificando un poco: conectó por medio de un tubo los Llanos con el Caribe para terminar con un oleoducto submarino de 12 kilómetros. Unas semanas después de finalizada la obra (28 de febrero de 1998) se iniciaron las operaciones.</p>
                <div class="oc-history__cont-img">
                    <img src="img/timeline-04.jpg" alt="">
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>
                <div class="oc-history__cont-img oc-margin-time">
                    <h3 class="mt-4">La magnitud del trazado</h3>
                    <div class="oc-yt-video">
                        <iframe width="100%" height="400" src="https://www.youtube.com/embed/0HWrgGHW8hk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>
            </div>

            <!--Item 04-->
            <div class="oc-history__item-time oc-margin-time">
                <div class="oc-history__title-p">
                    <h3>Cuidadosos, responsables y eficientes</h3>
                    <span>2002</span>
                </div>
                <p>Entrado el nuevo siglo, el planeta enfrenta grandes desafíos que exigieron a la compañía ser más cuidadosa, responsable y eficiente. Tras la finalización de la obra, durante cinco años se trabajó en la recuperación forestal del trazado. En el 2002 se aprobaron las políticas de salud ocupacional, seguridad industrial, medio ambiente y derechos humanos.</p>
                <div class="oc-history__cont-img">
                    <img src="img/timeline-05.jpg" alt="">
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>
            </div>

            <!--Item 05-->
            <div class="oc-history__item-time oc-margin-time">
                <div class="oc-history__title-p">
                    <h3>Llegan los crudos pesados</h3>
                    <span>2004</span>
                </div>
                <p>En 2004, ante el incremento del precio del petróleo y la disminución de crudos livianos en el país, la extracción de crudos pesados se convirtió en una oportunidad que prácticamente invirtió la balanza de producción respecto a los crudos livianos. Esto, implicó una adaptación de infraestructura importante para estar acordes con la gran cantidad de pozos perforados en 2005.</p>
                <div class="oc-history__cont-img">
                    <img src="img/timeline-06.jpg" alt="">
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>
            </div>

            <!--Item 06-->
            <div class="oc-history__item-time oc-margin-time">
                <div class="oc-history__title-p">
                    <h3>Altos de Porvenir</h3>
                    <span>2008</span>
                </div>
                <p>Ecopetrol abre la planta Altos de Porvenir y la conecta al sistema Ocensa.</p>
                <div class="oc-history__cont-img">
                    <img src="img/timeline-07.jpg" alt="">
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>

                <div class="oc-history__cont-img">
                    <h3 class="mt-2">El giro</h3>
                    <img src="img/timeline-08.jpg" alt="">
                    <div class="oc-history__caption-img">
                        <p>“Se giró la torta: antes transportábamos un 90% de crudos livianos; hoy, más del 90% son crudos pesados”</p>
                        <span>Ignacio Gómez, gerente de proyectos.</span>
                    </div>
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>
            </div>

            <!--Item 07-->
            <div class="oc-history__item-time oc-margin-time">
                <div class="oc-history__title-p">
                    <h3>Nace Cenit</h3>
                    <span>2010</span>
                </div>
                <p>Con la separación de los negocios de producción y de transporte de crudo, promovido por el Gobierno Nacional en 2010, nació Cenit, filial de Ecopetrol y principal accionista de Ocensa. A partir de este momento comienza para la compañía una nueva etapa con alto potencial de crecimiento.</p>
                <div class="oc-history__cont-img">
                    <img src="img/timeline-09.jpg" alt="">
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>
            </div>

            <!--Item 08-->
            <div class="oc-history__item-time oc-margin-time">
                <div class="oc-history__title-p">
                    <h3>Proyecto Delta 35</h3>
                    <span>2013</span>
                </div>
                <p>Con el proyecto se amplió la capacidad de los segmentos I, II y III para el transporte de 35.000 barriles adicionales.</p>
            </div>

            <!--Item 09-->
            <div class="oc-history__item-time oc-margin-time">
                <div class="oc-history__title-p">
                    <h3>Caen los precios del petróleo</h3>
                    <span>2014</span>
                </div>
                <p>En 2012, Ocensa transportaba el 58% del crudo producido en el país, en 2013 fue del 70%. En pleno proceso de crecimiento se presentó, entre 2014 y 2015, la caída en los precios del petróleo, pasando de 100 dólares por barril a casi 30 dólares. Muchas empresas se fueron, mientras tanto la compañía continuó con el proyecto de ampliar su capacidad de transporte a 560 mil barriles diarios; asimismo, comenzó la repotenciación de toda la infraestructura de bombeo y agregó tres nuevas estaciones al oleoducto.</p>
                <div class="oc-history__cont-img oc-history__map">
                    <h3>El precio del petróleo de EE.UU. cotiza en negativo</h3>
                    <img src="img/timeline-10.jpg" alt="">
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            <span>Fuente: </span><a>Bloomberg</a>
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>
            </div>

            <!--Item 10-->
            <div class="oc-history__item-time oc-margin-time">
                <div class="oc-history__title-p">
                    <h3>Proyecto Potencia 135</h3>
                </div>
                <p>Aumenta la potencia de bombeo del sistema para incrementar el volumen de petróleo transportado entre Cusiana y Coveñas en 135.000 barriles por día mediante la construcción de tres estaciones: Paéz, La Granjita y Chiquillo.</p>
            </div>

            <!--Item 11-->
            <div class="oc-history__item-time oc-margin-time">
                <div class="oc-history__title-p">
                    <h3>Crudos extrapesados</h3>
                    <span>2016</span>
                </div>
                <p>Con la experiencia acumulada en el transporte de crudos livianos y pesados, en 2016 se inicia exitosamente el proyecto 600 Centistokes con el propósito de transportar 126.500 barriles de crudo extrapesado.</p>
                <div class="oc-history__cont-img">
                    <img src="img/timeline-11.jpg" alt="">
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>
            </div>

            <!--Item 12-->
            <div class="oc-history__item-time oc-margin-time">
                <div class="oc-history__title-p">
                    <h3>Adcus y consumo energético</h3>
                    <span>2018</span>
                </div>
                <p class="oc-history__text-list">Adcus fue el proyecto de adecuaciones del descargadero de Cusiana que representa para la compañía un importante punto de entrada al oleoducto.</p>
                <p class="oc-history__text-list">Desarrollamos un sistema que, en tiempo real, hace seguimiento al consumo energético de nuestra operación. (Basado en ISO 50001).</p>
                <div class="oc-history__cont-img">
                    <img src="img/timeline-12.jpg" alt="">
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>
            </div>

            <!--Item 13-->
            <div class="oc-history__item-time oc-margin-time">
                <div class="oc-history__title-p">
                    <h3>Record de bombeo mensual</h3>
                    <span>2019</span>
                </div>
                <div class="oc-history__cont-cards">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="oc-history__card">
                                <h5>Octubre 2019</h5>
                                <span class="subtitle">Se bombearon</span>
                                <img src="img/timeline-13.svg" alt="">
                                <span class="number">704.875</span>
                                <span class="desc">Barriles por día</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="oc-history__card">
                                <h5>Cargue del Búque</h5>
                                <span class="subtitle">Número 3.000</span>
                                <img src="img/timeline-14.svg" alt="">
                                <span class="desc">Por la</span>
                                <span class="number">TLU2</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Item 14-->
            <div class="oc-history__item-time oc-margin-time">
                <div class="oc-history__title-p">
                    <h3>Hoy</h3>
                    <span>2021</span>
                </div>
                <p>Desde su creación, Ocensa continúa modernizando su infraestructura y tecnología. En un mercado energético que está cambiando y con clientes que demandan necesidades puntuales, buscamos fortalecer el modelo de negocio siendo eficientes, diversificando la operación y maximizando el beneficio de la cadena de valor, obteniendo una utilidad operacional sostenida y generando impacto positivo a la sociedad y al medioambiente.</p>
                <div class="oc-history__cont-img">
                    <img src="img/timeline-15.jpg" alt="">
                    <div class="oc-history__img-ref">
                        <div class="oc-history__ref">
                            
                        </div>
                        <div class="oc-history__icon">
                            {{>nosotros-icons-2}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
</div>