<div class="row m-0 oc-item-section" style="border-top: 5px solid {{color}}">
    <div class="col-12 col-md-6 oc-desc-sections__text text-left justify-content-center">
        <h2 class="oc-desc-sections__text__title" style="color: {{color}}">Primero la vida</h2>
        <p class="oc-desc-sections__text__sub-title" style="color: {{color}}">Nos cuidamos y cuidamos el planeta</p>
        <span class="d-block mt-3">El colaborador de Ocensa aplica este principio cuando: </span>
        <ul>
            <li>Se cuida y cuida a los demás.</li>
            <li>Actúa con rigor y disciplina frente al sistema de gestión de HSE.</li>
            <li>Cuida el medio ambiente y el entorno pensando en las generaciones futuras.</li>
        </ul>
        <span class="d-block mt-3">El líder de Ocensa aplica este principio cuando:</span>
        <ul>
            <li>Fomenta el bienestar y el autocuidado de los integrantes del equipo que lidera.</li>
            <li>Lidera a su equipo dando ejemplo en el cumplimiento de la normativa HSE.</li>
            <li>Lidera a su equipo priorizando la vida y el respeto de las personas por encima de los
                resultados.</li>
        </ul>
    </div>
    <div class="col-12 col-md-6 oc-desc-sections__img p-0">
        <img src="img/img-gris-morado.jpg" alt="">
    </div>
</div>