<div class="oc-card-notice__boletin notice-green" id="card-notice-boletin">
    <img src="/img/desktop_otra_seccion_1.jpg" alt="" class="mb-3 d-block img-notice img-notice-large">
    <div class="pl-2">
        <span class="b-block etiqueta-tema">Etiqueta tema</span>
        <h3 class="title-bol mt-2">Lorem ipsum dolor sit amet</h3>
        <hr class="separator-title">
        <p class="text-boletin">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi.</p>
        <a href="#" class="oc-btn oc-btn__gray" href="">
            Leer más
            <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
        </a>
    </div>
</div>