<!-- Section 06 -->
<section class="oc-widgets-section mt-4" id="wdg-section-06">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="oc-card-widget oc-widget-template wdg-contratistas" id="wdg-contratistas">
                    <div class="oc-widget-template__top-bar oc-bg-gray">
                        <div class="oc-widget-template__top-bar__title">
                            <img src="/img/icon_territorio_el_porvenir_contratistas_icono_menu.svg" alt="">
                            <span>Contratistas</span>
                        </div>
                        <div class="oc-widget-template__top-bar__right d-none">
                            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                            <button class="oc-button-menu">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </button>
                        </div>
                    </div>
                    <div class="oc-widget-template__body p-3">
                        <div class="oc-slick-widget__contratistas oc-slick-theme_2">
                            <!-- Slide 1 -->
                            <div class="slick-item text-center">
                                <img src="/img/logo_vise.jpg" alt="" class="oc-slick-widget__contratistas__brand img-fluid m-auto">
                                <h5 class="oc-slick-widget__contratistas__name roboto-medium">VISE</h5>
                                <p class="roboto-light my-4">Seguridad y vigilancia</p>
                                <a href="http://www.vise.com.co/index.html" target="_blank" class="oc-btn oc-btn__gray m-0 my-3">
                                    <span> Ir </span>
                                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                </a>
                            </div>

                            <!-- Slide 2 -->
                            <div class="slick-item text-center">
                                <img src="/img/logo_contratista_massy.png" alt="" class="oc-slick-widget__contratistas__brand img-fluid mx-auto mb-4">
                                <h5 class="oc-slick-widget__contratistas__name roboto-medium">MASSY - Massy Energy Colombia</h5>
                                <p class="roboto-light my-4">Mantenimiento de estación</p>
                                <a href="https://www.massyenergy.co/" target="_blank" class="oc-btn oc-btn__gray m-0 my-4">
                                    <span> Ir </span>
                                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                </a>
                            </div>

                            <!-- Slide 3 -->
                            <div class="slick-item text-center">
                                <img src="/img/logo_contratista_massy.png" alt="" class="oc-slick-widget__contratistas__brand img-fluid mx-auto mb-4">
                                <h5 class="oc-slick-widget__contratistas__name roboto-medium">MASSY GENERATION</h5>
                                <p class="roboto-light my-4">O&M Turbinas</p>
                                <a href="https://www.massyenergy.co/" target="_blank" class="oc-btn oc-btn__gray m-0 my-3">
                                    <span> Ir </span>
                                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                </a>
                            </div>

                            <!-- Slide 4 -->
                            <div class="slick-item text-center">
                                <img src="/img/logo_vanti.jpg" alt="" class="oc-slick-widget__contratistas__brand img-fluid mx-auto mb-2">
                                <h5 class="oc-slick-widget__contratistas__name roboto-medium">GAS NATURAL</h5>
                                <p class="roboto-light my-4">Soporte gas turbinas</p>
                                <a href="https://www.grupovanti.com/" target="_blank" class="oc-btn oc-btn__gray m-0 my-3">
                                    <span> Ir </span>
                                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                </a>
                            </div>

                            <!-- Slide 5 -->
                            <div class="slick-item text-center">
                                <img src="/img/logo_stm.jpg" alt="" class="oc-slick-widget__contratistas__brand img-fluid mx-auto mb-4">
                                <h5 class="oc-slick-widget__contratistas__name roboto-medium">STM</h5>
                                <p class="roboto-light my-4">Soporte jardinería</p>
                                <a href="http://ingenieriastm.com.co/" target="_blank" class="oc-btn oc-btn__gray m-0 my-3">
                                    <span> Ir </span>
                                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                </a>
                            </div>

                            <!-- Slide 6 -->
                            <div class="slick-item text-center">
                                <img src="/img/logo-cenit.png" alt="" class="oc-slick-widget__contratistas__brand img-fluid mx-auto mb-2">
                                <h5 class="oc-slick-widget__contratistas__name roboto-medium">CENIT</h5>
                                <p class="roboto-light my-4">Operaciones</p>
                                <a href="https://cenit-transporte.com/" target="_blank" class="oc-btn oc-btn__gray m-0 my-3">
                                    <span> Ir </span>
                                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-8">
                <div class="oc-card-widget oc-widget-template wdg-gestion-ambiental" id="wdg-gestion-ambiental">
                    <div class="oc-widget-template__top-bar oc-bg-blue-light">
                        <div class="oc-widget-template__top-bar__title">
                            <img src="/img/icon_territorio_el_porvenir_gestion_ambiental_icono_menu.svg" alt="">
                            <span>Gestión ambiental</span>
                        </div>
                        <div class="oc-widget-template__top-bar__right d-none">
                            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                            <button class="oc-button-menu">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </button>
                        </div>
                    </div>
                    <div class="oc-widget-template__body px-4 py-3">
                        <div class="oc-slick-widget__gestion oc-slick-theme_2">
                            <div class="slick-item p-2 text-center">
                                <div class="oc-box-dato p-3">
                                    <img src="/img/icon_territorio_el_porvenir_gestion_ambiental_recoleccion_aguas-lluvia.svg" alt="">
                                    <p class="roboto-regular m-0">En 2020 iniciamos la recolección de agua lluvia para aprovechamiento</p>
                                </div>
                            </div>
                            <div class="slick-item p-2 text-center">
                                <div class="oc-box-dato p-3">
                                    <img src="/img/icon_territorio_el_porvenir_gestion_ambiental_aireacion_piscinas.svg" alt="">
                                    <p class="roboto-regular m-0">En 2019 instalamos sistemas de aireación en las piscinas de oxigenación para mejorar la calidad del agua.</p>
                                </div>
                            </div>
                            <div class="slick-item p-2 text-center">
                                <div class="oc-box-dato p-3">
                                    <img src="/img/icon_territorio_el_porvenir_gestion_ambiental_separacion_aguas_lluvia.svg" alt="">
                                    <p class="roboto-regular m-0">En 2019 implementamos la separación de aguas lluvias del sistema de drenaje para evitar que parte del agua lluvia entrara al sistema API.</p>
                                </div>
                            </div>

                            <div class="slick-item p-2 text-center">
                                <div class="oc-box-dato p-3">
                                    <img src="/img/icon_territorio_el_porvenir_gestion_ambiental_potencia_135.svg" alt="">
                                    <p class="roboto-regular m-0">En 2016, el proyecto Potencia 135 contribuyó a disminuir el nivel de ruido de la operación de la estación en la zona.</p>
                                </div>
                            </div>

                            <div class="slick-item p-2 text-center">
                                <div class="oc-box-dato p-3">
                                    <img src="/img/icon_territorio_el_porvenir_gestion_ambiental_licencia_ambiental.svg" alt="">
                                    <p class="oc-variant-text my-3">Cuenta con licencia<br> ambiental</p>
                                    <a href="/docs/licencia-ambiental-R952-ocensa.pdf" class="oc-btn oc-btn__gray">
                                        <span> Ver </span>
                                        <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="slick-item p-2 text-center">
                                <div class="oc-box-dato p-3">
                                    <img src="/img/icon_territorio_el_porvenir_gestion_ambiental_plan_manejo_ambiental.svg" alt="">
                                    <p class="oc-variant-text my-3">Cuenta con plan de manejo ambiental</p>
                                    <a href="/docs/plan-manejo-ambiental-ocensa.pdf" class="oc-btn oc-btn__gray">
                                        <span> Ver </span>
                                        <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>