<!-- Section 04 -->
    <div class="oc-widgets-section mt-4" id="wdg-section-04">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="oc-card-widget oc-widget-template wdg-distancia" id="wdg-distancia">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-distancia_linea.svg" alt="">
                                <span>Distancia de línea</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body p-3 py-2 text-center">
                            <div class="item-01 text-center row align-items-center">
                                <div class="col p-0 item-01 item-01__left">
                                    <img src="/img/estacion_cusiana.svg" alt="" class="img-fluid">
                                    <p class="roboto-bold m-0 est-name">
                                        Cusiana
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        460
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                                <div class="col p-0 item-01__center">
                                    <span class="roboto-regular">33 Km</span>
                                    <img src="/img/line-divider.svg" alt="">
                                </div>
                                <div class="col p-0 item-01__right">
                                    <img src="/img/estacion_cusiana copia.svg" alt="" class="img-fluid">
                                    <p class="roboto-bold est-name m-0">
                                        El Porvenir
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        500
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                                <div class="col p-0 item-01__center">
                                    <span class="roboto-regular">31.5 Km</span>
                                    <img src="/img/line-divider.svg" alt="">
                                </div>
                                <div class="col p-0 item-01__right">
                                    <img src="/img/icon_territorio_el_porvenir_distancia de línea_estacion_paez.svg"
                                        alt="" class="img-fluid">
                                    <p class="roboto-bold est-name m-0">
                                        Páez
                                    </p>
                                    <span class="oc-number-medium c-green">
                                        1.255
                                    </span>
                                    <p class="roboto-regular m-0">m.s.n.m.</p>
                                </div>
                            </div>

                            <div class="item-02 mt-2">
                                <div class="oc-box-dato cont-sec-3 d-flex align-items-center p-2">
                                    <img src="/img/dato.svg" alt="" class="oc-box-dato__img">
                                    <div class="oc-box-dato__text p-especial-2">
                                        <h5 class="oc-box-dato__text__title roboto-bold ml-3">Dato</h5>
                                        <p class="oc-box-dato__text__desc ml-3">
                                            La estación recibe 540.000 barriles de crudo provenientes de la
                                            estación Cusiana y el crudo de las líneas aferentes de Apiay (crudo
                                            pesado), Monterrey (crudo Mezcla), Santiago (crudo Mezcla)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="oc-card-widget oc-widget-template wdg-distancia" id="wdg-distancia">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/6-icon_menu-distancia_linea.svg" alt="">
                                <span>Sistema de bombeo</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body bombeo-porv p-2 py-2">
                            <div class="item-01 row px-3">
                                <div class="col-12 col-md-3 p-2 item-01 item-01__left">
                                    <div class="oc-box-dato oc-bombeo d-flex align-items-start p-2">
                                        <img src="/img/icon-bombeo1.svg" alt="" class="img-fluid">
                                        <div class="">
                                            <span class="d-block c-green oc-number-medium">1</span>
                                            <span class="d-block text-black-v2 mt-4">Sistema de generación</span>
                                            <span class="d-block c-green text-green-v2 mt-4">22.5</span>
                                            <span class="d-block c-green text-green-v3 pad-menos">MW</span>
                                            <span class="d-block text-gray-v2 text-uppercase">para las unidades
                                                de bombeo
                                                y sistemas auxiliares</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 p-2 item-01">
                                    <div class="oc-box-dato oc-bombeo d-flex align-items-start p-2">
                                        <img src="/img/icon-bombeo2y4.svg" alt="" class="img-fluid">
                                        <div class="">
                                            <span class="d-block c-green oc-number-medium">4</span>
                                            <span class="d-block text-black-v2 mt-3">Unidades booster eléctricas</span>
                                            <span class="d-block c-green text-green-v2 mt-1">4.300</span>
                                            <span class="d-block c-green text-green-v3 pad-menos">BPH</span>
                                            <span class="d-block text-gray-v2 text-uppercase">Capacidad</span>
                                            <span class="d-block c-green text-green-v2 mt-1">315</span>
                                            <span class="d-block c-green text-green-v3 pad-menos">HP c/u</span>
                                            <span class="d-block text-gray-v2 text-uppercase">Potencia</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 p-2 item-01">
                                    <div class="oc-box-dato oc-bombeo d-flex align-items-start p-2">
                                        <img src="/img/icon-bombeo3.svg" alt="" class="img-fluid">
                                        <div class="">
                                            <span class="d-block c-green oc-number-medium">5</span>
                                            <span class="d-block text-black-v2 mt-3">Unidades rebooster eléctricas
                                            </span>
                                            <span class="d-block text-gray-v4 text-uppercase">4 eléctricas y una a
                                                combustión</span>
                                            <span class="d-block c-green text-green-v2 pad-menos-v2">10.700</span>
                                            <span class="d-block c-green text-green-v3 pad-menos">BPH</span>
                                            <span class="d-block text-gray-v3 text-uppercase">Capacidad</span>
                                            <span class="d-block c-green text-green-v2 pad-menos-v2">4.750</span>
                                            <span class="d-block c-green text-green-v3 pad-menos">HP c/u</span>
                                            <span class="d-block text-gray-v2 text-uppercase">Potencia</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 p-2 item-01">
                                    <div class="oc-box-dato oc-bombeo d-flex align-items-start p-2">
                                        <img src="/img/icon-bombeo2y4.svg" alt="" class="img-fluid">
                                        <div class="">
                                            <span class="d-block c-green oc-number-medium">10</span>
                                            <span class="d-block text-black-v2 mt-3">Unidades
                                                principales
                                                a combustión </span>
                                            <span class="d-block c-green text-green-v2 mt-1">4.300</span>
                                            <span class="d-block c-green text-green-v3 pad-menos">BPH</span>
                                            <span class="d-block text-gray-v2 text-uppercase">Capacidad</span>
                                            <span class="d-block c-green text-green-v2 mt-1">4.300</span>
                                            <span class="d-block c-green text-green-v3 pad-menos">HP c/u</span>
                                            <span class="d-block text-gray-v2 text-uppercase">Potencia</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="oc-porvenir__modal-button mt-2">
                                <button class="oc-widget-galeria__link" data-widget="#widget-galeria-foto__porvenir-bombeo">Ver fotos <img src="/img/icon-camara.svg" alt=""></button>
                                <button>Ver videos <img src="/img/video.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>