 <!-- Section 07 -->
    <div class="oc-widgets-section mt-4" id="wdg-section-07">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    {{>../partials/widget-solicitudes}}
                </div>

                <div class="col-12 col-md-8">
                    <div class="oc-card-widget oc-widget-template wdg-como-llegar como-llegar-1 wdg-como-llegar-porvenir" id="wdg-como-llegar">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-como_llegar.svg" alt="">
                                <span>Cómo llegar</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body px-3 py-1">
                            <div class="row">
                                <div class="col-12 col-md-4 item-aerea">
                                    <div class="item-aerea__title d-flex align-items-center mt-2 mb-2">
                                        <img src="/img/via_aerea.svg" alt="" class="mr-3">
                                        <h4 class="c-blue-light roboto-bold m-0">Vía aérea</h4>
                                    </div>
                                    <div class="oc-box-dato">
                                        <ul class="nav flex-column">
                                            <li class="nav-item mb-3 d-flex">
                                                <div class="mt-1 mr-2">
                                                    <img src="/img/icono-flecha-azul.svg" alt="">
                                                </div>
                                                <span class="roboto-light d-inline-block">Llegada al aeropuerto El
                                                    Alcaraván, Yopal, Casanare</span>
                                            </li>
                                            <li class="nav-item d-flex">
                                                <div class="mt-1 mr-2">
                                                    <img src="/img/icono-flecha-azul.svg" alt="">
                                                </div>
                                                <span class="roboto-light d-inline-block">
                                                    Traslado vía terrestre hasta Monterrey (94 km – 1h 10 minutos en
                                                    automóvil).
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-12 col-md-8 item-terrestre" id="terrestre-porv">
                                    <div class="item-terrestre__title d-flex align-items-center ml-4 mt-2 mb-2">
                                        <img src="/img/via_terrestre.svg" alt="" class="mr-3">
                                        <h4 class="c-blue-light roboto-bold m-0">Via terrestre</h4>
                                    </div>
                                    <div class="oc-box-dato p-3">
                                        <div class="item-terrestre_01 pb-2 pt-2">
                                            <div class="row align-items-center mt-2">
                                                <div class="col-12 col-md-3">
                                                    <span class="badge text-light px-2 mr-1">Sogamoso
                                                            –<br> Monterrey</span>
                                                </div>
                                                <div class="col-12 col-md-9 d-flex justify-content-between">
                                                    <div class="d-flex flex-nowrap align-items-center">
                                                        <img src="/img/distancia.svg" alt=""
                                                            class="oc-box-dato__img-distancia">
                                                        <div class="text-center">
                                                            <div class="d-flex">
                                                                <span class="oc-number-medium c-blue-light">160</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">DISTANCIA</p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex tem-apro">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox">
                                                        <div class="text-center">
                                                            <span class="oc-number-medium c-green">4</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>

                                                            <span class="oc-number-medium c-green">20</span>
                                                            <span class="small-text c-green roboto-regular">MIN.</span>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item-terrestre_02 pb-2 pt-2">
                                            <div class="row align-items-center mt-2">
                                                <div class="col-12 col-md-3">
                                                    <span class="badge text-light px-2 mr-1">Guateque
                                                            –<br> Tauramena</span>
                                                </div>
                                                <div class="col-12 col-md-9 d-flex justify-content-between">
                                                    <div class="d-flex flex-nowrap align-items-center">
                                                        <img src="/img/distancia.svg" alt=""
                                                            class="oc-box-dato__img-distancia">
                                                        <div class="text-center">
                                                            <div class="d-flex">
                                                                <span class="oc-number-medium c-blue-light">114</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">DISTANCIA</p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex tem-apro">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox">
                                                        <div class="text-center">
                                                            <span class="oc-number-medium c-green">2</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>

                                                            <span class="oc-number-medium c-green">45</span>
                                                            <span class="small-text c-green roboto-regular">MIN.</span>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item-terrestre_03 pb-2 pt-2">
                                            <div class="row align-items-center mt-2">
                                                <div class="col-12 col-md-3">
                                                    <span class="badge text-light px-2 mr-1">Villavicencio
                                                            –<br> Tauramena</span>
                                                </div>
                                                <div class="col-12 col-md-9 d-flex justify-content-between">
                                                    <div class="d-flex flex-nowrap align-items-center">
                                                        <img src="/img/distancia.svg" alt=""
                                                            class="oc-box-dato__img-distancia">
                                                        <div class="text-center">
                                                            <div class="d-flex">
                                                                <span class="oc-number-medium c-blue-light">158</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">DISTANCIA</p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex tem-apro">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox">
                                                        <div class="text-left text-md-center">
                                                            <span class="oc-number-medium c-green ml-2 ml-md-0 d-inline-block d-md-inline">4</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>

                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {{!-- Agenda tu viaje --}}

                                <div class="col-12 item-viaje mt-5 mt-md-3 mb-2">
                                    <div
                                        class="d-flex justify-content-center flex-column flex-md-row align-items-center text-center">
                                        <p class="mr-3 mb-3 mb-md-0">Recuerda solicitar el ingreso y tramitar los
                                            formatos</p>
                                        <a href="http://gi.ocensa.com.co/ORG_TAL/SitePages/SOLICITUDES%20VIAJES.aspx"
                                            target="_blank" class="oc-btn oc-btn-active m-0">
                                            <div>
                                                <span> AGENDA TU VIAJE </span>
                                                <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>