 <!-- Section 07 -->
    <div class="oc-widgets-section mt-4" id="wdg-section-07">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="oc-card-widget oc-widget-template wdg-clima" id="wdg-solicitudes">
                        <div class="oc-widget-template__top-bar oc-bg-green">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon_territorio_el_porvenir_solicitudes_ingreso_icono_menu.svg" alt="">
                                <span>Solicitudes de ingreso</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="p-2">
                            <div class="oc-widget-template__body p-2">
                                <div class="cont-formatos oc-box-dato text-center">
                                    <p class="c-green cont-formatos__title">FORMATOS PARA TRAMITAR</p>
                                </div>
                                <div
                                    class="d-flex mt-1 align-items-center justify-content-center cont cont-formatos__text-and-link">
                                    <p class="m-0 mr-4 pb-1">Autorización para el ingreso en horas laborales
                                        (GDE-F-067)</p>
                                    <a href=""><img src="/img/icon-download-green.svg" alt="" class="icon-dl"></a>
                                </div>
                                <div
                                    class="d-flex mt-2 align-items-center justify-content-center cont cont-formatos__text-and-link">
                                    <p class="m-0 mr-4 pb-1">Procedimiento para ingreso y salida de personas (GDE-P-007)
                                    </p>
                                    <a href=""><img src="/img/icon-download-green.svg" alt="" class="icon-dl"></a>
                                </div>
                                <div
                                    class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link">
                                    <p class="m-0 mr-5 pb-1">Permiso para el ingreso de vehículos (GDE-F-070)</p>
                                    <a href=""><img src="/img/icon-download-green.svg" alt="" class="icon-dl"></a>
                                </div>
                                <div
                                    class="mt-2 align-items-center justify-content-center cont cont-formatos__text-and-link">
                                    <p class="m-0 mr-1 pb-1">Debe adjuntar adjuntar aportes a seguridad social</p>
                                </div>
                                <div
                                    class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link-v2">
                                    <p class="m-0 mr-4 pb-1">Revise las recomendaciones</p>
                                    <a href=""><img src="/img/flecha-right-verde.svg" alt=""></a>
                                </div>
                                <div class="cont-formatos oc-box-dato text-center mt-3">
                                    <p class="c-green cont-formatos__title">ENVIAR A</p>
                                </div>
                                <div
                                    class="cont cont-formatos__send line pb-2 d-flex align-items-center justify-content-center">
                                    <img src="/img/profile-send1.jpg" alt="" class="img-user-send img-circle mr-3">
                                    <div class="mr-5">
                                        <span class="d-block name-send">Alejandro Herrera</span>
                                        <span class="d-block prof-send">Jefe de operaciones Cusiana</span>
                                    </div>
                                    <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
                                </div>
                                <div
                                    class="cont cont-formatos__send pt-2 d-flex align-items-center justify-content-center">
                                    <img src="/img/profile-send1.jpg" alt="" class="img-user-send img-circle mr-3">
                                    <div class="mr-5">
                                        <span class="d-block name-send">Alejandro Herrera</span>
                                        <span class="d-block prof-send">Jefe de operaciones Cusiana</span>
                                    </div>
                                    <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="oc-card-widget oc-widget-template wdg-como-llegar como-llegar-1 wdg-como-llegar-porvenir" id="wdg-como-llegar">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-como_llegar.svg" alt="">
                                <span>Cómo llegar</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body px-3 py-1">
                            <div class="row">
                                <div class="col-12 col-md-4 item-aerea">
                                    <div class="item-aerea__title d-flex align-items-center mt-2 mb-2">
                                        <img src="/img/via_aerea.svg" alt="" class="mr-3">
                                        <h4 class="c-blue-light roboto-bold m-0">Vía aérea</h4>
                                    </div>
                                    <div class="oc-box-dato">
                                        <ul class="nav flex-column">
                                            <li class="nav-item mb-3 d-flex">
                                                <div class="mt-1 mr-2">
                                                    <img src="/img/icono-flecha-azul.svg" alt="">
                                                </div>
                                                <span class="roboto-light d-inline-block">Llegada al aeropuerto El
                                                    Alcaraván, Yopal, Casanare</span>
                                            </li>
                                            <li class="nav-item d-flex">
                                                <div class="mt-1 mr-2">
                                                    <img src="/img/icono-flecha-azul.svg" alt="">
                                                </div>
                                                <span class="roboto-light d-inline-block">
                                                    Traslado vía terrestre hasta Monterrey (94 km – 1h 10 minutos en
                                                    automóvil).
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-12 col-md-8 item-terrestre" id="terrestre-porv">
                                    <div class="item-terrestre__title d-flex align-items-center ml-4 mt-2 mb-2">
                                        <img src="/img/via_terrestre.svg" alt="" class="mr-3">
                                        <h4 class="c-blue-light roboto-bold m-0">Via terrestre</h4>
                                    </div>
                                    <div class="oc-box-dato p-3">
                                        <div class="item-terrestre_01 pb-2 pt-2">
                                            <div class="row align-items-center mt-2">
                                                <div class="col">
                                                    <div class="d-flex">
                                                        <span class="badge text-light px-2 mr-1">Sogamoso
                                                            –<br> Monterrey</span>
                                                        <img src="/img/distancia.svg" alt=""
                                                            class="oc-box-dato__img-distancia">
                                                        <div class="text-center">
                                                            <div class="d-flex">
                                                                <span class="oc-number-medium c-blue-light">160</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">DISTANCIA</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="d-flex tem-apro">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox">
                                                        <div class="text-center">
                                                            <span class="oc-number-medium c-green">4</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>

                                                            <span class="oc-number-medium c-green">20</span>
                                                            <span class="small-text c-green roboto-regular">MIN.</span>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item-terrestre_02 pb-2 pt-2">
                                            <div class="row align-items-center mt-2">
                                                <div class="col">
                                                    <div class="d-flex">
                                                        <span class="badge text-light px-2 mr-1">Guateque
                                                            –<br> Tauramena</span>
                                                        <img src="/img/distancia.svg" alt=""
                                                            class="oc-box-dato__img-distancia">
                                                        <div class="text-center">
                                                            <div class="d-flex">
                                                                <span class="oc-number-medium c-blue-light">114</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">DISTANCIA</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="d-flex tem-apro">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox">
                                                        <div class="text-center">
                                                            <span class="oc-number-medium c-green">2</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>

                                                            <span class="oc-number-medium c-green">45</span>
                                                            <span class="small-text c-green roboto-regular">MIN.</span>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item-terrestre_03 pb-2 pt-2">
                                            <div class="row align-items-center mt-2">
                                                <div class="col">
                                                    <div class="d-flex">
                                                        <span class="badge text-light px-2 mr-1">Villavicencio
                                                            –<br> Tauramena</span>
                                                        <img src="/img/distancia.svg" alt=""
                                                            class="oc-box-dato__img-distancia">
                                                        <div class="text-center">
                                                            <div class="d-flex">
                                                                <span class="oc-number-medium c-blue-light">158</span>
                                                                <span
                                                                    class="small-text c-blue-light roboto-regular mt-2 ml-1">Km</span>
                                                            </div>
                                                            <p class="roboto-bold m-0 oc-box-dato__text">DISTANCIA</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="d-flex tem-apro">
                                                        <img src="/img/tiempo_aproximado.svg" alt=""
                                                            class="oc-box-dato__img-aprox">
                                                        <div class="text-center">
                                                            <span class="oc-number-medium c-green">4</span>
                                                            <span class="small-text c-green roboto-regular">HRS.</span>

                                                            <p class="roboto-bold m-0 oc-box-dato__text">TIEMPO APROX.
                                                                EN AUTOMÓVIL</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 item-viaje mt-3 mb-2">
                                    <div class="d-flex justify-content-center align-items-center text-center">
                                        <p class="mr-3 mb-0">Recuerda solicitar el ingreso y tramitar los formatos</p>
                                        <a href="http://gi.ocensa.com.co/ORG_TAL/SitePages/SOLICITUDES%20VIAJES.aspx"
                                            target="_blank" class="oc-btn oc-btn-active m-0">
                                            <div>
                                                AGENDA TU VIAJE
                                                <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>