<div class="oc-submenu-gen position-relative d-md-none">
    <nav class="d-flex align-items-center oc-submenu-gen__nav">
        <button class="oc-submenu-gen__button-menu-lateral oc-bg-blue">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                <g id="Grupo_13060" data-name="Grupo 13060" transform="translate(289.5 -89.5)">
                    <g id="Grupo_13059" data-name="Grupo 13059" transform="translate(1 0.378)">
                        <path id="Trazado_5206" data-name="Trazado 5206" d="M0,0V9.671"
                            transform="translate(-276.548 108.293) rotate(180)" fill="none" stroke="#fff"
                            stroke-linecap="round" stroke-width="1.5" />
                        <path id="Trazado_6893" data-name="Trazado 6893" d="M-8466.48,3107.907l3.421,3.421-3.421,3.421"
                            transform="translate(2834.749 8571.668) rotate(90)" fill="none" stroke="#fff"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                    </g>
                    <g id="Elipse_2153" data-name="Elipse 2153" transform="translate(-288 91)" fill="none" stroke="#fff"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                        <circle cx="12.5" cy="12.5" r="12.5" stroke="none" />
                        <circle cx="12.5" cy="12.5" r="13.25" fill="none" />
                    </g>
                </g>
            </svg>
        </button>

        <div class="oc-submenu-gen__cont-nav d-flex align-items-center px-3">
            <div class="oc-menu-arrow left">
                <svg xmlns="http://www.w3.org/2000/svg" width="6.918" height="11.481" viewBox="0 0 6.918 11.481">
                    <path id="Trazado_283" data-name="Trazado 283" d="M183.786,483.837l-4.075-4.075,4.075-4.075"
                        transform="translate(-178.533 -474.021)" fill="none" stroke="#96A6B0" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1" />
                </svg>
            </div>

            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link active">Item lorem</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Item</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Item</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Item</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Item</a>
                </li>
            </ul>

            <div class="oc-menu-arrow right">
                <svg xmlns="http://www.w3.org/2000/svg" width="6.918" height="11.481" viewBox="0 0 6.918 11.481">
                    <path id="Trazado_273" data-name="Trazado 273" d="M821.129,475.686l4.075,4.075-4.075,4.075"
                        transform="translate(-819.464 -474.021)" fill="none" stroke="#96A6B0" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1" />
                </svg>
            </div>
        </div>
        
    </nav>
    {{>menu-lateral}}
</div>