<!-- Section 04 -->
<section class="oc-widgets-section mt-4" id="wdg-section-03">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="oc-card-widget oc-widget-template wdg-distancia wdg-tlu-buque" id="wdg-buque-tlu">
                    <div class="oc-widget-template__top-bar oc-bg-blue-light">
                        <div class="oc-widget-template__top-bar__title">
                            <img src="/img/tipos_buquetanques_icono_menu.svg" alt="">
                            <span>Tipos de buquetanques</span>
                        </div>
                        <div class="oc-widget-template__top-bar__right d-none">
                            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                            <button class="oc-button-menu">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </button>
                        </div>
                    </div>
                    <div class="oc-widget-template__body p-3 py-2 text-center">
                        <div class="row p-4 cont-tipo-buque">
                            {{!-- Item desktop --}}
                            <div class="col-12 col-md-6 d-none d-md-block mb-4 mb-md-0">
                                <img src="/img/tipos_buquetanques_panamax_vlcc.svg" alt="" class="img-buque-tlu">
                                <span class="d-block title-tlu-buque">Panamax</span>
                                <div class="tlu-tanque-text">
                                    <span class="title-capacity">Capacidad:</span>
                                    <span class="aux-title-capacity">350.000 barriles.</span>
                                </div>
                                <span class="fin-text-blue">Diseñado para las dimensiones<br>
                                    del Canal de Panamá.</span>
                                <span class="d-block title-tlu-buque">Aframax</span>
                                <div class="tlu-tanque-text">
                                    <span class="title-capacity">Capacidad:</span>
                                    <span class="aux-title-capacity">500.000 barriles.</span>
                                </div>
                                <span class="d-block title-tlu-buque">Suezmax</span>
                                <div class="tlu-tanque-text">
                                    <span class="title-capacity">Capacidad:</span>
                                    <span class="aux-title-capacity">1 millon de barriles.</span>
                                </div>
                                <span class="fin-text-blue">Diseñado para cruzar el Canal de Suez.</span>
                                <span class="d-block title-tlu-buque v2">VLCC</span>
                                <span class="fin-text-blue">(Very Large Crude Carrier)</span>
                                <div class="tlu-tanque-text">
                                    <span class="title-capacity">Capacidad:</span>
                                    <span class="aux-title-capacity">2 millones de barriles.</span>
                                </div>
                            </div>

                            {{!-- Item mobile --}}
                            <div class="col-12 col-md-6 d-md-none mb-4 mb-md-0">
                                <span class="d-block title-tlu-buque">Panamax y VLCC</span>
                                <span class="fin-text-blue">(Very large crude carrier)</span>
                                <span class="line-vertical"></span>
                                <img src="/img/tipos_buquetanques_panamax_vlcc.svg" alt="" class="img-buque-tlu">
                                <span class="text-mobile-cap d-block roboto-bold">Capacidad</span>
                                <h3 class="mt-1 number-cap roboto-medium">500.000 - <br> 2.000.000</h3>
                                <span class="text-mobile-cap d-block roboto-bold">BARRILES</span>
                            </div>

                            <div class="col-12 col-md-6 oc-box-dato d-flex">
                                <img src="/img/icon-linea-1.svg" alt="" class="img-right-tanque mt-3 mr-2">
                                <div class="d-flex flex-column mt-4">
                                    <span class="text-tanque-right">Tiempos de cargue</span>
                                    <span class="text-aux-tanque-right">Buquetanque pequeño</span>
                                    <div class="text-left">
                                        <span class="text-blue-g-right">16</span>
                                        <span class="text-blue-m-right">HRS</span>
                                    </div>
                                    <span class="text-gris-right text-left">APROXIMADAMENTE</span>
                                    <span class="text-aux-tanque-right-v2 text-left">Buquetanque grande</span>
                                    <div class="text-left">
                                        <span class="text-blue-g-right mr-2">60-64</span>
                                        <span class="text-blue-m-right">HRS</span>
                                    </div>
                                    <span class="text-gris-right text-left">APROXIMADAMENTE</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-02">
                            <div class="col-12 text-center">
                                <div class="d-flex align-items-center justify-content-center buttons-end mb-2">
                                    <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                        data-widget="#widget-galeria-foto__vasconia-almacenamiento">
                                        <span>Ver fotos</span>
                                        <img src="/img/camara.svg" alt="" class="ml-2"></button>
                                    <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                        data-widget="#widget-galeria-foto__porvenir-almacenamiento">
                                        <span>Ver video</span>
                                        <img src="/img/video.svg" alt="" class="ml-2"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="oc-card-widget oc-widget-template wdg-distancia wdg-anclaje-tlu" id="anclaje-tlu">
                    <div class="oc-widget-template__top-bar oc-bg-green">
                        <div class="oc-widget-template__top-bar__title">
                            <img src="/img/anclaje_icono_menu.svg" alt="">
                            <span>Anclaje</span>
                        </div>
                        <div class="oc-widget-template__top-bar__right d-none">
                            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                            <button class="oc-button-menu">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </button>
                        </div>
                    </div>
                    <div class="oc-widget-template__body bombeo-porv">
                        <div class="item-01 row px-3">
                            <div class="col-12 col-md-5">
                                <div class="oc-box-dato p-4 d-flex flex-column align-items-center">
                                    <span class="text-light-tlu">La monoboya está anclada al lecho marino a:</span>
                                    <div class="mt-3">
                                        <span class="numb-g-tlu c-green mr-1">29</span>
                                        <span class="mts-text c-green">MTS</span>
                                    </div>
                                    <span class="text-aux-2-tlu">Profundidad</span>
                                    <img src="/img/linea-corta.svg" alt="">
                                    <span class="text-light-tlu">por medio de:</span>
                                    <img src="/img/linea-corta.svg" alt="">
                                    <span class="numb-g-tlu c-green">6</span>
                                    <span class="text-aux-2-tlu">Cadenas</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="oc-box-dato p-3 d-flex mt-3 mt-md-0">
                                    <span class="text-light-tlu">Se pueden amarrar barcos de hasta:</span>
                                    <img src="/img/anclaje_calado.svg" alt="" class="img-rigth-tlu2 mr-2">
                                    <div>
                                        <span class="numb-g-tlu c-green mr-1">22</span><span
                                            class="mts-text c-green">MTS</span>
                                        <span class="text-aux-2-tlu">Calado</span>
                                    </div>
                                </div>
                                <div class="oc-box-dato p-4 mt-3">
                                    <div class="d-flex mb-2">
                                        <img src="/img/anclaje_360.svg" alt="" class="img-rigth-tlu2 mr-2">
                                        <div class="d-block mt-1">
                                            <span class="d-block text-light-tlu">Tiene capacidad para girar</span>
                                            <span class="d-block numb-g-tlu c-green">360º</span>
                                        </div>
                                    </div>
                                    <div class="cont-tex">
                                        <span class="text-light-tlu mt-2 v-3">Con lo cual <span class="roboto-bold">no ofrece resistencia a las
                                                condiciones meteomarinas:</span></span>
                                    </div>
                                    <div class="d-flex cont-tlu-row">
                                        <ul class="oc-est-modal__body__desc__list mt-3"
                                            style="font-family: 'helvetica-light', sans-serif !important;">
                                            <li>Vientos</li>
                                            <li>Corrientes</li>
                                        </ul>
                                        <ul class="oc-est-modal__body__desc__list mt-3 ml-3"
                                            style="font-family: 'helvetica-light', sans-serif !important;">
                                            <li>Mareas</li>
                                            <li>Oleajes, entre otros.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>