<div class="col-12 col-md-4" id="boletin-ocensa">
    <div class="oc-card-widget wdg-boletin">
        <div class="oc-widget-template__top-bar oc-bg-blue-light">
            <div class="oc-widget-template__top-bar__title">
                <img src="/img/icon_hemeroteca.svg" alt="">
                <span>Boletines</span>
            </div>
            <div class="oc-widget-template__top-bar__right d-none">
                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                <button class="oc-button-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </button>
            </div>
        </div>
        <div class="oc-widget-template__body p-3 text-center">
            <span class="box-gray-wdg mb-5">Hemeroteca</span>
            <div class="oc-slick-widget__boletin oc-slick-theme_2">


                <!-- Slide 1 -->
                <div class="slick-item text-center">
                    <img src="/img/img-portada-boletin-01.png" alt=""
                        class="oc-slick-widget__contratistas__brand img-bol img-fluid mx-auto mb-5 mt-4">
                </div>

                <!-- Slide 2 -->
                <div class="slick-item text-center">
                    <img src="/img/img-portada-boletin-01.png" alt=""
                        class="oc-slick-widget__contratistas__brand img-bol img-fluid mx-auto mb-5 mt-4">
                </div>

                <!-- Slide 3 -->
                <div class="slick-item text-center">
                    <img src="/img/img-portada-boletin-01.png" alt=""
                        class="oc-slick-widget__contratistas__brand img-bol img-fluid mx-auto mb-5 mt-4">
                </div>

            </div>
        </div>
    </div>
</div>