    <section class="oc-widgets-section mt-4" id="wdg-section-03-miraflores">
        <div class="container">
            <div class="row">
                <!-- Item desktop -->
                <div class="col-12 col-md-12 d-none d-md-block">
                    <div class="oc-card-widget oc-widget-template wdg-almacenamiento wdg-almacenamiento-caucasia"
                        id="wdg-almacenamiento-caucasia">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-almacenamiento.svg" alt="">
                                <span>Almacenamiento</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="cont-alm-co row">
                            <div class="item-01 col line-right-co">
                                <div
                                    class="cont-alm-vas d-flex align-items-center justify-content-center position-relative">
                                    <div class="position-absolute cont-wid-al-co">
                                        <img src="/img/encabezado-widget.png" alt="">
                                    </div>
                                    <div>
                                        <div
                                            class="item-02 d-flex flex-column align-items-center justify-content-center">
                                            <img src="/img/tanques_grandes.svg" alt="" class="item-02__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">420.000</span>
                                            <p class="roboto-bold">BARRILES</p>
                                            <img src="/img/wdg-arrow-down.svg" alt="">
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            class="item-02 d-flex flex-column align-items-center justify-content-center">
                                            <img src="/img/tanque_mediano.svg" alt="" class="item-02__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">350.000</span>
                                            <p class="roboto-bold">BARRILES</p>
                                            <img src="/img/wdg-arrow-down.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class="badge d-block m-auto">Crudo Mezcla</span>
                                </div>
                            </div>
                            <div class="item-02-cont col line-right-co">
                                <div
                                    class="cont-alm-vas d-flex align-items-center justify-content-center position-relative">
                                    <div class="position-absolute cont-wid-al-co">
                                        <img src="/img/encabezado-widget-2.png" alt="">
                                    </div>
                                    <div>
                                        <div
                                            class="item-02 d-flex flex-column align-items-center justify-content-center">
                                            <img src="/img/tanques_grandes.svg" alt="" class="item-02__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">550.000</span>
                                            <p class="roboto-bold">BARRILES</p>
                                            <img src="/img/wdg-arrow-down.svg" alt="">
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            class="item-02 d-flex flex-column align-items-center justify-content-center">
                                            <img src="/img/tanque_mediano.svg" alt="" class="item-02__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">420.000</span>
                                            <p class="roboto-bold">BARRILES</p>
                                            <img src="/img/wdg-arrow-down.svg" alt="">
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            class="item-02 d-flex flex-column align-items-center justify-content-center">
                                            <img src="/img/tanque_mediano.svg" alt="" class="item-02__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">350.000</span>
                                            <p class="roboto-bold">BARRILES</p>
                                            <img src="/img/wdg-arrow-down.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class="badge d-block m-auto">Crudo Pesado</span>
                                </div>
                            </div>
                            <div class="item-03 col">
                                <div
                                    class="cont-alm-vas d-flex align-items-center justify-content-center position-relative">
                                    <div class="position-absolute cont-wid-al-co">
                                        <img src="/img/encabezado-widget-3.png" alt="" class="img-enca">
                                    </div>
                                    <div>
                                        <div
                                            class="item-02 d-flex flex-column align-items-center justify-content-center">
                                            <img src="/img/tanque_pequeno.svg" alt="" class="item-02__img">
                                            <p class="roboto-bold">Capacidad</p>
                                            <span class="roboto-medium c-blue-light">35.000</span>
                                            <p class="roboto-bold">BARRILES</p>
                                            <img src="/img/wdg-arrow-down.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span class="badge d-block m-auto">Relevos de crudos</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center mt-2">
                            <div class="d-flex align-items-center justify-content-center buttons-end mt-3 mb-4">
                                <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                    data-widget="#widget-galeria-foto__vasconia-almacenamiento">
                                    <span>Ver fotos</span>
                                    <img src="/img/camara.svg" alt="" class="ml-2"></button>
                                <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                    data-widget="#widget-galeria-foto__porvenir-almacenamiento">
                                    <span>Ver video</span>
                                    <img src="/img/video.svg" alt="" class="ml-2"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item mobile -->
                <div class="col-12 col-md-12 d-md-none">
                    <div class="oc-card-widget oc-widget-template wdg-almacenamiento wdg-almacenamiento-caucasia"
                        id="wdg-almacenamiento-caucasia">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icono_menu-almacenamiento.svg" alt="">
                                <span>Almacenamiento</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="cont-alm-co">
                            <div class="oc-slick-widget__alm-covenas oc-slick-theme_2">
                                <div class="item-01 slick-item line-right-co">
                                    <div
                                        class="cont-alm-vas d-flex align-items-center justify-content-center position-relative">
                                        <div class="position-absolute cont-wid-al-co">
                                            <img src="/img/encabezado-widget.png" alt="">
                                        </div>
                                        <div>
                                            <div
                                                class="item-02 d-flex flex-column align-items-center justify-content-center">
                                                <img src="/img/tanques_grandes.svg" alt="" class="item-02__img">
                                                <p class="roboto-bold">Capacidad</p>
                                                <span class="roboto-medium c-blue-light">420.000</span>
                                                <p class="roboto-bold">BARRILES</p>
                                                <img src="/img/wdg-arrow-down.svg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div
                                                class="item-02 d-flex flex-column align-items-center justify-content-center">
                                                <img src="/img/tanque_mediano.svg" alt="" class="item-02__img">
                                                <p class="roboto-bold">Capacidad</p>
                                                <span class="roboto-medium c-blue-light">350.000</span>
                                                <p class="roboto-bold">BARRILES</p>
                                                <img src="/img/wdg-arrow-down.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="badge d-block m-auto">Crudo Mezcla</span>
                                    </div>
                                </div>
                                <div class="item-02-cont slick-item line-right-co">
                                    <div
                                        class="cont-alm-vas d-flex align-items-center justify-content-center position-relative">
                                        <div class="position-absolute cont-wid-al-co">
                                            <img src="/img/encabezado-widget-2.png" alt="">
                                        </div>
                                        <div>
                                            <div
                                                class="item-02 d-flex flex-column align-items-center justify-content-center">
                                                <img src="/img/tanques_grandes.svg" alt="" class="item-02__img">
                                                <p class="roboto-bold">Capacidad</p>
                                                <span class="roboto-medium c-blue-light">550.000</span>
                                                <p class="roboto-bold">BARRILES</p>
                                                <img src="/img/wdg-arrow-down.svg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div
                                                class="item-02 d-flex flex-column align-items-center justify-content-center">
                                                <img src="/img/tanque_mediano.svg" alt="" class="item-02__img">
                                                <p class="roboto-bold">Capacidad</p>
                                                <span class="roboto-medium c-blue-light">420.000</span>
                                                <p class="roboto-bold">BARRILES</p>
                                                <img src="/img/wdg-arrow-down.svg" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div
                                                class="item-02 d-flex flex-column align-items-center justify-content-center">
                                                <img src="/img/tanque_mediano.svg" alt="" class="item-02__img">
                                                <p class="roboto-bold">Capacidad</p>
                                                <span class="roboto-medium c-blue-light">350.000</span>
                                                <p class="roboto-bold">BARRILES</p>
                                                <img src="/img/wdg-arrow-down.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="badge d-block m-auto">Crudo Pesado</span>
                                    </div>
                                </div>
                                <div class="item-03 slick-item">
                                    <div
                                        class="cont-alm-vas d-flex align-items-center justify-content-center position-relative">
                                        <div class="position-absolute cont-wid-al-co">
                                            <img src="/img/encabezado-widget-3.png" alt="" class="img-enca">
                                        </div>
                                        <div>
                                            <div
                                                class="item-02 d-flex flex-column align-items-center justify-content-center">
                                                <img src="/img/tanque_pequeno.svg" alt="" class="item-02__img">
                                                <p class="roboto-bold">Capacidad</p>
                                                <span class="roboto-medium c-blue-light">35.000</span>
                                                <p class="roboto-bold">BARRILES</p>
                                                <img src="/img/wdg-arrow-down.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="badge d-block m-auto">Relevos de crudos</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center mt-2">
                            <div class="d-flex align-items-center justify-content-center buttons-end mt-3 mb-4">
                                <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                    data-widget="#widget-galeria-foto__vasconia-almacenamiento">
                                    <span>Ver fotos</span>
                                    <img src="/img/camara.svg" alt="" class="ml-2"></button>
                                <button class="oc-btn oc-btn__gray oc-widget-galeria__link"
                                    data-widget="#widget-galeria-foto__porvenir-almacenamiento">
                                    <span>Ver video</span>
                                    <img src="/img/video.svg" alt="" class="ml-2"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>