<div class="oc-card-widget oc-widget-template wdg-organigrama" id="wdg-organigrama">
    <div class="oc-widget-template__top-bar oc-bg-blue-light">
        <div class="oc-widget-template__top-bar__title">
            <img src="/img/icon-organigrama.svg" alt="">
            <span>Organigrama</span>
        </div>
        <div class="oc-widget-template__top-bar__right d-none">
            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
            <button class="oc-button-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>
    </div>
    <div class="p-2">
        <div class="oc-widget-template__body p-2">
            <div class="d-flex cont-item-orga text-center mb-3">
                <img src="/img/organigrama-hugo-garcia.jpg" alt="" class="cont-item-orga__img mr-3">
                <div class="text-left">
                    <span class="d-block cont-item-orga__name">Hugo García</span>
                    <span class="d-block cont-item-orga__cargo">Superintendente de línea y
                        mantenimiento mayor
                        sur</span>
                    <span class="d-block cont-item-orga__correo">hugo.garcia@ocensa.com.co </span>
                </div>
            </div>
            <div class="d-flex cont-item-orga text-center">
                <img src="/img/organigrama-diego-guzman.jpg" alt="" class="cont-item-orga__img mr-3">
                <div class="text-left">
                    <span class="d-block cont-item-orga__name">Diego Guzmán</span>
                    <span class="d-block cont-item-orga__cargo">Superintendente Sector 1 </span>
                    <span class="d-block cont-item-orga__correo">Diego.Guzman@ocensa.com.co</span>
                </div>
            </div>
            <div class="d-flex cont-item-orga-v2 text-center ml-5 mt-3">
                <img src="/img/organigrama-ignacio-gomez.jpg" alt="" class="cont-item-orga__img mr-3">
                <div class="text-left">
                    <span class="d-block cont-item-orga__name">Ignacio Gómez </span>
                    <span class="d-block cont-item-orga__cargo">Gerente de proyectos e
                        ingeniería</span>
                    <span class="d-block cont-item-orga__correo">ignacio.gomez@ocensa.com.co</span>
                </div>
            </div>
            <div class="text-left oc-org-bg px-3 py-1 mt-3">
                <span class="oc-org-bg__text-s">Subordinados de<br> Ignacio Gómez </span>
            </div>

            <div class="oc-members-carousel-02__cont">
                <div class="wdg-proyectos__members oc-members-carousel-02">

                    <!--Item-->
                    <div class="oc-members-carousel-02__item">
                        <img src="/img/member-elkin-orjuela.png" alt="">
                        <span>Carlos</span>
                    </div>

                    <!--Item-->
                    <div class="oc-members-carousel-02__item">
                        <img src="/img/member-ximena.png" alt="">
                        <span>Ximena</span>
                    </div>

                    <!--Item-->
                    <div class="oc-members-carousel-02__item">
                        <img src="/img/member-alexander.png" alt="">
                        <span>Alexander</span>
                    </div>

                    <!--Item-->
                    <div class="oc-members-carousel-02__item">
                        <img src="/img/member-elkin-orjuela.png" alt="">
                        <span>Carlos</span>
                    </div>

                    <!--Item-->
                    <div class="oc-members-carousel-02__item">
                        <img src="/img/member-ximena.png" alt="">
                        <span>Ximena</span>
                    </div>

                    <!--Item-->
                    <div class="oc-members-carousel-02__item">
                        <img src="/img/member-alexander.png" alt="">
                        <span>Alexander</span>
                    </div>

                    <!--Item-->
                    <div class="oc-members-carousel-02__item">
                        <img src="/img/member-elkin-orjuela.png" alt="">
                        <span>Carlos</span>
                    </div>

                    <!--Item-->
                    <div class="oc-members-carousel-02__item">
                        <img src="/img/member-ximena.png" alt="">
                        <span>Ximena</span>
                    </div>

                    <!--Item-->
                    <div class="oc-members-carousel-02__item">
                        <img src="/img/member-alexander.png" alt="">
                        <span>Alexander</span>
                    </div>

                </div>
                <div class="oc-members-carousel__more">
                    12+
                </div>
            </div>

        </div>
    </div>
</div>