<!-- Desktop -->
<div class="contendor-widget-noticias">
    <div class="oc-widget-content">
        <div class="oc-widget-content__top-bar">
            <div class="oc-widget-content__top-bar__left">
                <img src="img/widget-noticias/icon-noticias.svg" alt="">
                <span>Noticias</span>
            </div>
            <div class="oc-widget-content__top-bar__right">
                <button class="oc-button-close"><img src="img/button-close.svg" alt=""></button>
                <button class="oc-button-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </button>
            </div>
        </div>
        <div class="oc-notices">
            <div class="oc-slick-notices oc-slick-theme on-scroll-v">
                <div class="oc-slick-notices__item">
                    <div class="oc-widget-content__notices">
                        <!-- Item left -->
                        <div class="oc-widget-content__notices__item oc-widget-content__notices__left">
                            <img src="img/widget-noticias/img-noticias.png" alt="">
                            <div class="oc-widget-content__notices__item__cont-sub">
                                <span class="oc-widget-content__notices__item__cont-sub__subtitle">HSE</span>
                                <span class="oc-widget-content__notices__item__cont-sub__date">02/03/2021</span>
                            </div>
                            <h3>Nueve empresas están interesadas en comprar la planta Bionergy en el Meta</h3>
                            <p>Haciendo evaluaciones financieras, acompañadas de bancas de inversión y observando nuevas
                                oportunidades de negocio se encuentran...</p>
                            <div class="oc-widget-content__notices__item__cont">
                                <div class="oc-widget-content__notices__item__cont__button">
                                    <a href="">Leer más →</a>
                                </div>
                                <div class="oc-widget-content__notices__item__cont__icons">
                                    <ul>
                                        <li>
                                            <img src="img/widget-noticias/icon-like.svg" alt="">
                                            <span>15</span>
                                        </li>

                                        <li class="oc-icon-small">
                                            <img src="img/widget-noticias/icon-comentario.svg" alt="">
                                            <span>0</span>
                                        </li>
                                        <li class="oc-icon-small">
                                            <img src="img/widget-noticias/icon-compartir.svg" alt="">
                                            <span>9</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Item right -->
                        <div class="oc-widget-content__notices__item oc-widget-content__notices__right style-2">
                            <img src="img/widget-noticias/img-noticias.png" alt="">
                            <div class="oc-widget-content__notices__item__cont-sub">
                                <span class="oc-widget-content__notices__item__cont-sub__subtitle">HSE</span>
                                <span class="oc-widget-content__notices__item__cont-sub__date">02/03/2021</span>
                            </div>
                            <h3>Nueve empresas están interesadas en comprar la planta Bionergy en el Meta</h3>
                            <p>Haciendo evaluaciones financieras, acompañadas de bancas de inversión y observando nuevas
                                oportunidades de negocio se encuentran...</p>
                            <div class="oc-widget-content__notices__item__cont">
                                <div class="oc-widget-content__notices__item__cont__button">
                                    <a href="">Leer más →</a>
                                </div>
                                <div class="oc-widget-content__notices__item__cont__icons">
                                    <ul>
                                        <li>
                                            <img src="img/widget-noticias/icon-like.svg" alt="">
                                            <span>15</span>
                                        </li>

                                        <li class="oc-icon-small">
                                            <img src="img/widget-noticias/icon-comentario.svg" alt="">
                                            <span>0</span>
                                        </li>
                                        <li class="oc-icon-small">
                                            <img src="img/widget-noticias/icon-compartir.svg" alt="">
                                            <span>9</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="oc-slick-notices__item">
                    <div class="oc-widget-content__notices">
                        <!-- Item left -->
                        <div class="oc-widget-content__notices__item oc-widget-content__notices__left">
                            <img src="img/widget-noticias/img-noticias.png" alt="">
                            <div class="oc-widget-content__notices__item__cont-sub">
                                <span class="oc-widget-content__notices__item__cont-sub__subtitle">HSE</span>
                                <span class="oc-widget-content__notices__item__cont-sub__date">02/03/2021</span>
                            </div>
                            <h3>Nueve empresas están interesadas en comprar la planta Bionergy en el Meta</h3>
                            <p>Haciendo evaluaciones financieras, acompañadas de bancas de inversión y observando nuevas
                                oportunidades de negocio se encuentran...</p>
                            <div class="oc-widget-content__notices__item__cont">
                                <div class="oc-widget-content__notices__item__cont__button">
                                    <a href="">Leer más →</a>
                                </div>
                                <div class="oc-widget-content__notices__item__cont__icons">
                                    <ul>
                                        <li>
                                            <img src="img/widget-noticias/icon-like.svg" alt="">
                                            <span>15</span>
                                        </li>

                                        <li class="oc-icon-small">
                                            <img src="img/widget-noticias/icon-comentario.svg" alt="">
                                            <span>0</span>
                                        </li>
                                        <li class="oc-icon-small">
                                            <img src="img/widget-noticias/icon-compartir.svg" alt="">
                                            <span>9</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Item right -->
                        <div class="oc-widget-content__notices__item oc-widget-content__notices__right style-2">
                            <img src="img/widget-noticias/img-noticias.png" alt="">
                            <div class="oc-widget-content__notices__item__cont-sub">
                                <span class="oc-widget-content__notices__item__cont-sub__subtitle">HSE</span>
                                <span class="oc-widget-content__notices__item__cont-sub__date">02/03/2021</span>
                            </div>
                            <h3>Nueve empresas están interesadas en comprar la planta Bionergy en el Meta</h3>
                            <p>Haciendo evaluaciones financieras, acompañadas de bancas de inversión y observando nuevas
                                oportunidades de negocio se encuentran...</p>
                            <div class="oc-widget-content__notices__item__cont">
                                <div class="oc-widget-content__notices__item__cont__button">
                                    <a href="">Leer más →</a>
                                </div>
                                <div class="oc-widget-content__notices__item__cont__icons">
                                    <ul>
                                        <li>
                                            <img src="img/widget-noticias/icon-like.svg" alt="">
                                            <span>15</span>
                                        </li>

                                        <li class="oc-icon-small">
                                            <img src="img/widget-noticias/icon-comentario.svg" alt="">
                                            <span>0</span>
                                        </li>
                                        <li class="oc-icon-small">
                                            <img src="img/widget-noticias/icon-compartir.svg" alt="">
                                            <span>9</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacing"></div>

<!-- Mobile -->
<div class="oc-widget-content  oc-widget-content__mobile">
    <div class="oc-widget-content__top-bar">
        <div class="oc-widget-content__top-bar__left">
            <img src="img/widget-noticias/icon-noticias.svg" alt="">
            <span>Noticias</span>
        </div>
        <div class="oc-widget-content__top-bar__right">
            <button class="oc-button-close"><img src="img/button-close.svg" alt=""></button>
            <button class="oc-button-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>
    </div>
    <div class="oc-notices">
        <div class="oc-slick-theme oc-slick-notices__mobile" data-slick="{'dots': false}">
            <div class="oc-slick-notices-mobile__item">
                <div class="oc-widget-content__notices">
                    <!-- Item 1 -->
                    <div class="oc-widget-content__notices__item oc-widget-content__notices__left">
                        <img src="img/widget-noticias/img-noticias.png" alt="">
                        <div class="oc-widget-content__notices__item__cont-sub">
                            <span class="oc-widget-content__notices__item__cont-sub__subtitle">HSE</span>
                            <span class="oc-widget-content__notices__item__cont-sub__date">02/03/2021</span>
                        </div>
                        <h3>Nueve empresas están interesadas en comprar la planta Bionergy en el Meta</h3>
                        <p>Haciendo evaluaciones financieras, acompañadas de bancas de inversión y observando nuevas
                            oportunidades de negocio se encuentran...</p>
                        <div class="oc-widget-content__notices__item__cont">
                            <div class="oc-widget-content__notices__item__cont__button">
                                <a href="">Leer más →</a>
                            </div>
                            <div class="oc-widget-content__notices__item__cont__icons">
                                <ul>
                                    <li>
                                        <img src="img/widget-noticias/icon-like.svg" alt="">
                                        <span>15</span>
                                    </li>

                                    <li class="oc-icon-small">
                                        <img src="img/widget-noticias/icon-comentario.svg" alt="">
                                        <span>0</span>
                                    </li>
                                    <li class="oc-icon-small">
                                        <img src="img/widget-noticias/icon-compartir.svg" alt="">
                                        <span>9</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oc-slick-notices__item">
                <div class="oc-widget-content__notices">
                    <!-- Item 2 -->
                    <div class="oc-widget-content__notices__item oc-widget-content__notices__right style-2">
                        <img src="img/widget-noticias/img-noticias.png" alt="">
                        <div class="oc-widget-content__notices__item__cont-sub">
                            <span class="oc-widget-content__notices__item__cont-sub__subtitle">HSE</span>
                            <span class="oc-widget-content__notices__item__cont-sub__date">02/03/2021</span>
                        </div>
                        <h3>Nueve empresas están interesadas en comprar la planta Bionergy en el Meta</h3>
                        <p>Haciendo evaluaciones financieras, acompañadas de bancas de inversión y observando nuevas
                            oportunidades de negocio se encuentran...</p>
                        <div class="oc-widget-content__notices__item__cont">
                            <div class="oc-widget-content__notices__item__cont__button">
                                <a href="">Leer más →</a>
                            </div>
                            <div class="oc-widget-content__notices__item__cont__icons">
                                <ul>
                                    <li>
                                        <img src="img/widget-noticias/icon-like.svg" alt="">
                                        <span>15</span>
                                    </li>

                                    <li class="oc-icon-small">
                                        <img src="img/widget-noticias/icon-comentario.svg" alt="">
                                        <span>0</span>
                                    </li>
                                    <li class="oc-icon-small">
                                        <img src="img/widget-noticias/icon-compartir.svg" alt="">
                                        <span>9</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>