<div class="oc-card-widget oc-widget-template wdg-multimedia" id="wdg-multimedia">
    <div class="oc-widget-template__top-bar oc-bg-blue-light">
        <div class="oc-widget-template__top-bar__title">
            <img src="/img/icon-multimedia.svg" alt="">
            <span>Multimedia</span>
        </div>
        <div class="oc-widget-template__top-bar__right d-none">
            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
            <button class="oc-button-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>
    </div>
    <div class="oc-multimedia">
        <div class="oc-multimedia__nav">
            <ul class="oc-multimedia__list nav">
                <li class="oc-multimedia__item active">Imagenes</li>
                <li class="oc-multimedia__item">Videos</li>
                <li class="oc-multimedia__item">Podcast</li>
            </ul>
        </div>

        <div class="oc-multimedia__cont">
            <div class="oc-multimedia__cont-item oc-multimedia__imagenes">
                <p>Imagenes</p>
            </div>
            <div class="oc-multimedia__cont-item oc-multimedia__videos">
                <p>Videos</p>
            </div>
            <div class="oc-multimedia__cont-item oc-multimedia__podcast">
                <p>Podcast</p>
            </div>
        </div>
    </div>
</div>