<div class="oc-card-widget oc-widget-template wdg-datos" id="wdg-datos">
    <div class="oc-widget-template__top-bar oc-bg-gray">
        <div class="oc-widget-template__top-bar__title">
            <img src="/img/datos_icono_menu.svg" alt="">
            <span>Datos</span>
        </div>
        <div class="oc-widget-template__top-bar__right d-none">
            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
            <button class="oc-button-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>
    </div>
    <div class="oc-widget-template__body p-4 py-4 oc-datos">
        <div class="oc-datos__cont">
            <img src="/img/widget-datos-line.svg" alt="" class="oc-datos__img-desk">
            <img src="/img/mobile-datos-line.svg" alt="" class="oc-datos__img-mobile">
            <div class="oc-datos__info">
                <div class="oc-datos__item">
                    <p>La actual monoboya es nueva e inició su operación en abril de 2021. Reemplazó a la anterior TLU2
                        que prestó: </p>
                    <div class="oc-datos__date"><span><strong>24</strong> AÑOS</span></div>
                    <p class="variant">de servicio</p>
                </div>
                <div class="oc-datos__item-02">
                    <p>Ante la Dirección General Marítima, <span class="roboto-bold">la monoboya es una
                            embarcación</span> porque es un elemento que flota y está catalogado como <span
                            class="roboto-bold">artefacto naval.</span></p>
                </div>
            </div>
        </div>
    </div>
</div>