<!-- Widget Network -->
<div class="oc-widget-network" id="wg-network">
    <div class="oc-widget-network__top-bar">
        <div class="oc-widget-network__top-bar__title">
            <img src="/img/icon-network.svg" alt="">
            <span>Network</span>
        </div>
        <div class="oc-widget-network__top-bar__right">
            <button class="oc-button-close"><img src="img/button-close.svg" alt=""></button>
            <button class="oc-button-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>
    </div>

    <!-- Content Network -->
    <div class="oc-widget-network__content">
        <div class="oc-widget-network__content__buttons">
            <button class="oc-btn oc-btn-active btn-contactos" data-target="#wdg-mis-contactos">
                Mis contactos
            </button>
            <button class="oc-btn oc-btn-inactive btn-recientes" data-target="#wdg-recientes">
                Recientes
            </button>
        </div>

        <div class="oc-widget-network__content__panel" id="wdg-mis-contactos">
            <!-- Slider Mis Contactos -->
            <div class="oc-widget-network__content__slider oc-slick-theme on-scroll-v">
                <!-- Slick Item -->
                <div class="oc-slick-item">
                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state unavailable">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">No disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state occupied">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Ocupado</span>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Slick Item -->
                <div class="oc-slick-item">
                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state disconnected">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Desconectado</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="oc-widget-network__content__panel" id="wdg-recientes">
            <!-- Slider Recientes -->
            <div class="oc-widget-network__content__slider oc-slick-theme on-scroll-v">
                <div class="oc-slick-item">
                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state unavailable">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">No disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="oc-slick-item">
                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state unavailable">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">No disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="oc-slick-item">
                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state unavailable">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">No disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>