<!-- Widget Network -->
<div class="oc-widget-network" id="wg-network">
    <div class="oc-widget-network__top-bar">
        <div class="oc-widget-network__top-bar__title">
            <img src="img/icon-network.svg" alt="">
            <span>Network</span>
        </div>
        <div class="oc-widget-network__top-bar__right d-none">
            <button class="oc-button-close"><img src="img/button-close.svg" alt=""></button>
            <button class="oc-button-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>
    </div>

    <div class="oc-widget-network__content__panel oc-panel-agregar" id="wdg-agregar">
        <!-- Buscador -->
        <div class="oc-widget-network__content__buscador">
            <form action="">
                <div class="oc-form-group">
                    <input type="search" class="oc-form-control" placeholder="Buscar usuarios para agregar">
                    <button class="oc-widget-network__content__buscador__close">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.444" height="19.444"
                            viewBox="0 0 19.444 19.444">
                            <g id="Grupo_10058" data-name="Grupo 10058" transform="translate(0.392 0.392)">
                                <circle id="Elipse_571" data-name="Elipse 571" cx="9.33" cy="9.33" r="9.33" fill="#fff"
                                    stroke="#c1cacf" stroke-miterlimit="10" stroke-width="0.785" />
                                <g id="Grupo_2575" data-name="Grupo 2575" transform="translate(3.713 9.33) rotate(-45)">
                                    <line id="Línea_1356" data-name="Línea 1356" y2="7.943" transform="translate(3.971)"
                                        fill="none" stroke="#505d6c" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.962" />
                                    <line id="Línea_1357" data-name="Línea 1357" x1="7.943"
                                        transform="translate(0 3.971)" fill="none" stroke="#505d6c"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="1.962" />
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
                <div class="form-footer">
                    <button class="oc-btn oc-btn-active btn-recientes" data-target="#wdg-recientes">
                        Buscar
                    </button>
                    <button class="oc-btn oc-btn-active btn-recientes" data-target="#wdg-recientes">
                        Agregar
                    </button>
                </div>
            </form>
        </div>
        <!-- Slider Agregar -->
        <div class="oc-widget-network__content__slider oc-slick-theme oc-widget-network__content__agregar on-scroll-v">
            <!-- Slick Item -->
            <div class="oc-slick-item">
                <div class="oc-item">
                    <div class="oc-item__avatar">
                        <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                    </div>

                    <div class="oc-item__info">
                        <p class="oc-item-name">Iván Pelayo Rodríguez</p>
                        <span class="oc-item-pos">Comunicador departamento de operaciones</span>
                        <span class="oc-item-place">La Granjita</span>
                    </div>

                    <button type="button" class="oc-item__radio-button"></button>
                </div>

                <div class="oc-item">
                    <div class="oc-item__avatar">
                        <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                    </div>

                    <div class="oc-item__info">
                        <p class="oc-item-name">Iván Pelayo Rodríguez</p>
                        <span class="oc-item-pos">Comunicador departamento de operaciones</span>
                        <span class="oc-item-place">La Granjita</span>
                    </div>

                    <button type="button" class="oc-item__radio-button"></button>
                </div>

                <div class="oc-item">
                    <div class="oc-item__avatar">
                        <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                    </div>

                    <div class="oc-item__info">
                        <p class="oc-item-name">Iván Pelayo Rodríguez</p>
                        <span class="oc-item-pos">Comunicador departamento de operaciones</span>
                        <span class="oc-item-place">La Granjita</span>
                    </div>

                    <button type="button" class="oc-item__radio-button"></button>
                </div>
            </div>

            <!-- Slick Item -->
            <div class="oc-slick-item">
                <div class="oc-item">
                    <div class="oc-item__avatar">
                        <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                    </div>

                    <div class="oc-item__info">
                        <p class="oc-item-name">Iván Pelayo Rodríguez</p>
                        <span class="oc-item-pos">Comunicador departamento de operaciones</span>
                        <span class="oc-item-place">La Granjita</span>
                    </div>
                    <button type="button" class="oc-item__radio-button"></button>
                </div>

                <div class="oc-item">
                    <div class="oc-item__avatar">
                        <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                    </div>

                    <div class="oc-item__info">
                        <p class="oc-item-name">Iván Pelayo Rodríguez</p>
                        <span class="oc-item-pos">Comunicador departamento de operaciones</span>
                        <span class="oc-item-place">La Granjita</span>
                    </div>
                    <button type="button" class="oc-item__radio-button"></button>
                </div>

                <div class="oc-item">
                    <div class="oc-item__avatar">
                        <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                    </div>

                    <div class="oc-item__info">
                        <p class="oc-item-name">Iván Pelayo Rodríguez</p>
                        <span class="oc-item-pos">Comunicador departamento de operaciones</span>
                        <span class="oc-item-place">La Granjita</span>
                    </div>
                    <button type="button" class="oc-item__radio-button"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Network -->
    <div class="oc-widget-network__content">
        <div class="oc-widget-network__content__buttons">
            <button class="oc-btn oc-btn-active btn-contactos" data-target="#wdg-mis-contactos">
                Mis contactos
            </button>
            <button class="oc-btn oc-btn-inactive btn-recientes" data-target="#wdg-recientes">
                Recientes
            </button>
            <button class="oc-btn oc-btn-inactive btn-agregar" data-target="#wdg-agregar">
                Agregar
            </button>
        </div>

        <div class="oc-widget-network__content__panel" id="wdg-mis-contactos">
            <!-- Slider Mis Contactos -->
            <div class="oc-widget-network__content__slider oc-slick-theme on-scroll-v">
                <!-- Slick Item -->
                <div class="oc-slick-item">
                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state unavailable">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">No disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state occupied">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Ocupado</span>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Slick Item -->
                <div class="oc-slick-item">
                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state disconnected">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Desconectado</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="oc-widget-network__content__panel" id="wdg-recientes">
            <!-- Slider Recientes -->
            <div class="oc-widget-network__content__slider oc-slick-theme on-scroll-v">
                <div class="oc-slick-item">
                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state unavailable">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">No disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="oc-slick-item">
                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state unavailable">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">No disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="oc-slick-item">
                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state unavailable">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">No disponible</span>
                            </span>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="oc-item__avatar">
                            <img src="https://picsum.photos/300/300" alt="" class="oc-item-img">
                        </div>

                        <div class="oc-item__info">
                            <span class="oc-item-current-date">2:29 p.m.</span>
                            <p class="oc-item-name">Natalia Cespedes Triana</p>
                            <span class="oc-item-pos">Operador técnico de estaciones</span>
                            <span class="oc-item-place">Terminal Coveñas</span>
                            <span class="oc-item-state available">
                                <span class="oc-item-state__circle"></span>
                                <span class="oc-item-state__text">Disponible</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>