<div class="contenedor-widget-calendario">
    <!-- Widget calendario -->
    <div class="oc-widget-calendario" id="wg-calendario">
        <div class="oc-widget-calendario__top-bar">
            <div class="oc-widget-calendario__top-bar__title">
                <img src="/img/icon-agenda-calendario.svg" alt="">
                <span>Agenda / Calendario</span>
            </div>
            <div class="oc-widget-calendario__top-bar__right">
                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                <button class="oc-button-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </button>
            </div>
        </div>

        <!-- Content Calendario -->
        <div class="oc-widget-calendario__content" id="wdg-calendario">
            <div class="oc-widget-calendario__content__buttons">
                <button class="oc-btn oc-btn-inactive btn-agenda">
                    Agenda
                </button>
                <button class="oc-btn oc-btn-active btn-calendario">
                    Calendario
                </button>
            </div>

            <div class="oc-widget-calendario__content__calendar">
                <div class="oc-slick-calendar">
                    <div class="oc-slick-calendar__item">
                        <h2 class="month-name">Marzo 2021</h2>
                        <ol>
                            <!-- Days name -->
                            <li class="day-name">D</li>
                            <li class="day-name">L</li>
                            <li class="day-name">M</li>
                            <li class="day-name">M</li>
                            <li class="day-name">J</li>
                            <li class="day-name">V</li>
                            <li class="day-name no-line">S</li>

                            <!-- Days number -->
                            <li class="first-day">1</li>
                            <li>2</li>
                            <li>
                                3
                                <div class="oc-dots">
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li>4</li>
                            <li>5
                                <div class="oc-dots">
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li class="day-disabled">6</li>
                            <li class="day-disabled">7</li>
                            <li class="day-selected">8</li>
                            <li>9</li>
                            <li>10
                                <div class="oc-dots">
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li>11</li>
                            <li class="day-especial">12
                                <div class="oc-dots">
                                    <span class="dot dot-especial"></span>
                                    <span class="dot dot-personal"></span>
                                </div>
                            </li>
                            <li class="day-disabled">13</li>
                            <li class="day-disabled">14</li>
                            <li>15</li>
                            <li>16
                                <div class="oc-dots">
                                    <span class="dot dot-ocensa"></span>
                                    <span class="dot dot-personal"></span>
                                </div>
                            </li>
                            <li>17</li>
                            <li>18
                                <div class="oc-dots">
                                    <span class="dot dot-personal"></span>
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li>19</li>
                            <li class="day-disabled">20</li>
                            <li class="day-disabled">21</li>
                            <li>22
                                <div class="oc-dots">
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li>23</li>
                            <li>24
                                <div class="oc-dots">
                                    <span class="dot dot-personal"></span>
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li>25</li>
                            <li>26</li>
                            <li class="day-disabled">27</li>
                            <li class="day-disabled">28</li>
                            <li>29</li>
                            <li>30
                                <div class="oc-dots">
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li>31</li>
                        </ol>
                    </div>

                    <div class="oc-slick-calendar__item">
                        <h2 class="month-name">Marzo 2021</h2>
                        <ol>
                            <!-- Days name -->
                            <li class="day-name">D</li>
                            <li class="day-name">L</li>
                            <li class="day-name">M</li>
                            <li class="day-name">M</li>
                            <li class="day-name">J</li>
                            <li class="day-name">V</li>
                            <li class="day-name no-line">S</li>

                            <!-- Days number -->
                            <li class="first-day">1</li>
                            <li>2</li>
                            <li>
                                3
                                <div class="oc-dots">
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li>4</li>
                            <li>5
                                <div class="oc-dots">
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li class="day-disabled">6</li>
                            <li class="day-disabled">7</li>
                            <li class="day-selected">8</li>
                            <li>9</li>
                            <li>10
                                <div class="oc-dots">
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li>11</li>
                            <li class="day-especial">12
                                <div class="oc-dots">
                                    <span class="dot dot-especial"></span>
                                    <span class="dot dot-personal"></span>
                                </div>
                            </li>
                            <li class="day-disabled">13</li>
                            <li class="day-disabled">14</li>
                            <li>15</li>
                            <li>16
                                <div class="oc-dots">
                                    <span class="dot dot-ocensa"></span>
                                    <span class="dot dot-personal"></span>
                                </div>
                            </li>
                            <li>17</li>
                            <li>18
                                <div class="oc-dots">
                                    <span class="dot dot-personal"></span>
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li>19</li>
                            <li class="day-disabled">20</li>
                            <li class="day-disabled">21</li>
                            <li>22
                                <div class="oc-dots">
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li>23</li>
                            <li>24
                                <div class="oc-dots">
                                    <span class="dot dot-personal"></span>
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li>25</li>
                            <li>26</li>
                            <li class="day-disabled">27</li>
                            <li class="day-disabled">28</li>
                            <li>29</li>
                            <li>30
                                <div class="oc-dots">
                                    <span class="dot dot-ocensa"></span>
                                </div>
                            </li>
                            <li>31</li>
                        </ol>
                    </div>
                </div>

                <div class="oc-widget-calendario__content__display">
                    <div class="oc-conv">
                        <div>
                            <span class="dot dot-ocensa"></span>
                            <span>OCENSA</span>
                        </div>
                        <div>
                            <span class="dot dot-personal"></span>
                            <span>Personal</span>
                        </div>
                    </div>
                    <button class="oc-btn oc-btn-active">
                        Agendar <span class="oc-btn__arrow-right">→</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Content Agenda -->
        <div class="oc-widget-calendario__content" id="wdg-agenda">
            <div class="oc-widget-calendario__content__buttons">
                <button class="oc-btn oc-btn-active btn-agenda">
                    Agenda
                </button>
                <button class="oc-btn oc-btn-inactive btn-calendario">
                    Calendario
                </button>
            </div>

            <div class="oc-widget-calendario__content__calendar">
                <div class="oc-content-agenda">
                    <div class="oc-slick-agenda on-scroll-v oc-slick-theme">
                        <div class="oc-slick-agenda__item">
                            <div class="oc-content-agenda__item" data-day="#day-1">
                                <div class="oc-content-agenda__item__date">
                                    <span class="day-name">Vie</span>
                                    <hr>
                                    <span class="day-number">12</span>
                                    <hr>
                                    <span class="month">
                                        mar
                                    </span>
                                </div>
                                <div class="oc-content-agenda__item__info">
                                    <h5 class="title">Lorem ipsum dolor sit amet.</h5>
                                    <span class="time">6:30 a 9:30 a.m.</span>
                                    <span class="type">
                                        <span class="dot dot-especial"></span>
                                        <p>Evento especial OCENSA</p>
                                    </span>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>

                            <div class="oc-content-agenda__item">
                                <div class="oc-content-agenda__item__date">
                                    <span class="day-name">Vie</span>
                                    <hr>
                                    <span class="day-number">12</span>
                                    <hr>
                                    <span class="month">
                                        mar
                                    </span>
                                </div>
                                <div class="oc-content-agenda__item__info">
                                    <h5 class="title">Lorem ipsum dolor sit amet.</h5>
                                    <span class="time">6:30 a 9:30 a.m.</span>
                                    <span class="type">
                                        <span class="dot dot-especial"></span>
                                        <p>Evento especial OCENSA</p>
                                    </span>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>

                            <div class="oc-content-agenda__item">
                                <div class="oc-content-agenda__item__date">
                                    <span class="day-name">Vie</span>
                                    <hr>
                                    <span class="day-number">12</span>
                                    <hr>
                                    <span class="month">
                                        mar
                                    </span>
                                </div>
                                <div class="oc-content-agenda__item__info">
                                    <h5 class="title">Lorem ipsum dolor sit amet.</h5>
                                    <span class="time">6:30 a 9:30 a.m.</span>
                                    <span class="type">
                                        <span class="dot dot-especial"></span>
                                        <p>Evento especial OCENSA</p>
                                    </span>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>
                        </div>

                        <div class="oc-slick-agenda__item">
                            <div class="oc-content-agenda__item">
                                <div class="oc-content-agenda__item__date">
                                    <span class="day-name">Vie</span>
                                    <hr>
                                    <span class="day-number">12</span>
                                    <hr>
                                    <span class="month">
                                        mar
                                    </span>
                                </div>
                                <div class="oc-content-agenda__item__info">
                                    <h5 class="title">Lorem ipsum dolor sit amet.</h5>
                                    <span class="time">6:30 a 9:30 a.m.</span>
                                    <span class="type">
                                        <span class="dot dot-especial"></span>
                                        <p>Evento especial OCENSA</p>
                                    </span>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>

                            <div class="oc-content-agenda__item">
                                <div class="oc-content-agenda__item__date">
                                    <span class="day-name">Vie</span>
                                    <hr>
                                    <span class="day-number">12</span>
                                    <hr>
                                    <span class="month">
                                        mar
                                    </span>
                                </div>
                                <div class="oc-content-agenda__item__info">
                                    <h5 class="title">Lorem ipsum dolor sit amet.</h5>
                                    <span class="time">6:30 a 9:30 a.m.</span>
                                    <span class="type">
                                        <span class="dot dot-especial"></span>
                                        <p>Evento especial OCENSA</p>
                                    </span>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>

                            <div class="oc-content-agenda__item">
                                <div class="oc-content-agenda__item__date">
                                    <span class="day-name">Vie</span>
                                    <hr>
                                    <span class="day-number">12</span>
                                    <hr>
                                    <span class="month">
                                        mar
                                    </span>
                                </div>
                                <div class="oc-content-agenda__item__info">
                                    <h5 class="title">Lorem ipsum dolor sit amet.</h5>
                                    <span class="time">6:30 a 9:30 a.m.</span>
                                    <span class="type">
                                        <span class="dot dot-especial"></span>
                                        <p>Evento especial OCENSA</p>
                                    </span>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>
                        </div>
                        <div class="oc-slick-agenda__item">
                            <div class="oc-content-agenda__item">
                                <div class="oc-content-agenda__item__date">
                                    <span class="day-name">Vie</span>
                                    <hr>
                                    <span class="day-number">12</span>
                                    <hr>
                                    <span class="month">
                                        mar
                                    </span>
                                </div>
                                <div class="oc-content-agenda__item__info">
                                    <h5 class="title">Lorem ipsum dolor sit amet.</h5>
                                    <span class="time">6:30 a 9:30 a.m.</span>
                                    <span class="type">
                                        <span class="dot dot-especial"></span>
                                        <p>Evento especial OCENSA</p>
                                    </span>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>

                            <div class="oc-content-agenda__item">
                                <div class="oc-content-agenda__item__date">
                                    <span class="day-name">Vie</span>
                                    <hr>
                                    <span class="day-number">12</span>
                                    <hr>
                                    <span class="month">
                                        mar
                                    </span>
                                </div>
                                <div class="oc-content-agenda__item__info">
                                    <h5 class="title">Lorem ipsum dolor sit amet.</h5>
                                    <span class="time">6:30 a 9:30 a.m.</span>
                                    <span class="type">
                                        <span class="dot dot-especial"></span>
                                        <p>Evento especial OCENSA</p>
                                    </span>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>
                            <div class="cont-button" style="text-align: center;">
                                <a href="#" class="oc-btn oc-btn-active">Ver agenda completa</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content dia eventos -->
        <div class="oc-widget-calendario__content content-day-events" id="day-1">
            <div class="oc-widget-calendario__content__calendar">
                <div class="oc-content-agenda content-dia">
                    <div class="content-dia__title-bar">
                        <h5>Viernes 12 de marzo</h5>
                        <button class="oc-btn-close">
                            <img src="img/icon-cerrar-dia.svg" alt="">
                        </button>
                    </div>
                    <div class="oc-slick-day oc-slick-theme on-scroll-v">
                        <!-- Slick item -->
                        <div class="oc-slick-day__item">
                            <div class="oc-content-agenda__item" data-event="#day-1-event-1">
                                <div class="oc-content-agenda__item__info">
                                    <span class="type">
                                        <span class="dot dot-especial" style="background-image: url('img/icon-star.svg');"></span>
                                    </span>
                                    <div>
                                        <h5 class="title">Lorem ipsum dolor sit amet.</h5>
                                        <span class="time">6:30 a 9:30 a.m.</span>
                                    </div>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>

                            <div class="oc-content-agenda__item">
                                <div class="oc-content-agenda__item__info">
                                    <span class="type">
                                        <span class="dot dot-personal"></span>
                                    </span>
                                    <div>
                                        <h5 class="title">Lorem ipsum dolor sit amet.</h5>
                                        <span class="time">6:30 a 9:30 a.m.</span>
                                    </div>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>

                            <div class="oc-content-agenda__item">
                                <div class="oc-content-agenda__item__info">
                                    <span class="type">
                                        <span class="dot dot-ocensa"></span>
                                    </span>
                                    <div>
                                        <h5 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                        </h5>
                                        <span class="time">6:30 a 9:30 a.m.</span>
                                    </div>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>
                        </div>

                        <!-- Slick item -->
                        <div class="oc-slick-day__item">
                            <div class="oc-content-agenda__item">
                                <div class="oc-content-agenda__item__info">
                                    <span class="type">
                                        <span class="dot dot-especial"></span>
                                    </span>
                                    <div>
                                        <h5 class="title">Lorem ipsum dolor sit amet.</h5>
                                        <span class="time">6:30 a 9:30 a.m.</span>
                                    </div>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>

                            <div class="oc-content-agenda__item">
                                <div class="oc-content-agenda__item__info">
                                    <span class="type">
                                        <span class="dot dot-personal"></span>
                                    </span>
                                    <div>
                                        <h5 class="title">Lorem ipsum dolor sit amet.</h5>
                                        <span class="time">6:30 a 9:30 a.m.</span>
                                    </div>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>

                            <div class="oc-content-agenda__item">
                                <div class="oc-content-agenda__item__info">
                                    <span class="type">
                                        <span class="dot dot-ocensa"></span>
                                    </span>
                                    <div>
                                        <h5 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                        </h5>
                                        <span class="time">6:30 a 9:30 a.m.</span>
                                    </div>
                                </div>
                                <button class="oc-more-info">
                                    <img src="img/boton-ver-mas.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content dia -->
        <div class="oc-widget-calendario__content content-day" id="day-1-event-1">
            <div class="oc-widget-calendario__content__calendar">
                <div class="oc-content-agenda content-dia-evento">
                    <div class="oc-content-agenda__item">
                        <div class="oc-content-agenda__item__date">
                            <span class="day-name">Vie</span>
                            <hr>
                            <span class="day-number">12</span>
                            <hr>
                            <span class="month">
                                mar
                            </span>
                        </div>
                        <div class="oc-content-agenda__item__info">
                            <h5 class="title">Evento especial OCENSA. Lanzamiento proyecto CONPORT</h5>
                            <span class="time">6:30 a 9:30 a.m.</span>

                            <div class="oc-slick-event-info oc-slick-theme on-scroll-v">
                                <!-- Slick item -->
                                <div class="oc-slick-event-info__item">
                                    <span class="type">
                                        <span class="dot dot-especial"></span>
                                        <p>Evento especial OCENSA</p>
                                    </span>

                                    <div class="m-teams">
                                        <span>Unirse con teams</span>
                                        <button class="btn-m-teams oc-btn"><img
                                                src="img/flecha-ir.svg" alt=""></button>
                                    </div>

                                    <span class="room">Sala B</span>
                                    <span class="n-guest">5 invitados</span>

                                    <div class="profile-guest">
                                        <ul>
                                            <li>
                                                <img src="img/avatar-prof.png" alt=""
                                                    class="avatar">
                                                <div class="profile-guest__info">
                                                    <h5 class="name-guest">IVAN PELAYO MONROY</h5>
                                                    <span class="email-guest">Ivan@ocensa.com.co</span>
                                                    <span class="role-guest">Organizador</span>
                                                </div>
                                            </li>

                                            <li>
                                                <img src="img/avatar-prof-2.png" alt=""
                                                    class="avatar">
                                                <div class="profile-guest__info">
                                                    <span class="email-guest">natalia@ocensa.com.co</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                                <!-- Slick item -->
                                <div class="oc-slick-event-info__item">
                                    <div class="profile-guest">
                                        <ul>
                                            <li>
                                                <img src="img/avatar-prof.png" alt=""
                                                    class="avatar">
                                                <div class="profile-guest__info">
                                                    <h5 class="name-guest">IVAN PELAYO MONROY</h5>
                                                    <span class="email-guest">Ivan@ocensa.com.co</span>
                                                    <span class="role-guest">Organizador</span>
                                                </div>
                                            </li>

                                            <li>
                                                <img src="img/avatar-prof-2.png" alt=""
                                                    class="avatar">
                                                <div class="profile-guest__info">
                                                    <span class="email-guest">natalia@ocensa.com.co</span>
                                                </div>
                                            </li>

                                            <li>
                                                <img src="img/avatar-prof.png" alt=""
                                                    class="avatar">
                                                <div class="profile-guest__info">
                                                    <h5 class="name-guest">IVAN PELAYO MONROY</h5>
                                                    <span class="email-guest">Ivan@ocensa.com.co</span>
                                                    <span class="role-guest">Organizador</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <a href="#" class="oc-btn oc-btn-active">Ver agenda completa</a>
                                </div>
                            </div>
                        </div>
                        <button class="oc-btn-close">
                            <img src="img/icon-cerrar-dia.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>