<div class="oc-card-widget oc-widget-template wdg-clima" id="wdg-solicitudes">
    <div class="oc-widget-template__top-bar oc-bg-green">
        <div class="oc-widget-template__top-bar__title">
            <img src="/img/icon_territorio_el_porvenir_solicitudes_ingreso_icono_menu.svg" alt="">
            <span>Solicitudes de ingreso</span>
        </div>
        <div class="oc-widget-template__top-bar__right d-none">
            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
            <button class="oc-button-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>
    </div>
    <div class="p-2 position-relative">
        <div class="oc-pop-up p-4 card-solicitudes-ingreso">
            <div class="d-flex oc-cont-title-reco justify-content-between">
                <span class="title-green c-green text-uppercase">Recuerde que para<br> la visita
                    debe:</span>

                <span class="close-solicitudes">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.444" height="19.444" viewBox="0 0 19.444 19.444">
                    <g id="Grupo_14836" data-name="Grupo 14836" transform="translate(-303.136 -198.602)">
                        <g id="Grupo_3754" data-name="Grupo 3754" transform="translate(303.529 198.995)">
                        <circle id="Elipse_571" data-name="Elipse 571" cx="9.33" cy="9.33" r="9.33" fill="#fff" stroke="#24a31a" stroke-miterlimit="10" stroke-width="0.785"/>
                        <g id="Grupo_2575" data-name="Grupo 2575" transform="translate(3.713 9.33) rotate(-45)">
                            <line id="Línea_1356" data-name="Línea 1356" y2="7.943" transform="translate(3.971)" fill="none" stroke="#24a31a" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.962"/>
                            <line id="Línea_1357" data-name="Línea 1357" x1="7.943" transform="translate(0 3.971)" fill="none" stroke="#24a31a" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.962"/>
                        </g>
                        </g>
                    </g>
                    </svg>
                </span>
                {{!-- <img src="/img/close-green.svg" alt="" class="img-close-green close-solicitudes"> --}}
            </div>
            <ul class="oc-cont-recomendaciones  mt-3">
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>Contar con inducción HSE.</p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>Tener aprobacion de su protololo covid-19 ante gestion del
                        riesgo Tauramena.</p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>Si es foraneo, debe llegar a territorio con prueba covid-19
                        (Antigeno o PCR).</p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>Contar con dotación de camisa y pantalón en algodón y
                        elementos de proteccion personal como: cascos, botas, gafas, guantes y
                        proteccion auditiva</p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>Estar acompañado siempre con una persona que conozca las
                        condiciones de la estación.</p>
                </li>
            </ul>
        </div>
        <div class="oc-widget-template__body p-2 card-solicitudes-ingreso">
            <div class="cont-formatos oc-box-dato text-center">
                <p class="c-green cont-formatos__title">FORMATOS PARA TRAMITAR</p>
            </div>
            <div class="d-flex mt-1 align-items-center justify-content-center cont cont-formatos__text-and-link">
                <p class="m-0 mr-4 pb-1">Autorización para el ingreso en horas laborales
                    (GDE-F-067)</p>
                <a href=""><img src="/img/icon-download-green.svg" alt="" class="icon-dl"></a>
            </div>
            <div class="d-flex mt-2 align-items-center justify-content-center cont cont-formatos__text-and-link">
                <p class="m-0 mr-4 pb-1">Procedimiento para ingreso y salida de personas (GDE-P-007)
                </p>
                <a href=""><img src="/img/icon-download-green.svg" alt="" class="icon-dl"></a>
            </div>
            <div class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link">
                <p class="m-0 mr-5 pb-1">Permiso para el ingreso de vehículos (GDE-F-070)</p>
                <a href=""><img src="/img/icon-download-green.svg" alt="" class="icon-dl"></a>
            </div>
            <div class="mt-2 align-items-center justify-content-center cont cont-formatos__text-and-link">
                <p class="m-0 mr-1 pb-1">Debe adjuntar aportes a seguridad social</p>
            </div>
            <div class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link-v2">
                <p class="m-0 mr-4 pb-1">Revise las recomendaciones</p>
                <a href="#" class="open-solicitudes"><img src="/img/flecha-right-verde.svg" alt=""></a>
            </div>
            <div class="cont-formatos oc-box-dato text-center mt-3">
                <p class="c-green cont-formatos__title">ENVIAR A</p>
            </div>
            <div class="cont cont-formatos__send line pb-2 d-flex align-items-center justify-content-between">
                <div class="d-flex">
                    <img src="/img/profile-send1.jpg" alt="" class="img-user-send img-circle mr-3">
                    <div class="mr-1">
                        <span class="d-block name-send">Jorge Arango</span>
                        <span class="d-block prof-send">Profesional Senior Aseguramiento Técnico</span>
                    </div>
                </div>
                <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
            </div>
            <div class="cont cont-formatos__send pt-2 d-flex align-items-center justify-content-between">
                <div class="d-flex">
                    <img src="/img/img-perfil-porvenir-elkin.png" alt="" class="img-user-send img-circle mr-3">
                    <div class="mr-1">
                        <span class="d-block name-send">Gustavo Mendoza</span>
                        <span class="d-block prof-send">Profesional Senior Aseguramiento</span>
                    </div>
                </div>
                <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
            </div>
        </div>
    </div>
</div>