<div class="oc-card-widget oc-widget-template wdg-clima" id="wdg-solicitudes-vasc">
    <div class="oc-widget-template__top-bar oc-bg-green">
        <div class="oc-widget-template__top-bar__title">
            <img src="/img/icon_territorio_el_porvenir_solicitudes_ingreso_icono_menu.svg" alt="">
            <span>Solicitudes de ingreso</span>
        </div>
        <div class="oc-widget-template__top-bar__right d-none">
            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
            <button class="oc-button-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>
    </div>
    <div class="p-2 position-relative">
        <div class="oc-widget-template__body p-2 card-solicitudes-ingreso mt-2">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <p class="oc-text-solicitudes-vasc text-center"><span class="">Realizar el registro en la
                        <b>plataforma de OCENSA:</b></p>
                <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=UIgoC8NVqEGNBw1tjWN8amNSTjAJA9NFjarLo1tgoWlUMDgxSldDNDNQMUQyRllYSDJETFNaODZMTCQlQCN0PWcu" target="_blank" class="oc-btn oc-btn__gray m-0">
                    <span> Ir </span>
                    <span class="flecha-ocensa flecha-derecha flecha-blanca ml-2"></span>
                </a>
            </div>
            <div class="cont-formatos oc-box-dato text-center mt-3">
                <p class="c-green cont-formatos__title">ENVIAR A</p>
            </div>
            <div class="cont cont-formatos__send line pb-2 d-flex align-items-center justify-content-between">
                <div class="d-flex">
                    <img src="/img/istockphoto-691910451-2048x2048.png" alt="" class="img-user-send img-circle mr-3">
                    <div class="mr-5">
                        <span class="d-block name-send">Daniel Alba Alonso </span>
                        <span class="d-block prof-send">Profesional senior<br> aseguramiento técnico</span>
                    </div>
                </div>
                <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
            </div>
            <div class="cont cont-formatos__send pt-2 d-flex align-items-center justify-content-between">
                <div class="d-flex">
                    <img src="/img/istockphoto-691910451-2048x2048.png" alt="" class="img-user-send img-circle mr-3">
                    <div class="mr-5">
                        <span class="d-block name-send">Tomas Carroll</span>
                        <span class="d-block prof-send">Profesional senior<br> aseguramiento técnico</span>
                    </div>
                </div>
                <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
            </div>
        </div>
    </div>
</div>