<div class="oc-card-widget oc-widget-template wdg-clima" id="wdg-solicitudes">
    <div class="oc-widget-template__top-bar oc-bg-green">
        <div class="oc-widget-template__top-bar__title">
            <img src="/img/icon_territorio_el_porvenir_solicitudes_ingreso_icono_menu.svg" alt="">
            <span>Solicitudes de ingreso</span>
        </div>
        <div class="oc-widget-template__top-bar__right d-none">
            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
            <button class="oc-button-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>
    </div>
    <div class="p-2 position-relative">
        <div class="oc-pop-up p-4 card-solicitudes-ingreso">
            <div class="d-flex oc-cont-title-reco justify-content-between">
                <span class="title-green c-green text-uppercase">Recuerde que para<br> la visita
                    debe:</span>
                <img src="/img/close-green.svg" alt="" class="img-close-green close-solicitudes">
            </div>
            <ul class="oc-cont-recomendaciones  mt-3">
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>Contar con inducción HSE.</p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>Tener aprobacion de su protololo covid-19 ante gestion del
                        riesgo Tauramena.</p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>Si es foraneo, debe llegar a territorio con prueba covid-19
                        (Antigeno o PCR).</p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>Contar con dotación de camisa y pantalón en algodón y
                        elementos de proteccion personal como: cascos, botas, gafas, guantes y
                        proteccion auditiva</p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>Estar acompañado siempre con una persona que conozca las
                        condiciones de la estación.</p>
                </li>
            </ul>
        </div>
        <div class="oc-widget-template__body p-2 card-solicitudes-ingreso">
            <div class="cont-formatos oc-box-dato text-center">
                <p class="c-green cont-formatos__title">FORMATOS PARA TRAMITAR</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="d-flex cont cont-formatos__text-and-link">
                        <p class="m-0 mr-4 pb-1 mt-1">Prueba COVID19 y enviar resultado, previo al desplazamiento, para
                            informar al área social</p>
                    </div>
                    <div class="d-flex mt-2 cont cont-formatos__text-and-link">
                        <p class="m-0 mr-4 pb-1">Efectuar autoaportes de salud
                        </p>
                    </div>
                    <div
                        class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link">
                        <p class="m-0 mr-5 pb-1">Reunión permisos de trabajo
                            (lunes a viernes 4:30 p.m.) </p>
                        <a href="#"><img src="/img/flecha-right-verde.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div
                        class="d-flex mt-1 align-items-center justify-content-between cont cont-formatos__text-and-link">
                        <p class="m-0 mr-4 pb-1">Solicitudes de ingreso</p>
                        <a href="#"><img src="/img/flecha-right-verde.svg" alt=""></a>
                    </div>
                    <div
                        class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link">
                        <p class="m-0 mr-4 pb-1">Permisos de trabajo
                        </p>
                        <a href="#"><img src="/img/flecha-right-verde.svg" alt=""></a>
                    </div>
                    <div
                        class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link">
                        <p class="m-0 mr-5 pb-1">Diligenciar el formato de autoreporte diario que debe presentarse antes de ingresar a la estación</p>
                        <a href="#"><img src="/img/flecha-right-verde.svg" alt=""></a>
                    </div>
                    <div
                        class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link-v2">
                        <p class="m-0 mr-4 pb-1">Revise las recomendaciones</p>
                        <a href="#" class="open-solicitudes"><img src="/img/flecha-right-verde.svg" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="cont-formatos oc-box-dato text-center mt-3">
                <p class="c-green cont-formatos__title">ENVIAR A</p>
            </div>
            <div class="row d-flex">
                <div class="col-12 col-md-6">
                    <div class="cont cont-formatos__send pt-2 d-flex align-items-center justify-content-between">
                        <div class="d-flex">
                            <img src="/img/profile-send1.jpg" alt="" class="img-user-send img-circle mr-3">
                            <div class="mr-5">
                                <span class="d-block name-send">Elkin Larrarte</span>
                                <span class="d-block prof-send">Prof. Senior Aseg.<br>técnico</span>
                            </div>
                        </div>
                        <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="cont cont-formatos__send pt-2 d-flex align-items-center justify-content-between">
                        <div class="d-flex">
                            <img src="/img/img-perfil-porvenir-elkin.png" alt="" class="img-user-send img-circle mr-3">
                            <div class="mr-4">
                                <span class="d-block name-send">Joaquín Vega</span>
                                <span class="d-block prof-send">Profesional Senior<br>Aseguramiento técnico Páez/MRF</span>
                            </div>
                        </div>
                        <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>