<div class="oc-card-widget oc-widget-template wdg-clima" id="wdg-solicitudes-vasc">
    <div class="oc-widget-template__top-bar oc-bg-green">
        <div class="oc-widget-template__top-bar__title">
            <img src="/img/icon_territorio_el_porvenir_solicitudes_ingreso_icono_menu.svg" alt="">
            <span>Solicitudes de ingreso</span>
        </div>
        <div class="oc-widget-template__top-bar__right d-none">
            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
            <button class="oc-button-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>
    </div>
    <div class="p-2 position-relative">
        <div class="oc-widget-template__body p-2 card-solicitudes-ingreso mt-4">
            <p class="oc-text-solicitudes-vasc"><b>Para ingresar a la estación se debe contactar a los Profesionales de Aseguramiento Técnico</b> para que les compartan los formatos a diligenciar, ya que a diferencia de las otras estaciones de Ocensa, los formatos que se utilizan son de Cenit. </p>
            <div class="cont-formatos oc-box-dato text-center mt-3">
                <p class="c-green cont-formatos__title">ENVIAR A</p>
            </div>
            <div class="cont cont-formatos__send line pb-2 d-flex align-items-center justify-content-between">
                <div class="d-flex">
                    <img src="/img/profile-send1.jpg" alt="" class="img-user-send img-circle mr-3">
                    <div class="mr-5">
                        <span class="d-block name-send">Jhon Fabianny Mercado</span>
                        <span class="d-block prof-send">Profesional senior<br> aseguramiento técnico</span>
                    </div>
                </div>
                <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
            </div>
            <div class="cont cont-formatos__send pt-2 d-flex align-items-center justify-content-between">
                <div class="d-flex">
                    <img src="/img/img-perfil-porvenir-elkin.png" alt="" class="img-user-send img-circle mr-3">
                    <div class="mr-5">
                        <span class="d-block name-send">Gustavo Mendoza </span>
                        <span class="d-block prof-send">Profesional senior<br> aseguramiento técnico</span>
                    </div>
                </div>
                <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
            </div>
        </div>
    </div>
</div>