<div class="oc-card-widget oc-widget-template wdg-clima" id="wdg-solicitudes-sant">
    <div class="oc-widget-template__top-bar oc-bg-green">
        <div class="oc-widget-template__top-bar__title">
            <img src="/img/icon_territorio_el_porvenir_solicitudes_ingreso_icono_menu.svg" alt="">
            <span>Solicitudes de ingreso</span>
        </div>
        <div class="oc-widget-template__top-bar__right d-none">
            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
            <button class="oc-button-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>
    </div>
    <div class="p-2 position-relative">
        <div class="oc-pop-up p-4 card-solicitudes-ingreso oc-scrollbar">
            <div class="d-flex oc-cont-title-reco justify-content-between">
                <span class="title-green c-green text-uppercase">Recuerde que para<br> el ingreso
                    debe:</span>

                <span class="close-solicitudes">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.444" height="19.444" viewBox="0 0 19.444 19.444">
                        <g id="Grupo_14836" data-name="Grupo 14836" transform="translate(-303.136 -198.602)">
                            <g id="Grupo_3754" data-name="Grupo 3754" transform="translate(303.529 198.995)">
                                <circle id="Elipse_571" data-name="Elipse 571" cx="9.33" cy="9.33" r="9.33" fill="#fff"
                                    stroke="#24a31a" stroke-miterlimit="10" stroke-width="0.785" />
                                <g id="Grupo_2575" data-name="Grupo 2575" transform="translate(3.713 9.33) rotate(-45)">
                                    <line id="Línea_1356" data-name="Línea 1356" y2="7.943" transform="translate(3.971)"
                                        fill="none" stroke="#24a31a" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.962" />
                                    <line id="Línea_1357" data-name="Línea 1357" x1="7.943"
                                        transform="translate(0 3.971)" fill="none" stroke="#24a31a"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="1.962" />
                                </g>
                            </g>
                        </g>
                    </svg>
                </span>
                {{!-- <img src="/img/close-green.svg" alt="" class="img-close-green close-solicitudes"> --}}
            </div>
            <ul class="oc-cont-recomendaciones  mt-3">
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>
                        Enviar una de las pruebas covid-19 (PCR, antígenos o rápida, con fecha no mayor a 14 días desde
                        la toma de la muestra) del personal foráneo que ingrese a la estación.
                    </p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>
                        Enviar y diligenciar los formatos adjuntos de ingreso a las instalaciones, según aplique.
                    </p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>
                        Enviar pago de parafiscales, al día, de los funcionarios que van a ingresar.
                    </p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>
                        Un día antes del ingreso a la estación, asistir a la reunión virtual de permisos de trabajo que
                        se da de lunes a viernes a las 4:45 p.m. <a
                            href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_ODkyMGY0NmQtZmFmYi00MGNkLTgxNWEtMzQwMDA4YTQ3Njhi%40thread.v2/0?context=%7b%22Tid%22%3a%220b288850-55c3-41a8-8d07-0d6d8d637c6a%22%2c%22Oid%22%3a%22abd4f89e-8847-43d6-ba1f-66b1b6797382%22%7d"
                            target="_blank" style="color: #00AF00;">Link reunión Virtual</a>
                    </p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>
                        Diligenciar formato web de auto reporte de síntomas respiratorios, antes de ingresar a la
                        estación. <a
                            href="https://forms.office.com/Pages/ResponsePage.aspx?id=UIgoC8NVqEGNBw1tjWN8alEU3iy1QdxPj98u_arne8pUM0tRVE0xTkExTVZNT01ON0VXUFQyM0Y3WSQlQCN0PWcu"
                            target="_blank" style="color: #00AF00;">Ir al link del formato</a>
                    </p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>
                        Antes del ingreso a la estación, debe diligenciar y firmar los formatos de ART, Permiso de
                        trabajo y Procedimientos, los cuales debe enviar en PDF a Solicitudpwtbelleza@ocensa.com.co
                    </p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>
                        Cumplir con todos los protocolos de bioseguridad, alcohol y medicamentos, según la actividad del
                        estándar que aplique.
                    </p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>
                        Diligenciar formato web ingreso a la estación por una única vez. <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=UIgoC8NVqEGNBw1tjWN8amNSTjAJA9NFjarLo1tgoWlUMDgxSldDNDNQMUQyRllYSDJETFNaODZMTCQlQCN0PWcu" target="_blank" style="color: #00AF00;">Ir al link del formato</a>
                    </p>
                </li>
                <li class="d-flex"><img src="/img/chulo-verde.svg" class="img-recomendaciones"></img>
                    <p>
                        Diligenciar solicitud web de permisos de trabajo por parte de los contratistas. <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=UIgoC8NVqEGNBw1tjWN8alEU3iy1QdxPj98u_arne8pURUwzQUZWTk9JRDZHNEhSRElRNDNDMFhaNyQlQCN0PWcu" target="_blank" style="color: #00AF00;">Ir al link del formato</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="oc-widget-template__body p-2 card-solicitudes-ingreso">
            <div class="cont-formatos oc-box-dato text-center">
                <p class="c-green cont-formatos__title">FORMATOS PARA TRAMITAR</p>
            </div>
            <div class="d-flex mt-1 align-items-center justify-content-between cont cont-formatos__text-and-link">
                <p class="m-0 mr-4 pb-1">Formato de ingreso a facilidades Sector 2</p>
                <a href=""><img src="/img/icon-download-green.svg" alt="" class="icon-dl"></a>
            </div>
            <div class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link">
                <p class="m-0 mr-4 pb-1">Requerimientos mínimos para inicio de labores en campo</p>
                <a href=""><img src="/img/icon-download-green.svg" alt="" class="icon-dl"></a>
            </div>
            <div class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link">
                <p class="m-0 mr-5 pb-1">Requisitos para ingreso de vehículos</p>
                <a href=""><img src="/img/icon-download-green.svg" alt="" class="icon-dl"></a>
            </div>
            <div class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link">
                <p class="m-0 mr-5 pb-1">Ingreso de materiales</p>
                <a href=""><img src="/img/icon-download-green.svg" alt="" class="icon-dl"></a>
            </div>
            <div class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link">
                <p class="m-0 mr-5 pb-1">Ingreso de personal el fin de semana</p>
                <a href=""><img src="/img/icon-download-green.svg" alt="" class="icon-dl"></a>
            </div>
            <div class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link">
                <p class="m-0 mr-5 pb-1">Análisis de riesgo en el trabajo</p>
                <a href=""><img src="/img/icon-download-green.svg" alt="" class="icon-dl"></a>
            </div>
            <div class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link">
                <p class="m-0 mr-5 pb-1">Sistema de permisos de trabajo</p>
                <a href=""><img src="/img/icon-download-green.svg" alt="" class="icon-dl"></a>
            </div>
            <div class="d-flex mt-2 align-items-center justify-content-between cont cont-formatos__text-and-link-v2">
                <p class="m-0 mr-4 pb-1">Recuerde que para el ingreso debe…</p>
                <a href="#" class="open-solicitudes"><img src="/img/flecha-right-verde.svg" alt=""></a>
            </div>
            <div class="cont-formatos oc-box-dato text-center mt-3">
                <p class="c-green cont-formatos__title">ENVIAR A</p>
            </div>
            <div class="cont cont-formatos__send line pb-2 d-flex align-items-center justify-content-between">
                <div class="d-flex">
                    <img src="/img/profile-send1.jpg" alt="" class="img-user-send img-circle mr-3">
                    <div class="mr-5">
                        <span class="d-block name-send">Mario Fernando Becerra</span>
                        <span class="d-block prof-send">Profesional Senior de Aseguramiento Técnico</span>
                    </div>
                </div>
                <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
            </div>
            <div class="cont cont-formatos__send pt-2 d-flex align-items-center justify-content-between">
                <div class="d-flex">
                    <img src="/img/img-perfil-porvenir-elkin.png" alt="" class="img-user-send img-circle mr-3">
                    <div class="mr-5">
                        <span class="d-block name-send">Juan José Morales</span>
                        <span class="d-block prof-send">Profesional Senior de Aseguramiento Técnico</span>
                    </div>
                </div>
                <img src="/img/icon-envelope1.svg" alt="" class="img-enviar">
            </div>
        </div>
    </div>
</div>