<div class="oc-card-widget oc-widget-template wdg-proyectos" id="wdg-proyectos">
    <div class="oc-widget-template__top-bar oc-bg-green">
        <div class="oc-widget-template__top-bar__title">
            <img src="/img/icon_perfil_usuario_proyectos.svg" alt="">
            <span>Proyectos</span>
        </div>
        <div class="oc-widget-template__top-bar__right d-none">
            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
            <button class="oc-button-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>
    </div>

    <div class="oc-widget-template__body p-3 text-center d-none">
        <div href="" class="wdg-proyectos__cont-btn">
            <a href="#" class="wdg-proyectos__btn-actuales active">Actuales</a>
            <a href="#" class="wdg-proyectos__btn-anteriores">Anteriores</a>
            <a href="#" class="wdg-proyectos__btn-anteriores">Crear proyecto</a>
        </div>
        <div class="wdg-proyectos__car oc-vertical-slider">
            {{!-- Slide item --}}
            <div class="slide-item">
                <!--Item-->
                <div class="wdg-proyectos__item">
                    <h3 class="wdg-proyectos__name-proyect">Proyecto CONPORT Lorem ipsum</h3>
                    <p class="wdg-proyectos__date">AGOS 2021 - Mar 2022</p>
                    <span class="wdg-proyectos__state">Estado: 80%</span>
                    <div class="oc-members-carousel__cont">
                        <div class="wdg-proyectos__members oc-members-carousel">

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-elkin-orjuela.png" alt="">
                                <span>Carlos</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-ximena.png" alt="">
                                <span>Ximena</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-alexander.png" alt="">
                                <span>Alexander</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-elkin-orjuela.png" alt="">
                                <span>Carlos</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-ximena.png" alt="">
                                <span>Ximena</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-alexander.png" alt="">
                                <span>Alexander</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-elkin-orjuela.png" alt="">
                                <span>Carlos</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-ximena.png" alt="">
                                <span>Ximena</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-alexander.png" alt="">
                                <span>Alexander</span>
                            </div>

                        </div>
                        <div class="oc-members-carousel__more">
                            12+
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="wdg-proyectos__item">
                    <h3 class="wdg-proyectos__name-proyect">Proyecto CONPORT Lorem ipsum</h3>
                    <p class="wdg-proyectos__date">AGOS 2021 - Mar 2022</p>
                    <span class="wdg-proyectos__state">Estado: 80%</span>
                    <div class="oc-members-carousel__cont">
                        <div class="wdg-proyectos__members oc-members-carousel">

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-elkin-orjuela.png" alt="">
                                <span>Carlos</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-ximena.png" alt="">
                                <span>Ximena</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-alexander.png" alt="">
                                <span>Alexander</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-elkin-orjuela.png" alt="">
                                <span>Carlos</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-ximena.png" alt="">
                                <span>Ximena</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-alexander.png" alt="">
                                <span>Alexander</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-elkin-orjuela.png" alt="">
                                <span>Carlos</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-ximena.png" alt="">
                                <span>Ximena</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-alexander.png" alt="">
                                <span>Alexander</span>
                            </div>

                        </div>
                        <div class="oc-members-carousel__more">
                            12+
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Slide item --}}
            <div class="slide-item">
                <!--Item-->
                <div class="wdg-proyectos__item">
                    <h3 class="wdg-proyectos__name-proyect">Proyecto CONPORT Lorem ipsum</h3>
                    <p class="wdg-proyectos__date">AGOS 2021 - Mar 2022</p>
                    <span class="wdg-proyectos__state">Estado: 80%</span>
                    <div class="oc-members-carousel__cont">
                        <div class="wdg-proyectos__members oc-members-carousel">

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-elkin-orjuela.png" alt="">
                                <span>Carlos</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-ximena.png" alt="">
                                <span>Ximena</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-alexander.png" alt="">
                                <span>Alexander</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-elkin-orjuela.png" alt="">
                                <span>Carlos</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-ximena.png" alt="">
                                <span>Ximena</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-alexander.png" alt="">
                                <span>Alexander</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-elkin-orjuela.png" alt="">
                                <span>Carlos</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-ximena.png" alt="">
                                <span>Ximena</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-alexander.png" alt="">
                                <span>Alexander</span>
                            </div>

                        </div>
                        <div class="oc-members-carousel__more">
                            12+
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="wdg-proyectos__item">
                    <h3 class="wdg-proyectos__name-proyect">Proyecto CONPORT Lorem ipsum</h3>
                    <p class="wdg-proyectos__date">AGOS 2021 - Mar 2022</p>
                    <span class="wdg-proyectos__state">Estado: 80%</span>
                    <div class="oc-members-carousel__cont">
                        <div class="wdg-proyectos__members oc-members-carousel">

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-elkin-orjuela.png" alt="">
                                <span>Carlos</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-ximena.png" alt="">
                                <span>Ximena</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-alexander.png" alt="">
                                <span>Alexander</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-elkin-orjuela.png" alt="">
                                <span>Carlos</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-ximena.png" alt="">
                                <span>Ximena</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-alexander.png" alt="">
                                <span>Alexander</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-elkin-orjuela.png" alt="">
                                <span>Carlos</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-ximena.png" alt="">
                                <span>Ximena</span>
                            </div>

                            <!--Item-->
                            <div class="oc-members-carousel__item">
                                <img src="/img/member-alexander.png" alt="">
                                <span>Alexander</span>
                            </div>

                        </div>
                        <div class="oc-members-carousel__more">
                            12+
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="wdg-proyectos__form">
        <div class="wdg-proyectos__form-cont">
            <span class="wdg-proyectos__form-close"><img src="" alt=""></span>
            <h4 class="wdg-proyectos__form-title">NUEVO PROYECTO</h4>
            <form action="">
                <div class="wdg-proyectos__form-group">
                    <label for="">Nombre proyecto</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="wdg-proyectos__form-group">
                    <label for="">Fecha inicio</label>
                    <input type="text">
                </div>
                <div class="wdg-proyectos__form-group">
                    <label for="">Fecha fin</label>
                    <input type="text">
                </div>
                <p class="wdg-proyectos__form-part">Participantes:</p>
                <div class="oc-members-carousel__cont">
                    <div class="wdg-proyectos__members oc-members-carousel">

                        <!--Item-->
                        <div class="oc-members-carousel__item">
                            <img src="/img/member-elkin-orjuela.png" alt="">
                            <span>Carlos</span>
                        </div>

                        <!--Item-->
                        <div class="oc-members-carousel__item">
                            <img src="/img/member-ximena.png" alt="">
                            <span>Ximena</span>
                        </div>

                        <!--Item-->
                        <div class="oc-members-carousel__item">
                            <img src="/img/member-alexander.png" alt="">
                            <span>Alexander</span>
                        </div>

                        <!--Item-->
                        <div class="oc-members-carousel__item">
                            <img src="/img/member-elkin-orjuela.png" alt="">
                            <span>Carlos</span>
                        </div>

                        <!--Item-->
                        <div class="oc-members-carousel__item">
                            <img src="/img/member-ximena.png" alt="">
                            <span>Ximena</span>
                        </div>

                        <!--Item-->
                        <div class="oc-members-carousel__item">
                            <img src="/img/member-alexander.png" alt="">
                            <span>Alexander</span>
                        </div>

                        <!--Item-->
                        <div class="oc-members-carousel__item">
                            <img src="/img/member-elkin-orjuela.png" alt="">
                            <span>Carlos</span>
                        </div>

                        <!--Item-->
                        <div class="oc-members-carousel__item">
                            <img src="/img/member-ximena.png" alt="">
                            <span>Ximena</span>
                        </div>

                        <!--Item-->
                        <div class="oc-members-carousel__item">
                            <img src="/img/member-alexander.png" alt="">
                            <span>Alexander</span>
                        </div>

                    </div>
                    <div class="oc-members-carousel__more">
                        12+
                    </div>
                </div>
                <div class="wdg-proyectos__cont-btn text-center">
                    <a href="">Agregar participantes</a>
                    <a href="">Guardar</a>
                </div>
            </form>
        </div>
    </div>

</div>