<div class="oc-card-widget oc-widget-template wdg-publicaciones" id="grupos-incremental">
    <div class="oc-widget-template__top-bar oc-bg-blue-light">
        <div class="oc-widget-template__top-bar__title">
            <img src="/img/icon-perfiles-2.svg" alt="">
            <span>Grupos de trabajo</span>
        </div>
        <div class="oc-widget-template__top-bar__right d-none">
            <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
            <button class="oc-button-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
        </div>
    </div>

    <div class="oc-widget-template__body p-5 text-center" id="publicaciones-inc">
        <img src="/img/grupo.inc.svg" alt="" class="img-publicaciones-inc mt-2">
        <span class="d-block title-publi-inc mt-3">En este momento<br>
            no cuentas con información.

        </span>
        <p class="mt-3 mb-3">Los grupos de trabajo se cargan directamente desde Teams.</p>
        <div class="d-flex align-items-center justify-content-center">
            <a href="" class="wdg-publicaciones__agregar text-center d-block">Iniciar</a>
        </div>
    </div>

</div>