<div class="oc-custom-modal-map" id="clima-sucre">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/vmodal-titulo_clima.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Clima</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/clima-sucre.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    Sucre tiene múltiples climas y geografías que varían a medida que nos adentramos al territorio. Aquí
                    pasamos por el clima de sabana tropical húmeda y seca de las montañas de Montes de María, las
                    Sabanas y la Depresión de los ríos San Jorge y Cauca que atraviesan el departamento. También está la
                    sabana tropical árida del Golfo de Morrosquillo y el bosque tropical lluvioso en La Mojana.
                </p>

                <p>
                    Estas diferencias hacen que hacia el norte del departamento, el clima sea más cálido; y hacia el
                    sur, más húmedo, donde las lluvias pueden alcanzar hasta un volumen superior a los 3.000 mm anuales.
                    La característica que sí comparte todo el departamento es que entre diciembre y marzo suele ser la
                    temporada seca con los vientos Alisios soplando, mientras que las lluvias aumentan a partir de abril
                    hasta alcanzar su punto máximo entre julio y septiembre. La temperatura media de Sucre oscila entre
                    26ºC y 28ºC.
                    <br><br>

                    <strong class="roboto-bold">Fuente:</strong> Ideam
                </p>
            </div>
        </div>
    </div>
</div>