<div class="oc-custom-modal-map" id="comunidades-ecoturismo-sucre">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/vmodal-titulo_comunidades.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Ecoturismo y pesca en el Golfo de Morrosquillo</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__desc text-left">
                {{!-- Item 1 --}}
                <p>
                    El desarrollo ecoturístico en varias zonas del país puede representar una fuente de ingresos para
                    las comunidades y un compromiso con la conservación de ecosistemas.
                </p>

                <p>
                    Junto a empresas del sector transporte de crudo como Cenit y ODC, vemos en el Golfo de Morrosquillo
                    una oportunidad para ejecutar recursos de inversión social apostándole a iniciativas relacionadas
                    con las actividades económicas vocacionales del territorio como el turismo y la pesca.
                </p>

                <p>
                    Esta concepción busca que la economía de las comunidades no dependa exclusivamente del petróleo. Si
                    bien, los aportes del sector son importantes, es claro que son finitos y las comunidades deben
                    concientizarse que antes y después del petróleo, lo que hay en la zona es turismo y pesca.
                </p>

                <p>
                    La base económica de San Antero, Coveñas, Santiago de Tolú y San Onofre, municipios que conforman el
                    Golfo de Morrosquillo, es el turismo. Bajo ese aspecto analizamos los proyectos que tuvieran
                    relevancia y fueran sostenibles en el tiempo, para desarrollar un plan de mejoramiento que apunta al
                    cierre de brechas de las organizaciones y un laboratorio de construcción colectiva con las
                    asociaciones para fortalecer la cohesión grupal, el trabajo y la elaboración de proyectos.
                </p>

                <p>
                    En el caso de Santiago de Tolú, entre 2019 y 2020, impulsamos un proyecto de inversión social
                    voluntaria que contribuyó al fortalecimiento de cinco organizaciones de pesca y turismo ubicadas en
                    la zona norte del municipio. En la Ciénaga de la Leche se apoyó la ruta ecoturística con
                    infraestructura que incluyó la instalación de dos torres para el avistamiento de aves, una
                    plataforma de embarque, señalización de la ruta, paneles informativos y botes para navegar la ruta
                    ecoturística en la ciénaga. 156 personas se beneficiaron con la iniciativa.
                </p>

                <p>
                    Con la Fundación Oleoducto de Colombia, en 2021 empezamos el proyecto de reactivación de playas
                    seguras en Coveñas, San Antero, San Onofre y Santiago de Tolú. En interlocución con las cuatro
                    alcaldías fortalecimos, por medio de talleres, el cumplimiento de las normas de bioseguridad para el
                    turista y los operadores turísticos, y la importancia del medio ambiente y la sostenibilidad.
                    Asimismo, recibieron carpas (tipo hangar) para el ingreso del turista a la playa, neveras y
                    megáfonos que permitieron habilitar un sector de playa en el Golfo de Morrosquillo.
                </p>
            </div>
        </div>
    </div>
</div>