<div class="oc-custom-modal-map" id="ecosistema-sucre">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/vmodal-titulo_ecosistema.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Ecosistema</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/ecosistemas-sucre.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    El departamento está dividido en cinco subregiones y cada una tiene sus propios ecosistemas. En el
                    Golfo de Morrosquillo están los 112 kilómetros lineales de costa que tiene el departamento. Allí hay
                    una riqueza de manglares, pastos marinos, corales y playas, que se combinan con el bosque seco
                    tropical. De todos, el manglar tiene una relevancia enorme pues es allí donde se produce gran parte
                    del oxígeno y es el nicho de las especies nativas. Los manglares de Sucre representan además el
                    11,7% del bosque manglar de la Costa Caribe colombiana.
                </p>

                <p>
                    En Montes de María sobresalen más las montañas del bosque seco tropical, en donde la niebla se toma
                    las laderas en la mañana y al atardecer. Esto contrasta con las Sabanas, donde el paisaje de las
                    sabanas de lomerío, de montaña y de llanura ascienden únicamente hasta los 185 m.s.n.m.
                </p>

                <p>
                    Estas sabanas se extienden a la subregión de San Jorge, hasta llegar a las vegas del río del mismo
                    nombre. Allí están la mayoría de las ciénagas del departamento. Y por último, llegamos a La Mojana,
                    una zona que se inunda dependiendo de las corrientes aluviales de los ríos Magdalena, Cauca y San
                    Jorge. De allí que se desprenda una cantidad de ciénagas, quebradas y caños; que son características
                    de Sucre.
                </p>
            </div>
        </div>
    </div>
</div>