<div class="oc-custom-modal-map" id="fauna-sucre">
    <div class="oc-est-modal shadow">
        <div class="oc-est-modal__head d-flex justify-content-between align-items-center p-3">
            <div class="oc-est-modal__head__left d-flex align-items-center">
                <img src="/img/vmodal-titulo_fauna.svg" alt="">
                <h5 class="m-0 oc-est-modal__head__left__title ml-2">Fauna</h5>
            </div>
            <div class="oc-est-modal__head__right">
                <span class="oc-est-modal__head__right__close-button">
                    <svg id="Grupo_14361" data-name="Grupo 14361" xmlns="http://www.w3.org/2000/svg" width="38"
                        height="38" viewBox="0 0 38 38">
                        <circle id="Elipse_2182" data-name="Elipse 2182" cx="19" cy="19" r="19" fill="#24a31a" />
                        <g id="Grupo_13025" data-name="Grupo 13025" transform="translate(9 9)">
                            <path id="Trazado_6883" data-name="Trazado 6883" d="M-5993.2,5784.853l20,20"
                                transform="translate(5993.204 -5784.853)" fill="none" stroke="#fff" stroke-width="2" />
                            <path id="Trazado_6884" data-name="Trazado 6884" d="M0,0,20,20"
                                transform="translate(20) rotate(90)" fill="none" stroke="#fff" stroke-width="2" />
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        <div class="oc-est-modal__body p-4 px-5 oc-scrollbar">
            <div class="oc-est-modal__body__slider oc-slick-theme p-0 mb-2">
                <div class="item">
                    <img src="/img/fauna-sucre.png" alt="" class="img-fluid">
                </div>
                <div class="item">
                    <img src="/img/fauna_2_sucre.png" alt="" class="img-fluid">
                </div>
            </div>

            <div class="oc-est-modal__body__desc text-left">
                <p>
                    La cantidad de ciénagas y manglares que hay en Sucre forman los ecosistemas perfectos para que
                    múltiples especies utilicen esos lugares para aparearse o alimentarse. El resultado es una explosión
                    de reptiles, aves, peces, mamíferos y crustáceos.
                </p>
                <p>
                    La ciénaga La Camainera, por ejemplo, es el hogar del manatí antillano, un mamífero acuático en
                    peligro de extinción. En el departamento también encontramos el caracol gigante, el sábalo real o el
                    cangrejo azul de tierra. Este último vive en lugares como la Reserva Natural Sanguaré.
                </p>
                <p>
                    Las lagunas naturales y las zonas inundables del departamento son el hábitat perfecto para especies
                    características de la región Caribe, como el caimán aguja, las babillas y las poblaciones de
                    chigüiros.
                </p>
            </div>
        </div>
    </div>
</div>