{{!-- Ancla --}}
<div id="top"></div>
{{>partials/header classPage="oc-nosotros" title="Ayuda"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>partials/menu-lateral}}
</div>

{{>partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="oc-ayuda">
    <section class="oc-razon oc-panels__item" id="nuestra-razon-de-ser">
        <div class="oc-razon__subheader" id="subheader-ayuda">
            {{>partials/header-nosotros title="Ayuda" img="/img/imag-ayuda.jpg"}}
        </div>
    </section>

    <section class="py-5" id="ayuda-text-intro">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <p class="text-center roboto-light">
                        <span class="roboto-bold">El equipo RED está aquí para ti</span>. Ayudarte a tener una mejor experiencia es parte de nosotros y por eso
                        estamos listos a responder cualquier inquietud que tengas con RED. <span class="roboto-bold">No dudes en contactarnos para contarnos
                        tus problemas, tus quejas o sugerencias</span>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 text-center" id="ayuda-links-contact">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="oc-ayuda-item__contact">
                        <img src="/img/icon-correo.svg" alt="" class="oc-ayuda-item__contact-img">
                        <h5 class="oc-ayuda-item__contact-title">Mail</h5>
                        <p class="oc-ayuda-item__contact-info">
                            <a href="mailto:red@ocensa.com.co" class="oc-ayuda-item__contact-link" target="_blank">red@ocensa.com.co</a>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="oc-ayuda-item__contact">
                        <img src="/img/icon-ws.svg" alt="" class="oc-ayuda-item__contact-img">
                        <h5 class="oc-ayuda-item__contact-title">WhatsApp</h5>
                        <p class="oc-ayuda-item__contact-info">
                            <a href="https://wa.link/6zx9wp" class="oc-ayuda-item__contact-link" target="_blank">318 7591293</a>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="oc-ayuda-item__contact">
                        <img src="/img/icon-correo.svg" alt="" class="oc-ayuda-item__contact-img">
                        <h5 class="oc-ayuda-item__contact-title">PUC: <a href="mailto:puc@ocensa.com.co" class="oc-ayuda-item__contact-link" target="_blank">puc@ocensa.com.co</a></h5>
                        <p class="oc-ayuda-item__contact-info">
                            Tels: 3250293 ext: 767 / 3250295
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{{>partials/back-to-top}}

{{>partials/footer}}