{{!-- Ancla --}}
<div id="top"></div>
{{>partials/header classPage="oc-nosotros"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>partials/menu-lateral}}
</div>

{{>partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="oc-ayuda">
    <section class="oc-razon oc-panels__item" id="nuestra-razon-de-ser">
        <div class="oc-razon__subheader" id="subheader-ayuda">
            {{>partials/header-nosotros title="Ayuda" img="/img/imag-ayuda.jpg"}}
        </div>
    </section>
</main>


{{>partials/back-to-top}}

{{>partials/footer}}