{{!-- Ancla --}}
<div id="top"></div>
{{>partials/header title="Boletín RED" classPage="oc-boletin-red"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>partials/menu-lateral}}
</div>

{{>partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="boletin-red">
    {{!-- Modal video --}}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <iframe src="https://player.vimeo.com/video/76979871?embedparameter=value" width="640" height="360" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="oc-img-header__sistema">
        {{>partials/perfil-recorrido-casanare}}
    </div>
    <div class="oc-img-header">
        <div class="oc-img-header__cont-button text-center">
            <button class="oc-img-header__button-sistema oc-bg-green">
                <span class="oc-img-header__button-sistema__text">Ver Sistema Ocensa</span>
                <span class="oc-img-header__button-sistema__arrow">
                    <img src="/img/sistema-arrow-down.svg" alt="">
                </span>
            </button>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-between align-items-center mb-3 mb-lg-0">
            <div class="col-6">
                <a href="hemeroteca.html" class="oc-btn oc-btn-back ml-0">
                    <span class="flecha-ocensa flecha-izquierda flecha-verde mr-2"></span>
                    Ir a la Hemeroteca
                </a>
            </div>
            <div class="col-6 text-right">
                <span class="boletin-date roboto-medium">
                    25 junio al 1 julio  2021
                </span>
            </div>
        </div>
        
        {{!-- Portada --}}
        <div class="oc-portada-boletin mb-4">
            {{>partials/oc-card-boletin-notice 
                image_url="/img/portada-boletin-1.jpg" 
                etiqueta="Etiqueta tema" 
                titulo="Lorem ipsum dolor sit amet"
                contenido= "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi."
                texto_boton="Leer más"
                link_boton="#"
                color="green"
                image_url_responsive="/img/portada-boletin-mobile.jpg"
            }}
        </div>

        <section>
            {{>partials/element-title-boletin 
                color="turqueise" 
                title="Otra sección" 
                icon="/img/icon-otra-seccion.svg"
            }}
            <div class="row">
            <div class="col-12 col-lg-6">
                {{>partials/oc-card-boletin-notice 
                    image_url="/img/desktop_otra_seccion_1.jpg" 
                    etiqueta="Etiqueta tema" 
                    titulo="Lorem ipsum dolor sit amet"
                    contenido= "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi."
                    texto_boton="Leer más"
                    link_boton="#"
                    color="turqueise"
                    image_url_responsive="/img/mobile_otra_seccion_1.jpg"
                }}
            </div>
            <div class="col-12 col-lg-6">
                {{>partials/oc-card-boletin-notice 
                    image_url="/img/desktop_otra_seccion_1.jpg" 
                    etiqueta="Etiqueta tema" 
                    titulo="Lorem ipsum dolor sit amet"
                    contenido= "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi."
                    texto_boton="Leer más"
                    link_boton="#"
                    color="turqueise"
                    image_url_responsive="/img/mobile_otra_seccion_1.jpg"
                }}
            </div>
            <div class="col-12 col-lg-4">
                {{>partials/oc-card-boletin-notice 
                    image_url="/img/desktop_otra_seccion_1.jpg" 
                    etiqueta="Etiqueta tema" 
                    titulo="Lorem ipsum dolor sit amet"
                    contenido= "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi."
                    texto_boton="Leer más"
                    link_boton="#"
                    color="turqueise"
                    image_url_responsive="/img/mobile_otra_seccion_1.jpg"
                }}
            </div>
            <div class="col-12 col-lg-4">
                {{>partials/oc-card-boletin-notice 
                    image_url="/img/desktop_otra_seccion_1.jpg" 
                    etiqueta="Etiqueta tema" 
                    titulo="Lorem ipsum dolor sit amet"
                    contenido= "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi."
                    texto_boton="Leer más"
                    link_boton="#"
                    color="turqueise"
                    image_url_responsive="/img/mobile_otra_seccion_1.jpg"
                }}
            </div>
            <div class="col-12 col-lg-4">
                {{>partials/oc-card-boletin-notice 
                    image_url="/img/desktop_otra_seccion_1.jpg" 
                    etiqueta="Etiqueta tema" 
                    titulo="Lorem ipsum dolor sit amet"
                    contenido= "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi."
                    texto_boton="Leer más"
                    link_boton="#"
                    color="turqueise"
                    image_url_responsive="/img/mobile_otra_seccion_1.jpg"
                }}
            </div>
        </div>
        </section>

        {{!-- Gif o imagen --}}
        <section class="py-3 mb-4">
            <img src="https://via.placeholder.com/1200x283" alt="" class="img-fluid m-auto d-none d-lg-block">
            <img src="https://via.placeholder.com/380x227" alt="" class="img-fluid m-auto d-lg-none">
        </section>

        {{!-- Operaciones --}}
        <section>
            {{>partials/element-title-boletin 
                color="blue" 
                title="Operaciones" 
                icon="/img/icon-operaciones.svg"
            }}

            {{>partials/element-operation-boletin
            }}

            {{>partials/element-operation-boletin
                order="flex-row-reverse"
            }}
        </section>

        {{!-- Gif o imagen --}}
        <section class="py-3 mb-4">
            <img src="https://via.placeholder.com/1200x283" alt="" class="img-fluid m-auto d-none d-lg-block">
            <img src="https://via.placeholder.com/380x227" alt="" class="img-fluid m-auto d-lg-none">
        </section>

        {{!-- Opinión --}}
        <section>
            {{>partials/element-title-boletin 
                color="blue-light" 
                title="Opinión" 
                icon="/img/icon-opinion.svg"
            }}

            <div class="oc-portada-opinion mb-4">
                {{>partials/oc-card-boletin-notice 
                    image_url="/img/desktop_opinion_1.jpg" 
                    etiqueta="Etiqueta tema" 
                    titulo="Lorem ipsum dolor sit amet"
                    contenido= "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi."
                    texto_boton="Leer más"
                    link_boton="#"
                    color="blue-light"
                    image_url_responsive="/img/mobile_opinion_1.jpg"
                }}
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    {{>partials/boletin-card-author
                        image="/img/desktop_opinion_2.jpg"
                        responsive="true"
                        image_mobile="/img/mobile_opinion_2.jpg"
                    }}
                </div>
                <div class="col-12 col-lg-6">
                    {{>partials/boletin-card-author
                        image="/img/desktop_opinion_2.jpg"
                        responsive="true"
                        image_mobile="/img/mobile_opinion_2.jpg"
                    }}
                </div>
            </div>
        </section>

        <section class="mt-5">
            {{>partials/element-title-boletin 
                color="yellow" 
                title="Video" 
                icon="/img/icon-section-video.svg"
            }}

            {{>partials/oc-card-boletin-notice 
                image_url="/img/desktop_video_1.jpg" 
                etiqueta="Etiqueta tema" 
                titulo="Lorem ipsum dolor sit amet"
                contenido= "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi."
                texto_boton="Leer más"
                link_boton="#"
                color="yellow"
                video="true"
                image_url_responsive="/img/mobile_video_1.jpg"
            }}

            <div class="row">
                <div class="col-12 col-lg-6">
                    {{>partials/boletin-card-author 
                        video="true"
                        image="/img/desktop_opinion_2.jpg"
                        responsive="true"
                        image_mobile="/img/mobile_video_opinion_2.jpg"
                    }}
                </div>
                <div class="col-12 col-lg-6">
                    {{>partials/boletin-card-author 
                        video="true"
                        image="/img/desktop_opinion_2.jpg"
                        responsive="true"
                        image_mobile="/img/mobile_video_opinion_2.jpg"
                    }}
                </div>
            </div>

        </section>
    </div>
</main>


{{>partials/back-to-top}}

{{>partials/footer}}