{{!-- Ancla --}}
<div id="top"></div>
{{>partials/header classPage="oc-ayuda" title="Hemeroteca"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>partials/menu-lateral}}
</div>

{{>partials/menu-principal}}

<main class="oc-content py-0 py-md-5" id="oc-hemeroteca">
    <section class="oc-razon oc-panels__item" id="nuestra-razon-de-ser">
        <div class="oc-razon__subheader" id="subheader-ayuda">
            {{>partials/header-hemeroteca title="Hemeroteca" img="/img/fondo-header-h.jpg" icon="/img/icon_hemeroteca.svg"}}
        </div>
    </section>
    <section class="text-hemero-left">
        <div class="row">
            <div class="col-12 col-md-7">
                <a href="#" class="button-boletin"> Boletin 01 →</a>
                <h2 class="title-boletin">Lorem ipsum dolor sit amet, consetetur<br> sadipscing elitr, sed diam nonumy</h2>
                <p class="text-boletin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod<br> tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero<br> eos et accusam et justo duo dolores et ea rebum. Stet clita kasd consetetur.</p>
                <a href="#" class="view-boletin">Leer más<span class="arrow-html"> →</span></a>
                <p class="title-contenidos">Contenidos</p>
                <ul class="oc-est-modal__body__desc__list" style="font-family: 'helvetica-light', sans-serif !important;">
                        <li><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing</a></li>
                        <li><a href="#">Consetetur sadipscing elitr, sed diam nonumy</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet, consetetur</a></li>
                        <li><a href="#">Consetetur sadipscing elitr, sed diam nonumy</a></li>
                        <li><a href="#">Consetetur sadipscing elitr, sed diam</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing</a></li>
                        <li><a href="#">Consetetur sadipscing elitr, sed diam nonumy</a></li>
                    </ul>
            </div>
            <div class="col-12 col-md-5">
            </div>
        </div>
    </section>
</main>


{{>partials/back-to-top}}

{{>partials/footer}}