{{>partials/header}}

{{>partials/menu-lateral}}

{{>partials/menu-principal}}
<main class="oc-content">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="oc-slick-theme oc-slick-dashboard">
                    <div class="item p-1 oc-bg-yellow">
                        <div class="row oc-slick-dashboard__cont">
                            <div class="col-12 col-md-7 ">
                                <img src="img/foto-prueba-slide.jpg" alt="" class="img-fluid oc-slick-dashboard__img">
                            </div>
                            <div class="col-12 col-md-5 mt-4 mb-4 pr-5">
                                <h3 class="oc-slick-dashboard__title">Equilibra 2</h3>
                                <p class="oc-slick-dashboard__desc">Sigue apoyando el trabajo en casa, frente a tu salud
                                    emocional, física y mental.
                                    Queremos escuchar tus necesidades. Participa antes del 25 de marzo, respondiendo la
                                    siguiente encuesta. </p>
                                <div class="d-flex">
                                    <div>
                                        <img src="img/icon-slide-calendario.svg" alt=""
                                            class="oc-slick-dashboard__img-calendar">
                                    </div>
                                    <div>
                                        <span class="oc-slick-dashboard__title-date d-block">Fecha límite:</span>
                                        <span class="oc-slick-dashboard__date d-block">25 de marzo 2021</span>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary mt-3">+ Info</a>
                            </div>
                        </div>
                    </div>

                    <div class="item  oc-bg-yellow">
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <img src="img/foto-prueba-slide.jpg" alt="" class="img-fluid oc-slick-dashboard__img">
                            </div>
                            <div class="col-12 col-md-5 mt-4 mb-4 pr-5">
                                <h3 class="oc-slick-dashboard__title">Equilibra 2</h3>
                                <p class="oc-slick-dashboard__desc">Sigue apoyando el trabajo en casa, frente a tu salud
                                    emocional, física y mental.
                                    Queremos escuchar tus necesidades. Participa antes del 25 de marzo, respondiendo la
                                    siguiente encuesta. </p>
                                <div class="d-flex">
                                    <div>
                                        <img src="img/icon-slide-calendario.svg" alt=""
                                            class="oc-slick-dashboard__img-calendar">
                                    </div>
                                    <div>
                                        <span class="oc-slick-dashboard__title-date d-block">Fecha límite:</span>
                                        <span class="oc-slick-dashboard__date d-block">25 de marzo 2021</span>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary mt-3">+ Info</a>
                            </div>
                        </div>
                    </div>

                    <div class="item  oc-bg-yellow">
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <img src="img/foto-prueba-slide.jpg" alt="" class="img-fluid oc-slick-dashboard__img">
                            </div>
                            <div class="col-12 col-md-5 mt-4 mb-4 pr-5">
                                <h3 class="oc-slick-dashboard__title">Equilibra 2</h3>
                                <p class="oc-slick-dashboard__desc">Sigue apoyando el trabajo en casa, frente a tu salud
                                    emocional, física y mental.
                                    Queremos escuchar tus necesidades. Participa antes del 25 de marzo, respondiendo la
                                    siguiente encuesta. </p>
                                <div class="d-flex">
                                    <div>
                                        <img src="img/icon-slide-calendario.svg" alt=""
                                            class="oc-slick-dashboard__img-calendar">
                                    </div>
                                    <div>
                                        <span class="oc-slick-dashboard__title-date d-block">Fecha límite:</span>
                                        <span class="oc-slick-dashboard__date d-block">25 de marzo 2021</span>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary mt-3">+ Info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="oc-card-profile p-4">
                    <div class="d-flex align-items-center">
                        <h3 class="oc-card-profile__name"> Hola Mario Bienvenido</h3>
                        <div class="oc-card-profile__photo">
                            <img src="img/foto-prueba-perfil.jpg" alt="" class="oc-card-profile__photo__img">
                        </div> 
                    </div>
                    <div>
                        <span class="oc-title-perfil">Mi Perfil completado al:</span>
                        <div class="oc-progress-bar__container position-relative">
                            <div class="oc-progress-bar mt-3"></div>
                            <div class="oc-progress" data-progress="80">
                                <span class="oc-progress__text"></span>
                            </div>
                        </div>
                        <a href="#" class="btn btn-secondary mt-3">Editar</a>
                    </div>
                    <div class="oc-profile-date oc-bg-gray mt-4 text-center p-4">
                        <span class="">Jueves 3 de Febrero</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{>partials/footer}}