{{>partials/header}}

{{>partials/menu-lateral}}

{{>partials/menu-principal}}
<main class="oc-content">
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni maiores recusandae quis repudiandae quasi nam laborum, libero aliquid. Dolores, harum? Aut eos labore totam eveniet ullam. Pariatur nihil cupiditate quod.</p>
    </div>
</main>

{{>partials/footer}}