{{!-- Ancla --}}
<div id="top"></div>
{{>partials/header}}

{{>partials/menu-lateral}}

{{>partials/menu-principal}}

<main class="oc-content py-4 py-md-5">
    {{>partials/header-nosotros title="Nuestra razón de ser" img="https://picsum.photos/1000/500"}}
    
    {{>partials/nosotros-cultura}}
    
</main>


{{>partials/back-to-top}}

{{>partials/footer}}