{{!-- Ancla --}}
<div id="top"></div>
{{>partials/header classPage="oc-nosotros"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>partials/menu-lateral}}
</div>

{{>partials/menu-principal}}

<main class="oc-content py-4 py-md-5" id="oc-nosotros">
    {{!-- Razón de ser --}}
    {{>partials/nosotros-razon}}

    {{!-- Historia --}}
    {{>partials/nosotros-historia}}
    
    {{!-- Cultura --}}
    {{>partials/nosotros-cultura}}
</main>


{{>partials/back-to-top}}

{{>partials/footer}}