{{!-- Ancla --}}
<div id="top"></div>
{{>partials/header classPage="oc-nosotros"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>partials/menu-lateral}}
</div>

{{>partials/menu-principal}}

<<<<<<< HEAD
<main class="oc-content py-4 py-md-5" id="oc-nosotros">
    {{>partials/nosotros-razon}}
    {{>partials/nosotros-historia}}
    {{>partials/nosotros-cultura}}
=======
<main class="oc-content py-4 py-md-5">
    {{>partials/nosotros-razon}}
>>>>>>> 60574093ab6f25e246bde2284e3a1618fd820c13
</main>


{{>partials/back-to-top}}

{{>partials/footer}}