{{!-- Ancla --}}
<div id="top"></div>

{{>partials/header}}

{{>partials/menu-lateral}}

{{>partials/menu-principal}}

<main class="oc-content py-4 pb-md-5" id="content-notices">
    <section class="oc-seccion-noticias d-flex flex-column justify-content-center"
        style="background-image: url('./img/imag-noticias.jpg')">
        <div class="container">
            <div class="oc-seccion-noticias__subheader">
                <img src="img/widget-7-noticias.svg" alt="">
                <h2>Noticias</h2>
            </div>
        </div>
    </section>
    <section class="oc-seccion-noticias-etiquetas mt-4">
        <div class="container">
            <button><span class="name-etiqueta mr-3">OPERACIONES</span><span class="number-etiqueta">10</span></button>
            <button><span class="name-etiqueta mr-3">ASUNTOS</span><span class="number-etiqueta">45</span></button>
            <button><span class="name-etiqueta mr-3">ORGANIZACIÓN Y TALENTO</span><span
                    class="number-etiqueta">67</span></button>
            <button><span class="name-etiqueta mr-3">RESPONSABILIDAD INTEGRAL</span><span
                    class="number-etiqueta">67</span></button>
            <button><span class="name-etiqueta mr-3">FINANZAS</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">SERVICIOS CORPORATIVOS</span><span
                    class="number-etiqueta">67</span></button>
            <button><span class="name-etiqueta mr-3">GERENCIAS SENIOR</span><span
                    class="number-etiqueta">54</span></button>
            <button><span class="name-etiqueta mr-3">CASANARE</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">BOYACÁ</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">SANTADER</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">ANTIOQUIA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">CORDOBA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">SUCRE</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">COVEÑAS</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">LA GRANJITA</span><span class="number-etiqueta">54</span></button>
            <button><span class="name-etiqueta mr-3">CAUCASIA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">CHIQUILLO</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">VASCONIA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">LA BELLEZA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">TUNJA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">MIRAFLORES</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">PAEZ</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">EL PORVENIR</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">CUPIAGUA</span><span class="number-etiqueta">234</span></button>
        </div>
    </section>
    {{>partials/item-notice title="En la dirección de Operaciones autem vel eum iriure dolor in hendrerit in vulputate
    velit esse molestie" img-notice="img/imag3.jpg" desc-notice="Lorem ipsum dolor sit amet, consectetuer adipiscing
    elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim."
    date-notice="10/03/2021" category="OPERACIONES"}}
    {{>partials/item-notice title="En la dirección de Operaciones autem vel eum iriure dolor in hendrerit in vulputate
    velit esse molestie" img-notice="img/imag2.jpg" desc-notice="Lorem ipsum dolor sit amet, consectetuer adipiscing
    elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim."
    date-notice="10/03/2021" category="OPERACIONES"}}
    {{>partials/item-notice title="En la dirección de Operaciones autem vel eum iriure dolor in hendrerit in vulputate
    velit esse molestie" img-notice="img/imag1.jpg" desc-notice="Lorem ipsum dolor sit amet, consectetuer adipiscing
    elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim."
    date-notice="10/03/2021" category="OPERACIONES"}}
    {{>partials/item-notice title="En la dirección de Operaciones autem vel eum iriure dolor in hendrerit in vulputate
    velit esse molestie" img-notice="img/imag4.jpg" desc-notice="Lorem ipsum dolor sit amet, consectetuer adipiscing
    elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim."
    date-notice="10/03/2021" category="OPERACIONES"}}
    {{>partials/item-notice title="En la dirección de Operaciones autem vel eum iriure dolor in hendrerit in vulputate
    velit esse molestie" img-notice="img/imag3.jpg" desc-notice="Lorem ipsum dolor sit amet, consectetuer adipiscing
    elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim."
    date-notice="10/03/2021" category="OPERACIONES"}}
    {{>partials/item-notice title="En la dirección de Operaciones autem vel eum iriure dolor in hendrerit in vulputate
    velit esse molestie" img-notice="img/imag2.jpg" desc-notice="Lorem ipsum dolor sit amet, consectetuer adipiscing
    elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim."
    date-notice="10/03/2021" category="OPERACIONES"}}
    {{>partials/item-notice title="En la dirección de Operaciones autem vel eum iriure dolor in hendrerit in vulputate
    velit esse molestie" img-notice="img/imag1.jpg" desc-notice="Lorem ipsum dolor sit amet, consectetuer adipiscing
    elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim."
    date-notice="10/03/2021" category="OPERACIONES"}}
    {{>partials/item-notice title="En la dirección de Operaciones autem vel eum iriure dolor in hendrerit in vulputate
    velit esse molestie" img-notice="img/imag4.jpg" desc-notice="Lorem ipsum dolor sit amet, consectetuer adipiscing
    elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim."
    date-notice="10/03/2021" category="OPERACIONES"}}

    <nav aria-label="Page navigation example" class="mt-5">
        <ul class="pagination justify-content-center align-items-center">
            <li class="page-item disabled">
                <a class="page-link d-flex align-items-center justify-content-center" href="#" tabindex="-1"><span class="html-arrow">← </span><span class="next-notice d-none d-md-block">Noticias recientes</span></a>
            </li>
            <li class="page-item"><a class="page-link number-page active" href="#">1</a></li>
            <li class="page-item"><a class="page-link number-page" href="#">2</a></li>
            <li class="page-item"><a class="page-link number-page" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link d-flex align-items-center justify-content-center" href="#"><span class="prev-notice d-none d-md-block">Noticias anteriores</span><span class="html-arrow"> →</span></a>
            </li>
        </ul>
    </nav>



</main>

{{>partials/back-to-top}}

{{>partials/footer}}