{{>partials/header}}

{{>partials/menu-lateral}}

{{>partials/menu-principal}}

<main class="oc-content py-4 py-md-5">
    <section class="oc-seccion-noticias d-flex flex-column justify-content-center" style="background-image: url('./img/imag-noticias.jpg')">
    <div class="container">
        <div class="oc-seccion-noticias__subheader">
            <img src="img/widget-7-noticias.svg" alt="">
            <h2>Noticias</h2>
        </div>
    </div>
    </section>
    <section class="oc-seccion-noticias-etiquetas mt-4">
        <div class="container">
            <button><span class="name-etiqueta mr-3">OPERACIONES</span><span class="number-etiqueta">10</span></button>
            <button><span class="name-etiqueta mr-3">ASUNTOS</span><span class="number-etiqueta">45</span></button>
            <button><span class="name-etiqueta mr-3">ORGANIZACIÓN Y TALENTO</span><span class="number-etiqueta">67</span></button>
            <button><span class="name-etiqueta mr-3">RESPONSABILIDAD INTEGRAL</span><span class="number-etiqueta">67</span></button>
            <button><span class="name-etiqueta mr-3">FINANZAS</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">SERVICIOS CORPORATIVOS</span><span class="number-etiqueta">67</span></button>
            <button><span class="name-etiqueta mr-3">GERENCIAS SENIOR</span><span class="number-etiqueta">54</span></button>
            <button><span class="name-etiqueta mr-3">CASANARE</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">BOYACÁ</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">SANTADER</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">ANTIOQUIA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">CORDOBA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">SUCRE</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">COVEÑAS</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">LA GRANJITA</span><span class="number-etiqueta">54</span></button>
            <button><span class="name-etiqueta mr-3">CAUCASIA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">CHIQUILLO</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">VASCONIA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">LA BELLEZA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">TUNJA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">MIRAFLORES</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">PAEZ</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">EL PORVENIR</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">CUPIAGUA</span><span class="number-etiqueta">234</span></button>
        </div>
    </section>
    {{>partials/item-notice}}
</main>

{{>partials/footer}}