{{>partials/header}}

{{>partials/menu-lateral}}

{{>partials/menu-principal}}

<section class="oc-seccion-noticias d-flex flex-column justify-content-center" style="background-image: url('./img/imag-noticias.jpg')">
    <div class="container">
        <div class="oc-seccion-noticias__subheader">
            <img src="img/widget-7-noticias.svg" alt="">
            <h2>Noticias</h2>
        </div>
    </div>
</section>