<div id="top"></div>
{{>partials/header classPage="oc-perfil-ocensa oc-page-perfil"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>partials/menu-lateral}}
</div>

{{>partials/menu-principal}}

<main class="oc-content py-4 py-md-5">

    {{>./partials/perfil-recorrido-casanare}}

    <section class="oc-section-perfil-01">
        <div class="oc-perfil-date container">
            <form class="row" id="form-perfil-ocensa">

                <div class="col-12 col-md-4 oc-perfil-date__img">
                    <img src="/img/img_perfil_usuario_ignacio.jpg" alt="">
                </div>

                <div class="col-12 col-md-4 oc-perfil-date__info">
                    <h2 class="oc-perfil-date__name">Hola Ignacio</h2>
                    <p class="oc-perfil-date__text-progress">Mi Perfil completado al:</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                    <div class="oc-perfil-date__inputs">

                        <div class="oc-perfil-date__inputs-item">
                            <label for="perfil-nombre" class="oc-name m-0">Nombre:</label>
                            <img src="/img/icon-pencil-profile.svg" alt="">
                            <input id="perfil-nombre" type="text" class="oc-input-text" value="Ignacio Gómez Cárdenas">
                        </div>

                        <div class="oc-perfil-date__inputs-item">
                            <label for="perfil-cargo" class="oc-name m-0">Cargo:</label>
                            <img src="/img/icon-pencil-profile.svg" alt="">
                            <input id="perfil-cargo" type="text" class="oc-input-text" value="Director Recursos Humanos">
                        </div>

                        <div class="oc-perfil-date__inputs-item">
                            <label for="perfil-estado" class="oc-name m-0">Estado:</label>
                            <img src="/img/arrow-select-profile.svg" alt="">
                            <div class="oc-custom-select">
                                <div class="oc-custom-select__default">
                                    <span class="circle green"></span> 
                                    <span class="text-option">En línea</span>
                                </div>
                                <ul class="oc-custom-select__options shadow pl-0">
                                    <li class="oc-custom-select__options__opt">
                                        <span class="circle green"></span> 
                                        <span class="text-option">En línea</span>
                                    </li>

                                    <li class="oc-custom-select__options__opt">
                                        <span class="circle yellow"></span> 
                                        <span class="text-option">Licencia</span>
                                    </li>

                                    <li class="oc-custom-select__options__opt">
                                        <span class="circle red"></span> 
                                        <span class="text-option">Incapacidad</span>
                                    </li>

                                    <li class="oc-custom-select__options__opt">
                                        <span class="circle gray"></span> 
                                        <span class="text-option">Vacaciones</span>
                                    </li>
                                </ul>
                            </div>
                            <select name="" id="perfil-estado" class="oc-select">
                                
                            </select>
                        </div>

                        <div class="oc-perfil-date__inputs-item">
                            <label for="perfil-sede" class="oc-name m-0">Sede:</label>
                            <img src="/img/icon-pencil-profile.svg" alt="">
                            <input type="text" id="perfil-sede" class="oc-input-text" value="Bogotá">
                        </div>

                        <div class="oc-perfil-date__inputs-item">
                            <span for="perfil-email" class="oc-name m-0">Email:</span>
                            <img src="/img/icon-pencil-profile.svg" alt="">
                            <input id="perfil-email" type="text" class="oc-input-text" value="ignacio@ocensa.com.co">
                        </div>

                        <div class="oc-perfil-date__inputs-item">
                            <label for="perfil-telefono" class="oc-name m-0">Teléfono:</label>
                            <img src="/img/icon-pencil-profile.svg" alt="">
                            <input id="perfil-telefono" type="text" class="oc-input-text" value="300 000 0000">
                        </div>

                        <div class="oc-perfil-date__inputs-item">
                            <label for="perfil-cumpleanos" class="oc-name m-0">Cumpleaños:</label>
                            <img src="/img/icon-pencil-profile.svg" alt="">
                            <input id="perfil-cumpleanos" type="text" class="oc-input-text" value="17 de Abril">
                        </div>

                    </div>
                </div>

                <div class="col-12 col-md-4 oc-perfil-date__desc">
                    <label for="sobre-mi" class="oc-sobre-mi">Sobre mí</label>
                    <textarea name="" id="sobre-mi" cols="30" rows="10"
                        value="">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</textarea>
                    <div class="oc-perfil-date__button">
                        <a href="" class="oc-perfil-date__button-01">Editar</a>
                        <a href="" class="oc-perfil-date__button-02">Guardar</a>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="oc-section-perfiles-02">
        <div class="container">
            <div class="row mt-4" id="sec-perfiles-2">
                <div class="col-12 col-md-4">
                    {{>partials/widget-calendario}}
                </div>
                <div class="col-12 col-md-4">
                    <div class="oc-card-widget oc-widget-template wdg-documentos" id="sec-perfiles-2">
                        <div class="oc-widget-template__top-bar oc-bg-green p-1">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon-perfiles.svg" alt="">
                                <span>Documentos recientes</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div
                            class="oc-widget-template__body p-3 py-2 pr-5 text-center wdg-documentos__car oc-vertical-slider">
                            <div class="slick-item">
                                <div class="item-pro-1 text-center pb-2 pt-2">
                                    <div class="p-0 item-01 d-flex align-items-center justify-content-between">
                                        <img src="/img/doc-1.png" alt="" class="img-fluid mr-5 item-01__img-doc">
                                        <div class="mr-5 item-01__info text-left">
                                            <span class="d-block item-01__info__name">Informe de gestión
                                                financiera</span>
                                            <span class="d-block item-01__info__type c-green">Word</span>
                                        </div>
                                        <a href=""><img src="/img/icon-flecha-bg-verde.svg" alt=""
                                                class="img-flecha-green"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-item">
                                <div class="item-pro-1 text-center pb-2 pt-2">
                                    <div class="p-0 item-01 d-flex align-items-center justify-content-between">
                                        <img src="/img/doc-2.png" alt="" class="img-fluid mr-5 item-01__img-doc">
                                        <div class="mr-5 item-01__info text-left">
                                            <span class="d-block item-01__info__name">Informe de gestión
                                                financiera</span>
                                            <span class="d-block item-01__info__type c-green">Excel</span>
                                        </div>
                                        <a href=""><img src="/img/icon-flecha-bg-verde.svg" alt=""
                                                class="img-flecha-green"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-item">
                                <div class="item-pro-1 text-center pb-2 pt-2">
                                    <div class="p-0 item-01 d-flex align-items-center justify-content-between">
                                        <img src="/img/doc-1.png" alt="" class="img-fluid mr-5 item-01__img-doc">
                                        <div class="mr-5 item-01__info text-left">
                                            <span class="d-block item-01__info__name">Informe de gestión
                                                financiera</span>
                                            <span class="d-block item-01__info__type c-green">PowerPoint</span>
                                        </div>
                                        <a href=""><img src="/img/icon-flecha-bg-verde.svg" alt=""
                                                class="img-flecha-green"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-item">
                                <div class="item-pro-1 text-center pb-2 pt-2">
                                    <div class="p-0 item-01 d-flex align-items-center justify-content-between">
                                        <img src="/img/doc-2.png" alt="" class="img-fluid mr-5 item-01__img-doc">
                                        <div class="mr-5 item-01__info text-left">
                                            <span class="d-block item-01__info__name">Informe de gestión
                                                financiera</span>
                                            <span class="d-block item-01__info__type c-green">Word</span>
                                        </div>
                                        <a href=""><img src="/img/icon-flecha-bg-verde.svg" alt=""
                                                class="img-flecha-green"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="slick-item">
                                <div class="item-pro-1 text-center pb-2 pt-2">
                                    <div class="p-0 item-01 d-flex align-items-center justify-content-between">
                                        <img src="/img/doc-1.png" alt="" class="img-fluid mr-5 item-01__img-doc">
                                        <div class="mr-5 item-01__info text-left">
                                            <span class="d-block item-01__info__name">Informe de gestión
                                                financiera</span>
                                            <span class="d-block item-01__info__type c-green">Word</span>
                                        </div>
                                        <a href=""><img src="/img/icon-flecha-bg-verde.svg" alt=""
                                                class="img-flecha-green"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="oc-card-widget oc-widget-template wdg-grupos" id="wdg-grupos-trabajo">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light p-1">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon-perfiles-2.svg" alt="">
                                <span>Grupos de trabajo</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body mt-2">
                            <div class="wdg-grupos__car oc-vertical-slider">

                                <!--Item-->
                                <div class="wdg-grupos__item">
                                    <h3 class="wdg-grupos__name-proyect">Operaciones e ingeniría Operativa</h3>
                                    <span class="wdg-grupos__state">Teams</span>
                                    <div class="oc-members-carousel__cont">
                                        <div class="wdg-proyectos__members oc-members-carousel">

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                        </div>
                                        <div class="oc-members-carousel__more">
                                            12+
                                        </div>
                                    </div>
                                </div>

                                <!--Item-->
                                <div class="wdg-grupos__item">
                                    <h3 class="wdg-grupos__name-proyect">Operaciones e ingeniría Operativa</h3>
                                    <span class="wdg-grupos__state">Teams</span>
                                    <div class="oc-members-carousel__cont">
                                        <div class="wdg-proyectos__members oc-members-carousel">

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                        </div>
                                        <div class="oc-members-carousel__more">
                                            12+
                                        </div>
                                    </div>
                                </div>

                                <!--Item-->
                                <div class="wdg-grupos__item">
                                    <h3 class="wdg-grupos__name-proyect">Operaciones e ingeniría Operativa</h3>
                                    <span class="wdg-grupos__state">Teams</span>
                                    <div class="oc-members-carousel__cont">
                                        <div class="wdg-proyectos__members oc-members-carousel">

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                        </div>
                                        <div class="oc-members-carousel__more">
                                            12+
                                        </div>
                                    </div>
                                </div>

                                <!--Item-->
                                <div class="wdg-grupos__item">
                                    <h3 class="wdg-grupos__name-proyect">Operaciones e ingeniría Operativa</h3>
                                    <span class="wdg-grupos__state">Teams</span>
                                    <div class="oc-members-carousel__cont">
                                        <div class="wdg-proyectos__members oc-members-carousel">

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                        </div>
                                        <div class="oc-members-carousel__more">
                                            12+
                                        </div>
                                    </div>
                                </div>

                                <!--Item-->
                                <div class="wdg-grupos__item">
                                    <h3 class="wdg-grupos__name-proyect">Operaciones e ingeniría Operativa</h3>
                                    <span class="wdg-grupos__state">Teams</span>
                                    <div class="oc-members-carousel__cont">
                                        <div class="wdg-proyectos__members oc-members-carousel">

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                        </div>
                                        <div class="oc-members-carousel__more">
                                            12+
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="oc-section-perfil-03 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    {{>partials/widget-publicaciones}}
                </div>

                <div class="col-12 col-md-4">
                    {{>partials/widget-proyectos}}
                </div>

                <div class="col-12 col-md-4">
                    {{>partials/widget-network}}
                </div>
            </div>
        </div>
    </section>

    <section class="oc-section-perfiles-04 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    {{>partials/widget-organigrama}}
                </div>
            </div>
        </div>
    </section>

</main>

{{>partials/back-to-top}}

{{>partials/footer}}