<div id="top"></div>
{{>partials/header classPage="oc-perfil-ocensa-02 oc-page-perfil"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>partials/menu-lateral}}
</div>

{{>partials/menu-principal}}

<main class="oc-content py-4 py-md-5">

    {{>./partials/perfil-recorrido-casanare}}

    <div class="oc-perfil-icons-header">

        <div class="oc-perfil-icons-header__item">
            <div class="oc-perfil-icons-header__cont-img">
                <img src="/img/icon-video-llamadas.svg" alt="">
            </div>
            <span>Video llamadas</span>
        </div>

        <div class="oc-perfil-icons-header__item">
            <div class="oc-perfil-icons-header__cont-img">
                <img src="/img/icon-mensajes-perfil.svg" alt="">
            </div>
            <span>Mensajes</span>
        </div>

        <div class="oc-perfil-icons-header__item">
            <div class="oc-perfil-icons-header__cont-img">
                <img src="/img/icon-alarmas-profile.svg" alt="">
            </div>
            <span>Alarmas</span>
        </div>

    </div>
    <section class="oc-section-perfil-01">
        <div class="container oc-perfil-date-02">
            <form class="row">

                <div class="col-12 col-md-4 oc-perfil-date-02__info">
                    <h2 class="oc-perfil-date-02__name">Andrés Mendez Corredor</h2>
                    <p class="oc-perfil-date-02__cargo">Director Recursos Humanos</p>
                    <ul>
                        <li><span><img src="/img/date-02-perfil-01.svg" alt=""></span> Licencia</li>
                        <li><span><img src="/img/date-02-perfil-02.svg" alt=""></span> Estación El Porvenir, Casanare
                        </li>
                        <li><span><img src="/img/date-02-perfil-03.svg" alt=""></span>
                            andresmendezcorredor@ocensa.com.co </li>
                        <li><span><img src="/img/date-02-perfil-04.svg" alt=""></span> 300 000 0000</li>
                        <li><span><img src="/img/icon-perfil-cumpleanos.svg" alt=""></span> 22 de agosto</li>
                    </ul>
                </div>

                <div class="col-12 col-md-4 oc-perfil-date-02__desc">
                    <div class="oc-perfil-date-02__car oc-vertical-slider">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata</p>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata</p>
                    </div>
                </div>

                <div class="col-12 col-md-4 oc-perfil-date-02__img">
                    <img src="/img/img-perfil-andres.jpg" alt="">
                </div>
            </form>
        </div>
    </section>

    <section class="oc-section-perfiles-02">
        <div class="container">
            <div class="row mt-4" id="sec-perfiles-2">
                <div class="col-12 col-md-4">

                    <div class="oc-card-widget oc-widget-template wdg-organigrama" id="wdg-organigrama">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon-organigrama.svg" alt="">
                                <span>Organigrama</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="p-2">
                            <div class="oc-widget-template__body p-2">
                                <div class="d-flex cont-item-orga text-center mb-3">
                                    <img src="/img/circle-gray.svg" alt="" class="cont-item-orga__img mr-3">
                                    <div class="text-left">
                                        <span class="d-block cont-item-orga__name">Hugo García</span>
                                        <span class="d-block cont-item-orga__cargo">Superintendente de línea y
                                            mantenimiento mayor
                                            sur</span>
                                        <span class="d-block cont-item-orga__correo">hugo.garcia@ocensa.com.co </span>
                                    </div>
                                </div>
                                <div class="d-flex cont-item-orga text-center">
                                    <img src="/img/circle-gray.svg" alt="" class="cont-item-orga__img mr-3">
                                    <div class="text-left">
                                        <span class="d-block cont-item-orga__name">Diego Guzmán</span>
                                        <span class="d-block cont-item-orga__cargo">Superintendente Sector 1 </span>
                                        <span class="d-block cont-item-orga__correo">Diego.Guzman@ocensa.com.co</span>
                                    </div>
                                </div>
                                <div class="d-flex cont-item-orga-v2 text-center ml-5 mt-3">
                                    <img src="/img/circle-gray.svg" alt="" class="cont-item-orga__img mr-3">
                                    <div class="text-left">
                                        <span class="d-block cont-item-orga__name">Ignacio Gómez </span>
                                        <span class="d-block cont-item-orga__cargo">Gerente de proyectos e
                                            ingeniería</span>
                                        <span class="d-block cont-item-orga__correo">ignacio.gomez@ocensa.com.co</span>
                                    </div>
                                </div>
                                <div class="text-left oc-org-bg px-3 py-1 mt-3">
                                    <span class="oc-org-bg__text-s">Subordinados de<br> Ignacio Gómez </span>
                                </div>

                                <div class="oc-members-carousel-02__cont">
                                    <div class="wdg-proyectos__members oc-members-carousel-02">

                                        <!--Item-->
                                        <div class="oc-members-carousel-02__item">
                                            <img src="/img/member-elkin-orjuela.png" alt="">
                                            <span>Carlos</span>
                                        </div>

                                        <!--Item-->
                                        <div class="oc-members-carousel-02__item">
                                            <img src="/img/member-ximena.png" alt="">
                                            <span>Ximena</span>
                                        </div>

                                        <!--Item-->
                                        <div class="oc-members-carousel-02__item">
                                            <img src="/img/member-alexander.png" alt="">
                                            <span>Alexander</span>
                                        </div>

                                        <!--Item-->
                                        <div class="oc-members-carousel-02__item">
                                            <img src="/img/member-elkin-orjuela.png" alt="">
                                            <span>Carlos</span>
                                        </div>

                                        <!--Item-->
                                        <div class="oc-members-carousel-02__item">
                                            <img src="/img/member-ximena.png" alt="">
                                            <span>Ximena</span>
                                        </div>

                                        <!--Item-->
                                        <div class="oc-members-carousel-02__item">
                                            <img src="/img/member-alexander.png" alt="">
                                            <span>Alexander</span>
                                        </div>

                                        <!--Item-->
                                        <div class="oc-members-carousel-02__item">
                                            <img src="/img/member-elkin-orjuela.png" alt="">
                                            <span>Carlos</span>
                                        </div>

                                        <!--Item-->
                                        <div class="oc-members-carousel-02__item">
                                            <img src="/img/member-ximena.png" alt="">
                                            <span>Ximena</span>
                                        </div>

                                        <!--Item-->
                                        <div class="oc-members-carousel-02__item">
                                            <img src="/img/member-alexander.png" alt="">
                                            <span>Alexander</span>
                                        </div>

                                    </div>
                                    <div class="oc-members-carousel__more">
                                        12+
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    {{>partials/widget-proyectos}}
                </div>
                <div class="col-12 col-md-4">
                    {{>partials/widget-publicaciones}}
                </div>
            </div>
        </div>
    </section>

    <section class="oc-section-perfil-03 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    {{>partials/widget-network}}
                </div>

                <div class="col-12 col-md-4">
                    <div class="oc-card-widget oc-widget-template wdg-grupos" id="wdg-grupos-trabajo">
                        <div class="oc-widget-template__top-bar oc-bg-blue-light p-1">
                            <div class="oc-widget-template__top-bar__title">
                                <img src="/img/icon-perfiles-2.svg" alt="">
                                <span>Grupos de trabajo</span>
                            </div>
                            <div class="oc-widget-template__top-bar__right d-none">
                                <button class="oc-button-close"><img src="/img/button-close.svg" alt=""></button>
                                <button class="oc-button-menu">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </button>
                            </div>
                        </div>
                        <div class="oc-widget-template__body mt-2">
                            <div class="wdg-grupos__car oc-vertical-slider">

                                <!--Item-->
                                <div class="wdg-grupos__item">
                                    <h3 class="wdg-grupos__name-proyect">Operaciones e ingeniría Operativa</h3>
                                    <span class="wdg-grupos__state">Teams</span>
                                    <div class="oc-members-carousel__cont">
                                        <div class="wdg-proyectos__members oc-members-carousel">

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                        </div>
                                        <div class="oc-members-carousel__more">
                                            12+
                                        </div>
                                    </div>
                                </div>

                                <!--Item-->
                                <div class="wdg-grupos__item">
                                    <h3 class="wdg-grupos__name-proyect">Operaciones e ingeniría Operativa</h3>
                                    <span class="wdg-grupos__state">Teams</span>
                                    <div class="oc-members-carousel__cont">
                                        <div class="wdg-proyectos__members oc-members-carousel">

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                        </div>
                                        <div class="oc-members-carousel__more">
                                            12+
                                        </div>
                                    </div>
                                </div>

                                <!--Item-->
                                <div class="wdg-grupos__item">
                                    <h3 class="wdg-grupos__name-proyect">Operaciones e ingeniría Operativa</h3>
                                    <span class="wdg-grupos__state">Teams</span>
                                    <div class="oc-members-carousel__cont">
                                        <div class="wdg-proyectos__members oc-members-carousel">

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                        </div>
                                        <div class="oc-members-carousel__more">
                                            12+
                                        </div>
                                    </div>
                                </div>

                                <!--Item-->
                                <div class="wdg-grupos__item">
                                    <h3 class="wdg-grupos__name-proyect">Operaciones e ingeniría Operativa</h3>
                                    <span class="wdg-grupos__state">Teams</span>
                                    <div class="oc-members-carousel__cont">
                                        <div class="wdg-proyectos__members oc-members-carousel">

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                        </div>
                                        <div class="oc-members-carousel__more">
                                            12+
                                        </div>
                                    </div>
                                </div>

                                <!--Item-->
                                <div class="wdg-grupos__item">
                                    <h3 class="wdg-grupos__name-proyect">Operaciones e ingeniría Operativa</h3>
                                    <span class="wdg-grupos__state">Teams</span>
                                    <div class="oc-members-carousel__cont">
                                        <div class="wdg-proyectos__members oc-members-carousel">

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-elkin-orjuela.png" alt="">
                                                <span>Carlos</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-ximena.png" alt="">
                                                <span>Ximena</span>
                                            </div>

                                            <!--Item-->
                                            <div class="oc-members-carousel__item">
                                                <img src="/img/member-alexander.png" alt="">
                                                <span>Alexander</span>
                                            </div>

                                        </div>
                                        <div class="oc-members-carousel__more">
                                            12+
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    {{>partials/widget-calendario}}
                </div>
            </div>
        </div>
    </section>

    <section class="oc-section-perfiles-04 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                </div>
            </div>
        </div>
    </section>

</main>

{{>partials/back-to-top}}

{{>partials/footer}}