{{!-- Ancla --}}
<div id="top"></div>
{{>partials/header-search title="Resúltados de búsqueda"}}

{{>partials/menu-lateral}}

{{>partials/menu-principal}}


<main class="oc-content py-4 py-md-5">

    {{!-- 
        PARTIALS BÚSQUEDA
    
        {{>partials/box-widgets-mobile}}

        {{>partials/element-search-all}}

        {{>partials/element-search-profile}}

        {{>partials/element-search-notice}}

        {{>partials/element-search-docs}}

        {{>partials/element-search-img}}

        {{>partials/element-search-video}}
    
     --}}

</main>

{{>partials/back-to-top}}

{{>partials/footer}}