{{!-- Ancla --}}
<div id="top"></div>
{{>partials/header title="Resúltados de búsqueda"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>partials/menu-lateral}}
</div>

{{>partials/menu-principal}}


<main class="oc-content py-4 py-md-5">
    <div id="oc-ancla"></div>
    <div class="oc-panels container">
        <!--Item-->
        <div class="oc-panels__item" id="todo">
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}

            <div class="oc-panels__title-item">
                <div class="oc-icon">
                    <img src="img/panel-profile.svg" alt="">
                </div>
                <div class="oc-title">
                    <h3>Perfiles</h3>
                </div>
            </div>

            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}

            <div class="oc-panels__btn">
                <a href="#perfiles" class="oc-tabs__item oc-panels__btn-02">Ver todo <span><img src="img/btn-panels.svg" alt=""></span></a>
            </div>

            <div class="oc-panels__title-item">
                <div class="oc-icon">
                    <img src="img/panel-noticias.svg" alt="">
                </div>
                <div class="oc-title">
                    <h3>Noticias</h3>
                </div>
            </div>

            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}

            <div class="oc-panels__btn">
                <a href="#noticias" class="oc-tabs__item oc-panels__btn-02">Ver todo <span><img src="img/btn-panels.svg" alt=""></span></a>
            </div>

            <div class="oc-panels__title-item">
                <div class="oc-icon">
                    <img src="img/panel-documentos.svg" alt="">
                </div>
                <div class="oc-title">
                    <h3>Documentos</h3>
                </div>
            </div>

            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}

            <div class="oc-panels__btn">
                <a href="#documentos" class="oc-tabs__item oc-panels__btn-02">Ver todo <span><img src="img/btn-panels.svg" alt=""></span></a>
            </div>

            <div class="oc-panels__title-item">
                <div class="oc-icon">
                    <img src="img/panel-imagenes.svg" alt="">
                </div>
                <div class="oc-title">
                    <h3>Imágenes</h3>
                </div>
            </div>

            {{>partials/element-search-img}}

            <div class="oc-panels__btn">
                <a href="#imagenes" class="oc-tabs__item oc-panels__btn-02">Ver todo <span><img src="img/btn-panels.svg" alt=""></span></a>
            </div>

            <div class="oc-panels__title-item">
                <div class="oc-icon">
                    <img src="img/panel-video.svg" alt="">
                </div>
                <div class="oc-title">
                    <h3>Videos</h3>
                </div>
            </div>

            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}

            <div class="oc-panels__btn">
                <a href="#videos" class="oc-tabs__item oc-panels__btn-02">Ver todo <span><img src="img/btn-panels.svg" alt=""></span></a>
            </div>

            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}

            <nav aria-label="Page navigation example" class="mt-5">
                <ul class="pagination justify-content-center align-items-center">
                    <li class="page-item disabled">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#" tabindex="-1">
                            <span class="html-arrow left-arrow">← </span>
                            <span class="prev-notice d-none d-md-block">Atrás</span>
                        
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link number-page active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">2</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#">
                            <span class="next-notice d-none d-md-block">Adelante</span>
                            <span class="html-arrow right-arrow"> →</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <!--Item-->
        <div class="oc-panels__item" id="perfiles">
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            <nav aria-label="Page navigation example" class="mt-5">
                <ul class="pagination justify-content-center align-items-center">
                    <li class="page-item disabled">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#" tabindex="-1">
                            <span class="html-arrow left-arrow">← </span>
                            <span class="prev-notice d-none d-md-block">Atrás</span>
                        
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link number-page active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">2</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#">
                            <span class="next-notice d-none d-md-block">Adelante</span>
                            <span class="html-arrow right-arrow"> →</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--Item-->
        <div class="oc-panels__item" id="noticias">
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            <nav aria-label="Page navigation example" class="mt-5">
                <ul class="pagination justify-content-center align-items-center">
                    <li class="page-item disabled">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#" tabindex="-1">
                            <span class="html-arrow left-arrow">← </span>
                            <span class="prev-notice d-none d-md-block">Atrás</span>
                        
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link number-page active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">2</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#">
                            <span class="next-notice d-none d-md-block">Adelante</span>
                            <span class="html-arrow right-arrow"> →</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--Item-->
        <div class="oc-panels__item" id="documentos">
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            <nav aria-label="Page navigation example" class="mt-5">
                <ul class="pagination justify-content-center align-items-center">
                    <li class="page-item disabled">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#" tabindex="-1">
                            <span class="html-arrow left-arrow">← </span>
                            <span class="prev-notice d-none d-md-block">Atrás</span>
                        
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link number-page active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">2</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#">
                            <span class="next-notice d-none d-md-block">Adelante</span>
                            <span class="html-arrow right-arrow"> →</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--Item-->
        <div class="oc-panels__item" id="imagenes">
            {{>partials/element-search-img}}
            {{>partials/element-search-img}}
            {{>partials/element-search-img}}
            {{>partials/element-search-img}}
            {{>partials/element-search-img}}
            {{>partials/element-search-img}}
            {{>partials/element-search-img}}
            <nav aria-label="Page navigation example" class="mt-5">
                <ul class="pagination justify-content-center align-items-center">
                    <li class="page-item disabled">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#" tabindex="-1">
                            <span class="html-arrow left-arrow">← </span>
                            <span class="prev-notice d-none d-md-block">Atrás</span>
                        
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link number-page active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">2</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#">
                            <span class="next-notice d-none d-md-block">Adelante</span>
                            <span class="html-arrow right-arrow"> →</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--Item-->
        <div class="oc-panels__item" id="videos">
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            <nav aria-label="Page navigation example" class="mt-5">
                <ul class="pagination justify-content-center align-items-center">
                    <li class="page-item disabled">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#" tabindex="-1">
                            <span class="html-arrow left-arrow">← </span>
                            <span class="prev-notice d-none d-md-block">Atrás</span>
                        
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link number-page active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">2</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#">
                            <span class="next-notice d-none d-md-block">Adelante</span>
                            <span class="html-arrow right-arrow"> →</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--Item-->
        <div class="oc-panels__item" id="tab07">
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            <nav aria-label="Page navigation example" class="mt-5">
                <ul class="pagination justify-content-center align-items-center">
                    <li class="page-item disabled">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#" tabindex="-1">
                            <span class="html-arrow left-arrow">← </span>
                            <span class="prev-notice d-none d-md-block">Atrás</span>
                        
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link number-page active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">2</a></li>
                    <li class="page-item"><a class="page-link number-page" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link d-flex align-items-center justify-content-center" href="#">
                            <span class="next-notice d-none d-md-block">Adelante</span>
                            <span class="html-arrow right-arrow"> →</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</main>

{{>partials/back-to-top}}

{{>partials/footer}}