{{!-- Ancla --}}
<div id="top"></div>
{{>partials/header title="Resúltados de búsqueda"}}

<div class="d-none d-md-block oc-menu-lateral">
    {{>partials/menu-lateral}}
</div>

{{>partials/menu-principal}}


<main class="oc-content py-4 py-md-5">
    <div id="oc-ancla"></div>
    <div class="oc-panels container">
        <!--Item-->
        <div class="oc-panels__item" id="todo">
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}

            <div class="oc-panels__title-item">
                <div class="oc-icon">
                    <img src="img/panel-profile.svg" alt="">
                </div>
                <div class="oc-title">
                    <h3>Perfiles</h3>
                </div>
            </div>

            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}

            <div class="oc-panels__btn">
                <a href="#perfiles" class="oc-tabs__item oc-panels__btn-02">Ver todo <span><img src="img/btn-panels.svg" alt=""></span></a>
            </div>

            <div class="oc-panels__title-item">
                <div class="oc-icon">
                    <img src="img/panel-noticias.svg" alt="">
                </div>
                <div class="oc-title">
                    <h3>Noticias</h3>
                </div>
            </div>

            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}

            <div class="oc-panels__btn">
                <a href="#noticias" class="oc-tabs__item oc-panels__btn-02">Ver todo <span><img src="img/btn-panels.svg" alt=""></span></a>
            </div>

            <div class="oc-panels__title-item">
                <div class="oc-icon">
                    <img src="img/panel-documentos.svg" alt="">
                </div>
                <div class="oc-title">
                    <h3>Documentos</h3>
                </div>
            </div>

            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}

            <div class="oc-panels__btn">
                <a href="#documentos" class="oc-tabs__item oc-panels__btn-02">Ver todo <span><img src="img/btn-panels.svg" alt=""></span></a>
            </div>

            <div class="oc-panels__title-item">
                <div class="oc-icon">
                    <img src="img/panel-imagenes.svg" alt="">
                </div>
                <div class="oc-title">
                    <h3>Imágenes</h3>
                </div>
            </div>

            {{>partials/element-search-img}}

            <div class="oc-panels__btn">
                <a href="#imagenes" class="oc-tabs__item oc-panels__btn-02">Ver todo <span><img src="img/btn-panels.svg" alt=""></span></a>
            </div>

            <div class="oc-panels__title-item">
                <div class="oc-icon">
                    <img src="img/panel-video.svg" alt="">
                </div>
                <div class="oc-title">
                    <h3>Videos</h3>
                </div>
            </div>

            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}

            <div class="oc-panels__btn">
                <a href="#videos" class="oc-tabs__item oc-panels__btn-02">Ver todo <span><img src="img/btn-panels.svg" alt=""></span></a>
            </div>

            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}

            {{!-- Pagination --}}
            {{>partials/pagination}}

        </div>

        <!--Item-->
        <div class="oc-panels__item" id="perfiles">
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            {{>partials/element-search-profile}}
            
            
            {{!-- Pagination --}}
            {{>partials/pagination}}
        </div>

        <!--Item-->
        <div class="oc-panels__item" id="noticias">
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            {{>partials/element-search-notice}}
            
            {{!-- Pagination --}}
            {{>partials/pagination}}
        </div>

        <!--Item-->
        <div class="oc-panels__item" id="documentos">
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            {{>partials/element-search-docs}}
            
            {{!-- Pagination --}}
            {{>partials/pagination}}
        </div>

        <!--Item-->
        <div class="oc-panels__item" id="imagenes">
            {{>partials/element-search-img}}
            {{>partials/element-search-img}}
            {{>partials/element-search-img}}
            {{>partials/element-search-img}}
            {{>partials/element-search-img}}
            {{>partials/element-search-img}}
            {{>partials/element-search-img}}
            
            {{!-- Pagination --}}
            {{>partials/pagination}}
        </div>

        <!--Item-->
        <div class="oc-panels__item" id="videos">
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            {{>partials/element-search-video}}
            
            {{!-- Pagination --}}
            {{>partials/pagination}}
        </div>

        <!--Item-->
        <div class="oc-panels__item" id="tab07">
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            {{>partials/element-search-all}}
            
            
            {{>partials/pagination}}
        </div>
    </div>

</main>

{{>partials/back-to-top}}

{{>partials/footer}}