{{!-- Ancla --}}
<div id="top"></div>

{{>partials/header}}

{{>partials/menu-lateral}}

{{>partials/menu-principal}}

<main class="oc-content py-4 pb-md-5">
    <!--Subheader-->
    <section class="oc-seccion-noticias d-flex flex-column justify-content-center"
        style="background-image: url('./img/imag-noticias.jpg')">
        <div class="container">
            <div class="oc-seccion-noticias__subheader">
                <img src="img/widget-7-noticias.svg" alt="">
                <h2>Noticias</h2>
            </div>
        </div>
    </section>

    <!--Etiquetas-->
    <section class="oc-seccion-noticias-etiquetas mt-4">
        <div class="container">
            <button><span class="name-etiqueta mr-3">OPERACIONES</span><span class="number-etiqueta">10</span></button>
            <button><span class="name-etiqueta mr-3">ASUNTOS</span><span class="number-etiqueta">45</span></button>
            <button><span class="name-etiqueta mr-3">ORGANIZACIÓN Y TALENTO</span><span
                    class="number-etiqueta">67</span></button>
            <button><span class="name-etiqueta mr-3">RESPONSABILIDAD INTEGRAL</span><span
                    class="number-etiqueta">67</span></button>
            <button><span class="name-etiqueta mr-3">FINANZAS</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">SERVICIOS CORPORATIVOS</span><span
                    class="number-etiqueta">67</span></button>
            <button><span class="name-etiqueta mr-3">GERENCIAS SENIOR</span><span
                    class="number-etiqueta">54</span></button>
            <button><span class="name-etiqueta mr-3">CASANARE</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">BOYACÁ</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">SANTADER</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">ANTIOQUIA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">CORDOBA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">SUCRE</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">COVEÑAS</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">LA GRANJITA</span><span class="number-etiqueta">54</span></button>
            <button><span class="name-etiqueta mr-3">CAUCASIA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">CHIQUILLO</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">VASCONIA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">LA BELLEZA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">TUNJA</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">MIRAFLORES</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">PAEZ</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">EL PORVENIR</span><span class="number-etiqueta">234</span></button>
            <button><span class="name-etiqueta mr-3">CUPIAGUA</span><span class="number-etiqueta">234</span></button>
        </div>
    </section>

    <!--Title-->
    <section class="oc-section-noticias__title">
        <div class="container">
            <div class="oc-seccion-noticias-etiquetas">
                <button><span class="name-etiqueta">OPERACIONES</span></button>
            </div>
            <h2>En la dirección de Operaciones autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</h2>
        </div>
    </section>

    <!--Icons and principal image-->
    <section class="oc-dates-noticias container">
        <div class="row align-items-center">
            <div class="oc-dates-noticias__date">
                <span>Mayo 20, 2021</span>
            </div>
            <div class="oc-dates-noticias__like">
                <img src="img/like-icon.svg" alt=""><span>15</span>
            </div>
            <div class="oc-dates-noticias__comments">
                <img src="img/comments-icon.svg" alt=""><span>0</span>
            </div>
            <div class="oc-dates-noticias__share">
                <img src="img/share-icon.svg" alt=""><span>9</span>
            </div>
            <div class="oc-dates-noticias__favorite">
                <img src="img/favorite-icon.svg" alt=""><span>Favoritos</span>
            </div>
        </div>
        <div class="oc-dates-noticias__img-dest">
            <img src="img/img-single-noticias.jpg" alt="">
        </div>
    </section>

    <!--Content-->
    <section class="oc-content-noticias">
        <div class="container">
            <div class="row">
                <!--Information Noticia-->
                <div class="oc-content-noticias__desc col-12 col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi</p>
                    <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                    <p class="variant-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                    <img src="img/img-single-noticias.jpg" alt="">
                    <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit </h3>
                    <p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                    <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                </div>

                <!--Sidebar-->
                <div class="oc-content-noticias__sidebar col-12 col-md-4">
                    <div class="oc-total-comments">
                        <img src="img/comments-icon.svg" alt="">
                        <span>7 comentarios</span>
                    </div>
                    <div class="oc-form-comments">
                        <form action="">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Tu comentario"></textarea>
                            <input type="submit" value="Publicar">
                        </form>
                        <div class="oc-publish-comments">

                            <!--Item commentary-->
                            <div class="oc-commentary-item">
                                <div class="oc-publish-comments__avatar">
                                <img src="img/avatar-noticias.png" alt="">
                                </div>
                                <div class="oc-publish-comments__info">
                                    <div class="oc-commentary">
                                        <p class="name-author">Natalia Cárdenas</p>
                                        <p class="desc-commentary">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>  
                                    </div>
                                    <div class="oc-info-commentary">
                                        <div class="oc-date">
                                            <span>1 día</span>
                                        </div>
                                        <div class="oc-like">
                                            <img src="img/like-icon.svg" alt="">
                                            <span>2</span>
                                        </div>
                                        <div class="oc-reply">
                                            <span>Responder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           <!--Item commentary-->
                            <div class="oc-commentary-item">
                                <div class="oc-publish-comments__avatar">
                                <img src="img/avatar-noticias.png" alt="">
                                </div>
                                <div class="oc-publish-comments__info">
                                    <div class="oc-commentary">
                                        <p class="name-author">Natalia Cárdenas</p>
                                        <p class="desc-commentary">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>  
                                    </div>
                                    <div class="oc-info-commentary">
                                        <div class="oc-date">
                                            <span>1 día</span>
                                        </div>
                                        <div class="oc-like">
                                            <img src="img/like-icon.svg" alt="">
                                            <span>2</span>
                                        </div>
                                        <div class="oc-reply">
                                            <span>Responder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Item commentary-->
                            <div class="oc-commentary-item">
                                <div class="oc-publish-comments__avatar">
                                <img src="img/avatar-noticias.png" alt="">
                                </div>
                                <div class="oc-publish-comments__info">
                                    <div class="oc-commentary">
                                        <p class="name-author">Natalia Cárdenas</p>
                                        <p class="desc-commentary">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>  
                                    </div>
                                    <div class="oc-info-commentary">
                                        <div class="oc-date">
                                            <span>1 día</span>
                                        </div>
                                        <div class="oc-like">
                                            <img src="img/like-icon.svg" alt="">
                                            <span>2</span>
                                        </div>
                                        <div class="oc-reply">
                                            <span>Responder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Item commentary-->
                            <div class="oc-commentary-item">
                                <div class="oc-publish-comments__avatar">
                                <img src="img/avatar-noticias.png" alt="">
                                </div>
                                <div class="oc-publish-comments__info">
                                    <div class="oc-commentary">
                                        <p class="name-author">Natalia Cárdenas</p>
                                        <p class="desc-commentary">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>  
                                    </div>
                                    <div class="oc-info-commentary">
                                        <div class="oc-date">
                                            <span>1 día</span>
                                        </div>
                                        <div class="oc-like">
                                            <img src="img/like-icon.svg" alt="">
                                            <span>2</span>
                                        </div>
                                        <div class="oc-reply">
                                            <span>Responder</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                            <!--Item commentary-->
                            <div class="oc-commentary-item">
                                <div class="oc-publish-comments__avatar">
                                <img src="img/avatar-noticias.png" alt="">
                                </div>
                                <div class="oc-publish-comments__info">
                                    <div class="oc-commentary">
                                        <p class="name-author">Natalia Cárdenas</p>
                                        <p class="desc-commentary">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>  
                                    </div>
                                    <div class="oc-info-commentary">
                                        <div class="oc-date">
                                            <span>1 día</span>
                                        </div>
                                        <div class="oc-like">
                                            <img src="img/like-icon.svg" alt="">
                                            <span>2</span>
                                        </div>
                                        <div class="oc-reply">
                                            <span>Responder</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="oc-tags">
                        <h4>Tags</h4>
                        <div class="oc-cont-tags">
                            <button>OPERACIONES</button>
                            <button>ORGANIZACIÓN Y TALENTO</button>
                            <button>FINANZAS</button>
                            <button>LA GRANJITA</button>
                            <button>COVEÑAS</button>
                            <button>SANTANDER</button>
                            <button>CAUCASIA</button>
                            <button>ANTIOQUIA</button>
                            <button>CASANARE</button>
                            <button>SANTANDER</button>
                            <button>CÓRDOBA</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{>partials/back-to-top}}

{{>partials/footer}}